<? if (empty($this->produtos)) { ?>
	<div>Nenhum item encontrado.</div>
<? } else { ?>

	<? foreach($this->produtos as $umItem) { ?>
		<div class="categoria_<?=$umItem['id'];?>">
			<header>
				<h2 class="main-title"><?=$umItem['nome'];?></h2>
			</header>

			<? foreach($umItem['subCategorias'] as $umItemFilho) { ?>
				<div class="categoria_<?=$umItemFilho['id'];?>">
					<header>
						<div class="filter">
							<h4><?=$umItemFilho['nome'];?></h4>

							<? if (!empty($umItemFilho['produtos'])) { ?>
								<div>
									<select class="select-filtro" data-limite="0" id="<?=$umItemFilho['id'];?>" data-tipo="2">
										<option value="p.nome asc" selected>De A a Z</option>
										<option value="p.nome desc">De Z a A</option>
										<option value="precoMin asc">Preço Menor para Maior</option>
										<option value="precoMin desc">Preço Maior para Menor</option>
									</select>

									<? if (!empty($umItemFilho['tipos']) || !empty($umItemFilho['marcas'])) { ?>
										<div id="filter-central">
											<div class="filter-central-flip button">Filtros</div>
											<a href="#" class="button bt-filtro-mobile" uk-toggle="target: .open-filter-<?=$umItemFilho['id'];?>">Filtro</a>

											<div class="filter-central-panel">
												<h4>Escolha os filtros e clique em aplicar</h4>

												<div class="grid">
													<? if (!empty($umItemFilho['tipos'])) { ?>
														<div>
															<h5>Tipo</h5>
															<ul>
																<? foreach($umItemFilho['tipos'] as $umTipo) { ?>
																	<li><label><input type="checkbox" data-valor="<?=$umTipo;?>" class="filtro-cat filtro2-categoria-<?=$umItemFilho['id'];?>"><?=$umTipo;?></label></li>
																<? } ?>

															</ul>
														</div>
													<? } ?>
													<? if (!empty($umItemFilho['marcas'])) { ?>
														<div>
															<h5>Marca</h5>
															<ul>
																<? foreach($umItemFilho['marcas'] as $umTipo) { ?>
																	<li><label><input type="checkbox" data-valor="<?=$umTipo;?>" class="filtro-cat filtro-categoria-<?=$umItemFilho['id'];?>"><?=$umTipo;?></label></li>
																<? } ?>
															</ul>
														</div>
													<? } ?>
												</div>

												<button class="button-aplicar" data-limite="0" data-id="<?=$umItemFilho['id'];?>">Aplicar</button>
											</div>
										</div>
									<? } ?>

								</div>
							<? } ?>
						</div>

					</header>

					<? if (!empty($umItemFilho['tipos']) || !empty($umItemFilho['marcas'])) { ?>
						<!-- Produtos -->
						<div id="open-filter" class="uk-offcanvas open-filter-<?=$umItemFilho['id'];?>" uk-offcanvas>

							<div class="uk-offcanvas-bar uk-offcanvas-bar-show">

								<header>

									<h3>Filtros</h3>
									<a href="#" uk-toggle="target: .open-filter-<?=$umItemFilho['id'];?>" class="box-close" data-uk-offcanvas>Fechar</a>
									<h4>Escolha os filtros e clique em aplicar</h4>
							
								</header>

								<div class="grid">
									<? if (!empty($umItemFilho['tipos'])) { ?>
										<div>
											<h5>Tipo</h5>
											<ul>
												<? foreach($umItemFilho['tipos'] as $umTipo) { ?>
													<li><label><input type="checkbox" data-valor="<?=$umTipo;?>" class="filtro-cat filtro2-categoria-<?=$umItemFilho['id'];?>"><?=$umTipo;?></label></li>
												<? } ?>

											</ul>
										</div>
									<? } ?>
									<? if (!empty($umItemFilho['marcas'])) { ?>
										<div>
											<h5>Marca</h5>
											<ul>
												<? foreach($umItemFilho['marcas'] as $umTipo) { ?>
													<li><label><input type="checkbox" data-valor="<?=$umTipo;?>" class="filtro-cat filtro-categoria-<?=$umItemFilho['id'];?>"><?=$umTipo;?></label></li>
												<? } ?>
											</ul>
										</div>
									<? } ?>

								</div>

								<button class="button-aplicar uk-offcanvas-close"  data-limite="0" data-id="<?=$umItemFilho['id'];?>">Aplicar</button>

							</div>
						</div>
					<? } ?>

					<div id="product-grid" class="grid-categoria-<?=$umItemFilho['id'];?>">
						<? 
							$produtosLista = "";

							if (!empty($umItemFilho['produtos'])) {
								foreach($umItemFilho['produtos'] as $umProduto) { 
									$produtosLista .= "," . $umProduto['id'];
						?>
							<div class="item">
								<span>
									<a href="<?php echo $this->baseUrl('produto/visualizar/'.strtolower($umProduto['link'])); ?>">
										<picture>
											<? if (!empty($umProduto['webp'])) { ?>
												<source srcset="<?php echo $this->baseUrl('../admin/public/uploads/produtos/thumbs/' . strtolower($umProduto['webp'])); ?>" type="image/webp" alt="<?=$umProduto['nome'];?>">
											<? } ?>
											<img src="<?php echo $this->baseUrl('../admin/public/uploads/produtos/thumbs/'.strtolower($umProduto['foto'])); ?>" alt="<?=$umProduto['nome'];?>">
										</picture>
									</a>

									<span class="infos">
										<span class="inner">
											<? if (!empty($this->layout()->mercadoMaster)) { ?>
												<span class="prices">R$ <?=number_format($umProduto['precoMin'], 2, ',', '.');?></span>
											<? } else { ?>
												<span class="prices">De R$ <?=number_format($umProduto['precoMin'], 2, ',', '.');?> a R$ <?=number_format($umProduto['precoMax'], 2, ',', '.');?></span>
											<? } ?>
											
											<span class="desc"><?=$umProduto['nome'];?></span>
											
										</span>
									</span>

									<!-- Alterado no layout novo -->
									<span class="add">
										<button class="inc button button-add add-product up" data-tipo="<?=$umProduto['tipo'];?>" data-id="<?=$umProduto['id'];?>" data-obj="qtde_produto_<?=$umProduto['id'];?>" >Adicionar</button>
									
										<div class="add-some">
											<div class="dec button less-product" data-tipo="<?=$umProduto['tipo'];?>" data-id="<?=$umProduto['id'];?>" data-obj="qtde_produto_<?=$umProduto['id'];?>" data-type="minus">-</div>
											<input type="text" class="product units produto_<?=$umProduto['id'];?>" data-tipo="<?=$umProduto['tipo'];?>" name="produto_<?=$umProduto['id'];?>" id="qtde_produto_<?=$umProduto['id'];?>" value="<?=$umProduto['quantidade'];?>">
											<div class="inc button add-product" data-tipo="<?=$umProduto['tipo'];?>" data-id="<?=$umProduto['id'];?>" data-obj="qtde_produto_<?=$umProduto['id'];?>" data-type="plus">+</div>
										</div>
									</span>
									<!-- Alterado no layout novo -->
								</span>
							</div>
						<? } ?>
					<? } ?>
					</div>

				</div>
			<? } ?>
		</div>
	<? } ?>
<? } ?>
