<?php
    $this->headLink()->appendStylesheet($this->baseUrl('css/product.css'));
    echo $this->headLink();

    //metas das categorias até a mae do produto
    $this->headMeta($this->dadosRegistro['nome'], 'title');
    $this->headMeta($this->dadosRegistro['descricao'], 'description');
?>

<section id="product">
	<a href="<?php echo $this->baseUrl('../admin/public/uploads/produtos/'.strtolower($this->dadosRegistro['foto'])); ?>" data-fancybox="verprodutos">
		<picture>
			<? if (!empty($this->dadosRegistro['webp'])) { ?>
				<source srcset="<?php echo $this->baseUrl('../admin/public/uploads/produtos/' . strtolower($this->dadosRegistro['webp'])); ?>" type="image/webp">
			<? } ?>
			<img src="<?php echo $this->baseUrl('../admin/public/uploads/produtos/'.strtolower($this->dadosRegistro['foto'])); ?>">
			
		</picture>
	</a>

	<header>
		<h2><?=$this->dadosRegistro['nome'];?></h2>
	</header>

	<? if (!empty($this->layout()->mercadoMaster)) { ?>
		<span class="price">R$ <?=number_format($this->dadosRegistro['precoMin'], 2, ',', '.');?></span>
	<? } else { ?>
		<span class="price">De R$ <?=number_format($this->dadosRegistro['precoMin'], 2, ',', '.');?> a R$ <?=number_format($this->dadosRegistro['precoMax'], 2, ',', '.');?></span>
	<? } ?>

	<!-- Alterado no layout novo -->
	<span class="add">
		<button class="inc button button-add add-product up" data-tipo="<?=$this->dadosRegistro['tipo'];?>" data-id="<?=$this->dadosRegistro['id'];?>" data-obj="qtde_produto_<?=$this->dadosRegistro['id'];?>" >Adicionar</button>
	
		<div class="add-some">
			<div class="dec button less-product" data-tipo="<?=$this->dadosRegistro['tipo'];?>" data-id="<?=$this->dadosRegistro['id'];?>" data-obj="qtde_produto_<?=$this->dadosRegistro['id'];?>" data-type="minus">-</div>
			<input type="text" class="product units produto_<?=$umProduto['id'];?>" name="produto_<?=$this->dadosRegistro['id'];?>" id="qtde_produto_<?=$this->dadosRegistro['id'];?>" value="1">
			<div class="inc button add-product" data-tipo="<?=$this->dadosRegistro['tipo'];?>" data-id="<?=$this->dadosRegistro['id'];?>" data-obj="qtde_produto_<?=$this->dadosRegistro['id'];?>" data-type="plus">+</div>
		</div>
	</span>	


	<div class="features">

		<h4>Características</h4>

		<ul>
			<? if (!empty($this->dadosRegistro['pesovolume'])) { ?>
				<li>Peso ou Volume: <?=$this->dadosRegistro['pesovolume']?></li>
			<? } ?>
			<? if (!empty($this->dadosRegistro['embalagem']['valor'])) { ?>
				<li>Embalagem: <?=$this->dadosRegistro['embalagem']['valor']?></li>
			<? } ?>
			<? if (!empty($this->dadosRegistro['marca']['valor'])) { ?>
				<li>Marca: <?=$this->dadosRegistro['marca']['valor']?></li>
			<? } ?>
			<? if (!empty($this->dadosRegistro['pais']['valor'])) { ?>	
				<li>País de Origem: <?=$this->dadosRegistro['pais']['valor']?></li>
			<? } ?>
			<? if (!empty($this->dadosRegistro['sabor']['valor'])) { ?>
				<li>Sabor: <?=$this->dadosRegistro['sabor']['valor']?></li>
			<? } ?>
			<? if (!empty($this->dadosRegistro['tamanho']['valor'])) { ?>
				<li>Tamanho: <?=$this->dadosRegistro['tamanho']['valor']?></li>
			<? } ?>
			<? if (!empty($this->dadosRegistro['tipoAt']['valor'])) { ?>
				<li>Tipo: <?=$this->dadosRegistro['tipoAt']['valor'];?></li>
			<? } ?>

		</ul>

	</div>


	<div class="long_desc">
		<h4>Descrição</h4>

		<p><?=nl2br($this->dadosRegistro['descricao']);?></p>
	</div>

</section>

