
<header>
	
	<h2 class="main-title">Minha Conta</h2>

</header>

<div id="tabs-account">

	<ul>
		<li><a href="<?php echo $this->baseUrl('/usuario/#meus-pedidos'); ?>">Pedidos</a></li>
		<li><a href="<?php echo $this->baseUrl('/usuario/#dados-pessoais'); ?>">Dados pessoais</a></li>
		<li><a href="<?php echo $this->baseUrl('/usuario/#meus-enderecos'); ?>">Endereços</a></li>
	</ul>
	<div class="tabs-panel">
		<div id="tabs-1">
			<h3>Cadastrar / Editar endereço</h3>

			<form id="address-infos" method="post">
				<input type="hidden" name="id" id="id" value="<?=$this->id;?>">
				
				<div class="row">
					<span class="form-field input-cep">
						<label for="cep">CEP</label>
						<input name="cep" id="cep" type="text" onblur="buscaCep(this.value);" value="<?php echo (!empty($this->dadosEndereco['cep']) ? $this->dadosEndereco['cep'] : (!empty($_POST['cep']) ? $_POST['cep'] : false)); ?>" autofocus autocomplete="off">
					</span>
				</div>
				<div class="row">
					<span class="form-field">
						<label for="rua">Endereço</label>
						<input name="rua" id="rua" type="text" value="<?php echo (!empty($this->dadosEndereco['rua']) ? $this->dadosEndereco['rua'] : (!empty($_POST['rua']) ? $_POST['rua'] : false)); ?>" autocomplete="off">
					</span>

					<span class="form-field">
						<label for="numero">Número</label>
						<input name="numero" id="numero" type="text"  value="<?php echo (!empty($this->dadosEndereco['numero']) ? $this->dadosEndereco['numero'] : (!empty($_POST['numero']) ? $_POST['numero'] : false)); ?>" autocomplete="off">
					</span>

					<span class="form-field">
						<label for="complemento">Complemento</label>
						<input name="complemento" id="complemento" type="text"  value="<?php echo (!empty($this->dadosEndereco['complemento']) ? $this->dadosEndereco['complemento'] : (!empty($_POST['complemento']) ? $_POST['complemento'] : false)); ?>" autocomplete="off">
					</span>
				</div>

				<div class="row">
					<span class="form-field">
						<label for="bairro">Bairro</label>
						<input name="bairro" id="bairro" type="text"  value="<?php echo (!empty($this->dadosEndereco['bairro']) ? $this->dadosEndereco['bairro'] : (!empty($_POST['bairro']) ? $_POST['bairro'] : false)); ?>" autocomplete="off">
					</span>

					<span class="form-field">
						<label for="estado">Estado</label>
						<select name="estado" id="estado" required title="Selecione o estado">
							<option value="">Selecione um estado</option>
							<?php if ($this->arrayListEstados) { ?>
								<?php foreach ($this->arrayListEstados as $umEstado) { ?>
									<option <?php echo ((!empty($this->dadosEndereco['idEstado']) && $this->dadosEndereco['idEstado'] == $umEstado['id']) || (!empty($_POST['estado']) && $_POST['estado'] == $umEstado['id']) ? 'selected="selected"' : false); ?> value="<?php echo $umEstado['id']; ?>"><?php echo $umEstado['uf']; ?></option>
								<?php } ?>
							<?php } ?>
						</select>
					</span>

					<span class="form-field">
						<label for="cidade">Cidade</label>
						<select name="cidade" id="cidade" required title="Selecione a cidade">
							<?php if (!empty($this->arrayListCidades)) { ?>
								<?php foreach ($this->arrayListCidades as $umaCidade) { ?>
									<option <?php echo ((!empty($this->dadosEndereco['cidade']) && $this->dadosEndereco['cidade'] == $umaCidade['id']) || (!empty($_POST['cidade']) && $_POST['cidade'] == $umaCidade['id']) ? 'selected="selected"' : false); ?> value="<?php echo $umaCidade['id']; ?>"><?php echo $umaCidade['cidade']; ?></option>
								<?php } ?>
							<?php } else { ?>
								<option value="">Selecione</option>
							<?php } ?>
						</select>
					</span>
				</div>

				<footer class="row">
					<button type="submit" name="salvar">Salvar</button>
				</footer>

			</form>
		</div>
	</div>
</div>

<script>

    function buscaEstado(idEstado, idCidade) {
        $.ajax({
            url: '<?php echo $this->baseUrl('/ajax/busca-cidades/'); ?>',
            data: {idEstado: idEstado, idCidade: idCidade},
            type: 'POST',
            beforeSend: function () {
                $('#cidade').html("<option selected disabled>Carregando...</option>");
            }, success: function (r) {
                $('#cidade').html(r);
            }
        });
    }


    function buscaCep(cep) {
    	$.ajax({
            url: '<?php echo $this->baseUrl('/ajax/busca-cep/'); ?>',
            data: {cep: cep},
            type: 'POST',
            dataType: 'json',
            success: function (json) {
            	if (json.length) {
            		$("#rua").val(json[0].abreviado);
            		$("#bairro").val(json[0].bairro);
            		$("#estado").val(json[0].idEstado);

            		buscaEstado(json[0].idEstado, json[0].localidadecodigo);
            	}
            }
        });
    }

    jQuery(document).ready(function ($) {

        $('#estado').change(function () {
            idEstado = $(this).val();
            if (idEstado > 0) {
                buscaEstado(idEstado,0);
            }
        });
    });

</script>

<script type="text/javascript" src="<?php echo $this->baseUrl('js/form-setup.js'); ?>"></script>