
<header>
	
	<h2 class="main-title">Minha Conta</h2>

</header>

<div id="tabs-account">

	<ul>
		<li ><a href="#meus-pedidos">Pedidos</a></li>
		<li ><a href="#dados-pessoais">Dados <span>pessoais</span></a></li>
		<li ><a href="#meus-enderecos">Endereços</a></li>
	</ul>

	<div class="tabs-panel">
	<!-- Listas de Pedidos -->
		<div id="meus-pedidos">
			<header class="header-tools">
				<h3>Meus Pedidos</h3>
			</header>
			
			<? if (empty($this->arrayListPedidos)) { ?>
				<div>
					Nenhum pedido até o momento. <br /><br />
					<a href="<?php echo $this->baseUrl('/'); ?>" class="bt-default">Faça uma compra</a>
				</div>
			<? } else { ?>
				<table id="table-ordered" class="table">
					<thead>
						<tr>
							<th>Número</th>
							<th>Data</th>
							<!--<th>Mercado</th>-->
							<th>Total</th>
							<th>Forma de pagamento</th>
							<th>Status</th>
							<th></th>
						</tr>
					</thead>

					<tbody>
						<? foreach($this->arrayListPedidos as $umPedido) { ?>
							<tr>
								<td><?=str_pad($umPedido['id'], 10, '0', STR_PAD_LEFT)?></td>
								<td><?=date('d/m/Y', strtotime($umPedido['data']));?></td>
								<!--<td><?=$umPedido['mercado']['nome'];?></td>-->
								<td>R$ <?=number_format($umPedido['valortotal'],2 , ',', '.');?></td>
								<td><?=$umPedido['formaDePagamento']['nome'];?></td>
								<td><?=$umPedido['status']['nome'];?></td>
								<td><a href="<?php echo $this->baseUrl('/pedido/visualizar/' . $umPedido['id']); ?>" class="details" title="Detalhes">Detalhes</a></td>
							</tr>
						<? } ?>
					</tbody>

				</table>
			<? } ?>

		</div>
		<!-- /Listas de Pedidos -->



		<!-- Meus dados pessoais -->
		<div id="dados-pessoais">
			<header class="header-tools">
				<h3>Meus dados pessoais</h3>
			</header>
			<form id="personal-infos" action="<?php echo $this->baseUrl('/usuario/index/'); ?>" method="post">
				<div class="row">
					<span class="form-field">
						<label for="email">E-mail</label>
						<input name="email" id="email" type="email"
							value="<?php echo (!empty($this->dadosUsuario['email']) ? $this->dadosUsuario['email'] : (!empty($_POST['email']) ? $_POST['email'] : false)); ?>" required autocomplete="off">
					</span>
					
					<span class="form-field">
						<label for="nome">Nome</label>
						<input name="nome" id="nome" type="text"
							value="<?php echo (!empty($this->dadosUsuario['nome']) ? $this->dadosUsuario['nome'] : (!empty($_POST['nome']) ? $_POST['nome'] : false)); ?>" required autocomplete="off">
					</span>
					<span class="form-field">
						<label for="cpf">CPF</label>
						<input name="cpf" id="cpf" type="text"
							value="<?php echo (!empty($this->dadosUsuario['cpf']) ? $this->dadosUsuario['cpf'] : (!empty($_POST['cpf']) ? $_POST['cpf'] : false)); ?>" required autocomplete="off">
					</span>
				</div>

				<div class="row">
					<span class="form-field">
						<label for="celular">Celular</label>
						<input name="celular" id="celular" type="text"
							value="<?php echo (!empty($this->dadosUsuario['celular']) ? $this->dadosUsuario['celular'] : (!empty($_POST['celular']) ? $_POST['celular'] : false)); ?>" required autocomplete="off">
					</span>
					<span class="form-field">
						<label for="telefone">Telefone</label>
						<input name="telefone" id="telefone" type="text"
							value="<?php echo (!empty($this->dadosUsuario['telefone']) ? $this->dadosUsuario['telefone'] : (!empty($_POST['telefone']) ? $_POST['telefone'] : false)); ?>" required autocomplete="off">
					</span>
					<span class="form-field checkbox">
						<label><input type="checkbox" name="alterar_senha" value="1" id="alterar_senha" <?php if (!empty($_SESSION['Default']['usuario']['cadastro']['erros'])) { echo "checked"; }?> > Alterar senha</label>
					</span>
				</div>

				<div class="row">
					<span class="form-field">
						<label for="pass_confirmation">Senha atual</label>
						<input name="pass_confirmation" id="pass_confirmation" type="password" disabled="" <?php if (!empty($_SESSION['Default']['usuario']['cadastro']['erros'])) { ?> class="error"<?php } ?>>
						<?php if (!empty($_SESSION['Default']['usuario']['cadastro']['erros'])) { ?>
							<label id="pass_confirmation-error" class="error" for="pass_confirmation">
								<?php foreach ($_SESSION['Default']['usuario']['cadastro']['erros'] as $umErro) { ?>
									<?php echo $umErro; ?>
								<?php 
									} 
								?>
							</label>
						<?php } ?>
					</span>

					<span class="form-field">
						<label for="new_pass">Nova Senha</label>
						<input name="new_pass" id="new_pass" type="password" disabled="">
					</span>

					<span class="form-field">
						<label for="pass">Confirmar Nova Senha</label>
						<input name="pass" id="pass" type="password" disabled="">
					</span>     
				</div>

				<footer class="row">
					<button type="submit" name="salvarDados">Salvar</button>
				</footer>

			</form>

		</div>

		<!-- /Meus dados pessoais -->


		<!-- Editar Enderecos -->
		<div id="meus-enderecos">
			<header class="header-tools">
				<h3>Meus Endereços</h3>

				<a href="<?php echo $this->baseUrl('/usuario/endereco/0/'); ?>" class="btn add-address">Adicionar novo endereço</a>
			</header>
			<table id="table-address" class="table">
				<thead>
					<tr>
						<th>Endereço</th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					<? if (!empty($this->arrayListEnderecos)) { ?>
						<? foreach($this->arrayListEnderecos as $umEndereco) { ?>
							<tr>
								<td class="address"><?=$umEndereco['rua'];?>, <?=$umEndereco['numero'];?> <? if (!empty($umEndereco['complemento'])) { ?>- <?=$umEndereco['complemento'];?><? } ?> - <?=$umEndereco['bairro'];?> - <?=$umEndereco['cidade']['nome'];?>-<?=$umEndereco['cidade']['estado'];?></td>
								<td>
									<a href="<?php echo $this->baseUrl('/usuario/endereco/' . $umEndereco['id']); ?>" class="btn edit">Editar</a> 
									<a href="#" data-id="<?=$umEndereco['id'];?>" data-fancybox="" class="btn delete removerEndr" data-src="#modal-delete-address">Excluir</a>
									
								</td>
							</tr>
						<? }?>
					<? }?>
				</tbody>

			</table>

		</div>
	<!-- /Meus Enderecos -->
	</div>
</div>




<script type="text/javascript">

	$(document).ready(function () {
		$("#tabs-account").easytabs({
			animate: false,
			uiTabs: true
		});

		$( function() {
			$( ".tips" ).tooltip({
				position: { my: "left+15 center", at: "right top" }
			});
		});

		$('.tabs2').click(function(){
			var str = $(this).attr('href').split("/");
			$('#tabs-account').easytabs('select', str[str.length-1]);
		});

		$('#alterar_senha').change(function(){
			$("#pass_confirmation").prop("disabled", !$(this).is(':checked'));
			$("#new_pass").prop("disabled", !$(this).is(':checked'));
			$("#pass").prop("disabled", !$(this).is(':checked'));
		});

		$('.removerEndr').click(function(){
			$("#idRemoverEndereco").val($(this)[0].dataset.id);
			UIkit.offcanvas('#modal-delete-address').show();
		});

		<? if (!empty($_SESSION['Default']['usuario']['cadastro']['erros'])) { ?>
			$("#pass_confirmation").prop("disabled", false);
			$("#new_pass").prop("disabled", false);
			$("#pass").prop("disabled", false);
		<? }
		unset($_SESSION['Default']['usuario']['cadastro']['erros']);
		?>



	});


</script>



<!-- Modal Confirmacao -->
<div style="display: none;" id="modal-delete-address" class="modal-box">
	<h3>Atenção!</h3>
	<div class="content">
		<p>Você deseja excluir esse endereço?</p>
	</div>
	<footer>
		<form method="post">
			<input type="hidden" readonly name="idRemoverEndereco" id="idRemoverEndereco" value="" />
			<button class="confirm" name="removerEndereco" type="submit">Sim</button>
			<button class="cancel" type="button" data-fancybox-close="">Não</button>
		</form>
	</footer>

	<script type="text/javascript">
		$( "#remove-address" ).click(function() {
			$( "#address-id-1" ).remove();
		});
	</script>

</div>
<!-- /Modal Confirmacao -->
