*,html,body, h1,h2,h3,h4,h5,h6,p,strong,cite,
img,ul,ol,li,div,section,header,article, a,i,
abbr,acronym, address,big, cite, code,
form,input,textarea,select,button,table,
tbody,tfoot,thead,tr,td {
	margin: 0;
	padding: 0;
	line-height: 100%;
	text-decoration: none;
	font-style: normal;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	height: 100%;
	overflow-y: scroll;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
article,aside,figcaption,
figure,footer,header,hgroup,
main,nav,section,summary {
	display: block;
}


/* Forms
************************************* */
::-webkit-input-placeholder { opacity: 1; }
::-moz-placeholder { opacity: 1; }
-ms-input-placeholder { opacity: 1;}
input:-moz-placeholder { opacity: 1; }

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	*vertical-align: middle;
}
button,
input {
	line-height: normal;
}
button,
html input[type="button"],
input[type="reset"] {
	border: 0;
    -webkit-appearance: button;
    cursor: pointer;
    *overflow: visible;
}
button[disabled],
html input[disabled] {
	cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
	*height: 13px;
	*width: 13px;
}
input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
button::-moz-focus-inner {
	margin: -1px;
	padding: 0;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea, select {
	width: 100%;
	margin: 0;
	display: block;
	background: #fff;
	transition: all 0.2s ease;
}
label,
button {
	cursor: pointer;
}
textarea {
	resize: none;
	overflow: auto;
}

@font-face {
    font-family: 'MuseoSansCyrl_500';
    src: url('../fonts/MuseoSansCyrl_500-webfont.woff2') format('woff2'),
         url('../fonts/MuseoSansCyrl_500-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {font-family: 'MuseoSansCyrl_500';font-weight: normal;}
body {
	color: #ffffff;
	background: #001f7a url(../img/bg.jpg) left top repeat;
	font-family: 'MuseoSansCyrl_500';
}

#mc_embed_signup {
	border-radius:5px;
	background:#0b3692;
	margin:20px auto;
	padding:20px;
	width:320px;
}

#mc_embed_signup label {
	display:block;
	margin-bottom:3px;
	width:100%;
}


#mc_embed_signup input {
	border-radius:5px;
	color:#001f7a;
	margin-bottom:10px;
	padding:10px;
	width:100%;
}

h1 {
	background-image:url(../img/logo.png);
	background-size:100%;
	background-position:center center;
	background-repeat:no-repeat;
	margin:30px auto;
	text-indent:-9999em;
	width:213px;
}

h2 {
	font-size:16px;
	line-height:20px;
	margin-bottom:20px;
	text-transform:uppercase;
}

h3 {
	font-size:14px;
	line-height:18px;
	margin-bottom:20px;
}
input.button {
	background:#b3ed3b;
	color:#105291;
	text-transform: uppercase;
    font-size: 18px;
}

#mc_embed_signup div.mce_inline_error {
	background:#df0c0c!important;
	border-radius:5px;
}

@media only screen and (max-width: 359px) {
	#mc_embed_signup {
		width:300px;
	}
}