<!DOCTYPE html>
	<html lang="pt_BR" xmlns="http://www.w3.org/1999/html">
	<head>
	    <title>Sua Compra Fácil</title>
		<meta http-equiv="cache-control" content="max-age=0" />
        <meta http-equiv="cache-control" content="no-cache" />
        <meta http-equiv="expires" content="-1" />
        <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
        <meta http-equiv="pragma" content="no-cache" />
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="HADÔ Agência Web">

		<script>
            var baseUrl = '<?php echo $this->baseUrl('/'); ?>';
            var controller = '<?php echo Zend_Controller_Front::getInstance()->getRequest()->getControllerName();?>';
            var action = '<?php echo Zend_Controller_Front::getInstance()->getRequest()->getActionName();?>';
        </script>
        
		<?php
	        $this->headLink()->appendStylesheet($this->baseUrl('/bs3/css/bootstrap.min.css'));
	        $this->headLink()->appendStylesheet($this->baseUrl('/css/bootstrap-reset.css'));
	        $this->headLink()->appendStylesheet($this->baseUrl('/font-awesome/css/font-awesome.css'));
	        $this->headLink()->appendStylesheet($this->baseUrl('/css/style.css'));
	        $this->headLink()->appendStylesheet($this->baseUrl('/css/style-responsive.css'));
	        $this->headLink()->appendStylesheet($this->baseUrl('/js/advanced-datatable/css/demo_page.css'));
	        $this->headLink()->appendStylesheet($this->baseUrl('/js/advanced-datatable/css/demo_table.css'));
	        $this->headLink()->appendStylesheet($this->baseUrl('/js/data-tables/DT_bootstrap.css'));
	        $this->headLink()->appendStylesheet($this->baseUrl('/js/yearcalendar/css/bootstrap-year-calendar.min.css'));
	        $this->headLink()->appendStylesheet($this->baseUrl('/js/jstree/themes/default/style.min.css'));

	        $this->headLink()->appendStylesheet($this->baseUrl('/js/select2/select2-bootstrap.css'));
	        $this->headLink()->appendStylesheet($this->baseUrl('/js/select2/select2.css'));
			
			$this->headLink()->appendStylesheet($this->baseUrl('/css/jquery.fancybox.min.css'));


	        echo $this->headLink();
        ?>
		
		<link rel="shortcut icon" href="<?php echo $this->baseUrl('/images/favicon.png'); ?>">
		<!-- Just for debugging purposes. Don't actually copy this line! -->
		<!--[if lt IE 9]>
		<script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
        
	</head>
	<body>
		<section id="container" >
			<header class="header fixed-top clearfix">
				<!--logo start-->
				<div class="brand">

				    <a href="<?=$this->baseUrl('/');?>" class="logo">
				        <img src="<?=$this->baseUrl('/images/logo.png');?>" alt="">
				    </a>
				    <div class="sidebar-toggle-box">
				        <div class="fa fa-bars"></div>
				    </div>
				</div>
				<!--logo end-->

				<div class="nav notify-row" id="top_menu">
				    <!--  notification start -->
				    <ul class="nav top-menu">
				        <!-- notification dropdown start-->
				        <li id="header_notification_bar" class="dropdown">
				            <a data-toggle="dropdown" class="dropdown-toggle" href="#">

				                <i class="fa fa-bell-o"></i>
				                <span class="badge bg-important">
                                                    <?=is_array($this->layout()->arrayNotificacoes) ? count($this->layout()->arrayNotificacoes) : 0?>
                                                    <!--<?//=count($this->layout()->arrayNotificacoes);?>-->
				           		</span>
				            </a>
				            <ul class="dropdown-menu extended notification">
				                <li>
				                    <p>Notificações</p>
				                </li>
				                <? if (!empty($this->layout()->arrayNotificacoes)) { ?>

				                	<? foreach($this->layout()->arrayNotificacoes as $umPedido) { ?>
						                <li>
						                    <div class="alert alert-info clearfix">
						                        <span class="alert-icon"><i class="fa fa-bell"></i></span>
						                        <div class="noti-info">
						                            <a href="<?=$this->baseUrl('/pedido/visualizar/'.$umPedido['id']);?>"> Pedido #<?=str_pad($umPedido['id'], 10, '0', STR_PAD_LEFT)?> recebido.</a>
						                        </div>
						                    </div>
						                </li>
						            <? } ?>
					            <? } ?>
				            </ul>
				        </li>
				        <!-- notification dropdown end -->
				    </ul>
				    <!--  notification end -->
				</div>
				<div class="top-nav clearfix">
				    <!--search & user info start-->
				    <ul class="nav pull-right top-menu">
				        <!-- user login dropdown start-->
				        <li class="dropdown">
				            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
				            	&nbsp;
				            	<? if ($_SESSION['logado']['usuario']['idMercado']) { ?>
				            		<span class="fa fa-certificate">&nbsp;</span>
				            	<? } ?>

				                <span class="username"><?=$_SESSION['logado']['usuario']['nomeUsuario'];?></span>
				                <b class="caret"></b>
				            </a>
				            <ul class="dropdown-menu extended logout">
				                <li><a href="<?php echo $this->baseUrl('/usuario/cadastro/' . $_SESSION['logado']['usuario']['idUsuario']); ?>"><i class=" fa fa-suitcase"></i>Perfil</a></li>
				               <!-- <li><a href="#"><i class="fa fa-cog"></i> Configurações</a></li>-->
				                <li><a href="<?php echo $this->baseUrl('/autenticacao/logout/'); ?>"><i class="fa fa-key"></i> Sair</a></li>
				            </ul>
				        </li>
				    </ul>
				    <!--search & user info end-->
				</div>
			</header>
	        <?php echo $this->partial('menu.phtml'); ?>

	        <?php
		        $this->headScript()->appendFile($this->baseUrl('/js/jquery.js'));
		        $this->headScript()->appendFile($this->baseUrl('/bs3/js/bootstrap.min.js'));
		        $this->headScript()->appendFile($this->baseUrl('/js/jquery.dcjqaccordion.2.7.js'));
		        $this->headScript()->appendFile($this->baseUrl('/js/jquery.scrollTo.min.js'));
		        $this->headScript()->appendFile($this->baseUrl('/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.js'));
		        $this->headScript()->appendFile($this->baseUrl('/js/jquery.nicescroll.js'));
		        $this->headScript()->appendFile($this->baseUrl('/js/advanced-datatable/js/jquery.dataTables.js'));
		        //$this->headScript()->appendFile($this->baseUrl('/js/advanced-datatable/js/editor/js/dataTables.editor.min.js'));

		        $this->headScript()->appendFile($this->baseUrl('/js/data-tables/DT_bootstrap.js'));
		        $this->headScript()->appendFile($this->baseUrl('/js/scripts.js'));
		        $this->headScript()->appendFile($this->baseUrl('/js/dynamic_table_init.js'));
		        $this->headScript()->appendFile($this->baseUrl('/js/yearcalendar/js/bootstrap-year-calendar.js'));
		        $this->headScript()->appendFile($this->baseUrl('/js/yearcalendar/js/languages/bootstrap-year-calendar.pt.js'));
		        $this->headScript()->appendFile($this->baseUrl('/js/jstree/jstree.min.js'));

		        $this->headScript()->appendFile($this->baseUrl('/js/select2/select2.js'));
		        $this->headScript()->appendFile($this->baseUrl('/js/select2/select2_locale_pt-BR.js'));
				$this->headScript()->appendFile($this->baseUrl('/js/jquery.maskedinput.min.js'));
				$this->headScript()->appendFile($this->baseUrl('/js/jquery.maskMoney.js'));
				$this->headScript()->appendFile($this->baseUrl('/js/jQuery.weightMask.min.js'));
				
				$this->headScript()->appendFile($this->baseUrl('/js/jquery.fancybox.min.js'));
				
		        echo $this->headScript();
	        ?>
	        
		 	<section id="main-content">
				<section class="wrapper">
					<?php echo $this->layout()->content; ?>
				</section>
			</section>
		</section>

	 	
	</body>
</html>