<aside>
    <div id="sidebar" class="nav-collapse">
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a href="<?=$this->baseUrl('/');?>">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <?php if (!empty($this->layout()->arrayListMenu)) { ?>
                    <?php foreach ($this->layout()->arrayListMenu as $umMenu) { ?>
                        <li>
                            <a <?php echo (!empty($umMenu['menu']['current']) ? 'class="active"' : false); ?> href="<?php echo $this->baseUrl('/' . $umMenu['menu']['url']); ?>">
                                <i class="fa <?php echo $umMenu['menu']['icone'] ?>"></i>
                                <span><?php echo $umMenu['menu']['titulo'] ?></span>
                            </a>
                            <?php if (!empty($umMenu['menu']['submenu'])) { ?>
                                <ul class="sub">
                                    <?php foreach ($umMenu['menu']['submenu'] as $umSubmenu) { ?>
                                        <li <?php echo (!empty($umSubmenu['current']) ? 'class="active"' : false); ?>><a href="<?php echo $this->baseUrl('/' . $umSubmenu['url']); ?>"><?php echo $umSubmenu['titulo'] ?></a></li>
                                    <?php } ?>
                                </ul>
                            <?php } ?>
                        </li>
                    <?php } ?>
                <?php } ?>
            </ul>            
		</div>
    </div>
</aside>