<div class="row">
	<div class="col-md-12">
		<form method="post" action="" role="form">
			<div data-collapsed="0" class="panel">
				<div class="panel-heading">
					<div class="panel-title"><i class="fa fa-star"></i>Cadastro de Atributos</div>
				</div>
				<div class="panel-footer panel-header">
					<button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Salvar</button>
				</div>
				<div class="panel-body">
					<?php if (!empty($this->cadastro)) { ?>
	                    <div class="col-md-12">
	                        <div class="alert <?php echo (!empty($this->cadastro['sucesso']) ? (empty($this->cadastro['erros']) ? 'alert-success' : 'alert-warning') : 'alert-danger'); ?> alert-block fade in">
	                            <button data-dismiss="alert" class="close close-sm" type="button">
	                                <i class="fa fa-times"></i>
	                            </button>
	                            <?php if (!empty($this->cadastro['sucesso'])) { ?>
	                                <?php if (empty($this->cadastro['erros'])) { ?>
	                                    <h4>
	                                        <i class="icon-ok-sign"></i>
	                                        Registro salvo com sucesso!
	                                    </h4>
	                                    <p>
	                                        <?php if (!empty($this->id)) { ?>
	                                            <a href="<?php echo $this->baseUrl('/atributo/cadastro/'); ?>" class="btn btn-primary"><i class="fa fa-star"></i> Novo Atributo</a>
	                                        <?php } ?>
	                                        <a href="<?php echo $this->baseUrl('/atributo/'); ?>" class="btn btn-primary"><i class="fa fa-list"></i> Ver Listagem</a>
	                                    </p>
	                                <?php } else { ?>
	                                    <h4>
	                                        <i class="icon-ok-sign"></i>
	                                        Registro salvo mas com erros!
	                                    </h4>
	                                    <ul>
	                                        <?php foreach ($this->cadastro['erros'] as $umErro) { ?>
	                                            <li><?php echo $umErro; ?></li>
	                                        <?php } ?>
	                                    </ul>
	                                <?php } ?>
	                            <?php } else { ?>
	                                <?php if (!empty($this->cadastro['erros'])) { ?>
	                                    <h4>
	                                        <i class="icon-ok-sign"></i>
	                                        Atenção! Corrija os erros abaixo
	                                    </h4>
	                                    <ul>
	                                        <?php foreach ($this->cadastro['erros'] as $umErro) { ?>
	                                            <li><?php echo $umErro; ?></li>
	                                        <?php } ?>
	                                    </ul>
	                                <?php } ?>
	                            <?php } ?>
	                        </div>
	                    </div>
	                <?php } ?>

					<div class="row">
						<div class="col-md-6 form-group">
							<label for="tipo">Atributo</label>
							<select class="form-control" name="tipo" id="tipo">
								<option value="0" <?php echo ((!empty($this->dadosUsuario['tipo']) && $this->dadosUsuario['tipo'] == 0) || (!empty($_POST['tipo']) && $_POST['tipo'] == 0) ? 'selected="selected"' : false); ?>>Marca</option>
								<option value="1" <?php echo ((!empty($this->dadosUsuario['tipo']) && $this->dadosUsuario['tipo'] == 1) || (!empty($_POST['tipo']) && $_POST['tipo'] == 1) ? 'selected="selected"' : false); ?>>Sabor</option>
								<option value="2" <?php echo ((!empty($this->dadosUsuario['tipo']) && $this->dadosUsuario['tipo'] == 2) || (!empty($_POST['tipo']) && $_POST['tipo'] == 2) ? 'selected="selected"' : false); ?>>Embalagem</option>
								<option value="3" <?php echo ((!empty($this->dadosUsuario['tipo']) && $this->dadosUsuario['tipo'] == 3) || (!empty($_POST['tipo']) && $_POST['tipo'] == 3) ? 'selected="selected"' : false); ?>>Tamanho</option>
								<option value="4" <?php echo ((!empty($this->dadosUsuario['tipo']) && $this->dadosUsuario['tipo'] == 4) || (!empty($_POST['tipo']) && $_POST['tipo'] == 4) ? 'selected="selected"' : false); ?>>Unidade de Medida</option>
								<option value="5" <?php echo ((!empty($this->dadosUsuario['tipo']) && $this->dadosUsuario['tipo'] == 5) || (!empty($_POST['tipo']) && $_POST['tipo'] == 5) ? 'selected="selected"' : false); ?>>Países</option>
								<option value="6" <?php echo ((!empty($this->dadosUsuario['tipo']) && $this->dadosUsuario['tipo'] == 6) || (!empty($_POST['tipo']) && $_POST['tipo'] == 6) ? 'selected="selected"' : false); ?>>Tipo de Produto</option>
							</select>
						</div>
						<div class="col-md-6 form-group">
							<label for="valor">Valor</label>
							<input type="text" class="form-control" id="valor" name="valor" value="<?php echo (!empty($this->dadosUsuario['valor']) ? $this->dadosUsuario['valor'] : (!empty($_POST['valor']) ? $_POST['valor'] : false)); ?>">
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Salvar</button>
				</div>
			</div>
		</form>
	</div>
</div>