<div class="row">
	<div class="col-sm-12">
		<section class="panel">
			<div class="panel-heading">
				<div class="panel-title"><i class="fa fa-star"></i>Listagem de Atributos</div>
			</div>
			<div class="panel-body">
				<a href="<?php echo $this->baseUrl('atributo/cadastro'); ?>" class="btn btn-primary"><i class="fa fa-star"></i> Adicionar Atributo</a>
				<div class="adv-table">
					<table  class="display table table-bordered table-striped" id="dynamic-table">
						<thead>
							<tr>
								<th>ATRIBUTO</th>
								<th>VALOR</th>
								<th class="sorting_disabled text-center">EDITAR</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
						<tfoot>
							<tr>
								<th>ATRIBUTO</th>
								<th>VALOR</th>
								<th class="sorting_disabled text-center">EDITAR</th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</section>
	</div>
</div>