<?php
    $this->headLink()->appendStylesheet($this->baseUrl('css/checkout.css'));
    echo $this->headLink();
?>

<header class="checkout-header">

	<div>
		<h2>Finalizar Compra</h2>
		<h3>Escolha o mercado de sua preferência</h3>
	</div>

	<div class="order">
		<form action="<?php echo $this->baseUrl('/carrinho/checkout'); ?>" method="post" name="formFiltro">
			<select name="ordenacao" id="ordenacao" onchange="document.formFiltro.submit()">
				<option value="0" <? echo ((!empty($_POST['ordenacao']) && $_POST['ordenacao'] == 0) ? 'selected="selected"' : false);?> >Nome (A a Z)</option>
				<option value="1" <? echo ((!empty($_POST['ordenacao']) && $_POST['ordenacao'] == 1) ? 'selected="selected"' : false);?>>Menor Preço de Produtos</option>
				<option value="2" <? echo ((!empty($_POST['ordenacao']) && $_POST['ordenacao'] == 2) ? 'selected="selected"' : false);?>>Menor Preço de Entrega</option>
				<option value="3" <? echo ((!empty($_POST['ordenacao']) && $_POST['ordenacao'] == 3) ? 'selected="selected"' : false);?>>Menor Preço de Retirada</option>
			</select>
		</form>
	</div>

</header>

<section class="checkout" id="checkout-mercado">
	
	<? if (empty($this->mercados)) { ?>
		<div class="alert alert-info">Nenhum mercado encontrado.</div>

	<? } else { ?>
		<? 
			$contador = -1;
			foreach ($this->mercados as $umMercado) { 
				$contador++;
				if ($umMercado['mostrar'] == false) {
					continue;
				}
		?>

			<div class="mercado <? if(!empty($umMercado['produtoFaltante'])) { ?> missing-items <?}?>">

				<div id="header-brand">
					
					<div class="brand">
						<figure>
							<img src="<?php echo $this->baseUrl('../admin/public/uploads/mercados/thumbs/'.strtolower($umMercado['foto'])); ?>">
						</figure>
						<div>
							<h2><?=$umMercado['nome'];?></h2>

							<? if(!empty($umMercado['produtoFaltante'])) { ?>
								<a href="" class="missing-items">
									<strong id="missing-itens-<?=$umMercado['id'];?>"><?=count($umMercado['produtoFaltante']);?></strong> item(ns) não encontrado(s)
									<small>(substituir itens não encontrados)</small>
								</a>
							<? } ?>
						</div>
					</div>

					<div class="values">
						
						<span><span class="label">Valor da compra:</span> <span class="value">R$ <?=number_format($umMercado['totalProdutos'],2,',','.')?></span></span>
						

						

						<? if (!empty($umMercado['taxa'])) { ?>
							<? if ($umMercado['taxa'] == 0) { ?>
								<span><span class="label">Valor de Retirada:</span> <span class="value">Grátis</span></span>
							<? } else { ?> 
								<span><span class="label">Valor de Retirada:</span> <span class="value">R$ <?=number_format($umMercado['taxa'],2,',','.')?></span></span>
							<? } ?> 
						<? } ?> 

						<span><span class="label">TOTAL PRODUTOS:</span> <span class="value">R$ <?=number_format($umMercado['totalProdutos'],2,',','.')?></span></span>

					</div>


					<div class="choose">
						<? if(!empty($umMercado['produtoFaltante'])) { ?>
							<a data-fancybox data-src="#modal-validation" href="javascript:;" onclick="$('#idMercadoSelecao').val('<?=$contador?>');" class="button">Escolher este mercado</a>

						<? } else { ?>
							<form name="form<?=$umMercado['id']?>" method="post" action="<?php echo $this->baseUrl('/carrinho/checkout'); ?>">
								<button type="submit" name="idMercado" value="<?=$contador;?>" class="button">Escolher este mercado</button>
							</form>
						<? } ?>

						<? if (!empty($umMercado['proximaRetirada'])) { ?>
							<span>Retire seu pedido <?=$umMercado['proximaRetirada'];?>.</span>
						<? } ?>
						<? if (!empty($umMercado['proximaEntrega'])) { ?>
							<span>Receba seu pedido <?=$umMercado['proximaEntrega'];?>.</span>
						<? } ?>

						<? if (!empty($umMercado['taxacobrada'])) { ?>

							<? if (!empty($umMercado['valor']) && $umMercado['valor'] > $umMercado['totalProdutos']) { ?>
								<span>Entrega indisponível, valor mínimo de R$ <?=number_format($umMercado['valor'],2,',','.');?> não atingido</span>
							<? } else { ?> 	
								<? if ($umMercado['taxacobrada'] == 0) { ?>
									<span><span class="label">Taxa de Serviço:</span> <span class="value">Grátis</span></span>
								<? } else { ?> 
									<span><span class="label">Taxa de Serviço:</span> <span class="value">R$ <?=number_format($umMercado['taxacobrada'],2,',','.')?></span></span>
								<? } ?> 
							<? } ?> 
						<? } ?> 
						
					</div>

				</div>

				<? if(!empty($umMercado['produtoFaltante'])) { ?>
					<div class="mercado-content">
						<span class="title-missing-items">Itens não encontrados</span>
						<span class="subtitle-missing-items">Substitua os itens não encontrados ou retire-os do mercado</span>
						<ul class="accordion" id="mercado-id-<?=$umMercado['id']?>">

							<? foreach($umMercado['produtoFaltante'] as $umPrFaltante) { ?>
								<li class="accordion-item" id="produto_<?=$umPrFaltante['id']?>_<?=$umMercado['id'];?>">
									<header class="accordion-header">
										<h3><?=$umPrFaltante['name']?></h3>
										<button class="accordion-remove-item" data-idMercado="<?=$umMercado['id']?>" data-idProduto="<?=$umPrFaltante['id'];?>" onclick="removeItemMercado(this)" ><span>Retirar item deste mercado</span></button>
									</header>
									<div class="accordion-content">
										<div class="owl-carousel-limiter">
											<div class="owl-carousel <? if(!empty($umPrFaltante['dicas'])) { ?><? foreach($umPrFaltante['dicas'] as $umaPossivelTroca) { ?><? } ?><? } else { ?>sem-produtos<? } ?>">
												<? if(!empty($umPrFaltante['dicas'])) { ?>
													<? foreach($umPrFaltante['dicas'] as $umaPossivelTroca) { ?>
														<div>
															<picture>
																<? if (!empty($umaPossivelTroca['webp'])) { ?>
																	<source srcset="<?php echo $this->baseUrl('../admin/public/uploads/produtos/thumbs/' . strtolower($umaPossivelTroca['webp'])); ?>" type="image/webp">
																<? } ?>
																<img src="<?php echo $this->baseUrl('../admin/public/uploads/produtos/thumbs/'.strtolower($umaPossivelTroca['foto'])); ?>">
															</picture>
															<span class="desc"><?=substr($umaPossivelTroca['nome'], 0, 48);?></span>
															<span class="price">R$ <?=number_format($umaPossivelTroca['preco'], 2, ',', '.');?></span>
															<button data-idMercado="<?=$umMercado['id']?>" data-idProdutoNovo="<?=$umaPossivelTroca['id'];?>" data-idProdutoAntigo="<?=$umPrFaltante['id'];?>" onclick="trocaItemMercado(this)">Trocar por este</button>
														</div>
													<? } ?>
												<? } else { ?>
													<div class="nenhum-produto">Nenhum produto para substituir, retire o produto deste mercado.</div>
												<? } ?>
											</div>
										</div>
									</div>
								</li>
							<? } ?>
						</ul>
					</div>
				<? } ?>

			</div>

		<? 
			
			} 
		?>
	<? 
		} 
	?>
</section>



<!-- Modal Validacao -->
<div style="display: none;" id="modal-validation">
	<form method="post" action="<?php echo $this->baseUrl('/carrinho/checkout'); ?>">			
		<input type="hidden" name="idMercado" id="idMercadoSelecao" value="" readonly />
		<h3>Atenção!</h3>
		<div class="content">
			<p>Você escolheu um mercado que não possui todos os produtos da sua lista, deseja continuar mesmo assim?</p>
		</div>
		<footer>
			<button class="confirm" type="submit" >Sim</button>
			<button class="cancel" data-fancybox-close="">Não</button>
		</footer>
	</form>
</div>
<script type="text/javascript">
	$(document).ready(function () {
		$("#cep").mask("99999-999");
	});
</script>

<!--<script type="text/javascript" src="<?php echo $this->baseUrl('js/toggleDisabled.js'); ?>" ></script>
<script type="text/javascript" src="<?php echo $this->baseUrl('js/security.js'); ?>"></script>-->