<?php
    $this->headLink()->appendStylesheet($this->baseUrl('css/checkout.css'));
    echo $this->headLink();
?>
<section class="checkout-form">

	<header>
		<span>
			<h2>Finalizar Compra</h2>
			<p>Preencha seus dados, escolha como quer receber e faça o pagamento</p>
                        
                        <? if (!empty($this->mercado['valorsemtaxa']) && $this->mercado['valorsemtaxa'] > 0) { ?>
                            <? if (floatval($this->mercado['valorsemtaxa']) >= floatval($this->mercado['totalProdutos'])) { ?>
                                <br>
                                <a style="color:yellow;background-color:black;"><strong>Você Sabia ? </strong> Compras acima de R$ <?=number_format($this->mercado['valorsemtaxa'],2,',','.')?> ficam isentas de nossa taxa de serviço (R$ <?=number_format($this->mercado['taxacobrada'],2,',','.')?>). </a><a style="color:yellow;background-color:black;" href="<?php echo $this->baseUrl('/'); ?>"> Clique aqui para aproveitar!</a>
                            <? } ?>
                        <? } ?>
		</span>
                
                
	</header>
        <input type="hidden" name="passo" id="passo" value="<?=$this->passo;?>" />
	<form method="post" action="" id="form-checkout">
		<div id="form-grid">
				
			<div class="col">
				<div id="check-form" class="toggle-disabled">
                                        <input type="hidden" name="pedido" id="pedido"/>
                                        <input type="hidden" name="urlBoleto" id="urlBoleto"/>
					<input type="hidden" name="idCliente" value="<?php echo (!empty($this->cliente['idCliente']) ? $this->cliente['idCliente'] : (!empty($_POST['idCliente']) ? $_POST['idCliente'] : false)); ?>" />
					<h3 class="ico-user">Dados Pessoais</h3>
					<div class="content" >

						<span id="overlay-check" class=""></span>

						<h4>Preencha abaixo para concluir a compra</h4>
						<span class="form-field">
							<label for="email">E-mail</label>
							<input name="email" id="email" type="email" value="<?php echo (!empty($this->cliente['email']) ? $this->cliente['email'] : (!empty($_POST['email']) ? $_POST['email'] : false)); ?>" required autocomplete="off">
						</span>

						<span class="form-field">
							<label for="nome">Nome completo</label>
							<input name="user" id="nome" type="text" value="<?php echo (!empty($this->cliente['nome']) ? $this->cliente['nome'] : (!empty($_POST['nome']) ? $_POST['nome'] : false)); ?>" pattern="[A-Za-z]*" required autocomplete="off">
						</span>
						<span class="form-field">
							<label for="cpf">CPF</label>
							<input name="cpf" id="cpf" type="text" value="<?php echo (!empty($this->cliente['cpf']) ? $this->cliente['cpf'] : (!empty($_POST['cpf']) ? $_POST['cpf'] : false)); ?>" autocomplete="off">
						</span>
						<div class="group">
							<span class="form-field">
								<label for="celular">Celular</label>
								<input name="celular" id="celular" type="text" value="<?php echo (!empty($this->cliente['celular']) ? $this->cliente['celular'] : (!empty($_POST['celular']) ? $_POST['celular'] : false)); ?>" required autocomplete="off">
							</span>

							<span class="form-field">
								<label for="phone">Telefone</label>
								<input name="phone" id="phone" type="text" value="<?php echo (!empty($this->cliente['telefone']) ? $this->cliente['telefone'] : (!empty($_POST['phone']) ? $_POST['phone'] : false)); ?>" autocomplete="off">
							</span>
						</div>

						<? if (empty($this->cliente['id'])) { ?>
							<div class="group">
								<span class="form-field">
									<label for="pass_confirmation">Senha</label>
									<input name="pass_confirmation" id="pass_confirmation" type="password" minlength="8" maxlength="30" pattern="[A-Za-z0-9!@.]*" required autocomplete="off">
									
								</span>

								<span class="form-field">
									<label for="pass">Confirmar senha</label>
									<input name="pass" id="pass" type="password" minlength="8" maxlength="30" pattern="[A-Za-z0-9!@.]*" required autocomplete="off" style="cursor: auto;">
								</span>

							</div>
						<? } ?>
					
						<button id="step1" class="btn" value="next1" type="button" >Escolher forma de recebimento</button>
					</div>
			</div>

			<!--- não mudar ids, apenas classes --->
			<div id="div-dados-usuario" class="hidden">
				<button id="step-back" value="next1" type="button" title="Voltar para dados pessoais"></button>
			</div>
		</div>

		<div class="col">
			<div id="delivery-address" class="toggle-disabled">
				<h3 class="ico-delivery">Opções de Entrega</h3>

				<div class="content">
					<h4>Escolha como receber suas compras</h4>

					<span id="overlay-delivery" class="overlay"></span>
					<div class="accordion-delivery">

						<? if (!empty($this->mercado['valor']) && floatval($this->mercado['valor']) <= floatval($this->mercado['totalProdutos'])) { ?>

							<h4 class="ico-a">
								<label>
									<input type="radio" name="queroReceber" id="queroReceber" class="queroReceberRetirar" value="1" >Quero receber no endereço abaixo
								</label>
							</h4>

							<div>
								<div class="group">
									<span class="form-field">
										<label for="dia_entrega">Dia</label>
										<input type="text" id="dia_entrega" name="dia_entrega" value="" placeholder="Escolha" autocomplete="off">
									</span>
									<span class="form-field">
										<label for="hora_entrega">Horário</label>
										<select name="hora_entrega" id="hora_entrega"
											data-validation="required"
											data-validation-error-msg="Selecione uma faixa de horário">
											<option value="">Selecione o dia de entrega</option>
										</select>
									</span>
								</div>
								<span class="form-field extend">
									<label for="cep-delivery">CEP</label>
									<span class="extend">
										<input name="cep-delivery" id="cep-delivery" type="text" value="<?=$_SESSION['Default']['usuario']['endereco']['cep']?>" placeholder="<?=$_SESSION['Default']['usuario']['endereco']['cep']?>" disabled="true" autocomplete="off">
										<a href="<?php echo $this->baseUrl('/carrinho/checkout'); ?>" class="cep">Alterar CEP</a>
									</span>
								</span>	
								
								<span class="form-field">
									<label for="endereco">Endereço</label>
									<input name="endereco" id="endereco" type="text" value="<?=$_SESSION['Default']['usuario']['endereco']['rua']?>" placeholder="<?=$_SESSION['Default']['usuario']['endereco']['rua']?>" disabled="true">
								</span>

								<div class="group">
									<span class="form-field">
										<label for="numero">Número</label>
										<input name="numero" id="numero" type="text" placeholder="" value="<?php echo (!empty($_SESSION['Default']['usuario']['endereco']['numero']) ? $_SESSION['Default']['usuario']['endereco']['numero'] : (!empty($_POST['numero']) ? $_POST['numero'] : false)); ?>" autocomplete="off">
									</span>
									<span class="form-field">
										<label for="complemento">Complemento</label>
										<input name="complemento" id="complemento" type="text" placeholder="" value="<?php echo (!empty($_SESSION['Default']['usuario']['endereco']['complemento']) ? $_SESSION['Default']['usuario']['endereco']['complemento'] : (!empty($_POST['complemento']) ? $_POST['complemento'] : false)); ?>" autocomplete="off">
									</span>
								</div>

								<div class="group">
									<span class="form-field">
										<label for="bairro">Bairro</label>
										<input name="bairro" id="bairro" type="text" placeholder="" value="<?php echo (!empty($_SESSION['Default']['usuario']['endereco']['bairro']) ? $_SESSION['Default']['usuario']['endereco']['bairro'] : (!empty($_POST['bairro']) ? $_POST['bairro'] : false)); ?>"disabled="true" autocomplete="off">
									</span>
									<span class="form-field">
										<label for="cidade">Cidade / Estado</label>
										<input name="cidade" id="cidade" type="text" value="<?=$_SESSION['Default']['usuario']['endereco']['cidade']?>" placeholder="<?=$_SESSION['Default']['usuario']['endereco']['cidade']?>" disabled="true" autocomplete="off">
									</span>

								</div>
							</div>
						<? } else { ?>
                                                    <h4 class="ico-a">
                                                        <label>
                                                                Pedido Não Atingiu Valor Mínimo para Entrega
                                                        </label>
                                                    </h4>
                                                <? } ?>
                                                <? if (!empty($this->mercado['taxa'])) { ?>

						<h4 class="ico-b">
							<label>
								<input type="radio" name="queroReceber" id="queroRetirar" class="queroReceberRetirar" value="2">Quero retirar no mercado
							</label>
						</h4>

						<div id="retirada">

							<p>Quem vai retirar o pedido?</p>

							<div class="group radios">
								<span>
									<input name="outra_pessoa" id="vou_retirar" value="1" type="radio" checked="">
									<label for="vou_retirar">Eu vou retirar</label>
								</span>

								<span>
									<input name="outra_pessoa" id="outra_pessoa" type="radio" value="1">
									<label for="outra_pessoa">Outra pessoa vai retirar</label>
								</span>
							</div>
							<? if (!empty($this->mercado['horariodeatendimento'])) { ?>
								<div class="horario-atendimento">
									<?=$this->mercado['horariodeatendimento'];?>
								</div>
							<? } ?>
							<div class="group">
								<span class="form-field">
									<label for="dia_retirada">Dia</label>
									<input type="text" id="dia_retirada" name="dia_retirada" value="" placeholder="Escolha o dia" autocomplete="off" required>
								</span>
								<span class="form-field">
									<label for="hora_retirada">Horário</label>
									<select name="hora_retirada" id="hora_retirada" required>

										<option value="">Selecione o dia de retirada</option>
									</select>
								</span>
							</div>

							<div class="group">
								<span class="form-field hidden-field">
									<label for="outro_nome">Nome</label>
									<input name="outro_nome" id="outro_nome" type="text" disabled="disabled" value="<?php echo (!empty($_POST['outro_nome']) ? $_POST['outro_nome'] : false); ?>" class="outra_pessoa" required>
								</span>

								<span class="form-field hidden-field">
									<label for="outro_telefone">Celular</label>
									<input name="outro_telefone" id="outro_telefone" type="text" disabled="disabled" value="<?php echo (!empty($_POST['outro_telefone']) ? $_POST['outro_telefone'] : false); ?>" class="outra_pessoa" required>
								</span>
							</div>

							<span class="form-field hidden-field">
								<label for="outro_rg">RG ou CNH</label>
								<input name="outro_rg" id="outro_rg" type="text" disabled="disabled" value="<?php echo (!empty($_POST['outro_rg']) ? $_POST['outro_rg'] : false); ?>" class="outra_pessoa" required>

								<small>É obrigatória a apresentação do documento</small>

							</span>
						</div>
                                                <? } ?>    
					</div>

					<button id="step2" class="btn" value="next1" type="button" >Escolher forma de pagamento</button>
					<div id="div-dados-entrega" class="hidden">
						<button id="step-back2" class="btn" value="next1" type="button" title="Voltar para opções de entrega"></button>
					</div>
				</div>
			</div>
			<div>
				<div id="payment" class="toggle-disabled">

					<h3 class="ico-payment">Pagamento</h3>
					<div class="content">

						<span id="overlay-payment" class="overlay"></span>

						<span class="form-field">
							<label for="forma_pagamento">Forma de Pagamento</label>

							<select name="forma_pagamento" id="forma_pagamento" data-validation="required"
								data-validation-error-msg="Selecione uma forma de pagamento">
								<option value="">Selecione uma forma de pagamento</option>
								<? foreach($this->mercado['formasPagamento'] as $umaForma) { ?>
									<option name="<?=$umaForma['nome'];?>" value="<?=$umaForma['id'];?>"><?=$umaForma['nome'];?></option>
								<? } ?>
							</select>
                                                        

						</span>
						
						<span class="form-field field-troco">
							<label for="troco">Preciso de troco para</label>
							<input name="troco" id="troco" type="text" value="<?php echo (!empty($_POST['troco']) ? $_POST['troco'] : false); ?>" data-thousands="." data-decimal="," data-prefix="R$">
						</span>
                                                
                                                <span class="form-field field-boleto">
                                                    <span style="font-size: small;">
                                                    Nossos pagamentos são processados com segurança pela Cielo.       <br><br>
                                                    O Boleto bancário será exibido na próxima tela após você clicar no botão "Enviar pedido" e poderá ser impresso para pagamento em qualquer agência bancária, ou ter o número anotado para pagamento pelo telefone ou internet.<br><br>
                                                    </span>
                                                    <button id="pagamento" class="btn" value="next1">Enviar Pedido</button>
						</span>
                                                <span class="form-field field-cartao-credito">
                                                    <span style="font-size: small;">Nossos pagamentos são processados com segurança pela Cielo.<br><br></span>
                                                            <span class="form-field">
                                                                    <label for="owner">Titular</label>
                                                                    <input name="owner" id="owner" type="text">
                                                            </span>
                                                            <span class="form-field field-cardNumber">
                                                                <label for="cardNumber">Número do Cartão</label>
                                                                <input type="text" id="cardNumber" name="cardNumber">
                                                            </span>
                                                            <span class="form-field field-cvv">
                                                                <label for="cvv">Código de Segurança</label>
                                                                <input type="number" id="cvv" name="cvv">
                                                            </span>
<!--                                                            <span class="form-field field-validade">
                                                                <label for="validade">Validade</label>
                                                                <input type="text" id="validade" name="validade">
                                                                <label id="validade-error" class="error" for="validade" style="">Cartão com Validade Vencida</label>
                                                            </span>-->
                                                            <div class="group">
                                                                <span class="form-field field-validade">
                                                                    <label for="mes_validade">Mês Vencimento</label>
                                                                    <select name="mes_validade" id="mes_validade" 
                                                                        data-validation="required"
                                                                        data-validation-error-msg="Selecione o mês do vencimento">>
                                                                        <option>01</option>
                                                                        <option>02</option>
                                                                        <option>03</option>
                                                                        <option>04</option>
                                                                        <option>05</option>
                                                                        <option>06</option>
                                                                        <option>07</option>
                                                                        <option>08</option>
                                                                        <option>09</option>
                                                                        <option>10</option>
                                                                        <option>11</option>
                                                                        <option>12</option>
                                                                    </select>
                                                                </span>
                                                                <span class="form-field">
                                                                    <label for="ano_validade">Ano Vencimento</label>
                                                                    <select name="ano_validade" id="ano_validade" data-validation="required" data-validation-error-msg="Selecione o ano de vecimento">
                                                                            <option>2020</option>
                                                                            <option>2021</option>
                                                                            <option>2022</option>
                                                                            <option>2023</option>
                                                                            <option>2024</option>
                                                                            <option>2025</option>
                                                                            <option>2026</option>
                                                                            <option>2027</option>
                                                                            <option>2028</option>
                                                                            <option>2029</option>
                                                                    </select>
                                                                </span>
                                                            </div>
                                                            <input style="display: none;" type="text" id="bandeira" name="bandeira">
                                                            <span class="form-field">
                                                                
                                                                <img src="../img/visa.jpg" id="visa">
                                                                <img src="../img/mastercard.jpg" id="mastercard">
                                                                <img src="../img/amex.jpg" id="amex">
                                                            </span>
                                                            <br>
                                                            <span id="erro-cartao" class="error"></span>
                                                            <br>
                                                            <button id="pagamento" class="btn" value="next1">Efetuar Pagamento</button>
						</span>
						
						<!--<button id="end" class="btn" value="next1" type="submit">Finalizar meu pedido!</button>-->
						
					</div>
				</div>
			</div>
		</div>
		
		
		<div class="col">
			<div class="resumo produtos">
				<h3 class="ico-resume">Resumo do Pedido</h3>
				<div class="content">
					<ul>
						<? 
						foreach($this->mercado['produtos'] as $umItem) { 

							if ($umItem['tipo'] == 0 ) { 
				                if ($umItem['quantidade'] < 1000) {
				                    $totalQde = $umItem['quantidade'] . " grama(s)"; 
				                } else {
				                    $totalQde = $umItem['quantidade'] / 1000 . " kg"; 
				                }
				                
				            } else {
				                $totalQde = $umItem['quantidade'] . " unidade(s)";
				            } 
						?>

							<li class="cart-item">
								<picture>
									<? if (!empty($umItem['webp'])) { ?>
										<source srcset="<?php echo $this->baseUrl('../admin/public/uploads/produtos/thumbs/' . strtolower($umItem['webp'])); ?>" type="image/webp">
									<? } ?>
									<img src="<?php echo $this->baseUrl('../admin/public/uploads/produtos/thumbs/'.strtolower($umItem['foto'])); ?>">
								</picture>
								<span class="infos">
									<span class="desc">
										<?
											if (strlen($umItem['name']) >= 25) {
												echo substr($umItem['name'],0,25) . "..."; 
											} else {
												echo $umItem['name'];
											}
										?>
									</span>
									<span class="price">
										<? if ($umItem['tipo'] == 0) { ?>
											R$ <?=number_format(($umItem['valorMercado'] * $umItem['quantidade']) / 1000, 2, ',','.');?>
										<? } else { ?>
											R$ <?=number_format($umItem['valorMercado'] * $umItem['quantidade'], 2, ',','.');?>
										<? } ?>

									</span>
									<span class="unit"><?=$totalQde;?></span>
								</span>
							</li>
						<? } ?>
					</ul>
				</div>
			</div>
			<div class="resumo">
				<div class="content">
					<? $total = $this->mercado['totalProdutos']; ?>
					<span>Valor da compra: <span>R$ <?=number_format($total,2,',','.')?></span></span>
					<? if ($this->mercado['taxacobrada'] == 0) { ?>
						<span>Taxa de Serviço: <span>Grátis</span></span>
					<? } else { ?>
						<? if (!empty($this->mercado['valorsemtaxa']) && floatval($this->mercado['valorsemtaxa']) >= floatval($this->mercado['totalProdutos'])) { ?>
							<span>Taxa de Serviço: <span>R$ <?=number_format($this->mercado['taxacobrada'],2,',','.')?></span></span>
							<? $total += $this->mercado['taxacobrada']; ?>
                                                <? } else { ?>
                                                        <span>Taxa de Serviço: <span>Grátis</span></span>
						<? } ?>
					<? } ?>
					<span>TOTAL: <span id="valorTotalCompra">R$ <?=number_format($total,2,',','.')?></span></span>
				</div>
			</div>
		</div>
	</form>

        <div id="loading" style="display:none;z-index:5000;background-color:rgba(255,255,255,0.6);position: fixed;height:100%;width:100%;margin:0;top:0;left:0;">
            <div style="position:absolute;top:50%;left:50%;margin-top:-155px;margin-left:-155px;">
                <img id="loading" src="../img/ajax-loader.gif"/>
            </div>
       </div>
        
</section>



<style type="text/css">
	.hcategories, .header-search, .delivery-cep {display: none;}
</style>


<script type="text/javascript">
    $(document).ready(function () {
            $("#troco").maskMoney();
    });
</script>
<script type="text/javascript" src="<?php echo $this->baseUrl('js/jquery.payform.min.js'); ?>"></script>