<?php
    $this->headLink()->appendStylesheet($this->baseUrl('css/checkout.css'));
    echo $this->headLink();
?>

<section class="finalizar">

	<header>
		<span>
			<h2>Obrigado por comprar no <?=$this->layout()->mercadoMaster['nome']?></h2>
			<p>Efetue o pagamento do boleto para garantir sua compra.</p>
		</span>
	</header>

	<div class="details">
		<header>
			<h3>Detalhes da sua compra</h3>
		</header>
		
		<div class="content">
			<p>O número do seu pedido é: <strong><?=str_pad($this->dadosPedido['id'], 10, '0', STR_PAD_LEFT)?></strong>.</p>
                        <br>
                        <p>Suas compras serão separadas após confirmação do pagamento.</p>
                        
			<? if (!empty($this->dadosPedido['horaentrega'])) { ?>
				<p>Faixa de Horário de entrega: <strong><?=$this->dadosPedido['horaentrega']?> do dia <?=date('d/m/Y', strtotime($this->dadosPedido['dataentregaretirada']));?></strong></p>
			<? } ?>

			<? if (!empty($this->dadosPedido['horaretirada'])) { ?>
				<p>Faixa de Horário de retirada: <strong><?=$this->dadosPedido['horaretirada']?> do dia <?=date('d/m/Y', strtotime($this->dadosPedido['dataentregaretirada']));?></strong></p>
			<? } ?>
                        
                        <? if (!empty($this->linkBoleto)) { ?>
                            <a href="<?php echo $this->linkBoleto; ?>" target="_blank" class="button-back-ordered">GERAR BOLETO</a>
                        <? } ?>
                        
			<a href="<?php echo $this->baseUrl('/usuario/'); ?>" class="button-back-ordered">Ir para os meus pedidos</a>
		</div>


	</div>


</section>


<style type="text/css">
	.hcategories, .header-search, .delivery-cep {display: none;}
</style>