<?php
    $this->headLink()->appendStylesheet($this->baseUrl('css/checkout.css'));
    echo $this->headLink();
?>

<section class="finalizar">

	<header>
		<span>
			<h2>Obrigado por usar o <?=$this->dadosPedido['mercado']['nome'];?></h2>
			<p>Em breve você receberá um e-mail com a confirmação da sua compra.</p>
		</span>
	</header>

	<div class="details">
		<header>
			<h3>Detalhes da sua compra</h3>
		</header>
		
		<div class="content">
			<p>Você comprou no <strong><?=$this->dadosPedido['mercado']['nome'];?></strong> em <strong><?=date('d/m/Y', strtotime($this->dadosPedido['data']));?></strong> usando a <strong>Sua Compra Fácil</strong>.</p>
			<p>O número do seu pedido é: <strong><?=str_pad($this->dadosPedido['id'], 10, '0', STR_PAD_LEFT)?></strong>.</p>
                        
			<? if (!empty($this->dadosPedido['horaentrega'])) { ?>
				<p>Faixa de Horário de entrega: <strong><?=$this->dadosPedido['horaentrega']?> do dia <?=date('d/m/Y', strtotime($this->dadosPedido['dataentregaretirada']));?></strong></p>
			<? } ?>

			<? if (!empty($this->dadosPedido['horaretirada'])) { ?>
				<p>Faixa de Horário de retirada: <strong><?=$this->dadosPedido['horaretirada']?> do dia <?=date('d/m/Y', strtotime($this->dadosPedido['dataentregaretirada']));?></strong></p>
			<? } ?>

			<a href="<?php echo $this->baseUrl('/usuario/'); ?>" class="button-back-ordered">Ir para os meus pedidos</a>
		</div>


	</div>


</section>


<style type="text/css">
	.hcategories, .header-search, .delivery-cep {display: none;}
</style>