<?php
    $this->headLink()->appendStylesheet($this->baseUrl('css/checkout.css'));
	$this->headLink()->appendStylesheet($this->baseUrl('css/notifIt.css'));
    echo $this->headLink();
?>

<section class="finalizar">
	<header>
		<span>
			<h2>Obrigado por usar o Mercado Fique Em Casa</h2>
			<p>Para finalizar sua compra, digite seu e-mail</p>
                        
		</span>
		<a href="<?php echo $this->baseUrl('/'); ?>">Voltar ao Carrinho</a>
	</header>

	<div class="finalizar-form">
		<div>
			<form method="post" action="<?php echo $this->baseUrl('/carrinho/login'); ?>" id="form-login">
				<label for="email">Informe Seu E-mail <small>(É rápido, fácil e seguro)</small></label>
				<span>
					<span class="field">
						<input type="text" name="email" id="email" placeholder="digite.aqui.seu@email.com" autocomplete="off">
					</span>
					<button type="submit" name="continuar" value="1">Continuar</button>

				</span>
			</form>
		</div>

		<div>
			<p>Usamos seu e-mail de forma 100% segura para:</p>
			<ul>
				<li>Identificar seu perfil</li>
				<li>Notificar sobre o andamento do seu pedido</li>
				<li>Gerenciar seu histórico de compras</li>
				<li>Acelerar o preenchimento de suas informações</li>
			</ul>
		</div>
	</div>	
</section>

<style type="text/css">
	.hcategories, .header-search, .delivery-cep {display: none;}
</style>