
<!-- Product Grid -->
<? foreach($this->subCategorias as $umItemFilho) { ?>
	<h2 class="main-title"><?=$umItemFilho['nome'];?></h2>

	<div id="product-grid" class="grid-categoria-<?=$umItemFilho['id'];?>">
		
		<? 
			$produtosLista = "";

			if (!empty($umItemFilho['produtos'])) {
				foreach($umItemFilho['produtos'] as $umProduto) { 
					$produtosLista .= "," . $umProduto['id'];
		?>

			<div class="item">
				<span>
					<a href="<?php echo $this->baseUrl('produto/visualizar/'.strtolower($umProduto['link'])); ?>">
						<picture>
							<? if (!empty($umProduto['webp'])) { ?>
								<source srcset="<?php echo $this->baseUrl('../admin/public/uploads/produtos/thumbs/' . strtolower($umProduto['webp'])); ?>" type="image/webp" alt="<?=$umProduto['nome'];?>">
							<? } ?>
							<img src="<?php echo $this->baseUrl('../admin/public/uploads/produtos/thumbs/'.strtolower($umProduto['foto'])); ?>" alt="<?=$umProduto['nome'];?>">
						</picture>
					</a>

					<span class="infos">
						<span class="inner">

							<? if (!empty($this->layout()->mercadoMaster)) { ?>
								<span class="prices"><a href="<?php echo $this->baseUrl('produto/visualizar/'.strtolower($umProduto['link'])); ?>">R$ <?=number_format($umProduto['precoMin'], 2, ',', '.');?></a></span>
							<? } else { ?>
								<span class="prices"><a href="<?php echo $this->baseUrl('produto/visualizar/'.strtolower($umProduto['link'])); ?>">De R$ <?=number_format($umProduto['precoMin'], 2, ',', '.');?> a R$ <?=number_format($umProduto['precoMax'], 2, ',', '.');?></a></span>
							<? } ?>

							
							<span class="desc"><a href="<?php echo $this->baseUrl('produto/visualizar/'.strtolower($umProduto['link'])); ?>"><?=$umProduto['nome'];?></a></span>
						</span>
					</span>
					
					<!-- Alterado no layout novo -->
					<span class="add">
						<button class="inc button button-add add-product up" data-tipo="<?=$umProduto['tipo'];?>" data-id="<?=$umProduto['id'];?>" data-obj="qtde_produto_<?=$umProduto['id'];?>" >Adicionar</button>
					
						<div class="add-some">
							<div class="dec button less-product" data-tipo="<?=$umProduto['tipo'];?>" data-id="<?=$umProduto['id'];?>" data-obj="qtde_produto_<?=$umProduto['id'];?>" data-type="minus">-</div>
							<input type="text" class="product units produto_<?=$umProduto['id'];?>" name="produto_<?=$umProduto['id'];?>" id="qtde_produto_<?=$umProduto['id'];?>" value="<?=$umProduto['quantidade'];?>">
							<div class="inc button add-product" data-tipo="<?=$umProduto['tipo'];?>" data-id="<?=$umProduto['id'];?>" data-obj="qtde_produto_<?=$umProduto['id'];?>" data-type="plus">+</div>
						</div>
					</span>
					<!-- Alterado no layout novo -->
					
				</span>
			</div>
		<? } 
			}
			?>
	</div>

	<? if (!empty($umItemFilho['produtos'][0]) && count($umItemFilho['produtos'][0]) >= 4) { ?>
		<div class="more more-<?=$umItemFilho['id'];?>">
			<a id="load-more" class="load-more load-more-<?=$umItemFilho['id'];?>" data-id="<?=$umItemFilho['id'];?>" data-tipo="1" data-lista="<?=$produtosLista;?>">Ver mais produtos</a>
		</div>
	<? } ?>
<? } ?>