<div class="row">
    <div class="col-md-12">
        <!--breadcrumbs start -->
        <ul class="breadcrumb">
            <li><a href="<?php echo $this->baseUrl('/'); ?>"><i class="fa fa-home"></i> Home</a></li>
            <?php if (!empty($this->breadcrumbs)) { ?>
                <li class="active">Permissão Negada</li>
            <?php } ?>
        </ul>
        <!--breadcrumbs end -->
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <section class="panel">
            <div class="panel-heading">
                <div class="panel-title">
                    <i class="fa fa-exclamation"></i> ATENÇÃO
                </div>
            </div>

            <div class="panel-body">
                Você está tentando acessar uma url no qual não tem permissão.
            </div>

        </section>

    </div>
</div>