#open-cart .uk-offcanvas-bar {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: unset;
	height: 100%;
}
#open-cart header {
	padding: 20px;
	background-color: #135ba0;
	text-align: center;
}
#open-cart header .box-close {
	top: 2px;
}
#open-cart header h3 {
	margin: 0;
	text-align: center;
}
#open-cart header h3:before {
	content: "";
	display: block;
	width: 32px;
	height: 32px;
	float: left;
	margin: -6px -18px 0 0;
	background-size: 192px auto;
	background-position: -32px 0;
	background-image: url(../img/sprite-commons.png);
}
#open-cart .note {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	height: 40px;
	padding: 10px 5px;
	text-align: left;
	border-bottom: 1px solid #ddd;
	color: #135ba0;
	font-size: .9em;
	background: #fff;
}
#open-cart .note i:before {
	content: "";
	width: 16px;
	height: 10px;
	margin: 0 20px;
	display: inline-block;
	display: block;
	background-image: url(../img/ico-cart-arrow-down.png);
	background-size: 16px 10px;
    top: 2px;
    position: relative;
    left: -10px;
}
#open-cart .note span {
	display: inline;
}
#open-cart .total {
	height: 80px;
	font-size: 1em;
}
#open-cart .conclude-bottom {
	height: 57px;
	border-radius:0;
}

/**/

body.uk-offcanvas-overlay {
	overflow: hidden;
	height: 100%;
}
.mob-cart-content {
	height: calc(100% - 241px);
	overflow: hidden;
}
.product-list {
	background:#ffffff;
	border-left: 1px solid #e7e7e7;
	position: absolute;
	top: 0;
	right: 0;
	height: calc(100% - 0px);
	overflow-y: scroll;
	margin-left: 65px;
}
.product-list h4 {
	padding: 6px 10px;
	font-size: .8em;
	border-bottom: 1px solid #eee;
	background: #f9f9f9;
}

/* Cart Tabs > Icon */
.mob-cart-content .ico {
	text-indent: -999em;
}
.mob-cart-content .ico:before {
	content: "1";
	display: block;
	width: 32px;
	height: 32px;
	margin: 5px auto;
	overflow-y: hidden;
	background-image: url(../img/sprite-icons.png);
}
.mob-cart-content .ico.cat-bazar-pet:before { background-position:  -128px 0; }
.mob-cart-content .ico.cat-bebidas-leites:before { background-position:  -128px -32px; }
.mob-cart-content .ico.cat-biscoitos-snacks:before { background-position:  -128px -64px; }
.mob-cart-content .ico.cat-carnes-peixes:before { background-position:  -128px -96px; }
.mob-cart-content .ico.cat-cereais-massas:before { background-position:  -128px -128px; }
.mob-cart-content .ico.cat-conservas-temperos:before { background-position:  -128px -160px; }
.mob-cart-content .ico.cat-frios-lacticinios-congelados:before { background-position:  -128px -192px; }
.mob-cart-content .ico.cat-higiene-beleza:before { background-position:  -128px -224px; }
.mob-cart-content .ico.cat-hortifruti:before { background-position:  -128px -256px; }
.mob-cart-content .ico.cat-limpeza:before 	{ background-position:  -128px -288px; }
.mob-cart-content .ico.cat-matinais-doces:before { background-position:  -128px -320px; }
.mob-cart-content .ico.cat-ofertas-novidades:before { background-position:  -128px -352px; }
.mob-cart-content .ico.cat-padaria:before { background-position:  -128px -384px; }


/**/
#open-cart .mob-cart-content {
	background:#ffffff;
	position: relative;
	overflow: hidden;
}
#open-cart .mob-cart-content .carrinho-vazio {
	width: 100%;
}

/* Tab-nav */

.tab-nav {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 65px;
	height: 100%;
	overflow-y: scroll;
	background-color: #fff;
}
.tab-nav li {
	position: relative;
	text-indent: -999em;
	border-bottom: 1px solid #ddd;
	overflow: hidden;
}

.tab-nav li .qtd {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 20px;
	height: 20px;
	background: #f44336;
	color: #fff;
	border-radius: 50%;
	text-align: center;
	display: block;
	text-indent: 0;
	line-height: 20px;
	font-size: .8em;
}
.tab-nav li a {
	display: block;
	width: 65px;
	padding: 5px 0;
	text-indent: -999em;
	text-align: center;
	overflow: hidden;
}
.tab-nav ul .label {
	font-size: .6em;
	font-weight: normal;
}

/* Cart Tabs > Content */

.product-list li:last-child {
	border: 0;
}
.product-list li:hover {
	background-color: none;
}

/* Controle Add/Remover */
.product-list .count_unit {
	width: 60%;
	min-width: 60%;
	margin-top: 6px;
}
.product-list .control {
	position: absolute;
	top: 0;
	right: 0;
 	display: flex;
  	width: 40px;
 	height: 100%;
 	align-items: center;
 	text-align: center;
 	opacity: 1;
}
.product-list .del-product {
	margin: 0 5px;
}
.product-list li.cart-item {
	position: relative;
	font-size: .9em;
	height: auto;
	padding: 6px 0;
}
.product-list .desc { margin: 0; font-size: .9em; margin: 3px 0; }
.product-list img { width: 75%; }
.product-list .price { font-size: .8em; }

/* Controle Add/Remover */
.product-list .count_unit {
	width: 60%;
	min-width: 60%;
	margin-top: 6px;
}
.product-list .add-product,
.product-list .less-product,
.product-list .units {
    width: 33%;
    height: 24px;
    float: left;
    text-align: center;
    line-height: 25px;
}
.product-list .add-product,
.product-list .less-product {
    color: #000;
    background-color: #ddd;
}
.product-list .units {
	padding: 0;
}
.product-list .less-product {
    float: left;
}

/**/
.mob-cart-content li.cart-item {
	position: relative;
	height: auto;
    font-size: .8em;
    cursor: default;
}

#cart-tabs .tab-nav li {
    position: relative;
    text-indent: -999em;
    border-bottom: 1px solid #ddd;
}
/**/
.cart-list .control {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
    width: 70px;
    transition: all 0.25s ease-out;
    background-color: rgba(255,255,255,.8);
    display: flex;
    height: 100%;
    align-items: center;
    text-align: center;
    opacity: 0;
}

@media screen and (max-width: 1280px){
	.cart-list .control {
		opacity:1;
		width: 40px;
	}
}
