#categories-side-filter {
	position: sticky;
	top: 220px;
	max-height: 650px;
	overflow-y: auto;
}
#categories-side-filter h3 {
	font-size: 1em;
	color: #6e6e6e;
	border-bottom: 1px solid #ddd;
	padding-bottom: 15px;
	margin-bottom: 15px;
	text-transform:uppercase;
	line-height:115%;
}
#categories-side-filter h4 {
	font-size: 1.125em;
	color: #ff6b00;
	margin-bottom: 15px;
}
#categories-side-filter li {
	margin-bottom: 15px;
	color: #6e6e6e;
	list-style: none;
	font-size: .8em;
}
#categories-side-filter li label {
	display: flex;
	justify-content: flex-start;
	flex-wrap: nowrap;
	align-items: flex-start;
	line-height: 150%;
}
#categories-side-filter input[type="checkbox"] {
	margin: 4px 10px 0 2px;
}

/* Filter */
.filter {
	display: flex;
	margin-bottom: 15px;
	align-items: center;
	justify-content: space-between;;
}
.filter > div {
	display: flex;
	flex-wrap: nowrap;
}
.filter h4 {
	color: #ff6b00;
	font-size: 1.250em;
	text-transform: uppercase;
}
.filter select {
	border-radius: 25px;
	width: 140px;
	padding-right: 21px;
	margin-right: 10px;
	text-align: center;
}

/**/
#filter-central {
	position: relative;
	height: 42px;
}
#filter-central .button {
	border-radius: 25px;
	cursor: pointer;
	height: 42px;
	width: 100px;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	background-color: #105291;
	color: #fff;
	font-size: 1em;
	transition: background-color 0.25s ease-out;
}
#filter-central .button:hover {
	background-color: #2170bb;
}
#filter-central .button:before {
	content: "";
	display: block;
	width: 24px;
	height: 24px;
	margin-right: 5px;
	background-image: url(../img/sprite-commons.png);
	background-position: 0 -280px;
}
#filter-central .bt-filtro-mobile { display: none;}

/**/
#filter-central .filter-central-panel {
	position: absolute;
	right: 0;
	z-index: 500;
	display: none;
	padding: 10px;
	border:1px solid #ddd;
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(0,0,0,.2)
}
#filter-central .filter-central-panel h4,
#filter-central .filter-central-panel h5 {
	margin-bottom: 15px;
	white-space: nowrap;
	color: #6e6e6e; 
	font-size: 1em;
	text-align: left;
	text-transform: unset;
}
#filter-central .filter-central-panel h5 {
	color: #ff6b00; 
}
#filter-central .grid {
	display: grid;
	min-width: 390px;
	grid-column-gap: 20px;
	grid-template-columns: 1fr 1fr;
}
#filter-central .filter-central-panel div {
	margin-bottom: 10px;
}
#filter-central .button-aplicar {
	display: block;
	color: #fff;
	width: 100%;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	background-color: #ff6b00;
}
#filter-central .button-aplicar:hover {
	background-color: #2170bb;
}
#filter-central li {
	margin-bottom: 10px;
	color: #6e6e6e;
	list-style: none;
	font-size: 1em;
}
#filter-central li label {
	display: flex;
	justify-content: flex-start;
	flex-wrap: nowrap;
	align-items: flex-start;
	line-height: 120%;
}
#filter-central input {
	margin: 4px 10px 0 0;
}

/* Filter Mobile */
#open-filter .uk-offcanvas-bar  {
	top:0;
	bottom: 0;
	height: auto;
	padding: 15px;
}
#open-filter .grid div {
	margin-bottom: 30px;
}
#open-filter h4 {
	font-size: 1em;
	color: #fff;
	margin-bottom: 15px;
}
#open-filter h5 {
	margin-bottom: 15px;
	padding: 0 0 5px;
	white-space: nowrap;
	font-size: 1em;
	text-align: left;
	text-transform: unset;
	color: #d5e8fa; 
	border-bottom: 1px solid #2b6caa;
}
#open-filter ul {
	padding: 0 15px;
}
#open-filter li {
	margin-bottom: 15px;
	color: #fff;
	list-style: none;
	font-size: 1em;
}
#open-filter li label {
	display: flex;
	justify-content: flex-start;
	flex-wrap: nowrap;
	align-items: flex-start;
	line-height: 120%;
}
#open-filter input {
	margin: 4px 10px 0 0;
}
#open-filter .button-aplicar {
	display: block;
	color: #fff;
	width: 100%;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	background-color: #2170bb;
}
#open-filter .button-aplicar:hover {
	background-color: #7ab1e4;
}

@media screen and (max-width: 920px) {
	.filter {
		display: block;
	}
	.filter h4 {
		margin-bottom: 10px;
	}
	#filter-central .filter-central-flip.button { display: none; }
	#filter-central .bt-filtro-mobile { display: flex; }
}
@media screen and (max-width: 768px) {
	.filter select {
		width: 100%;
		flex: 1;
	}

}

