#main {
	grid-area: 1/1/3/4;
}
/**/
main section > header {
	display: flex;
	justify-content: space-between;
	align-items: end;
	padding: 30px 0 20px;
}
main section > header h2 {
	margin-bottom: 10px;
}
main section > header p {
	color: #666;
	font-size: 1.125em;
}

/* checkout-form */
#form-grid {
	display: grid;
	grid-template-columns: 1fr 410px 1fr;
	grid-column-gap: 25px;
}
#form-grid label {
	color: #666;
}
/* Form Headers */
#form-grid h3 {
	height: 50px;
	line-height: 50px;
	overflow: hidden;
	border-bottom: 1px solid #d3d3d3;
	background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 100%);
}
#form-grid  h3:before {
	content: "";
	display: block;
	float: left;
	width: 55px;
	height: 110px;
	margin-right: 20px;
	margin-top: -28px;
	border-radius: 0 50% 50% 0;
	text-align: center;
	background-color: #004280;
	background-repeat: no-repeat;
	background-position: 10px -280px;
	background-image: url(../img/sprite-commons.png);
}
#form-grid .ico-user:before { background-position: 0px -293px; }
#form-grid .ico-delivery:before { background-position: -50px -292px; }
#form-grid .ico-resume:before { background-position: 0px -342px; }
#form-grid .ico-payment:before { background-position: -50px -342px; }
#form-grid #check-form, #form-grid #delivery-address, #form-grid #payment {
	margin-bottom: 15px;
	border: 1px solid #d3d3d3;
	background-color: #fff;
}

#form-grid .resumo {border: 1px solid #d3d3d3;padding-bottom:0;}

#form-grid .resumo.produtos {border-bottom: none;}

#form-grid .content {
	position: relative;
	padding: 20px;
}

#form-grid .resumo .content {
	padding: 5px 20px;
}

#form-grid .content h4 {
	margin-bottom:10px;
}

/* Resumo Produtos */
.resumo.produtos .content {
	max-height: 274px;
	overflow: auto;
}
.resumo.produtos h3::before {
	background-position: -334px -365px !important;
}

.resumo.produtos li {
	display: grid;
	grid-template-columns: 1fr 4fr;
	border-bottom: 1px solid #ddd;
	font-size: .8em;
	height: 64px;
	cursor: default;
}


.resumo.produtos li:last-child {
	border:none;
}

.resumo.produtos li img {
	width: 80%;
	height: auto;
	display: block;
	margin: 4px 0;
}
.resumo.produtos li span {
	display: block;
}
.resumo.produtos li.cart-item .infos {
	position: relative;
	padding: 0 5px;
}
.resumo.produtos li .desc {
	margin-top: 12px;
	color: #666;
}
.resumo.produtos li .price {
	color: #105291;
	margin: 3px 0;
}
.resumo.produtos li .unit {
	color: #999;
}

/* Check Items */
.mercado {
	margin: 0 0 30px;
	border: 1px solid #d3d3d3;
	background-color: #fff;
}
.mercado-content {
	border-top: 1px solid #d3d3d3;
}

.mercado-content .title-missing-items {
	color:#444444;
	display:flex;
	margin: 15px 15px 5px 15px;
	text-transform:uppercase;
}

.mercado-content .subtitle-missing-items {
	color:#777777;
	display: flex;
    margin: 0 15px 0 15px;
    font-size: 0.85em;
}

.checkout-header {
	display: flex;
	justify-content: space-between;
	align-items: end;
	margin: 0 0 15px;
}
.checkout-header h2 {
	margin-bottom: 5px;
}
.checkout-header h3 {
	color: #666;
	font-size: 1.125em;
}
.checkout-header .order {
	display: flex;
	align-items: baseline;
}
.checkout-header .order select {
	padding: 10px 28px 10px 10px;
}


/**/
#header-brand {
	display: grid;
	grid-template-columns: 1.5fr 1fr 1.5fr;
	border-bottom: /1px solid #d3d3d3;
	background: linear-gradient(to bottom, #ffffff 0%,#fcfcfc 100%);
}
/* Brand */
#header-brand .brand {
	padding: 20px;
}
#header-brand .brand h2 {
	margin: 10px 0;
	font-size: 1.5em;
	text-transform: uppercase;
}
#header-brand .brand span {
	background: #f2f2f2;	
    border: 1px solid #115597;
    color: #115597;
    display: flex;	
    font-size: 0.9em;
    line-height: 110%;
    padding: 7px;
}
#header-brand  .missing-items {
	display: inline-block;
	padding: 20px 40px;
	text-align: center;
	color: #fff;
	background-color: #115597;
}
#header-brand .brand figure {
	display: block;
	width: 118px;
	height: 118px;
	float: left;
	overflow: hidden;
	margin-right: 15px;
	border: 1px solid #d3d3d3;
}
#header-brand .brand figure img {
	display: block;
	width: 100%;
	height: 100%;
}

/* Values */
#header-brand .values {
	display: flex;
	flex-flow: column;
	justify-content: center;
	padding: 0 6px;
	border-right: 1px solid #d3d3d3;
	border-left: 1px solid #d3d3d3;
}
#header-brand .values > span {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: baseline;
	white-space: nowrap;
	font-size: 1em;
	color: #666;
	margin: 10px 0;
}
#header-brand .values > span .value {
	font-size: 1.250em;
	color: #ff6b00;
	width: 90px;
	padding: 0 5px 0;
}
#header-brand .values > span .value {
	width:110px;
}
#header-brand .missing-items small {
	display: flex;
	font-size: 0.74em;
}
/* Choose */
.choose {
	display: flex;
	flex-flow: column;
	justify-content: center;
	text-align: center;
	color: #666;
	font-size: 1em;
}
.choose span {
	display: block;
}
.choose .button {
	display: inline-block;
	max-width: 330px;
	padding: 20px 40px;
	margin: 10px auto;
	background-color: #b3ed3b;
	color: #115597;
	font-size: 1.375em;
	box-shadow: 0 2px 3px rgba(0,0,0,.2)
}
.choose.bot {
		padding: 10px 0;
}
@media screen and (min-width: 920px) {
	.choose.bot {
		display: none;
	}
}
/**/
.checkout-content {
}
.replace-item {
	margin: 20px;
	border: 1px solid #d3d3d3;
}
/* Checkout accordion
*************************/
.accordion {
	margin: 15px;
	list-style: none;
}
/* Accordion Header */
.accordion-header {
	display: flex;
	flex-flow: row;
	cursor: pointer;
	justify-content: space-between;
	padding: 13px 15px 13px;
	border-bottom: 1px solid #d3d3d3;
	background-color: #f2f2f2;
}
.accordion-header h3 {
	width: 300px;
	text-transform: uppercase;
	font-size: 1.250em;
}
.accordion-header:after {
	content: "";
	display: block;
	width: 16px;
	height: 16px;
	overflow: hidden;
	background-image: url(../img/accordion-arrows.png);
	background-position: 0 0;
}
.accordion-item:not(:first-child) .accordion-header {
	border-top: 1px solid #d3d3d3;
	border-bottom: 1px solid #d3d3d3;
}
/* Accordion items */
.accordion-item {
	border-left: 1px solid #d3d3d3;
	border-right: 1px solid #d3d3d3;
}
.accordion-item:first-child {
	border-top: 1px solid #d3d3d3;
}
.accordion-item:last-child .ui-accordion-content-active {
	border-bottom: 1px solid #d3d3d3;
}
.accordion-header.ui-state-active:after {
	background-position: 0 -16px;
}

/* Accordion Items */
.accordion-remove-item {
	color: #f45347;
	margin-top: -5px;
	cursor: pointer;
	text-transform: uppercase;
	background-color: transparent;
}
.accordion-remove-item:before {
	content: "";
	width: 18px;
	height: 21px;
	margin-bottom: -4px;
	margin-right: 10px;
	display: inline-block;
	background-image: url(../img/sprite-commons.png);
	background-position: -64px -256px;
}
/* Accordion Content */
.accordion-content {
	padding: 10px 0;
}

/* Owl Carousel
*************************/
.owl-stage-outer {
	z-index: 2;
}
.owl-carousel-limiter {
	text-align: center;
	margin: 10px 70px;
}
.owl-carousel .owl-item {
	width: 210px;
	text-align: center;
	border: 1px solid #d3d3d3;
}
.owl-carousel picture img {
	width: 60%;
	margin: auto;
	display: block;
}
.owl-item .desc {
	margin: 0 0 10px;
	min-height: 52px;
	padding: 0 10px;
	font-size: 1em;
	color: #6e6e6e;
	display: block;
}
.owl-item .price {
	margin: 0 0 10px;
	font-size: 1em;
	color: #105291;
	display: block;	
}
/* Owl Carousel Nav */
.owl-nav {
	width: 100%;
	top: 33px;
	z-index: 9999;
	position: absolute;
	background-color: #f9f9f9;
}
.owl-item button {
	padding: 10px 0;
	display: block;
	width: 100%;
	color: #fff;
	background-color: #115597;
}
.owl-nav button {
	display: block;
	width: 45px;
	height: 160px;
	position: absolute;
	font-size: 4em;
	border-radius: 2px;
	border: 1px solid #d5d5d5;
	background-color: #f9f9f9;
}
.owl-nav button:after {
	content: "";
	display: block;
	width: 24px; 
	height: 46px;
	margin: 0 auto;
	background-image: url(../img/sprite-commons.png);
	background-position: -128px -384px;
}
.owl-nav button.owl-next:after {
	background-position: -168px -384px;
}
.owl-prev {left: -55px;}
.owl-next {right: -55px;}


/* Form
**************************/
.finalizar-form {
	display: flex;
	border: 1px solid #d3d3d3;
	color: #666;
	background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 100%);
}
.finalizar-form div {
	position: relative;
	width: 50%;
	padding: 15px;
}
.finalizar-form div:first-child {
	border-right: 1px solid #d3d3d3;
}
.finalizar-form div:last-child {
	background-image: url(../img/lock.png);
	background-repeat: no-repeat;
	background-position: right 0;
}
.finalizar-form div:last-child p {
	margin-bottom: 10px;
	color: #71a505;
}
.finalizar-form div ul {
	margin: 0 0 0 20px;
	list-style-image: url(../img/list-mark.png);
}
.finalizar-form div li {
	margin-bottom: 4px;
	color: #666;
}

/**/
.finalizar-form label {
	margin-bottom: 10px;
	color: #115597;
	display: block;
	text-transform: uppercase;
	font-size: 1.225em;
}
.finalizar-form small {
	color: #666;
}
/**/
.finalizar-form form > span {
	display: flex;
	flex-wrap: wrap;
}
.finalizar-form .field {
	flex: 3;
}
.finalizar-form .field input {
	height: 100%;
}
.checkout-form form button {
	flex: 1;
	width: 100%;
	height: 60px;
	padding: 0 10px;
	color: #115597;
	font-size: 1.375em;
	background-color: #b3ed3b;
}

.finalizar-form form button {
	flex: 1;
	width: 270px;
	height: 60px;
	padding: 0 10px;
	color: #115597;
	font-size: 1.375em;
	background-color: #b3ed3b;
}

.checkout-form .help-block.form-error {
	flex: 10;
}
/* Form */
.form-field {
	position: relative;
	display: block;
	margin-bottom: 15px;
}
.form-field.extend .extend {
	display: flex;
	align-items: center;
}
.form-field.extend .extend .cep {
	display: inline-block;
	padding: 0 10px;
	font-style: italic;
}
.form-field label {
	color: #666;
	margin-bottom: 5px;
	font-size: 1em;
	display: inline-block;
}

.form-field input[type="text"],
.form-field input[type="email"],
.form-field input[type="password"],
.form-field input[type="number"],
.form-field select {
	width: 100%;
	display: block;
	padding: 10px 12px;
	box-shadow: inset 0 0 5px rgba(0,0,0,.2);
}

.form-field select {
	padding: 10px 36px 10px 12px;
}
.form-field small {
	display: flex;
	margin-top: 4px;
}

#form-grid .group { display: flex; }
#form-grid .group > span:first-child { margin-right: 10px; }
#form-grid .group > span:last-child { margin-left: 10px; }

#form-grid button {
	display: block;
	width: 100%;
	padding: 17px 0;
	color: #115597;
	font-size: 1.125em;
	background: #b3ed3b;
}


/**/
#cep-delivery { width: 50%; }
/*#endereco { width: 240px; }*/
#endereco-num { width: 108px}

.group.radios {
	margin-bottom: 10px;
	justify-content: space-between;
}
.group.radios span {
	margin: 0 !important;
}
/* Form Validation */
.accordion-delivery h4 label {
	position: relative;
	min-width: 100%;
	padding: 18px 15px 16px 15px;
	display: block;
	color: #004280;
	font-size: 1.063em;
	background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 100%);
	border: 1px solid #d3d3d3;
}
.accordion-delivery h4 label input {
	margin: 0 15px -3px 0;
}
.accordion-delivery h4 label::before {
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
	margin: 1px;
	content: "";
	display: block;
	float: right;
	background-image: url(../img/sprite-commons.png);
	background-position: 3px -419px;
}
.accordion-delivery .ico-b label::before {
	background-position: -49px -422px;
}

/**/
.accordion-delivery > div {
	padding: 0;
}
.accordion-delivery > div p {
	padding: 10px 0 20px;
	color: #666;
	font-size: 1em;
}

/* disabled */
form .disabled,
form input[disabled],
form input[disabled="true"] {
	background-color: #ddd;
}
.content .overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 101;
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,.7);
}
#retirada .hidden-field {display: none;}
#retirada .show {display: block;}

/**/
.resumo { background-color: #fff; }
.resumo .content {
	display: flex;
	flex-flow: column;
}
.resumo .content > span {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 5px;
	padding: 10px 0;
	border-bottom: 1px solid #d3d3d3;
	font-size: 1em;
	color: #666;
}
.resumo .content > span:last-child {
	border: 0;
}
.resumo .content > span > span {
	display: inline-block;
	width: 120px;
	text-align: right;
	color: #ff6b00;
	font-size: 1.250em;
}

/* Form Validation */
.form-field.has-error input,
.form-field.has-success input {
	background-image: url(../img/sprite-form.png);
	background-position: right 13px;
	background-repeat: no-repeat;
}
.form-field.has-error input {
	background-position: right -107px;
}
.help-block.form-error {
	display: block;
	margin: 2px 0;
	font-size: 0.9em;
	color: #b3281d;
}

/* Details */
.details {
	border: 1px solid #d3d3d3;
	background-color: #fff;
}
.details header {
	height: 50px;
	overflow: hidden;
	border-bottom: 1px solid #d3d3d3;
	background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 100%);
}

.details header:before {
	content: "";
	display: block;
	float: left;
	width: 55px;
	height: 110px;
	margin-right: 20px;
	margin-top: -28px;
	border-radius: 0 50% 50% 0;
	text-align: center;
	background-color: #004280;
	background-repeat: no-repeat;
	background-position: 2px -442px;
	background-image: url(../img/sprite-commons.png);
}
.details header h3 {
	line-height: 50px;
	font-size: 1.250em;
}
.details .content {
	padding: 20px;
}
.details .content p {
	margin-bottom: 10px;
	color: #666;
	font-size: 1em;
}
.details .content p strong {
	color: #004280;
	font-weight: normal;
}
.button-back-ordered {
	display: inline-block;
	margin: 10px 0 0;
	padding: 20px 40px;
	font-size: 1.125em;
	color: #115597;
	background-color: #b3ed3b;
}

/* Footer */
.copyright {
	line-height: 150%;
	text-align: center;
	clear: both;
}

.checkout .account {display:none;}
.checkout .wrp {min-height:440px;}
.checkout #header .brand {height:75px;}
.checkout .hcategories, .checkout .header-search {display: none;}

.checkout #form-grid form button.btn.disabled {background:#f2f2f2;color:#82807f;}

.horario-atendimento {
	color: #a94442;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
	display:block;
    margin-bottom: 10px;
	padding: 10px;
	width:100%;
}

.horario-atendimento {
	color: #a94442;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
	display:block;
    margin-bottom: 10px;
	padding: 10px;
	width:100%;
}



/**/
@media screen and (max-width: 1250px) {
	#header-brand .missing-items {
		font-size:0.9em;
		padding: 10px;
	}
}
@media screen and (max-width: 1024px) {
	#form-grid {
		grid-template-columns: 1fr;
	}
	.group .form-field { width: 100% !important; }
}
@media screen and (max-width: 920px) {
	#header-brand .brand {
		grid-area: 1/1/2/4;
		border: 0;
	}
	#header-brand .choose {	grid-area: 2/1/2/4;	}
	#header-brand .values {
		grid-area: 2/1/3/4;
		padding: 0 30px;
		border: 0;
		border-top: 1px solid #d3d3d3;
		border-bottom: 1px solid #d3d3d3;
	}
	.mercado.missing-items #header-brand .values {
		border-bottom: 0;
	}
	.mercado.missing-items #header-brand .choose {
		display: none;
	}
	#header-brand .choose {
		padding: 20px 0;
		grid-area: 3/1/4/4;
	}
	#header-brand .values > span {
		justify-content: flex-start;
	}
	#header-brand .values > span .label {
		width: 130px;
		text-align: right;
	}
	.finalizar-form {
		display:block;
	}
	.finalizar-form div {
		width:100%;
	}
}
@media screen and (max-width: 768px) {
	.accordion {
		margin: 10px 0 0 0;
	}
	.accordion-item {
		border: 0;
	}
	.owl-carousel-limiter {
		margin: 10px 15px;
	}
	.owl-nav {
		top: 50%;
		margin-top: -80px;
	}
	.owl-nav button {
		width: 36px;
		height: 160px;
	}
	.owl-next { right: -58px; }
	.owl-prev { left: -58px; }

	.checkout-header {
		margin: 20px 0 0;
		flex-direction: column;
		align-items: baseline;
	}
	.checkout-header div { margin-bottom: 10px;	}
	.checkout-header .order {display:block;width: 100%;}
	#header-brand .brand {
		border: 0;
		display: flex;
	}
	#header-brand .brand picture {
		border: 0;
		height:98px;
		margin-right: 8px;
		width:98px;
	}
	#header-brand .brand picture img {
		width: 100%;
		height: auto;
	}
	#header-brand .brand {
		grid-area: 1/1/2/4;
	}
	.finalizar > header {
		flex-flow: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.finalizar > header p { margin-bottom: 20px; }
	.checkout-form { flex-flow: column; }
	.checkout-form > div { width: 100%; }
	.checkout-form div:first-child {
		border: none;
	}
	.checkout-form form button,
	.checkout-form form input {
		width: 50%;
	}

	.accordion-remove-item span,
	.accordion-header::after {
		display: none;
	}
	#form-grid form .group > span:first-child { margin: 0 0 10px;  }
	#form-grid form .group > span:last-child { margin: 0 0 10px;  }
	#form-grid form .group { flex-flow: column;	}
	#form-grid form .group input[type="text"] { width: 100%; }
}

@media screen and (max-width: 600px) {
	.owl-nav {margin-top:-40px;}
	.owl-nav button {width: 13px;height: 80px;}
	.owl-next { right: -14px; }
	.owl-prev { left: -14px; }
	.owl-nav button:after {height:23px;width:12px;}
	.owl-nav button.owl-next:after{background-position: -320px -327px;background-size: 132px;}
	.owl-nav button.owl-prev:after{background-position: -307px -327px;background-size: 132px;}	
	.accordion-header h3 {font-size:1em;}
	#header-brand .choose .button {font-size: 1.175em;}
	#header-brand .choose span {font-size:0.9em;}
	#header-brand .brand picture {height:80px;width:80px;
	}
}

@media screen and (max-width: 533px) {
	.details header { padding: 0 20px; }
	.details header::before { display: none; }
	.checkout-form form button,
	.checkout-form form input {
		width: 13%;
		margin-right: 0!important;
	}
	.accordion-delivery h4 label {font-size:0.8em;}
	.checkout-form form input {
		margin: 0 0 10px;
		padding: 20px 10px;
	}
	
	.accordion-delivery h4 label::before {
		width: 40px;
		height: 40px;
		background-position: -3px -419px;
	}
	
	.accordion-delivery .ico-b label::before {background-position:-55px -422px;}
}

@media screen and (max-width: 480px) {
	#header-brand .missing-items {font-size:0.8em;}
	.checkout-header h3 {font-size:1em;}
	.finalizar-form .field {flex: 2;}
	.finalizar-form form button {font-size:1.1em;}
}
