.main-title {
	margin:15px 0 13px;
}

/* Account Tabs */
#tabs-account ul {
	display: flex;
}
#tabs-account ul .hidden {
	display: none;
}
#tabs-account ul li {
	flex-flow: row;
	flex: 1;
	list-style: none;
	background-color: #004280;
}
#tabs-account li.ui-tabs-selected {
	border: 2px solid #004280;
	background-color: #fff;
}
#tabs-account ul li:nth-child(2) {
	margin: 0 10px;
}
#tabs-account li a {
	padding: 20px;
	display: block;
	font-size: 1.250em;
	color: #fff;
	text-align: center;
	border-bottom-width: 0;
}
#tabs-account li a:before {
	content: "";
	width: 40px;
	height: 40px;
	margin: -11px 0 0;
	display: block;
	float: left;
	background-image: url(../img/sprite-commons.png);
}
#tabs-account li:nth-child(1) a:before { background-position: -125px -445px; }
#tabs-account li.ui-tabs-selected:nth-child(1) a:before { background-position: -167px -445px; }

#tabs-account li:nth-child(2) a:before { background-position: -125px -483px; }
#tabs-account li.ui-tabs-selected:nth-child(2) a:before { background-position: -164px -483px; }

#tabs-account li:nth-child(3) a:before { background-position: -125px -523px; }
#tabs-account li.ui-tabs-selected:nth-child(3) a:before { background-position: -165px -523px; }

#tabs-account li.ui-tabs-selected a {
	color: #004280;
	background-color: #fff;
}
#tabs-account .tabs-panel {
	padding:20px;
	border: 1px solid #d1d1d1;
	border-top-color: #f7f7f7;
	background-color: #fff;
}
#tabs-account .tabs-panel h3 {
	margin: 0 0 20px;
	color: #ff6b00;
	font-size: 1.250em;
	text-transform: uppercase;
}

#tabs-account.null-tab li {
	max-width: 310px;
}
/* Tables */
.table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
}
.table thead th {
	border-top: 1px solid #d1d1d1;
	background: linear-gradient(to bottom, rgba(254,254,254,1) 0%,rgba(242,242,242,1) 100%);
}
.table td,
.table th {
	padding: 0 15px;
	font-size: 1em;
	text-align: left;
}
.table th {
	padding: 15px;
	color: #004280;
}
.table td {
	color: #6e6e6e;
	border-top: 1px solid #d1d1d1;
}
.table tr:nth-child(even) {
	background-color: #f7f7f7;
}
/* Tables > Table-ordered */
#table-ordered .details {
	display: block;
	padding: 8px 0;
	margin: 9px 0;
	text-align: center;
	color: #fff;
	background-color: #ff6b00;
}
/* Tables > Table-ordered-n */
.ordered-local {
	margin: 0 0 20px;
	padding: 20px 10px;
	text-align: center;
	color: #6e6e6e;
	border: 1px solid #e6e6e6;
	background-color: #f7f7f7;
}
.ordered-dates {
	display: flex;
	margin: 0 0 10px;
	justify-content: space-between;
	text-align: center;
}
.ordered-dates div {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32.5%;
	height: 60px;
	padding: 0 10px;
	color: #6e6e6e;
	border: 1px solid #e6e6e6;
	background-color: #f7f7f7;
}
.ordered-dates div:nth-child(3) strong {
	display: block
}

#table-ordered-n td {
	padding: 10px 15px;
}

#table-ordered-n td.a-right, #table-ordered-n th.a-right {
	text-align:right;
}

#table-ordered-n td.a-center, #table-ordered-n th.a-center {
	text-align:center;
}

#table-ordered-n th.space {
	width: 200px;
}
#table-ordered-n a.view {
	display: inline-block;
	padding: 8px 10px;
	text-align: center;
	color: #fff;
	background-color: #979797;
}

/* Tooltips */
.ui-tooltip {
	position: absolute;
	z-index: 99;
	padding: 8px 15px;
	max-width: 300px;
	color: #333;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 0 10px rgba(0,0,0,.3);
}

/* Status */
.status {
	display: inline-block;
	color: #fff;
	padding: 7px 10px;
	background-color: #666;
}
.cancelado { background-color: #ed1c24 ; }
.recebido { background-color: #f4b606 ; }
.separacao { background-color: #ff6b00 ; }
.pronto { background-color: #0072dd ; }
.entregue { background-color: #3bc910 ; }


/* Meus dados pessoais */
#personal-infos .row, #address-infos .row {
	display: flex;
	margin: 0 0 20px;
	justify-content: space-between;
}
#personal-infos .form-field, #address-infos .form-field {
	display: block;
	width: 100%;
}

#personal-infos .form-field.input-cep, #address-infos .form-field.input-cep {
	width: 200px;
}

#personal-infos .form-field:nth-child(2), #address-infos .form-field:nth-child(2) {
	margin: 0 20px;
}
#personal-infos .form-field label, #address-infos .form-field label {
	display: table;
	font-size: 1em;
	color: #666;
	margin: 0 0 5px;
}
#personal-infos .form-field input[type="text"], #address-infos .form-field input[type="text"],
#personal-infos .form-field input[type="email"], #address-infos .form-field input[type="email"],
#personal-infos .form-field input[type="password"], #address-infos .form-field input[type="password"],
#personal-infos .form-field input[type="number"], #address-infos .form-field input[type="number"],
#personal-infos .form-field select, #address-infos .form-field select {
	width: 100%;
	display: block;
	padding: 10px 12px;
	box-shadow: inset 0 0 5px rgba(0,0,0,.2);
}
#personal-infos footer, #address-infos footer {
	display: flex;
	flex-flow: row-reverse;
}
#personal-infos button, #address-infos button {
	display: block;
	padding: 10px 30px;
	color: #fff;
	font-size: 1.125em;
	background-color: #004280;
}
#personal-infos .form-field.checkbox, #address-infos .form-field.checkbox {
	display: flex;
	align-items: flex-end;
	padding-bottom: 8px;
}

/* Meus endereços */
#table-address td .btn {
	display: inline-block;
}
#table-address td .btn {
	display: inline-block;
	margin: 8px 0;
	padding: 8px 25px;
}
#table-address td.address {
	width: 80%;	
}
#table-address .btn.edit { color: #fff; background-color: #004280; }
#table-address .btn.delete { color: #fff; background-color: #e71010; }

/**/
.header-tools {
	display: flex;
	margin: 0 0 20px;
	justify-content: space-between;
	align-items: center;
}

.header-tools.header-pedido {
	display:inline-flex;
}

#tabs-account .header-tools.header-pedido h3 {
	margin:0 10px 0 0;
}

#tabs-account .header-tools h3 {
	margin: 0;
}
.header-tools .btn.add-address {
	float: right;
	display: inline-block;
	padding: 8px 20px;
	color: #fff;
	text-align: center;
	background-color: #ff6b00;
}


/**/
.modal-box {max-width: 400px;}
.modal-box h3{
	margin: 0 0 15px;
	font-size: 1.517em;
	color: #105291;
}
.modal-box .content {margin: 0 0 40px;}
.modal-box .content p {
	color: #6e6e6e;
	line-height: 140%;
	font-size: 1.1em;
}
.modal-box footer{
	display: flex;
	justify-content: space-between;
}

.modal-box footer form{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.modal-box footer button {
	display: block;
	padding: 10px 30px;
	font-size: 1.250em;
	text-transform: uppercase;
	color: #fff;
	background-color: #135ba0;
}
.modal-box footer button.cancel {
	background-color: #f44336;
}

.bt-default {
	display: inline-block;
    padding: 13px 16px 10px;
    color: #fff;
    background: #105291;
}


/**/
@media screen and (max-width: 768px) {
	table.table thead {
		display: none;
	}
	.table tr,
	.table td { 
		display: block;
		border: 0;
	} 
	table.table thead {
		display: none;
	}
	.table tr {
		padding: 20px 0;
		border-bottom: 1px solid #d1d1d1;
	}
	.table tr:last-child {
		border: 0;
	}
	.table td {
		padding: 5px 10px;
	}
	#table-ordered .details,
	#table-ordered-n span.view {
		padding: 7px 15px;
		margin: 0;
		display: inline-block;
	}
	.table td:before {
		color: #004280;
		font-weight: bold;
	}
	#table-ordered td:nth-of-type(1):before { content: "Número: ";}
	#table-ordered td:nth-of-type(2):before { content: "Data: "; }
	#table-ordered td:nth-of-type(3):before { content: "Total: "; }
	#table-ordered td:nth-of-type(4):before { content: "Forma de pagamento: "; }
	#table-ordered td:nth-of-type(5):before { content: "Status: "; }

	#table-ordered-n td:nth-of-type(1):before { content: "EAN / Código: ";}
	#table-ordered-n td:nth-of-type(2):before { content: "Produto: "; }
	#table-ordered-n td:nth-of-type(4):before { content: "Características: "; }
	#table-ordered-n td:nth-of-type(5):before { content: "Qtd / Peso: "; }
	#table-ordered-n td:nth-of-type(6):before { content: "Subtotal: "; }
	#table-ordered-n td:nth-of-type(7):before { content: "Total: "; }
	.ordered-dates {
		flex-flow: column;
	}
	.ordered-dates div {
		width: 100%;
		margin: 0 0 10px;
	}
	#tabs-account li a {
		 font-size: .8em;
		 padding:10px;
	}
	#tabs-account li a span {display:block;}
	#tabs-account li a:before {
		margin: 0 auto 10px;
		display: block;
		float: unset;
	}

	/* Meus dados pessoais */
	#personal-infos .row {
		flex-direction: column;
		margin: 0 0 10px;
	}
	#personal-infos .form-field:nth-child(2),
	#personal-infos .form-field {
		margin: 0 0 10px;
	}
	#personal-infos .form-field.checkbox {
		padding: 0;
		margin: 20px 5px 10px;
	}
}

@media screen and (max-width: 480px) {
	.header-tools {display:block;}
	#tabs-account .header-tools h3 {width:100%;}
	.header-tools .btn.add-address {margin:5px 0; width:100%;}
}

/* ------------------------------ REMOVER */
#main {grid-area: 1/1/3/4;}
#categories, #side-cart, .disclaimer {display: none;}


.wrp {margin:30px auto;}