/* Nav Mobile
********************************** */
.nav-mobile {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	background: #105291;
	height: 70px;
	display: none;
}
.nav-mobile ul {
	display: grid;
	grid-template-columns:  1fr 1fr 2fr;
	height: 80px;
}
.nav-mobile li {
	list-style: none;
}
.nav-mobile a {
	display: block;
}
.nav-mobile li:nth-child(1) {
	border-right: 1px solid #2b6caa;
}
.nav-mobile li:nth-child(2) {
	border-left: 1px solid #0e4880;	
	border-right: 1px solid #2b6caa;
}

.nav-mobile li:nth-child(3) {
    border-left: 1px solid #0e4880;
}

.nav-mobile li:nth-child(4) {
	background-color: #b3ed3b
}
.nav-mobile span {
	display: block;
}
/* ico-cart */
.footer-cart a {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 70px;

}
.footer-cart .price {
	font-size: 1em;
}
.footer-cart .ico-cart {
	position: relative;
	display: block;
	width: 34px;
	height: 34px;
	float: right;
	margin-right: 3px;
	background-image: url(../img/ico-toggle-cart128.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 102px auto;
	background-position: -34px -34px;
	background-image: url(../img/sprite-commons.png);	
	margin-bottom: 11px;
    font-size: 12px;
}
.footer-cart .ico-cart .label {
	position: absolute;
	top: 0;
	right: -10px;
	display: block;
	width: 24px;
	height: 24px;
	text-align: center;
	font-size: .9em;
	line-height: 24px;
	color: #fff;
	border-radius: 100%;
	background-color: #ff6b00;
}

/* Toggle */
a.categorias-toggle {
	width: 100%;
	height: 80px;
	color: #fff;
    font-size: 13px;
    text-align: center;
}
a.categorias-toggle::before {
	content: "";
	display: block;
	width: 34px;
	height: 34px;
	margin: 11px auto 2px;
	background-size: 104px auto;
	background-position: -35px 0;
	background-image: url(../img/sprite-commons.png);
}
a.search-toggle {
	width: 100%;
	height: 80px;
	color: #fff;
    font-size: 13px;
    text-align: center;
}
a.search-toggle::before {
	content: "";
	display: block;
	width: 34px;
	height: 34px;
	margin: 11px auto 2px;
	background-size: 104px auto;
	background-position: -70px 0;
	background-image: url(../img/sprite-commons.png);
}

a.list-box {
	width: 100%;
	height: 80px;
	color: #fff;
    font-size: 13px;
    text-align: center;
}
a.list-box::before {
	content: "";
	display: block;
	width: 34px;
	height: 34px;
	margin: 11px auto 2px;
	background-size: 203px auto;
    background-position: -236px 203px;
	background-image: url(../img/sprite-commons.png);
}

.name-cart {
	line-height: 83px;
	margin-left: -5px;
	width:100%;
}

/* Categories */
#open-categorias .uk-offcanvas-bar {
	height: auto;
	top: 0;
	bottom: 0;
}
#open-categorias .uk-offcanvas-bar header {
	padding: 20px;
}
#open-categorias .uk-offcanvas-bar header p {
	font-size: 0.75em;
	line-height: 130%;
}

/**/
#open-categorias .uk-offcanvas-bar {
	color: #fff;
	background-color: #105291;
}
#open-categorias .uk-offcanvas-bar p {
	color: #aad5ff;
	font-weight: normal;
}
.uk-offcanvas-bar h3 {
	margin: 0 0 5px;
	font-weight: normal;
	font-size: 1.500em;
	color: #fff;
}
/**/

#open-cart .uk-offcanvas-bar, #open-categorias .uk-offcanvas-bar, #account-box .uk-offcanvas-bar, #open-search .uk-offcanvas-bar {
  padding: 0;
}

/* UIKit */
/* OFF Canvas */
.uk-offcanvas-container .uk-offcanvas-content {
	position: relative;
	left: 0;
	transition: left 0.3s ease-out;
	-webkit-overflow-scrolling: touch;
}
.uk-offcanvas-overlay .uk-offcanvas-content {
	overflow-y: hidden;
}
.uk-offcanvas-page,
.uk-offcanvas-container {
	overflow-x: hidden;
}
:not(.uk-offcanvas-flip) > .uk-offcanvas-content-animation {
	left: 270px;
}
.uk-offcanvas-flip > .uk-offcanvas-content-animation {
	left: -270px;
}
.uk-offcanvas-bar {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	box-sizing: border-box;
	width: 80%;
	max-width: 100%;
	padding: 20px 20px;
	overflow-y: auto;
	background: #135ba0;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	transform: translateX(-100%);
}
.uk-offcanvas {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;
	touch-action: none;
	background: rgba(0,0,0,.8)
}
.uk-offcanvas-flip .uk-offcanvas {
	right: 0;
	left: auto;
}
uk-offcanvas.uk-active {
	display:block
}
.uk-offcanvas-page,
.uk-offcanvas-container {
	overflow-x: hidden;
}
.uk-offcanvas-container-overlay {
	overflow: hidden;
}
.uk-offcanvas-page {
	position: fixed;
	-webkit-transition: margin-left .3s ease-in-out;
	transition: margin-left .3s ease-in-out;
	margin-left: 0
}
.uk-offcanvas.uk-active .uk-offcanvas-bar.uk-offcanvas-bar-show {
	-webkit-transform: translateX(0);
	transform: translateX(0)
}
.uk-cover {
	overflow:hidden
}
.uk-cover-object {
	width:auto;
	height:auto;
	min-width:100%;
	min-height:100%;
	max-width:none;
	position:relative;
	left:50%;
	top:50%;
	-webkit-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%)
}
[class*='uk-transition-slide'] { opacity: 0;}
.uk-transition-slide-top { transform: translateY(-100%);}
.uk-transition-slide-bottom { transform: translateY(100%);}
.uk-transition-slide-left { transform: translateX(-100%);}
.uk-transition-slide-right { transform: translateX(100%);}
.uk-transition-slide-top-small { transform: translateY(-10px);}
.uk-transition-slide-bottom-small { transform: translateY(10px);}
.uk-transition-slide-left-small { transform: translateX(-10px);}
.uk-transition-slide-right-small { transform: translateX(10px);}
.uk-transition-slide-top-medium { transform: translateY(-50px);}
.uk-transition-slide-bottom-medium { transform: translateY(50px);}
.uk-transition-slide-left-medium { transform: translateX(-50px);}
.uk-transition-slide-right-medium { transform: translateX(50px);}
/* Show */
.uk-transition-toggle:hover [class*='uk-transition-slide'],
.uk-transition-toggle.uk-hover [class*='uk-transition-slide'],
.uk-transition-toggle:focus [class*='uk-transition-slide'],
.uk-transition-active.uk-active [class*='uk-transition-slide'] {
	opacity: 1;
	transform: translateX(0) translateY(0);
}
.uk-transition-toggle:hover .uk-transition-scale-up,
.uk-transition-toggle.uk-hover .uk-transition-scale-up,
.uk-transition-toggle:focus .uk-transition-scale-up,
.uk-transition-active.uk-active .uk-transition-scale-up {
	opacity: 1;
	transform: scale3d(1.1, 1.1, 1);
}
.uk-transition-toggle:hover .uk-transition-scale-down,
.uk-transition-toggle.uk-hover .uk-transition-scale-down,
.uk-transition-toggle:focus .uk-transition-scale-down,
.uk-transition-active.uk-active .uk-transition-scale-down {
	opacity: 1;
	transform: scale3d(1, 1, 1);
}
[class*='uk-transition-scale'] { opacity: 0;}
.uk-transition-scale-up { transform: scale3d(1, 1, 1);}
.uk-transition-scale-down { transform: scale3d(1.1, 1.1, 1);}
.uk-transition-toggle:hover [class*='uk-transition-fade'],
.uk-transition-toggle.uk-hover [class*='uk-transition-fade'],
.uk-transition-toggle:focus [class*='uk-transition-fade'],
.uk-transition-active.uk-active [class*='uk-transition-fade'] { opacity: 1;}
.uk-transition-fade,
[class*='uk-transition-scale'],
[class*='uk-transition-slide'] {
	transition: 0.3s ease-out;
	transition-property: opacity, transform, filter;
}
.uk-transition-toggle:focus { outline: none;}
.uk-transition-fade {opacity: 0;}
.uk-tooltip.uk-active {display: block;}
.uk-offcanvas-flip .uk-offcanvas-bar {
	left: auto;
	right: 0;
	transform: translateX(100%);
}
.uk-open > .uk-offcanvas-bar {transform: translateX(0);}
.uk-offcanvas-bar-animation { transition: transform 0.3s ease-out;}
.uk-offcanvas-reveal {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 0;
	overflow: hidden;
	transition: width 0.3s ease-out;
}
.uk-offcanvas-reveal .uk-offcanvas-bar {transform: translateX(0);}
.uk-open > .uk-offcanvas-reveal {width: 270px;}
.uk-offcanvas-flip .uk-offcanvas-reveal {
	right: 0;
	left: auto;
}
.uk-offcanvas-overlay {
	width: 100vw;
	touch-action: none;
}
.uk-offcanvas-overlay::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.1);
	opacity: 0;
	transition: opacity 0.15s linear;
}
.uk-offcanvas-overlay.uk-open::before {opacity: 1;}
.uk-slideshow-items {
	position: relative;
	z-index: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	-webkit-touch-callout: none;
}
.uk-slideshow-items > * {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	will-change: transform, opacity;
	touch-action: pan-y;
}
.uk-slideshow-items > :not(.uk-active) {
  display: none;
}


/* max-width: 1170px */
@media screen and (max-width: 1170px) {
	:not(.uk-offcanvas-flip) > .uk-offcanvas-content-animation {
		left: 350px;
	}
	.uk-offcanvas-flip > .uk-offcanvas-content-animation {
		left: -350px;
	}
	.nav-mobile {
		display: block;
	}
	.nav-mobile ul { grid-template-columns:  2fr 2fr 2fr 4fr; }

	.uk-offcanvas-bar {
		position: fixed;
		bottom: 0;
		left: 0;
		height: auto;
		z-index: 1001;
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
		max-width: 100%;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		-webkit-transition: -webkit-transform .3s ease-in-out;
		transition: transform .3s ease-in-out;
		-ms-scroll-chaining: none;
	}
	#user-logged-box .uk-offcanvas-bar {
		height: auto;
	}
}

/* 1050px */
@media screen and (max-width: 1070px) {
	/* Categories */
	#categories h3::before {
		display: none;
	}
	#categories a {
		font-size: .85em;
	}
}

/* max-width 768px */
@media screen and (max-width: 768px) {
	.footer-cart .price {
		font-size: .7em;
	}
	.nav-mobile ul { grid-template-columns:  1fr 1fr 1fr 2fr; }
}

/* max-height 640px */
@media screen and (max-height: 640px) {
	.uk-offcanvas-bar {
		height: 580px;
	}
}

