#main {
	grid-column-start: 1;
	grid-column-end: 2;
}


/**/
#product {
	display: grid;
	margin-bottom: 20px;
	grid-template-columns: 1fr 1.3fr;
	grid-template-rows: auto auto auto auto auto auto auto;
	grid-column-gap: 15px;
	padding: 20px;
	border: 1px solid #ddd;
	background-color: #fff;
}
#product picture {
	grid-area: 1/1/6/2;
}
#product picture img {
	display: block;
	width: 100%;
	height: auto;
}
/**/
#product .price {
	margin-top: 10px;
	margin-bottom: 10px;
	color: #105291;
	display: block;
	font-size: 1.250em;
}
/**/
#product h2 {
	margin-bottom: 10px;
	color: #71a505;
	font-size: 1em;
}
#product h2 a {
	color: #71a505;
}
#product h3 {
	margin-bottom: 20px;
	color: #105291;
	font-size: 1.563em;
}
#product h4 {
	margin-bottom: 10px;
	color: #ff6b00;
	font-size: 1.125em;
}
/* ADD */
#product form {
	display: flex;
	width: 260px;
	margin-bottom: 30px;
}
#product form select,
#product form button {
	height: 40px;
}
#product form select {
	width: 60px;
	margin-right: 8px;
	padding-right: 15px;
	text-align: center;
}
#product form button {
	color: #fff;
	padding: 0 30px;
	text-transform: uppercase;
	background-color: #105291;
}
/* Long Description */
#product p {
	margin-bottom: 30px;
	line-height: 140%;
	font-size: .9em;
	color: #6e6e6e;
}
#product p:last-child {
	margin: 0;
}

#product .features h4 {
	color: #ff6b00;
}
#product .features li {
	padding: 10px;
	color: #6e6e6e;
	font-size: .9em;
	list-style: none;
}
#product .features li:nth-child(odd) {
	background: #f1f1f1;
}

#product .long_desc {
	margin: 20px 0;
	grid-area: 6/1/auto/3;
}

/**/
@media screen and (max-width: 920px) {
	#main {
		grid-area: 2/1/2/4;
		margin: 0 10px;
	}

	#product picture img { 
		width: 100%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 768px) {
	#product h3 {
		font-size: 1.3em;
	}
	#product picture img { 
		width: 100%;
	}

	#product picture { grid-area: 2/1/3/3; }
	#product header { grid-area: 1/1/2/3; }
	#product .price { grid-area: 3/1/4/3; }
	#product form { grid-area: 4/1/5/3; }
	#product .features { grid-area:5/1/6/3; }
	#product form { width: 100%;  }
	#product form select {width: 80px;}

}
