*,html,body, h1,h2,h3,h4,h5,h6,p,strong,cite,
img,ul,ol,li,div,section,header,article, a,i,
abbr,acronym, address,big, cite, code,
form,input,textarea,select,button,table,
tbody,tfoot,thead,tr,td {
	margin: 0;
	padding: 0;
	line-height: 100%;
	text-decoration: none;
	font-style: normal;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*:not(span) {
	min-height: 0;
	min-width: 0;
}
html {
	height: 100%;
	overflow-y: scroll;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
article,aside,figcaption,
figure,footer,header,hgroup,
main,nav,section,summary {
	display: block;
}


/* Forms
************************************* */
::-webkit-input-placeholder { opacity: 1; }
::-moz-placeholder { opacity: 1; }
-ms-input-placeholder { opacity: 1;}
input:-moz-placeholder { opacity: 1; }

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	*vertical-align: middle;
}
button,
input {
	line-height: normal;
}
button,
html input[type="button"],
input[type="reset"] {
	border: 0;
    -webkit-appearance: button;
    cursor: pointer;
    *overflow: visible;
}
button[disabled],
html input[disabled] {
	cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
	*height: 13px;
	*width: 13px;
}
input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
button::-moz-focus-inner {
	margin: -1px;
	padding: 0;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea, select {
	width: 100%;
	margin: 0;
	display: block;
	background: #fff;
	padding:10px 12px;
	color: #444444;
}
input[type="number"] {
	-moz-appearance: textfield;
	appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}
label,
button {
cursor: pointer;
}
textarea {
	resize: none;
	overflow: auto;
}
input[type=checkbox] { 
	-ms-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}