<header>
	
	<h2 class="main-title">Minha Conta</h2>

</header>

<div id="tabs-account">

	<ul>
		<li><a href="<?php echo $this->baseUrl('/usuario/#meus-pedidos'); ?>">Pedidos</a></li>
		<li><a href="<?php echo $this->baseUrl('/usuario/#dados-pessoais'); ?>">Dados pessoais</a></li>
		<li><a href="<?php echo $this->baseUrl('/usuario/#meus-enderecos'); ?>">Endereços</a></li>
	</ul>
	<div class="tabs-panel">
		<div id="tabs-1">
		<!-- Vizualizar Pedido -->
			<header class="header-tools header-pedido">
				<h3>Pedido N° <?=str_pad($this->dadosPedido['id'], 10, '0', STR_PAD_LEFT)?></h3>

				<div>
					<span class="status <?=$this->dadosPedido['statusClasse'];?>"><?=$this->dadosPedido['status']['nome'];?></span> 
				</div>
			</header>
			<div class="ordered-dates">
				
				<? if (!empty($this->dadosPedido['horaentrega'])) { ?>
					<div><span>Data da Entrega: <strong><?php echo date('d/m/Y', strtotime($this->dadosPedido['dataentregaretirada']));?> (<?php echo $this->dadosPedido['horaentrega']; ?>)</strong></span></div>
				<? } ?>

				<? if (!empty($this->dadosPedido['horaretirada'])) { ?>
					<div><span>Data da Retirada: <strong><?php echo date('d/m/Y', strtotime($this->dadosPedido['dataentregaretirada']));?> (<?php echo $this->dadosPedido['horaretirada']; ?>)</strong></span></div>
				<? } ?>

				<div><span>Data do Pedido: <strong><?php echo date('d/m/Y', strtotime($this->dadosPedido['data']));?></strong></span></div>
				<div>
					<span>Forma de Pagamento: 
						<strong>
						<?=$this->dadosPedido['formaDePagamento']['nome'];?>
						</strong>
						<?
							if (!empty($this->dadosPedido['troco'])) { 
								echo "TROCO PARA: " . $this->dadosPedido['troco'] ; 
							}
						?>
					</span>
				</div>

			</div>

			<? if (!empty($this->dadosPedido['horaentrega'])) { ?>
				<div class="ordered-local">Local de Entrega: <strong><?=$this->dadosPedido['endereco'];?>, <?=$this->dadosPedido['numero'];?> <? if (!empty($this->dadosPedido['complemento'])) { echo $this->dadosPedido['complemento']; } ?> - <?=$this->dadosPedido['cep'];?> <? if (!empty($this->dadosPedido['bairro'])) { echo " - " . $this->dadosPedido['bairro']; } ?> - <?=$this->dadosPedido['cidade'];?></strong></div>
			<? } else { ?>
				<div class="ordered-local">Local de Retirada: <strong><?=$this->dadosPedido['mercado']['nome'];?> - <?=$this->dadosPedido['mercado']['rua'];?> <?=$this->dadosPedido['mercado']['numero'];?> - <?=$this->dadosPedido['mercado']['cep'];?></strong></div>
			<? } ?>

			<table id="table-ordered-n" class="table">
				<thead>
					<tr>
						<th>EAN / Código</th>
						<th>Produto</th>
						<th class="a-center">Qtd / Peso</th>
						<th class="a-right">Subtotal</th>
						<th class="a-right">Total</th>
					</tr>
				</thead>

				<tbody>
					<? foreach($this->dadosPedido['itens'] as $umItem) { 

						$str = "";

						$str .= "Tipo: {$umItem['produto']['tipo']}";

						if (!empty($umItem['produto']['pesovolume'])) {
							$str .= " / Peso/Volume: {$umItem['produto']['pesovolume']}";
						}
							

						if (!empty($umItem['produto']['marca']['valor'])) {
							$str .= " / Marca: {$umItem['produto']['marca']['valor']}";
						}
						if (!empty($umItem['produto']['embalagem']['valor'])) {
							$str .= " / Embalagem: {$umItem['produto']['embalagem']['valor']}";
						}
						if (!empty($umItem['produto']['pais']['valor'])) {
							$str .= " / País: {$umItem['produto']['pais']['valor']}";
						}
						if (!empty($umItem['produto']['unidademedida']['valor'])) {
							$str .= " / Unidade de Medida: {$umItem['produto']['unidademedida']['valor']}";
						}
						if (!empty($umItem['produto']['sabor']['valor'])) {
							$str .= " / Sabor: {$umItem['produto']['sabor']['valor']}";
						}
						if (!empty($umItem['produto']['tamanho']['valor'])) {
							$str .= " / Tamanho: {$umItem['produto']['tamanho']['valor']}";
						}

						?>
						<tr>
							<td><?=$umItem['produto']['ean'];?></td>
							<td><span class="tooltips tips" title="<?=$str;?>"><?=$umItem['produto']['nome'];?></span></td>
							<td class="a-center">
								<? 
									if ($umItem['produto']['tipo'] == 0 ) { 
										
										if ($umItem['quantidade'] < 1000) {
											echo $umItem['quantidade'] . " grama(s)"; 
										} else {
											echo $umItem['quantidade'] / 1000 . " kg"; 
										}
										
									} else {
										echo $umItem['quantidade'];
									} 
								?>
							</td>
							<td class="a-right">
								<? 
									if ($umItem['produto']['tipo'] == 0 ) { 
										echo "R$ ".number_format($umItem['preco'] * 1000, 2, ',', '.');
										
									} else {
										echo "R$ ".number_format($umItem['preco'], 2, ',', '.');
									} 
								?>

									
							</td>
							<td class="a-right">R$ <?=number_format($umItem['preco'] * $umItem['quantidade'], 2, ',', '.');?></td>
						</tr>
					<? } ?>
				</tbody>


			</table>
		</div>
	</div>
</div>
<script type="text/javascript">
$(function() {
	$(".tips").tooltip({
		position: { my: "left+15 center", at: "right top" }
	});
});
</script>