<h2 class="main-title">Alterar senha</h2>
<div class="cms">
	<p>
		Digite uma nova senha e confirme ao lado
	</p>
	<form class="new-password-form" method="post" action="<?php echo $this->baseUrl('/esqueci-senha/'. $this->id); ?>" id="new-password">
		<div id="form-grid">
			<div class="group">
				<span class="form-field">
					<label for="nova_senha">Nova Senha</label>
					<input type="password" id="nova_senha" name="nova_senha" placeholder="Digite uma nova senha" autocomplete="off" required>	
				</span>
				<span class="form-field">
					<label for="confirmar_nova_senha">Confirmar Nova Senha</label>
					<input type="password" id="confirmar_nova_senha" name="confirmar_nova_senha" placeholder="Confirme a nova senha" autocomplete="off" required>
				</span>
				<div class="actions">
					<button type="submit" value="botao_recuperar_senha" name="botao_recuperar_senha">Salvar</button>	
				</div>
			</div>
		</div>
	</form>
</div>