<div class="row">
	<div class="col-md-12">
		<form method="post" action="" role="form" enctype="multipart/form-data">
			<div data-collapsed="0" class="panel">
				<div class="panel-heading">
					<div class="panel-title"><i class="fa fa-sitemap"></i>Cadastro de Categoria</div>
				</div>
				<div class="panel-footer panel-header">
					<button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Salvar</button>
				</div>
				<div class="panel-body">
					<?php if (!empty($this->cadastro)) { ?>
	                    <div class="col-md-12">
	                        <div class="alert <?php echo (!empty($this->cadastro['sucesso']) ? (empty($this->cadastro['erros']) ? 'alert-success' : 'alert-warning') : 'alert-danger'); ?> alert-block fade in">
	                            <button data-dismiss="alert" class="close close-sm" type="button">
	                                <i class="fa fa-times"></i>
	                            </button>
	                            <?php if (!empty($this->cadastro['sucesso'])) { ?>
	                                <?php if (empty($this->cadastro['erros'])) { ?>
	                                    <h4>
	                                        <i class="icon-ok-sign"></i>
	                                        Registro salvo com sucesso!
	                                    </h4>
	                                    <p>
	                                        <?php if (!empty($this->id)) { ?>
	                                            <a href="<?php echo $this->baseUrl('/categoria/cadastro/'); ?>" class="btn btn-primary"><i class="fa fa-star"></i> Nova Categoria</a>
	                                        <?php } ?>
	                                        <a href="<?php echo $this->baseUrl('/categoria/'); ?>" class="btn btn-primary"><i class="fa fa-list"></i> Ver Listagem</a>
	                                    </p>
	                                <?php } else { ?>
	                                    <h4>
	                                        <i class="icon-ok-sign"></i>
	                                        Registro salvo mas com erros!
	                                    </h4>
	                                    <ul>
	                                        <?php foreach ($this->cadastro['erros'] as $umErro) { ?>
	                                            <li><?php echo $umErro; ?></li>
	                                        <?php } ?>
	                                    </ul>
	                                <?php } ?>
	                            <?php } else { ?>
	                                <?php if (!empty($this->cadastro['erros'])) { ?>
	                                    <h4>
	                                        <i class="icon-ok-sign"></i>
	                                        Atenção! Corrija os erros abaixo
	                                    </h4>
	                                    <ul>
	                                        <?php foreach ($this->cadastro['erros'] as $umErro) { ?>
	                                            <li><?php echo $umErro; ?></li>
	                                        <?php } ?>
	                                    </ul>
	                                <?php } ?>
	                            <?php } ?>
	                        </div>
	                    </div>
	                <?php } ?>
					<div class="row">
						<div class="col-md-4 form-group">
							<label for="nome">Nome</label>
							<input type="text" class="form-control" id="nome" name="nome" value="<?php echo (!empty($this->dadosUsuario['nome']) ? $this->dadosUsuario['nome'] : (!empty($_POST['nome']) ? $_POST['nome'] : false)); ?>">
						</div>
						<div class="col-md-4 form-group">
							<label for="categoria2">Categoria Mãe</label>
							<select class="form-control" id="categoria2" name="categoria2">
								<option value="0">Nenhuma</option>
								 <?php if (!empty( $this->arrayListCategoria)) { ?>
	                                <?php foreach ( $this->arrayListCategoria as $umNivel) { ?>
	                                    <option <?php echo ((!empty($this->dadosUsuario['categoria2']) && $this->dadosUsuario['categoria2'] == $umNivel['id']) || (!empty($_POST['categoria2']) && $_POST['categoria2'] == $umNivel['id']) ? 'selected="selected"' : false); ?> value="<?php echo $umNivel['id'] ?>"><?php echo $umNivel['nome'] ?></option>
	                                <?php } ?>
	                            <?php } ?>
							</select>
						</div>
						<div class="col-md-4 form-group">
							<label for="categoria">Sub Categoria Mãe</label>
							<select class="form-control" id="categoria" name="categoria">
								<option value="0">Nenhuma</option>
								<?php if (!empty( $this->arrayListCategoria2)) { ?>
	                                <?php foreach ( $this->arrayListCategoria2 as $umNivel) { ?>
	                                    <option <?php echo ((!empty($this->dadosUsuario['categoria']) && $this->dadosUsuario['categoria'] == $umNivel['id']) || (!empty($_POST['categoria']) && $_POST['categoria'] == $umNivel['id']) ? 'selected="selected"' : false); ?> value="<?php echo $umNivel['id'] ?>"><?php echo $umNivel['nome'] ?></option>
	                                <?php } ?>
	                            <?php } ?>
							</select>
						</div>
						<div id="ln-icone" class="col-md-6 form-group" <? if ($this->showIcone == false) { echo 'style="display:none"'; } ?> >
							<label for="icone">Ícone</label>
							<select class="form-control" name="icone" id="icone">
								<option value="">Nenhum</option>
								<option value="cat-bazar-pet" <?php echo ((!empty($this->dadosUsuario['icone']) && $this->dadosUsuario['icone'] == 'cat-bazar-pet') || (!empty($_POST['icone']) && $_POST['icone'] == 'cat-bazar-pet') ? 'selected="selected"' : false); ?>>Bazar & Pet</option>
								<option value="cat-bebidas-leites" <?php echo ((!empty($this->dadosUsuario['icone']) && $this->dadosUsuario['icone'] == 'cat-bebidas-leites') || (!empty($_POST['icone']) && $_POST['icone'] == 'cat-bebidas-leites') ? 'selected="selected"' : false); ?>>Bebidas & Leites</option>
								<option value="cat-biscoitos-snacks" <?php echo ((!empty($this->dadosUsuario['icone']) && $this->dadosUsuario['icone'] == 'cat-biscoitos-snacks') || (!empty($_POST['icone']) && $_POST['icone'] == 'cat-biscoitos-snacks') ? 'selected="selected"' : false); ?>>Biscoitos & Snacks</option>
								<option value="cat-carnes-peixes" <?php echo ((!empty($this->dadosUsuario['icone']) && $this->dadosUsuario['icone'] == 'cat-carnes-peixes') || (!empty($_POST['icone']) && $_POST['icone'] == 'cat-carnes-peixes') ? 'selected="selected"' : false); ?>>Carnes & Peixes</option>
								<option value="cat-cereais-massas" <?php echo ((!empty($this->dadosUsuario['icone']) && $this->dadosUsuario['icone'] == 'cat-cereais-massas') || (!empty($_POST['icone']) && $_POST['icone'] == 'cat-cereais-massas') ? 'selected="selected"' : false); ?>>Cereais & Massas</option>
								<option value="cat-conservas-temperos" <?php echo ((!empty($this->dadosUsuario['icone']) && $this->dadosUsuario['icone'] == 'cat-conservas-temperos') || (!empty($_POST['icone']) && $_POST['icone'] == 'cat-conservas-temperos') ? 'selected="selected"' : false); ?>>Conservas & Temperos</option>
								<option value="cat-limpeza" <?php echo ((!empty($this->dadosUsuario['icone']) && $this->dadosUsuario['icone'] == 'cat-limpeza') || (!empty($_POST['icone']) && $_POST['icone'] == 'cat-limpeza') ? 'selected="selected"' : false); ?>>Limpeza</option>
								<option value="cat-frios-lacticinios-congelados" <?php echo ((!empty($this->dadosUsuario['icone']) && $this->dadosUsuario['icone'] == 'cat-frios-lacticinios-congelados') || (!empty($_POST['icone']) && $_POST['icone'] == 'cat-frios-lacticinios-congelados') ? 'selected="selected"' : false); ?>>Frios Lacticínios & Congelados</option>
								<option value="cat-higiene-beleza" <?php echo ((!empty($this->dadosUsuario['icone']) && $this->dadosUsuario['icone'] == 'cat-higiene-beleza') || (!empty($_POST['icone']) && $_POST['icone'] == 'cat-higiene-beleza') ? 'selected="selected"' : false); ?>>Higiene & Beleza</option>
								<option value="cat-hortifruti" <?php echo ((!empty($this->dadosUsuario['icone']) && $this->dadosUsuario['icone'] == 'cat-hortifruti') || (!empty($_POST['icone']) && $_POST['icone'] == 'cat-hortifruti') ? 'selected="selected"' : false); ?>>Hortifruti</option>
								<option value="cat-limpeza" <?php echo ((!empty($this->dadosUsuario['icone']) && $this->dadosUsuario['icone'] == 'cat-limpeza') || (!empty($_POST['icone']) && $_POST['icone'] == 'cat-limpeza') ? 'selected="selected"' : false); ?>>Limpeza</option>
								<option value="cat-matinais-doces" <?php echo ((!empty($this->dadosUsuario['icone']) && $this->dadosUsuario['icone'] == 'cat-matinais-doces') || (!empty($_POST['icone']) && $_POST['icone'] == 'cat-matinais-doces') ? 'selected="selected"' : false); ?>>Matinais & Doces</option>
								<option value="cat-ofertas-novidades" <?php echo ((!empty($this->dadosUsuario['icone']) && $this->dadosUsuario['icone'] == 'cat-ofertas-novidades') || (!empty($_POST['icone']) && $_POST['icone'] == 'cat-ofertas-novidades') ? 'selected="selected"' : false); ?>>Ofertas & Novidades</option>
								<option value="cat-padaria" <?php echo ((!empty($this->dadosUsuario['icone']) && $this->dadosUsuario['icone'] == 'cat-padaria') || (!empty($_POST['icone']) && $_POST['icone'] == 'cat-padaria') ? 'selected="selected"' : false); ?>>Padaria</option>
							</select>
						</div>
						<div id="ln-arquivo" class="col-md-6 form-group"  <? if ($this->showIcone == true) { echo 'style="display:none"'; } ?>>
							<label for="imagem">Imagem</label>
							<input type="file" class="form-control" name="imagem" id="imagem">
							<? if (!empty($this->id) && !empty($this->dadosUsuario['foto'])) { ?>
								<div class="row uploadEdit">
	                                <div class="col-md-12">
	                                    <a id="single_1" href="<?php echo $this->baseUrl('/uploads/categorias/' . strtolower($this->dadosUsuario['foto'])); ?>" target="_blank"  data-placement="top" data-toggle="tooltip" class="tooltips fancybox">
	                                        <img width="100" class="img-responsive img-thumbnail" src="<?php echo $this->baseUrl('/uploads/categorias/' . strtolower($this->dadosUsuario['foto'])); ?>" />
	                                    </a>
	                                </div>
	                            </div>
	                        <? } ?>
						</div>
						<div class="col-md-12 form-group">
							<label for="descricao">Descrição</label>
							<textarea class="form-control" id="descricao" name="descricao" rows="10"><?php echo (!empty($this->dadosUsuario['descricao']) ? $this->dadosUsuario['descricao'] : (!empty($_POST['descricao']) ? $_POST['descricao'] : false)); ?></textarea>
						</div>
					</div>
					
					<div class="row">
						<div class="panel-heading">
							<div class="panel-title"><i class="fa fa-search"></i>SEO</div>
						</div>
						<br />
						<div class="col-md-12 form-group">
							<label for="meta">Meta Title</label>
							<input type="text" class="form-control" id="meta" name="meta" value="<?php echo (!empty($this->dadosUsuario['meta']) ? $this->dadosUsuario['meta'] : (!empty($_POST['meta']) ? $_POST['meta'] : false)); ?>">
						</div>
						<div class="col-md-12 form-group">
							<label for="description">Meta Description</label>
							<textarea class="form-control" name="description" id="description" rows="10"><?php echo (!empty($this->dadosUsuario['description']) ? $this->dadosUsuario['description'] : (!empty($_POST['description']) ? $_POST['description'] : false)); ?></textarea>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Salvar</button>

					<?php if (!empty($this->id) && $this->isPossivelExcluir) { ?>
						<button type="submit" name="excluir" value="1" class="btn btn-danger"><i class="fa fa-trash-o"></i> Excluir</button>
					<? } ?>
				</div>
			</div>
		</form>
	</div>
</div>
<script>
    $(document).ready(function() {
        
        $('#categoria2').change(function () {

        	if ($(this).val() > 0) {
        		$('#ln-icone').hide();
        		$('#ln-arquivo').show();
        	} else {
        		$('#ln-icone').show();
        		$('#ln-arquivo').hide();
        	}

        	 $.ajax({
	            url: '<?php echo $this->baseUrl('/categoria/busca-categorias'); ?>',
	            data: {valor: $(this).val()},
	            type: 'POST',
	            beforeSend: function () {
	                $('#categoria').html("<option selected disabled>Carregando...</option>");
	            }, success: function (r) {
	                $('#categoria').html(r);
	            }
	        });
        });

    });
</script>