<div class="row">
	<div class="col-sm-12">
		<section class="panel">
			<div class="panel-heading">
				<div class="panel-title"><i class="fa fa-certificate"></i>Listagem de Categorias</div>
			</div>

			<header class="panel-heading tab-bg-dark-navy-blue ">
				<ul class="nav nav-tabs">
					<li class="active">
						<a data-toggle="tab" href="#listagem">LISTAGEM</a>
					</li>

					<li class="">
						<a data-toggle="tab" href="#arvore">ÁRVORE DE CATEGORIAS</a>
					</li>
				</ul>
			</header>

			<div class="tab-content">
				<div id="listagem" class="tab-pane active">
					<div class="panel-body">
						<a href="<?php echo $this->baseUrl('categoria/cadastro'); ?>" class="btn btn-primary"><i class="fa fa-star"></i> Adicionar Categoria</a>
					<div class="adv-table">
					<table  class="display table table-bordered table-striped categorias" name="cartegorias" id="dynamic-table">
					<thead>
					<tr>
						<th>NOME</th>
						<th>CATEGORIA NIVEL 1</th>
						<th>CATEGORIA NIVEL 2</th>
						<th class="hidden-phone sorting_disabled text-center">EDITAR</th>
					</tr>
					</thead>
					<tbody>
					</tbody>
					<tfoot>
						<tr>
							<th>NOME</th>
							<th>CATEGORIA NIVEL 1</th>
							<th>CATEGORIA NIVEL 2</th>
							<th class="hidden-phone sorting_disabled text-center">EDITAR</th>
						</tr>
					</tfoot>
					</table>
					</div>
					</div>
				</div>

				<div id="arvore" class="tab-pane">
					<div class="panel-body">
						<div class="adv-table">
							<div id="jstree"></div>
						</div>
					</div>
				</div>

			</div>
		</section>
	</div>
</div>
<script>


	$(document).ready(function () {


		$('#jstree').jstree({
			"plugins" : ["json_data", "contextmenu", "dnd", "state", "types", "wholerow"],
			"core" : {
				'check_callback' : true,
				'data' : {
					"dataType": "JSON",
					'type': 'POST',
					'url': function (node) {
	                    return "<?php echo $this->baseUrl('/categoria/categorias-ajax'); ?>";
	                },
	                'data': function(arguments){
	                    return arguments;
	                },
	                'success': function (new_data) {
	                    return new_data;
	                }
				}
			},
			"contextmenu": {
	            "items": function ($node) {
	                return {
	                    "create": {
	                        "separator_before": false,
	                        "separator_after": false,
	                        "label": "Criar",
	                        "action": function (obj) {
	                            $.ajax({
					                type: "POST",
					                url: '<?php echo $this->baseUrl('/categoria/categorias-ajax'); ?>',
					                data: {
						                "operation" : "create_node", 
						                "parent" : $node['id'],
						                "title" : 'NOVA CATEGORIA'
					                }, 
					                dataType: "json",
					                success : function (r) {
					                	t.refresh();
					                }
						        });
	                        }
	                    },
	                    "rename": {
	                        "separator_before": false,
	                        "separator_after": false,
	                        "label": "Renomear",
	                        "action": function (obj) {
	                            t.edit($node);
	                        }
	                    },
	                    "delete": {
	                        "separator_before": false,
	                        "separator_after": false,
	                        "label": "Remover",
	                        "action": function (obj) {
	                            $.ajax({
					                type: "POST",
					                url: '<?php echo $this->baseUrl('/categoria/categorias-ajax'); ?>',
					                data: {
						                "operation" : "remove_node", 
						                "id_change" : $node['id']
					                }, 
					                dataType: "json",
					                success : function (r) {
					                	t.refresh();
					                }
						        });

	                        }
	                    },
	                    "editar": {
	                        "separator_before": false,
	                        "separator_after": false,
	                        "label": "Editar",
	                        "action": function (obj) {
	                        	document.location.href = '<?php echo $this->baseUrl('/categoria/cadastro/'); ?>' + $node['id'];
	                        }
	                    }
	                };
	            }
	        }

		});

		var t = $('#jstree').jstree(true);

		$("#jstree").bind("rename_node.jstree", function (e, data) {

	       $.ajax({
                type: "POST",
                url: '<?php echo $this->baseUrl('/categoria/categorias-ajax'); ?>',
                data: {
	                "operation" : "rename_node", 
	                "id_change" : data.node.id,
	                "title" : data.text
                }, 
                dataType: "json",
                success : function (r) {
                	t.refresh();
                }
	        });
		}); 

	});

</script>