@font-face {
  font-family: 'MuseoSansCyrl-500';
  src: url('fonts/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),  url('fonts/MuseoSansCyrl-500.otf')  format('opentype'),
	   url('fonts/MuseoSansCyrl-500.woff') format('woff'), url('fonts/MuseoSansCyrl-500.ttf')  format('truetype'), url('fonts/MuseoSansCyrl-500.svg#MuseoSansCyrl-500') format('svg');
  font-weight: normal;
  font-style: normal;

}

/* html/body */
html, body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
body {
	font-family: 'MuseoSansCyrl-500';
	background-color: #fff;
}
h1,h2,h3,h4,h5,h6 {
	color: #135ba0;
	font-weight: normal;
}
a {
	color: #135ba0;
}
a, button {
	transition: background-color 0.25s ease-out, color 0.25s ease-out, opacity 0.25s ease-out;
}
input {
	border: 1px solid #dfdfdf;
}
figcaption {
	display: none;
}
body.uk-offcanvas-page {
	margin: 0 !important;
}
select {
	position: relative;
	padding-left: 8px;
	border: 1px solid #d3d3d3;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	color: #666;
	background: #fff url(img/select-arrow-down.png) no-repeat right center;
}

/* Layout Grid */
.wrp {
	display: grid;
	grid-template-columns: 1fr 260px;
	grid-gap: 15px;
	max-width: 1280px;
	margin: 0 auto;
}

@media screen and (min-color-index: 0) and ( -webkit-min-device-pixel-ratio: 0 ) { @media{}}


.main-title {
	margin: 10px 0 13px;
	color: #115597;
	font-size: 1.563em;
	font-weight: normal !important;
	text-transform: uppercase;
}

/* Header
******************************/
#header {
	position: relative;
	z-index: 3;
	height: 160px;
	background-color: #004280;
	background-image: url(img/header1.jpg);
	background-size:  cover;
	background-position: center;
}
#header .inner {
	position: relative;
	height: 160px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	max-width: 1280px;
	margin: 0 auto;
}
#header .brand {
	margin-right: auto;
	margin-left:20px;
}

#header .brand h1.logo-mercado {
	display: block;
    padding: 2px;
    background: #ffffff;
    border-radius: 5px;
}

.how-works {
	color: #fff;
	margin: 0 50px;
}
.mob-cart-open { display: none; }

/* Header > Logo */
.navbar-brand {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	margin-left: 20px;
	background: #115597;
}
.navbar-brand:after,
.navbar-brand:before,
.navbar-brand span {
	content: "";
	display: block;
	width: 60%;
	height: 5px;
	margin: 2px 0;
	background-color: #fff;
	border-radius: 5px;
}


/* Header > Logo */
#logo {
	width: 300px;
	height: 100px;
	float: left;
	margin: 0 20px;
}
#logo a {
	display: block;
	width: 300px;
	height: 100px;
	overflow: hidden;
	text-indent: -999em;
	background-image: url(img/logo.png);
	background-size: 100% 100%;
}
/* Header > Search */
.header-search {
	position: absolute;
	top: 120px;
	width: 100%;
	display: block;
}
#header .header-search .inner {
	display: block;
	max-width: 600px;
	margin: 0 auto;
	height: auto;
}

#search-form input[type="search"],
.header-search.fake-input input[type="search"] {
	position: relative;
	top: 0;
	left: 0;
	z-index: 3;
	width: 100%;
	height: 80px;
	padding: 0 20px 0 60px;
	box-sizing: border-box;
	border-radius: 25px;
	border: 0;
	display: block;
	box-shadow: 0 2px 5px #00000050;
	transition: all 0.25s ease-out;
}

.header-search.fake-input .inner:after {
	position: absolute;
	top: 50%;
	left: 20px;
	z-index: 3;
	content: "";
	width: 24px;
	height: 24px;
	margin-top: -12px;
	background-image: url(img/sprite-commons.png);
	background-position: -264px -456px;
}

.header-search.fake-input input::-webkit-input-placeholder { color: #757573; font-size: 1.4em;}
.header-search.fake-input input::-moz-placeholder { color: #757573; font-size: 1.4em;}
.header-search.fake-input -ms-input-placeholder { color: #757573; font-size: 1.4em;}
.header-search.fake-input input:-moz-placeholder { color: #757573; font-size: 1.4em;}


/**/
#search-form input::-webkit-input-placeholder { color: #105291; }
#search-form input::-moz-placeholder { color: #105291; }
#search-form -ms-input-placeholder { color: #105291;}
#search-form input:-moz-placeholder { color: #105291; }
#search-form button {
	position: absolute;
	top: 4px;
	right: 10px;
	z-index: 2;
	display: block;
	width: 30px;
	height: 30px;
	padding: 0;
	overflow: hidden;
	text-indent: -999em;
	background-color: transparent;
}
.search-autocomplete {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	padding: 100px 10px 20px;
	border-radius: 20px;
	background-color: #fff;
	box-shadow: 0 2px 5px #00000050;
}

.search-autocomplete .suggested {
	max-height:395px;
	overflow-y:auto;
}

.search-autocomplete .results {
	font-size:0.85em;
	margin-bottom: 20px;
}

.search-autocomplete a {
	display: block;
	color: #aaa;
	line-height: 200%;
}
.suggested h4 {
	margin: 0 0 10px;
	padding: 6px 10px;
	color: #fff;
	border-radius: 3px;
	font-size: 0.9em;
	background: #105291;
}
.search-suggestions li {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	font-size: .7em;
	overflow: hidden;
	border-bottom: 1px solid #ddd;
}
.search-suggestions li:last-child { border: 0; }

.search-suggestions div {
	padding: 3px;
}
.search-suggestions div:nth-child(1) { width: 50px; }
.search-suggestions div:nth-child(2) { width: 120px; }
.search-suggestions div:nth-child(3) { width: 50px; }
.search-suggestions div:nth-child(4) { width: 100px; }
.search-suggestions div img {
	display: block;
	width: 100%;
}
.search-suggestions .infos span {
	display: block;
}
.search-suggestions .infos .name { color: #71a505; }
.search-suggestions .infos .desc { color: #666; }
.search-suggestions .infos .price {
	color: #105291;
	white-space: nowrap;
}

.search-suggestions div select {
	position: relative;
	width: 45px;
	height: 40px;
	padding-left: 8px;
	border: 1px solid #d3d3d3;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	color: #666;
	background: #fff url(img/select-arrow-down.png) no-repeat 29px center;
}
.search-suggestions div button {
	width: 100%;
	height: 40px;
	color: #fff;
	border-radius: 5px;
	background: #105291;
	text-transform: uppercase;
	transition: all 0.25s ease-out;
}
.search-suggestions div button:hover {
	color: #105291;
	background-color: #b3ed3b;
}
/* Header > Account */
.account a {
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
}
.account .desc {
	padding: 10px 30px;
	border-radius: 25px;
	line-height: 100%;
	font-size: 1.2em;
	color: #fff;
	white-space: nowrap;
	border: 2px solid #fff;
}
.account .user {
	width: auto;
	line-height: 100%;
	font-size: 1em;
	color: #fff;
	padding-right:20px;
}
/* Login Button */
.login-button {
	position: absolute;
	top: 90px;
	right: 0;
	z-index: 3;
}

.login-button .inner {
	width: 190px;
	float: right;
}
.login-button a {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 80px;
	border-radius: 100px;
	background-color: #91d40a;
	box-shadow: 0 2px 4px #00000050;
}
.login-button a::before {
	content: "";
	width: 32px;
	height: 32px;
	display: block;
	background-image: url(img/sprite-commons.png);
	background-size: 192px auto;
	background-position: -32px 0;
}

.login-button a.header-cart-button::after,
.login-button a.header-list-button::after {
	color: #fff;
	display: block;
	margin: 3px 0 0;
	font-size: .85em;
}
.login-button a.header-list-button::after {content: "Lista";}
.login-button a.header-cart-button::after {content: "Carrinho";}

/* Button List */
.login-button a.header-list-button {
	background: #ff6b00;
}
.login-button a.header-list-button::before {
	background-position: -32px -96px;
}

/**/
.uk-offcanvas-bar-show #search-inpt {
	box-shadow: none!important;
	width: 100%!important;
}
/* Header > Account > logged */
#account-box .uk-offcanvas-bar.logged {
	height: auto;
}
#account-box[aria-hidden="false"] { display: block; }
#account-box > div {
	top: 0;
	right: 0;
	left: unset;
	height: auto;
	bottom: 0;
}
#account-box header {
	display: table;
	width: 100%;
	overflow: hidden;
	padding: 20px 80px;
	border-bottom: 1px solid #0f4d89;
	background-color: #105291;
}
#account-box .user-name {
	display: table-cell;
	line-height: 130%;
	vertical-align: middle;
	color: #fff;
	padding-left: 10px;
}
#account-box .ico::before {
	content: "";
	display: block;
	width: 59px;
	height: 58px;
	background-size: 348px auto;
	background-position: -58px -116px;
	background-image: url(img/sprite-commons.png);
}
#account-box .user-name a {
	margin: 5px 0 0;
	display: block;
	color: #8fade0;
}
#account-box .user-name a:hover {
	color: #fff;
}

/* Header > Account > logged > Items*/
#account-box li {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid #2b6caa;
	border-bottom: 1px solid #115290
}
#account-box li a {
	flex: 1;
	color: #fff;
	display: flex;
	font-size: 1.224em;
	padding: 15px 20px 15px 0;
}
#account-box li a:hover {
	background: #2170bb;
}
#account-box a .desc {
	color: #8fade0;
	display: block;
	font-size: 0.720em;
}
#account-box li i {
	display: block;
	width: 32px;
	height: 32px;
	float: left;
	margin: 0 20px 0;
}
#account-box li i:before {
	content: "";
	display: block;
	width: 32px;
	height: 32px;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-image: url(img/sprite-account.png);
}
i.ico-user32:before { background-position: 0 0; }
i.ico-ordered32:before {  background-position: 0 -32px; }
i.ico-address32:before { background-position: 0 -64px; }
i.ico-logout32:before { background-position: 0 -96px; }

.unlogged header {
	position: relative;
	text-align: center;
}
.unlogged header h4 {
	font-size: 1.438em;
	color: #fff;
}
.unlogged section {
	padding: 13px;
	border-top: 1px solid #2b6caa;
}

.unlogged.forgot-password section {
	border-top: none;
}

.unlogged h5, .unlogged.forgot-password h5 {
	margin: 0 0;
	font-size: 1.2em;
	color: #fff;
	text-align: center;
	text-align: left;
	margin: 2px 0 20px;
}
.unlogged .divide {
	margin-bottom: 10px;
}
.account-form input,
.account-form button {
	display: block;
}
.account-form label {
	display: inline-block;
	margin: 0 0 3px;
	color: #fff;
}
.account-form input {
	display: block;
	width: 100%;
	margin: 0 0 10px;
	padding: 10px;
	border: 0;
}
.account-form .actions {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}
.account-form a {
	color: #fff;
	font-size: .8em;
	justify-content: flex-start;
}
.account-form button {
	display: inline-block;
	color: #fff;
	min-width: 150px; 
	margin: 0;
	padding: 10px 15px;
	border: 0;
	background-color: #2583dd;
}
.account-form button:hover {
	background: #76b6f3;
}
.account-form a.esqueci-senha {
	background-color: transparent;
	cursor:pointer;
	font-size:1em;
	padding:0;
}
/* Header > main-categories */
.main-categories {
	
	z-index: 2;
	margin-bottom: 0;
	padding-top: 0;
	scroll-behavior: smooth;
	background-color: #fff;
}

@media screen and (min-width: 900px) {
	.main-categories {
		margin-bottom: 30px;
		padding-top: 70px;
		position: sticky !important;
		top: -70px;
	}
}

.nav-header {
	width: 1280px;
	height: 95px; 
	margin: 0 auto;
}
.main-categories a {
	font-size: 1em;
}

.hcategories {
	background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 100%);
}

/* Menu */
#menu {
    position: relative;
    z-index: 0;
}
.nav-header {
	max-width: 1280px;
	margin: 0 auto;
}
.nav-header ul > li {
	font-size: 12px;
	position: relative;
	list-style: none;
}
#menu > li > a {
	border-right: 1px solid #e5e5e5;
	display: block;
	width: 8.333%;
	height: 95px;
	float: left;
	text-align: center;
	padding: 0 10px;
}
#menu li div {
	position: absolute;
	left: 0;
	top: 95px;
	z-index: 9999;
	width: 100%;
	display: none;
	border-radius: 0 0 5px 5px;
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
}

/**/
#menu > li:hover > a {
	background-color: #ebebeb;
}
#menu > li:last-child > a {	border: 0; }
#menu > li:first-child > a { border-left: 0; }

#menu > li > a::before {
	content: "";
	width: 32px ;
	height: 32px;
	display: block;
	margin: 17px auto 5px;
	background-image: url(img/sprite-icons.png);
}

#menu > li > a.cat-bazar-pet::before { background-position: -64px 0; }
#menu > li > a.cat-bebidas-leites::before { background-position: -64px -32px; }
#menu > li > a.cat-biscoitos-snacks::before { background-position: -64px -64px; }
#menu > li > a.cat-carnes-peixes::before { background-position: -64px -96px; }
#menu > li > a.cat-cereais-massas::before { background-position: -64px -128px; }
#menu > li > a.cat-conservas-temperos::before { background-position: -64px -160px; }
#menu > li > a.cat-frios-lacticinios-congelados::before { background-position: -64px -192px; }
#menu > li > a.cat-higiene-beleza::before { background-position: -64px -224px; }
#menu > li > a.cat-hortifruti::before { background-position: -64px -256px; }
#menu > li > a.cat-limpeza::before { background-position: -64px -288px; }
#menu > li > a.cat-matinais-doces::before { background-position: -64px -320px; }
#menu > li > a.cat-ofertas-novidades::before { background-position: -64px -352px; }
#menu > li > a.cat-padaria::before { background-position: -64px -384px; }

/* Sub Menu */
#menu li div {
	position: absolute;
	left: 0;
	top: 95px;
	z-index: 99;
	width: 100%;
	display: none;
	border-radius: 0 0 5px 5px;
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(0,0,0,.2)
}
#menu li.sub:hover div {
	display: block;
}
#menu li div ul {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	z-index: 9999;
	
}
#menu li div li {
	display: block;
	width: 14.28571428571429%;
/*	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;*/
        border: 1px solid #ccc;
}
#menu li div li:nth-child(n+8) { border-bottom: none; }
#menu li div li:nth-child(7n) { border-right: none; }

#menu div li {
	/*display: block;*/
	width: 100%;
        /*width: 55px ;*/
	/*height: 55px;*/
	min-height: 172px;
	padding: 0 10px;
	text-align: center;
	border: 4px solid transparent;
        /*margin: 50px 50px 50px 50px;*/
        /*background-image: url(img/sprite-icons.png);*/
}


#menu div li:hover { 
    border-color: #ff6b00; 
    border: 4px solid #ff6b00;
}

#menu div li a::before {
    content: "";
    width: 100px ;
    height: 92px;
    display: block;
    margin: 17px auto 5px;
    border: 4px solid transparent;
    /*width: 100%;*/
/*    display: block;
    padding: 0 10px;
    text-align: center;
    height: 100px;
    margin: 20%;*/
    /*border: 4px solid transparent;*/
    background-image: url(img/sprite-categoria.png);
}

#menu div li a.COMPLEMENTO-ALIMENTAR-E-LEITE-EM-PO::before { background-position: 0px    -5px ; }
#menu div li a.BISCOITOS-SALGADOS::before         { background-position: -243px -5px ; }
#menu div li a.PAES-DE-FORMA::before              { background-position: -481px -5px ; }
#menu div li a.GELATINAS::before { background-position: -359px -5px ; }
#menu div li a.ARTIGOS-PARA-FESTAS::before        { background-position: -600px -5px ; }
#menu div li a.CEREAIS-MATINAIS-E-MINGAU::before  { background-position: -718px -5px ; }
#menu div li a.INGREDIENTES-MISTURAS-PARA-BOLOS-E-FERMENTOS::before { background-position: -843px -5px ; }
#menu div li a.CHAS-E-MATES::before  { background-position: -10px -104px ; }
#menu div li a.REFRIGERANTES::before { background-position: -123px -104px ; }
#menu div li a.MANTEIGA-E-MARGARINA::before { background-position: -239px -104px ; }
#menu div li a.CERAS-LUSTRA-MOVEIS-E-REMOVEDORES::before { background-position: -365px -104px ; }
#menu div li a.LAMPADAS-E-PILHAS::before { background-position: -480px -104px ; }
#menu div li a.SABONETES-E-ESPONJAS::before { background-position: -604px -104px ; }
#menu div li a.BEBIDA-DE-SOJA::before { background-position: -718px -104px ; }
#menu div li a.PATES::before { background-position: -844px -104px ; }
#menu div li a.DOCES-E-COBERTURAS::before { background-position: 0 -204px ; }
#menu div li a.SUCOS::before { background-position: -123px -204px ; }
#menu div li a.LINGUICA-PARA-CHURRASCO::before { background-position: -236px -204px ; }
#menu div li a.ABSORVENTES-E-FRALDAS-GERIATRICAS::before { background-position: -359px -204px ; }
#menu div li a.FEIJAO::before { background-position: -482px -204px ; }
#menu div li a.FRUTAS-SECAS::before { background-position: -600px -204px ; }
#menu div li a.PRODUTOS-PARA-O-CORPO-E-ROSTO::before { background-position: -725px -204px ; }
#menu div li a.CARVAO-FOSFOROS-VELAS-E-ISQUEIROS::before { background-position: -830px -204px ; }
#menu div li a.AUTOMOTIVOS::before { background-position: 0 -304px ; }
#menu div li a.BARRA-DE-CEREAL-E-OUTROS::before { background-position: -121px -304px ; }
#menu div li a.PETS::before { background-position: -365px -304px ; }
#menu div li a.FARINHAS::before { background-position: -477px -304px ; }
#menu div li a.UTENSILIOS::before { background-position: -605px -304px ; }
#menu div li a.BOLOS-E-TORTAS::before { background-position: -728px -304px ; }
#menu div li a.SALSICHAS::before { background-position: -844px -304px ; }
#menu div li a.CHOCOLATES-E-BALAS::before { background-position: 0 -404px ; }
#menu div li a.UTENSILIOS-DOMESTICOS::before { background-position: -124px -404px    ; }
#menu div li a.HIGIENIZADORES-SANITARIOS::before { background-position: -237px -404px ; }
#menu div li a.MASSAS-INSTANTANEAS::before { background-position: -361px -404px ; }
#menu div li a.MASSAS-SECAS::before { background-position: -482px -404px ; }
#menu div li a.BARBA-E-DEPILACAO::before { background-position: -600px -404px ; }
#menu div li a.PRODUTOS-EM-ALUMINIO-E-FILME-PVC::before { background-position: -721px -404px ; }
#menu div li a.DESTILADOS::before { background-position: -843px -404px ; }
#menu div li a.BISCOITOS-DOCES::before { background-position: -122px -504px ; }
#menu div li a.REFRESCOS::before { background-position: -244px -504px ; }
#menu div li a.PRODUTOS-PARA-LOUCA-E-FOGAO::before { background-position: -358px -504px ; }
#menu div li a.DESCARTAVEIS::before { background-position: -480px -504px ; }
#menu div li a.VINHOS-E-ESPUMANTES::before { background-position: -604px -504px ; }
#menu div li a.IOGURTES-E-LEITES-FERMENTADOS::before { background-position: -843px -504px ; }
#menu div li a.SORVETES-E-SOBREMESAS::before { background-position: 0 -604px ; }
#menu div li a.LIMPADORES::before { background-position: -126px -604px; }
#menu div li a.GRAOS::before { background-position: -244px -604px ; }
#menu div li a.PRODUTOS-PARA-ROUPAS::before { background-position: -362px -604px ; }
#menu div li a.CAFES-E-CHAS::before { background-position: -480px -604px ; }
#menu div li a.HAMBURGUERES::before { background-position: -600px -604px ; }
#menu div li a.CHIPS-SNACKS-E-PETISCOS::before { background-position: -726px -604px ; }
#menu div li a.FRIOS-E-LACTICINIOS::before { background-position: -843px -604px ; }

#menu div li a.AGUA-MINERAL-E-AGUA-DE-COCO::before { background-position: 0 -704px ; }
#menu div li a.PIZZAS::before { background-position: -122px -704px ; }
#menu div li a.CONDIMENTOS-E-TEMPEROS::before { background-position: -244px -704px ; }
#menu div li a.ENLATADOS-E-CONSERVAS::before { background-position: -358px -704px ; }
#menu div li a.LEITES-E-BEBIDA-LACTEA-UHT::before { background-position: -480px -704px ; }
#menu div li a.DESINFETANTES::before { background-position: -600px -704px ; }
#menu div li a.QUEIJOS-DIVERSOS::before { background-position: -722px -704px ; }
#menu div li a.AVES::before { background-position: -843px -704px ; }

#menu div li a.ACHOCOLATADOS::before { background-position: 0 -804px ; }
#menu div li a.DERIVADOS-DE-TOMATE::before { background-position: -122px -804px ; }
#menu div li a.NATURAIS::before { background-position: -358px -804px ; }
#menu div li a.SOBREMESAS-EM-PO::before { background-position: -480px -804px ; }
#menu div li a.CALDOS-E-MOLHOS::before { background-position: -600px -804px ; }
#menu div li a.CAMPOTAS-E-GELEIAS::before { background-position: -722px -804px ; }
#menu div li a.QUEIJOS-CREMOSOS::before { background-position: -843px -804px ; }
/*####*/
#menu div li a.HIGIENE-BUCAL::before { background-position: 0 -904px ; }
#menu div li a.DESODORANTES-COLONIAS-E-TALCO-POS-BANHO::before { background-position: -122px -904px ; }
#menu div li a.LEGUMES::before { background-position: -244px -904px ; }
#menu div li a.LICORES-VERMOUTH::before { background-position: -363px -904px ; }
#menu div li a.ACUCARES-E-ADOCANTES::before { background-position: -480px -904px ; }
#menu div li a.PAES::before { background-position: -600px -904px ; }
#menu div li a.CERVEJAS::before { background-position: -725px -904px ; }
#menu div li a.MASSAS-FRESCAS::before { background-position: -843px -904px ; }

#menu div li a.SOPAS::before { background-position: 0 -1004px ; }
/*x*/
#menu div li a.PEIXE::before { background-position: -244px -1004px ; }
#menu div li a.TORRADAS::before { background-position: -358px -1004px ; }
#menu div li a.ALGODAO-COTONETES-LENCOS-DE-PAPEL::before { background-position: -480px -1004px ; }
#menu div li a.PRODUTOS-PARA-CALCADOS::before { background-position: -600px -1004px ; }
#menu div li a.AROMATIZANTES-E-INSETICIDAS::before { background-position: -722px -1004px ; }
#menu div li a.SARDINHA-E-ATUM::before { background-position: -843px -1004px ; }

#menu div li a.ISOTONICOS-E-ENERGETICOS::before { background-position: 0 -1104px ; }
#menu div li a.FRUTAS-E-LEGUMES-CONGELADOS::before { background-position: -722px -1104px ; }
#menu div li a.PRATOS-PRONTOS-EMPANADOS-SALGADINHOS::before { background-position: -122px -1104px ; }
/*x*/
#menu div li a.INFANTIL::before { background-position: -362px -1104px ; }
#menu div li a.PRODUTOS-PARA-CABELO::before { background-position: -480px -1104px ; }
#menu div li a.OVOS::before { background-position: -600px -1104px ; }
#menu div li a.VERDURAS::before { background-position: -722px -1104px ; }
#menu div li a.PAPEIS-HIGIENICOS::before { background-position: -843px -1104px ; }

#menu div li a.FRUTAS::before { background-position: 0 -1204px ; }
#menu div li a.CARNES-SALGADAS--DEFUMADAS::before { background-position: -126px -1204px ; }
#menu div li a.ARROZ::before { background-position: -244px -1204px ; }
#menu div li a.AZEITES-E-OLEOS::before { background-position: -358px -1204px ; }
#menu div li a.ALCOOL-AGUA-SANITARIA-E-CLOROS::before { background-position: -480px -1204px ; }
#menu div li a.CARNE-SUINA::before { background-position: -615px -1204px ; }
/*x
x*/

#menu div li a.CARNE-BOVINA::before { background-position: -35px -1315px ; }





/*#menu div li a.ARTIGOS-PARA-FESTAS::before { background-position: 0 0 ; }
#menu div li a.AUTOMOTIVOS::before { background-position: 0 0 ; }
#menu div li a.CARVAO-FOSFOROS-VELAS-E-ISQUEIROS::before { background-position: 0 0 ; }
#menu div li a.DESCARTAVEIS::before { background-position: 0 0 ; }
#menu div li a.LAMPADAS-E-PILHAS::before { background-position: 0 0 ; }
#menu div li a.PETS::before { background-position: 0 0 ; }
#menu div li a.PRODUTOS-EM-ALUMINIO-E-FILME-PVC::before { background-position: 0 0 ; }
#menu div li a.UTENSILIOS-DOMESTICOS::before { background-position: 0 0 ; }
#menu div li a.AGUA-MINERAL-E-AGUA-DE-COCO::before { background-position: 0 0 ; }
#menu div li a.BEBIDA-DE-SOJA::before { background-position: 0 0 ; }
#menu div li a.CERVEJAS::before { background-position: 0 0 ; }
#menu div li a.CHAS-E-MATES::before { background-position: 0 0 ; }
#menu div li a.DESTILADOS::before { background-position: 0 0 ; }
#menu div li a.ISOTONICOS-E-ENERGETICOS::before { background-position: 0 0 ; }
#menu div li a.LEITES-E-BEBIDA-LACTEA-UHT::before { background-position: 0px 0px ; }
#menu div li a.LICORES-VERMOUTH::before { background-position: 0 0 ; }
#menu div li a.REFRESCOS::before { background-position: 0 0 ; }
#menu div li a.REFRIGERANTES::before { background-position: 0 0 ; }
#menu div li a.SUCOS::before { background-position: 0 0 ; }
#menu div li a.VINHOS-E-ESPUMANTES::before { background-position: 0 0 ; }
#menu div li a.BISCOITOS-DOCES::before { background-position: 0 0 ; }
#menu div li a.BISCOITOS-SALGADOS::before { background-position: -243px -3px ; }
#menu div li a.CHIPS-SNACKS-E-PETISCOS::before { background-position: -244px 0 ; }
#menu div li a.AVES::before { background-position: -244px 0 ; }
#menu div li a.CARNE-BOVINA::before { background-position: -244px 0 ; }
#menu div li a.CARNE-SUINA::before { background-position: -244px 0 ; }
#menu div li a.CARNES-SALGADAS--DEFUMADAS::before { background-position: -244px 0 ; }
#menu div li a.LINGUICA-PARA-CHURRASCO::before { background-position: -244px 0 ; }
#menu div li a.PEIXE::before { background-position: -244px 0 ; }
#menu div li a.ARROZ::before { background-position: -244px 0 ; }
#menu div li a.FARINHAS::before { background-position: -244px 0 ; }
#menu div li a.FEIJAO::before { background-position: -244px 0 ; }
#menu div li a.GRAOS::before { background-position: -244px 0 ; }
#menu div li a.MASSAS-FRESCAS::before { background-position: -244px 0 ; }
#menu div li a.MASSAS-INSTANTANEAS::before { background-position: -244px 0 ; }
#menu div li a.MASSAS-SECAS::before { background-position: -244px 0 ; }
#menu div li a.AZEITES-E-OLEOS::before { background-position: -244px 0 ; }
#menu div li a.CALDOS-E-MOLHOS::before { background-position: -244px 0 ; }
#menu div li a.CONDIMENTOS-E-TEMPEROS::before { background-position: -244px 0 ; }
#menu div li a.DERIVADOS-DE-TOMATE::before { background-position: -244px 0 ; }
#menu div li a.ENLATADOS-E-CONSERVAS::before { background-position: -244px 0 ; }
#menu div li a.SARDINHA-E-ATUM::before { background-position: -244px 0 ; }
#menu div li a.SOPAS::before { background-position: -244px 0 ; }
#menu div li a.FRIOS-E-LACTICINIOS::before { background-position: -244px 0 ; }
#menu div li a.FRUTAS-E-LEGUMES-CONGELADOS::before { background-position: -244px 0 ; }
#menu div li a.HAMBURGUERES::before { background-position: -244px 0 ; }
#menu div li a.IOGURTES-E-LEITES-FERMENTADOS::before { background-position: -244px 0 ; }
#menu div li a.MANTEIGA-E-MARGARINA::before { background-position: -244px 0 ; }
#menu div li a.PATES::before { background-position: -244px 0 ; }
#menu div li a.PIZZAS::before { background-position: -244px 0 ; }
#menu div li a.PRATOS-PRONTOS-EMPANADOS-SALGADINHOS::before { background-position: -244px 0 ; }
#menu div li a.QUEIJOS-CREMOSOS::before { background-position: -244px 0 ; }
#menu div li a.QUEIJOS-DIVERSOS::before { background-position: -244px 0 ; }
#menu div li a.SALSICHAS::before { background-position: -244px 0 ; }
#menu div li a.SORVETES-E-SOBREMESAS::before { background-position: -244px 0 ; }
#menu div li a.ABSORVENTES-E-FRALDAS-GERIATRICAS::before { background-position: -244px 0 ; }
#menu div li a.ALGODAO-COTONETES-LENCOS-DE-PAPEL::before { background-position: -244px 0 ; }
#menu div li a.DESODORANTES-COLONIAS-E-TALCO-POS-BANHO::before { background-position: -244px 0 ; }
#menu div li a.HIGIENE-BUCAL::before { background-position: -244px 0 ; }
#menu div li a.INFANTIL::before { background-position: -244px 0 ; }
#menu div li a.PAPEIS-HIGIENICOS::before { background-position: -244px 0 ; }
#menu div li a.PRODUTOS-PARA-CABELO::before { background-position: -244px 0 ; }
#menu div li a.PRODUTOS-PARA-O-CORPO-E-ROSTO::before { background-position: -244px 0 ; }
#menu div li a.SABONETES-E-ESPONJAS::before { background-position: -244px 0 ; }
#menu div li a.FRUTAS::before { background-position: -244px 0 ; }
#menu div li a.FRUTAS-SECAS::before { background-position: -244px 0 ; }
#menu div li a.LEGUMES::before { background-position: -244px 0 ; }
#menu div li a.OVOS::before { background-position: -244px 0 ; }
#menu div li a.VERDURAS::before { background-position: -244px 0 ; }
#menu div li a.ALCOOL-AGUA-SANITARIA-E-CLOROS::before { background-position: -244px 0 ; }
#menu div li a.AROMATIZANTES-E-INSETICIDAS::before { background-position: -244px 0 ; }
#menu div li a.CERAS-LUSTRA-MOVEIS-E-REMOVEDORES::before { background-position: -244px 0 ; }
#menu div li a.DESINFETANTES::before { background-position: -244px 0 ; }
#menu div li a.HIGIENIZADORES-SANITARIOS::before { background-position: -244px 0 ; }
#menu div li a.LIMPADORES::before { background-position: -244px 0 ; }
#menu div li a.PRODUTOS-PARA-CALCADOS::before { background-position: -244px 0 ; }
#menu div li a.PRODUTOS-PARA-LOUCA-E-FOGAO::before { background-position: -244px 0 ; }
#menu div li a.PRODUTOS-PARA-ROUPAS::before { background-position: -244px 0 ; }
#menu div li a.UTENSILIOS::before { background-position: -244px 0 ; }
#menu div li a.ACHOCOLATADOS::before { background-position: -244px 0 ; }
#menu div li a.ACUCARES-E-ADOCANTES::before { background-position: -244px 0 ; }
#menu div li a.BARRA-DE-CEREAL-E-OUTROS::before { background-position: -244px 0 ; }
#menu div li a.CAFES-E-CHAS::before { background-position: -244px 0 ; }
#menu div li a.CAMPOTAS-E-GELEIAS::before { background-position: -244px 0 ; }
#menu div li a.CEREAIS-MATINAIS-E-MINGAU::before { background-position: -244px 0 ; }
#menu div li a.CHOCOLATES-E-BALAS::before { background-position: -244px 0 ; }
#menu div li a.COMPLEMENTO-ALIMENTAR-E-LEITE-EM-PO::before { background-position: -244px 0 ; }
#menu div li a.DOCES-E-COBERTURAS::before { background-position: -244px 0 ; }
#menu div li a.GELATINAS::before { background-position: -244px 0 ; }
#menu div li a.NATURAIS::before { background-position: -244px 0 ; }
#menu div li a.SOBREMESAS-EM-PO::before { background-position: -244px 0 ; }
#menu div li a.BOLOS-E-TORTAS::before { background-position: -244px 0 ; }
#menu div li a.INGREDIENTES-MISTURAS-PARA-BOLOS-E-FERMENTOS::before { background-position: -244px 0 ; }
#menu div li a.PAES::before { background-position: -244px 0 ; }
#menu div li a.PAES-DE-FORMA::before { background-position: -481px 0 ; }
#menu div li a.TORRADAS::before { background-position: -244px 0 ; }*/

/*#menu div li a.LEITE::before { background-position: 0 0 ; }
#menu div li a.PAES::before { background-position: -124px 0 ; }
#menu div li a.CERAS-LUSTRA-MOVEIS-E-REMOVEDORES::before { background-position: -244px 0 ; }
#menu div li a.FEIJAO::before { background-position: -244px 0 ; }*/

#menu li li:nth-child(8) a:hover { border-radius: 0 0 0 5px; }
#menu li li:nth-child(14) a:hover { border-radius: 0 0 5px 0; }

#menu div li img {
	display: block;
	margin: 10px auto 10px;
}

.menu-overlay {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0,0,0,0.40);
}

/* Main
******************************/
#main {

	grid-row-start: 1;
	grid-column-start: 1;
	grid-row-end: 2;
	grid-column-end: 2;

}
.delivery-cep {
	border-radius:16px;
	display: block;
	margin: 0 0 25px;
	padding: 10px 0;
	border: 1px solid #ddd;
	color: #115597;
	text-align: center;
	font-size: 1.1em;
	background-color: #fff;
}
.delivery-cep a {
	text-decoration: underline;
}
/* Breadcrumb */
.breadcrumbs {
	margin: 0 0 15px;
	list-style: none;
	overflow: hidden;
}
.breadcrumbs.top {
	margin: 0 0 25px;
}
.breadcrumbs ul {
	display: flex;
	list-style: none;
	align-items: center;
	justify-content: flex-start;
	white-space: nowrap;
	flex-wrap: wrap;
}
.breadcrumbs li {
	color: #6e6e6e;
	font-size: .85em;
	line-height: 160%;
	text-transform: uppercase;
}
.breadcrumbs li ul {
	display: inline-block;
}
.breadcrumbs li a {
	color: #6e6e6e;
}
.breadcrumbs li a:hover {
	color: #135ba0;
}
.breadcrumbs li::after {
	content: "";
	display: inline-block;
	margin: 0 15px;
	width: 5.5px;
	height: 10px;
	background-image: url(img/breadcrumbs-arrow.png);
}
.breadcrumbs li:last-child::after {
	display: none;
}

/* Main > disclaimer */
#main .disclaimer {
	padding: 10px 0;
}
#main .disclaimer .item {
	margin: 0 0 40px;
}
#main .disclaimer h3 {
	margin: 0 0 10px;
	font-size: 1.250em;
	color: #135ba0;
	text-transform: uppercase;
}
#main .disclaimer p {
	margin: 0 0 20px;
	color: #6e6e6e;
	line-height: 150%;
	font-weight: normal;
}

/* Categories
******************************/
#categories {
	position: sticky;
	top: 210px;
	grid-area: 1/1/2/2;
	margin-bottom: 30px;
}
#categories h3 {
	padding: 15px;
	color: #fff;
	background: #115597;
}

.index-index #categories h3 {
	display:none;
}

#categories h3::before {
	content: "";
	display: block;
	width: 32px;
	height: 32px;
	float: left;
	margin: -6px 18px 0 0;
	background-size: 96px auto;
	background-position: -32px 0;
	background-image: url(img/sprite-commons.png);
}
ul.categories {
	list-style: none;
}
ul.categories > li > a {
	width: 100%;
	padding: 16px 10px 14px;
	display: block;
	color: #fff;
	font-size: .7em;
	background: #135ba0;
	border-top: 1px solid #2b6caa;
	border-bottom: 1px solid #115290;
}
ul.categories > li > a:hover {
	background: #2170bb;
}
/**/
.uk-offcanvas-bar.uk-offcanvas-bar-show {
	overflow-y: auto;
}

ul.categories > li > a::before {
	content: "";
	display: block;
	float: left;
	width: 32px ;
	height: 32px;
	margin: -12px 10px 0 5px;
	background-image: url(img/sprite-icons.png);
}

ul.categories a.cat-bazar-pet::before 	{ background-position: -96px 0; }
ul.categories a.cat-bebidas-leites::before 	{ background-position: -96px -32px; }
ul.categories a.cat-biscoitos-snacks::before 		{ background-position: -96px -64px; }
ul.categories a.cat-carnes-peixes::before 		{ background-position: -96px -96px; }
ul.categories a.cat-cereais-massas::before 	{ background-position: -96px -128px; }
ul.categories a.cat-conservas-temperos::before 	{ background-position: -96px -160px; }
ul.categories a.cat-frios-lacticinios-congelados::before 	{ background-position: -96px -192px; }
ul.categories a.cat-higiene-beleza::before 	{ background-position: -96px -224px; }
ul.categories a.cat-hortifruti::before 		{ background-position: -96px -256px; }
ul.categories a.cat-limpeza::before 	{ background-position: -96px -288px; }
ul.categories a.cat-matinais-doces::before 	{ background-position: -96px -320px; }
ul.categories a.cat-ofertas-novidades::before 	{ background-position: -96px -352px; }
ul.categories a.cat-padaria::before 	{ background-position: -96px -384px; }
/* Sub Menu Mobile */
ul.categories > li ul {
	background-color: #2170bb;
}
ul.categories > li ul a {
	color: #fff;
	display: block;
	font-size: 0.7em;
	padding: 15px 10px 13px 20px;
	border-top: 1px solid #317CC4;
	border-bottom: 1px solid #1E6AB3;
}
ul.categories > li ul a:hover {
	background-color: #2170bb;
}
ul.categories .ui-accordion-header-active,
ul.categories .ui-accordion-header-active:hover {
	background-color: #2170bb;
	border-bottom-color: #1E6AB3;
}
ul.categories > li > .ui-state-active::after {
	transform: rotate(90deg);
}

/* Home banner
******************************/
#home-banner {margin: 0 0 50px;}

/* Product Grid 
******************************/
#product-grid {
	display: grid;
	grid-template-columns:  1fr 1fr 1fr 1fr;
	grid-gap: 15px;
	margin-bottom: 20px;
}
#product-grid .item {
	position: relative;
	height: 330px;
	border-radius: 15px;
	background: #fff;
	box-shadow: 0 0 5px #00000030;
	transition: all 0.25s ease-out;
}
#product-grid .item:hover {
	box-shadow: 0 2px 11px rgba(0,0,0,.5);
}
#product-grid img {
	width: 175px;
	height: 175px;
	display: block;
	margin: 10px auto;
	transition: all 0.2s ease-out;
}
#product-grid h2 {
	margin: 0 0 6px;
	color: #71a505;
	font-size: 0.9em;
	font-style: italic;
}
/* Informacoes */
#product-grid .infos {
	position: relative;
	display: block;
	width: calc(100% - 20px);
	margin: 20px auto;
	text-align: center;
}
/* Precos/Valores */
#product-grid .prices {
	color: #105291;
	font-size: 1.2em;
	font-weight: 600;
	display: block;
	margin: 0 0 10px;
	white-space: nowrap;
	transition: all 0.2s ease-out;
}
/* Descricao/Nome */
#product-grid .desc {
	height: 40px;
	margin: 0 0 7px;
	color: #6e6e6e;
    font-size: 0.85em;
	display: block;
	line-height: 110%;
	text-transform: capitalize;
}

/* Product Grid > Add  */
span.add {
	position: absolute;
	bottom: 10px;
	width: 100%;
	display: block;
	overflow: hidden;
	height: 42px;
}
/**/
.produto-visualizar span.add {
	position: unset;
	bottom: 10px;
	width: 100%;
	display: block;
	overflow: hidden;
	height: 42px;
}
.produto-visualizar .add-product.up {
	display: block;
	width:  100%;
	max-width:250px;
	height: 40px;
	margin: 0 0 10px;
	color: #fff;
	border-radius: 50px;
	text-transform: uppercase;
	font: normal .85em/40px 'MuseoSansCyrl-500';
}

/**/
#product-grid .add > .add-product {
	display: block;
	width:  calc(100% - 20px);
	min-width: calc(100% - 20px);
	height: 40px;
	margin: 0 auto 10px;
	color: #fff;
	border-radius: 50px;
	text-transform: uppercase;
	font: normal .85em/40px 'MuseoSansCyrl-500';
	text-align: center;
	background-color: #91d40a;
	cursor: pointer;
}

#product-grid .add > .add-product:hover {background: #7bb309;}

#product-grid .add > .add-product span {display: none;}
#product-grid .add .cart-added:hover {background-color: #347dc5;}

/* Add More */
.add-some {
	display: flex;
	justify-content: center;
	align-items: center;
	width:  calc(100% - 20px);
	margin: 0 auto;
}

.produto-visualizar .add-some {
	width:  100%;
	max-width:250px;
	margin:0;
}
.add-some input[type="text"],
.add-some input[type="number"] {
	flex: 1.2;
	width: 100px;
	height: 40px;
	min-width: 50px;
	margin: 0 10px 0;
	border-radius: 20px;
	text-align: center;
	background-color: #f0f0f0;
	border: none;
	font-weight: bold;
}
.add-some div {
	flex: 1;
	height: 40px;
	text-align: center;
	border: 1px solid red;
	border-radius: 18px;
	text-align: center;
	cursor: pointer;
	line-height: 40px;
	font-weight: 800;
}
.item .dec.button {
	color: #ff6d6d;
	border: 1px solid #ff6d6d;
	background-color: #fff;
}
.inc.button {
	color: #fff;
	border: none;
	background-color: #91d40a;
}

/* Product Grid > More  */
.more {
	clear: both;
	margin: 0 0 30px;
	text-align: center;
}
.more a {
	border-radius:25px;
	display: inline-block;
	padding: 13px 16px 10px;
	color: #fff;
	background: #105291;
	cursor:pointer;
}
.more a::before {
	content: "";
	display: block;
	width: 24px;
	height: 24px;
	float: left;
	margin: -3px 10px 0 0;
	background-image: url(img/sprite-commons.png);
	background-position: 0 -256px;
}
.more a:hover {
	background-color: #2170bb;
}
/* Side Cart
******************************/
#side-cart {
	grid-row-start: 1;
	grid-column-start: 2;
	grid-row-end: 2;
	grid-column-end: 3;
}
#side-cart .sticky {
	top: 95px
}
/* Side Cart > List */
#side-cart h3 {
	padding: 15px;
	color: #fff;
	background: #115597;
	text-align: center;
	border-radius:16px 16px 0 0;

}
#side-cart h3::before {
	content: "";
	display: block;
	width: 32px;
	height: 32px;
	float: left;
	margin: -6px -22px 0 0;
	background-size: 192px auto;
	background-position: -32px 0;
	background-image: url(img/sprite-commons.png);
}
.cart-list {
	border-left: none;
	border-right: 1px solid #ddd;
	background-color: #fff;
}
.cart-list li.cart-item {
	display: grid;
	grid-template-columns:  1fr 4fr;
	border-bottom: 1px solid #ddd;
	font-size: .8em;
	height: 64px;
	cursor: default;
}
.cart-list li:hover {
	background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 100%);
}
.cart-list li.cart-item .infos {
	position: relative;
	padding: 0 5px;
}
.cart-list .control {
	position: absolute;
	bottom: 0;
	right: 0;
	opacity: 0;
	width: 70px;
	transition: all 0.25s ease-out;
	background-color: rgba(255,255,255,.8);
}
.cart-list li:hover .control {opacity: 1;}
.cart-list li span {display: block;}
.cart-list .desc {
	font-size:12px;
	margin-top: 12px;
	color: #666;
}
.cart-list .price {
	color: #105291;
	margin: 3px 0;
}
.cart-list .unit {color: #999;}
.cart-list img {
	width: 90%;
	height: auto;
	display: block;
	margin: 15px 4px;
}
.cart-list button {
	display: block;
	width: 25px;
	height: 25px;
	overflow: hidden;
	transition: all 0.25s ease-out;
}
/*  */
#side-cart .add-product:hover,
#side-cart .less-product:hover {
	background-color: #a1ccf6;
}
#side-cart li .units {
	display: block;
	line-height: 25px;
	float: left;
	color: #777;
	border: 0;
	padding: 0;
	text-align: center;
}
#side-cart .add-product,
#side-cart .less-product,
#side-cart .units {
	width: 33.333%;
	height: 24px;
	text-align: center;
	line-height: 25px;
}
#side-cart .add-product,
#side-cart .less-product {
	color: #000;
	background-color: #ddd;
}
.cart-list li span .button {
	cursor: pointer;
}
.cart-list .del-product {
	margin: 8px auto;
	background-color: transparent;
	background-image: url(img/ico-trash25.png);
}
#side-cart .add-product {float: right;}
#side-cart .less-product {float: left;}
#side-cart .hidden, #open-cart .hidden, .hidden {display:none;}
.conclude-bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 20px 18px;
	color: #135ba0;
	font-size: 1.252em;
	text-transform: uppercase;
	background-color: #b3ed3b;
	border-radius:16px;
}
.conclude-bottom:after {
	content: "";
	display: block;
	width: 25px;
	height: 25px;
	float: right;
	margin: -5px 0 0;
	background-size: 150px auto;
	background-position: 0 -75px;
	background-image: url(img/sprite-commons.png);
}
.total {
	border-radius:0 0 16px 16px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: flex-end;
	align-items: center;
	padding: 10px 17px;
	color: #fff;
	font-size: .8em;
	line-height: 130%;
	overflow: hidden;
	background-color: #135ba0;
}
.total span {
	display: block;
	line-height: 140%;
}

/* List bar
******************************/
#list-box .uk-offcanvas-bar {overflow: hidden !important;}
#list-box header {
	display: block !important;
	height: 80px !important;
}
#list-box .uk-offcanvas-bar .mbsc-material.mbsc-form {
	position: absolute;
	width: 100%;
	height: calc(100% - 140px);
	overflow: hidden;
	overflow-y: auto;
}
.bt-aplicar {bottom: 0 !important;}

#list-box .bt-aplicar {
	position: fixed !important;
	bottom: 0;
	height: 60px;
}

/* Footer
******************************/
#footer {
	text-align: center;
	background-color: #efefef;
}
#footer .inner {
	max-width: 1820px;
	margin: 0 auto;
}

/* Footer > newsletter */
.newsletter span {
	display: flex;
	border: 1px solid #ddd;
}
.newsletter input,
.newsletter button {
	height: 47px;
}
.newsletter input {
	width: 90%;
	padding: 0 20px;
	border: 0;
}
.newsletter button {
	width: 10%;
	color: #fff;
	background: #135ba0;
}
.newsletter input::-webkit-input-placeholder { color: #666; }
.newsletter input::-moz-placeholder { color: #666; }
.newsletter -ms-input-placeholder { color: #666;}
.newsletter input:-moz-placeholder { color: #666; }

/* Footer > creditcard */
.creditcard {
	text-align: left;
	padding-left: 40px;
}
.creditcard a {
	width: 76px;
	height: 49px;
	overflow: hidden;
	display: inline-block;
	text-indent: -999em;
	background-image: url(img/sprite-card.png);
}

/* Footer > About */
#footer .about a {
	display: inline-block;
	margin: 0 20px;
}
/* Footer > Logo */
.scf-logo {
	padding: 50px 0;
}
.scf-logo span {
	display: block;
	width: 85px;
	height: 85px;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 100px;
	box-shadow: 0 2px 5px #00000080

}
/* Footer > Social/Credit */
#footer .block {
	display: flex;
	justify-content: space-between;
	max-width: 900px;
	margin: 0 auto;
	padding: 10px 0;
	border-bottom: 2px solid #d5d5d5;
}
#footer li {
	display: inline;
}
#footer .social a {
	display: block;
	width: 40px;
	height: 40px;
	margin-right: 30px;
	overflow: hidden;
	float: left;
	border-radius: 100px;
	background-image: url(img/social.png);
	text-indent: -999em;
	box-shadow: 0 1px 4px #00000080
}
#footer .social li:nth-child(2) a { background-position: -40px 0; }
#footer .social li:nth-child(3) a { background-position: -80px 0; }
#footer .social li:nth-child(4) a { background-position: -120px 0; }

/* Credit */
#footer .credit a {
	display: block;
	width: 50px;
	height: 32px;
	margin-right: 10px;
	overflow: hidden;
	float: left;
	border-radius: 3px;
	background-image: url(img/sprite-card.png);
	background-size: 300px auto;
	text-indent: -999em;
	box-shadow: 0 1px 4px #00000080
}
#footer .credit li:nth-child(2) a { background-position: -200px 0; }
#footer .credit li:nth-child(3) a { background-position: -250px 0; }
#footer .credit li:nth-child(4) a { background-position: -700px 0; }

/* Footer > copyright */
.copyright p {
	padding: 20px 0;
	color: #adadad;
	font-size: 1.2em;
	line-height: 130%;
}

/* Mobile Nav Footer */
#open-search .uk-offcanvas-bar {
	position: relative;
	top: 20px;
	bottom: unset;
	left: 0;
	width: 90%;
	max-width:600px;
	height: auto;
	margin: 0 auto 30px;
	box-sizing: border-box;
	border-radius: 28px;
	color: #000;
	overflow: unset;
	background-color: white;
}
.uk-autocomplete {
	position: relative;
	max-width: 100%;
}
#open-search .search-autocomplete {
	position: relative;
	top: 0;
	padding: 10px 20px 20px;
	box-shadow: none;
}
#open-search .note {
	position: absolute;
	bottom: -38px;
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 1.375em;
}

/* Commons */
.sticky {
	position: sticky;
	position: -webkit-sticky;
}
.box-close {
	position: absolute;
	top: 4px;	
	right: 4px;
	width: 38px;
	height: 38px;
	margin: 10px;
	overflow: hidden;
	text-indent: -99px;
	background-size: 116px auto;
	background-position: -39px -78px;
	background-image: url(img/sprite-commons.png);
	background-color: transparent;
}

#open-categorias .box-close {
	top:12px;
}

#open-search .box-close {
	position: absolute;
	top: -28px;
	right: -25px;
	width: 32px;
	height: 32px;
	overflow: hidden;
	background-size: 112px auto;
	background-position: -40px -70px;
	background-color: #105291;
	border-radius: 50px;
	z-index: 9;
}

/**/
.hidden-indent {
	text-indent: -999em;
	overflow: hidden;
}
/* Divide */
.divide {
	position: relative;
	display: block;
	clear: both;
	display: block;
	text-align: center;
	color: #fff;
}
.divide span {
	position: relative;
	z-index: 2;
	padding: 0 20px;
	display: inline-block;
	background-color: #135ba0;
}
.divide:after {
	position: absolute;
	top: 50%;
	width: 100%;
	height: 1px;
	content: "";
	display: block;
	background: #fff;
}

/* CEP */
#info-cep .uk-offcanvas-bar {
	position: relative;
	top: 20px;
	bottom: unset;
	left: 0;
	width: 400px;
	height: auto;
	margin: 0 auto 30px;
	padding: 30px!important;
	box-sizing: border-box;
	color: #000;
	overflow: unset;
	background-color: white;
}
#info-cep h4 {
	margin-bottom: 10px;
	font-size: 1.3em;
}
#info-cep form {
	display: flex;
}
#info-cep p {
	color: #6e6e6e;
	line-height: 130%;
	margin-top:5px;
}
#info-cep form input,
#info-cep form button {
	height: 60px;
	margin: 15px 0;
	font-size: 1.250em;
}
#info-cep form input {
	padding: 0 20px;
	width: 240px;
}
#info-cep form button {
	padding: 0 20px;
	color: #fff;
	background-color: #135ba0;
}
#info-cep form input::-webkit-input-placeholder { color: #666; }
#info-cep form input::-moz-placeholder { color: #666; }
#info-cep form -ms-input-placeholder { color: #666;}
#info-cep form input:-moz-placeholder { color: #666; }

#info-cep .box-close {
	background-position: -54px -60px;
	background-size: 90px auto;
}

/* CEP Modal Confirmation */
button.fancybox-close-small {
	width: 24px;
	height: 24px;
	margin: 10px;
	padding: 0;
	background-image: url(img/sprite-commons.png);
	background-size: 74px auto;
	background-position: -198px 60px;
	background-color: transparent;
}
button.fancybox-close-small:after {
	position: unset;
	width: 24px;
	height: 24px;
	content: "";
	border-radius: 0;
	background-image: url(img/sprite-commons.png);
	background-size: 74px auto;
	background-position: -198px 49px;
	background-color: transparent;
}

#modal-confirmation,
#modal-validation {
	max-width: 400px;
}
#modal-confirmation h3,
#modal-validation h3 {
	margin: 0 0 15px;
	font-size: 1.517em;
	color: #105291;
}
#modal-confirmation .content,
#modal-validation .content {
	margin: 0 0 40px;
}
#modal-confirmation .content p,
#modal-validation .content p {
	color: #6e6e6e;
	line-height: 140%;
	font-size: 1.1em;
}
#modal-confirmation footer,
#modal-validation footer {
	display: flex;
	justify-content: space-between;
}
#modal-confirmation footer button,
#modal-validation footer button {
	display: block;
	padding: 10px 30px;
	font-size: 1.250em;
	text-transform: uppercase;
	color: #fff;
	background-color: #135ba0;
}
#modal-confirmation footer button.cancel,
#modal-validation  footer button.cancel {
	background-color: #f44336;
}

.carrinho-vazio {
	min-height: 100px;
	line-height: 100px;
	text-align: center;
	color: #ff6b00;
	width:100%;
}

.voce-buscou {
	padding: 10px;
	border: 1px solid #ddd;
	color: #6e6e6e;
	font-size: 1.1em;
	background-color: #fff;
}

.voce-buscou span {
	color: #ff6b00;
}

.escolha-endereco {
	margin-bottom:5px;
	padding-right:25px;
}

.seleciona-endereco {
	background-color: #135ba0;
	color: #fff;
	padding: 10px 20px;
	width: 100%;
}

.sem-produtos, .sem-produtos .owl-stage, .sem-produtos .owl-item, .sem-produtos .nenhum-produto {width:100%!important;}

.nenhum-produto {
	background: #ff5c5c;
	color: #ffffff;
	padding: 10px;
}

.msg {
	padding: 5px;
	margin-top: 0;
	margin-bottom: 15px;
}

.erro {
	background: #ff4545;
	color: #ffffff;
}

.sucesso {
	background: #70aa04;
	color: #ffffff;
	margin-top: 2px;
	width: 100%!important;
}

.quem-somos-index .wrp #main,
.politica-de-privacidade-index .wrp #main,
.duvidas-frequentes-index .wrp #main,
.pagina-nao-encontrada-index .wrp #main,
.esqueci-senha-index .wrp #main {grid-area: 1/1/3/4;}

.quem-somos-index .slick-slider,
.politica-de-privacidade-index .slick-slider,
.duvidas-frequentes-index .slick-slider,
.pagina-nao-encontrada-index .slick-slider,
.esqueci-senha-index .slick-slider,
.produto-visualizar .slick-slider {display: none;}

.wrp #main .cms {background:#ffffff;border-radius: 2px;border: 1px solid #d3d3d3;margin:0 0 20px 0;padding:20px;}
.wrp #main .cms ol {margin:0 0 20px 18px;}
.wrp #main .cms ol.romanos {list-style-type:lower-roman;}
.wrp #main .cms ol.decimal {list-style-type:none;}
.wrp #main .cms ol li {color: #6e6e6e;margin-bottom:5px;}
/*.wrp #main .cms p strong {font-weight: ;}*/
.wrp #main .cms h3 {font-size: 1.25em;margin-bottom:10px;text-transform: uppercase;}
.wrp #main .cms h4 {font-size: 1.05em;margin-bottom:5px;text-transform: uppercase;}
.wrp #main .cms p {color: #6e6e6e;margin-bottom: 15px;line-height: 110%;text-align:justify;}
.wrp #main .cms p.img-left img {float:left;margin:0 10px 10px 0;max-width:100%;width:300px;}
.wrp #main .cms p img {width:100%;}

.alert {width:100%;}
.alert.alert-info ul li {
	background: #ea4031!important;
	padding: 15px;
	color: #ffffff;
}

input.valid, select.valid{
	background-image: url(img/sprite-form.png);
	background-repeat: no-repeat;
	background-position: right 11px;
	
}
input.error, select.error{
	background-image: url(img/sprite-form.png);
	background-repeat: no-repeat;
	background-position: right -107px;
	border:1px solid #ff897f;
}

label.error {
	color:#b2281d!important;
	font-size:.75em!important;
	margin-top:5px!important;
}

.finalizar-form .field input.error {
	background-position: right -99px;
	padding:0 12px;
}

.finalizar-form .field input.valid {
	background-position: right 20px;
}

#form-login label.error {text-transform:none;}

.account-form label.error {background: #ff4545;color: #ffffff!important;top: -10px;width: 100%;padding: 5px;position: relative;font-size: .9em!important;}

#form-grid .group { display: flex; }
#form-grid .group > span:first-child { margin-right: 10px; }
#form-grid .group > span:last-child { margin-left: 10px; }

.form-field {
	position: relative;
	display: block;
	margin-bottom: 15px;
}

.new-password-form input {
	display: block;
	width: 100%;
	margin: 0 0 10px;
	padding: 10px;
	border: 1px solid #135ba0;
}

.new-password-form label {
	display: inline-block;
	margin: 0 0 3px;
	color: #135ba0;
}

.new-password-form button {
	display: inline-block;
	color: #fff;
	min-width: 150px;
	margin: 19px 0 0 10px;
	padding: 11px 15px;
	border: 0;
	background-color: #135ba0;
}

.cms .vantagens {
	float:left;
	margin-bottom:20px;
	width:100%;
}

.cms .vantagens p {
	text-align:center!important;
}

.cms .vantagens .vantagem-encontre {
	float:left;
	margin-right:1.5%;
	text-align:center;
	width:23.5%;
}

.cms .vantagens .vantagem-encontre i {
	background-image:url(img/vantagens.jpg);
	background-position:0 0;
	background-repeat:no-repeat;
	display:block;
	height:120px;
	margin:0 auto 10px auto;
	width:120px;
}

.cms .vantagens .vantagem-separamos {
	float:left;
	margin-right:1.5%;
	text-align:center;
	width:23.5%;
}

.cms .vantagens .vantagem-separamos i {
	background-image:url(img/vantagens.jpg);
	background-position:-120px 0;
	background-repeat:no-repeat;
	display:block;
	height:120px;
	margin:0 auto 10px auto;
	width:120px;
}

.cms .vantagens .vantagem-economize {
	float:left;
	margin-right:1.5%;
	text-align:center;
	width:23.5%;
}

.cms .vantagens .vantagem-economize i {
	background-image:url(img/vantagens.jpg);
	background-position:-240px 0;
	background-repeat:no-repeat;
	display:block;
	height:120px;
	margin:0 auto 10px auto;
	width:120px;
}

.cms .vantagens .vantagem-pague {
	float:left;
	margin-right:0;
	text-align:center;
	width:23.5%;
}

.cms .vantagens .vantagem-pague i {
	background-image:url(img/vantagens.jpg);
	background-position:-360px 0;
	background-repeat:no-repeat;
	display:block;
	height:120px;
	margin:0 auto 10px auto;
	width:120px;
}

.col {position:relative;}

.col #div-dados-usuario {
	position:absolute;
	right:0;
	top: 51px;
	width: 50px;
	height: 50px;
	z-index: 101;
}

.col #div-dados-entrega {
	position:absolute;
	right:0;
	top: 0;
	width: 50px;
	height: 50px;
	z-index: 101;
}

.col #div-dados-usuario button, .col #div-dados-entrega button {
	height: 50px;
	background-image: url(img/ico-edit.png);
	background-position:center center;
	background-repeat:no-repeat;
}
/* Querys (min)
****************************************/
@media screen and (min-width: 920px) {
	#product-grid .item:hover .inner {
		bottom: 0px;
	}
	#product-grid .item:hover .prices {
		margin: 0 0 10px;
	}

	#account-box .uk-offcanvas-bar, #account-box-forgot-password .uk-offcanvas-bar, #open-cart .uk-offcanvas-bar, #list-box .uk-offcanvas-bar {
		width: 400px;
	}
	
	#account-box .uk-offcanvas-bar .box-close {
		right: 3px;
	}
}

/* Querys (max)
****************************************/


@media screen and (max-width: 1300px) {
	#header .brand h1.logo-mercado img {display:block;height:50px;width:150px;}
}

/* max-width: 1280px */
@media screen and (max-width: 1280px) {
	#product-grid { grid-template-columns:  1fr 1fr; }
	ul.categories a::before {margin-left: 0; }
	#header .account { margin-right: 20px;  }
	.login-button {	right: 20px; }
	.nav-header .sub div {display: none !important;}
}

@media screen and (min-width: 1171px) {
	.cart-list {
		height:220px;
		overflow-y:auto;
	}
	
	#open-cart .cart-list {height:auto;}
	
	#open-cart .tab-nav li a {
		line-height:7px;
		width:50px;
	}
}

/* 1170px */
@media screen and (max-width: 1170px) {
	html, body {
		height:auto;
	}
	/* Header */
	#header {
		position: static;
	}
	.wrp {
		grid-gap: 15px;
	}
	.delivery-cep {
		margin: 0 0 10px 0;
	}
	/* Categories */
	#categories, 
	#categories-side-filter {
		display: none;
	}
	/* Account */
	ul.categories a::after {
		display: block;
	}
	/* Main */
	#main {
		grid-area: 2/1/2/4;
		margin: 0 10px;
	}
	/* Product-grid Infos */
	#product-grid .inner {
		bottom: 0;
		grid-gap: 5px;
	}
	#product-grid a:hover .add {
		bottom: 0;
	}
	#side-cart {
		display: none;
	}
	#footer {
		padding-bottom: 70px;
	}
	#footer div.newsletter {
		margin-bottom: 30px;
	}
	#footer .social {
		background-color: transparent;
		padding: 0;
	}
	#footer .social h4 {
		display: block;
	}
	#account-box .uk-offcanvas-bar.logged {
		height: auto;
		top: 0;
		bottom: 0;
	}
	.more a span {
		display: none;
	}
	.account .user {
		display:none;
	}
	ul.categories > li > a::after {
		content: "";
		display: block;
		float: right;
		width: 12px; 
		height: 25px;
		margin: -5px 0 0;
		transition: all 0.25s ease-out;
		background-image: url(img/ico-arrow-right.png);
	}
	
	#search-form input[type="search"] {
		width: 83%;
		padding: 10px 5px 10px 20px;
	}
	.carrinho-login .nav-mobile,
	.carrinho-checkout .nav-mobile,
	.carrinho-confirmar-dados .nav-mobile,
	.search-autocomplete .results.mobile-hidden { display:none; }
}

@media screen and (max-width: 1118px) {

	#categories h3::before,
	ul.categories a::after {
		display: none;
	}
	/* Footer */
	#footer .group div {
		width: 100%;
		float: none;
		margin: 10px 0;
		padding: 0 20px;
		text-align: center;
	}
	#footer .creditcard h4 {
		text-align: center;
	}
	.breadcrumbs {
		font-size: .850em;
	}
	.search-suggestions .infos .desc {display:none;}
	
	.cms .vantagens .vantagem-encontre {
		margin-right:4%;
		width:48%;
	}

	.cms .vantagens .vantagem-separamos {
		margin-right:0;
		width:48%;
	}

	.cms .vantagens .vantagem-economize {
		margin-right:4%;
		width:48%;
	}

	.cms .vantagens .vantagem-pague {
		margin-right:0;
		width:48%;
	}

}
@media screen and (max-width: 1080px) {
	#header .header-search .inner {
		display: block;
		max-width: 600px;
		margin: 0 20px;
		height: auto;
	}
}
/* 900px */
@media screen and (max-width: 900px) {
	.header-search {
		display: none;
	}
	.navbar-brand {	display: flex; margin: 0 0 0 10px;}
	#header { height: 80px; background-image: none; }
	#header .inner { height: 80px;  }
	#header .brand { margin: 0 auto; }
	#header .account span span {display: none;}
	.how-works, .login-button { display: none;}
	.account a {
		float: right;
		width: 32px;
		height: 32px;
		display: block;
		overflow: hidden;
		text-indent: 999em;
		background-image: url(img/sprite-commons.png);
		background-position: -32px -64px;
		background-size: 192px auto;
	}
	.account .desc { border: 0; padding: 0;}
	.mob-cart-open {
		width: 32px;
		height: 32px;
		display: block;
		margin-right: 25px;
		overflow: hidden;
		text-indent: 999em;
		background-image: url(img/sprite-commons.png);
		background-position: -32px 0;
		background-size: 193px auto;
	}
	
}

/* 768px */
@media screen and (max-width: 768px) {
	#logo {width: 150px;height: 50px; float: none; margin: 15px auto;}
	#logo a {width: 150px;height: 50px;}
	/*CEP*/
	#info-cep h4 {font-size: 1em;}
	#info-cep p {font-size: .9em;}
	#info-cep form input,
	#info-cep form button { font-size: 1em;	}
	#info-cep form input { font-size: .9em; padding: 0 10px;}
	/**/
	#product-grid .infos {margin: 0 auto 60px;}
	#account-box .uk-offcanvas-bar {
		height: 640px;
		overflow-y: scroll;
	}
	#account-box .uk-offcanvas-bar button {min-width: auto;}
	
	#account-box header {padding: 20px  20px 20px;}
	div.search {display: none;}
	#product-grid h2 {margin: 0;}
	#product-grid .desc {margin: 0 0 5px;font-size: .8em;}
	#product-grid .prices {
		font-size: 0.8em;
		margin: 0 0 10px;
		white-space: nowrap;
	}
	ul.categories a::before {margin-left: 5px;}
	/* Footer */
	#footer .about a {
		display: block;
		margin: 0 20px;
		text-align: left;
	}
	#footer .about a { line-height: 180%; }
	#footer .social a::before {	margin: 7px; }
	.creditcard a {
		width: 43px;
		height: 29px;
	}
	.creditcard a.ico-america { background-position: 0 -100px; }
	.creditcard a.ico-mastercard { background-position: -174px -100px; }
	.creditcard a.ico-discover { background-position: -87px -100px; }
	.creditcard a.ico-diner { background-position: -44px -100px; }
	.creditcard a.ico-jcb { background-position: -131px -100px; }
	.creditcard a.ico-visa { background-position: -218px -100px; }

	#info-cep .uk-offcanvas-bar { width: 280px; }
	#info-cep form input { width: 120px; }
}

@media screen and (max-width: 480px) {
	.delivery-cep { font-size: 0.9em; line-height: 130%; }
	.cms .vantagens .vantagem-encontre,
	.cms .vantagens .vantagem-separamos,
	.cms .vantagens .vantagem-economize,
	.cms .vantagens .vantagem-pague {
		margin-right: 0;
		width: 100%;
	}
    .mob-cart-open {margin-right: 15px;	}
	
	
}


@media screen and (max-width: 464px) {
	#logo {
		width: 112.5px; height: 37.5px; float: none;
	}
	#logo a {
		width: 112.5px; height: 37.5px;
	}

	/*Footer*/
	#footer .newsletter label { text-align: center; }
	.newsletter button { width: 30%; }
	.copyright { font-size: .9em; }
	#open-search .note { font-size: 1em; }
	/**/
	#product-grid .item { height: auto; }
	#product-grid .item a {
	position: relative;
		height: auto;
		padding: 5px;
	}
	#product-grid img {
		width: 100px;
		height: 100px;
	}
	/**/
	#open-search .search-autocomplete {padding: 10px;}
	.search-suggestions div img {
		width: 40px;
		margin: 0 auto;
	}
	.search-suggestions div select {width: 40px;}
	.search-suggestions div button {padding: 0 5px;}
   .search-suggestions div select {
		position: relative;
		width: 40px;
		height: 40px;
		padding-left: 3px;
		border: 1px solid #d3d3d3;
		color: #666;
		background: #fff url(img/select-arrow-down.png) no-repeat 23px center;
	}
	.cart-list .del-product {margin: 0 auto;}

	.search-suggestions .infos .name {
		font-size: 0.9em;
		line-height: 120%;
	}
	#product-grid .add .cart-added {font-size:0.7em;}

	#footer .block {flex-direction: column;	}
	#footer .social { margin: 20px auto; }
	#footer .social a { margin: 0 5px; }
	#footer .credit { margin: 10px auto; }
	#footer .credit a { margin: 0 5px; }
}

@media screen and (max-width: 360px) {
	#product-grid .add select{width: 52px;padding: 0 0 0 4px;font-size: 0.8em;}
	#product-grid .add span:nth-child(2){margin-left:2px;}
	#product-grid .add .cart-added {font-size:0.6em;}
}


/* MAX HEIGHT */
@media screen and (max-height: 768px) {
	#account-box .uk-offcanvas-bar,
	#open-categorias .uk-offcanvas-bar,
	#open-cart .uk-offcanvas-bar
	{
		height: auto;
		overflow-y: scroll;
	}

}

@media screen and (max-height: 360px) {
	#account-box .uk-offcanvas-bar,
	#open-categorias .uk-offcanvas-bar,
	#open-cart .uk-offcanvas-bar,
	#account-box .uk-offcanvas-bar.logged
	{
		height: 360px;
		overflow-y: scroll;
	}
	#open-search .uk-offcanvas-bar {
		top: 70px;
	}
	.search-autocomplete .results {
		height: 70px;
		overflow-y: auto;
	}
	.suggested {
		overflow-y: auto;
		height: 100px;
	}

}

/*navegacao fancybox*/
#links {
	position: fixed;
	bottom: 50%;
	margin-bottom:-290px;
	width: 100%;
	padding-top: 10px;
	list-style: none;
	text-align: center;
	z-index: 99999;
}

#links li {
	display: inline;
	padding: 0 5px;
}

#links li label {
	width: 12px;
	height: 12px;
	border-radius: 100%;
	display: inline-block;
	background-color: grey;
	cursor: pointer;
}

#links li.active label {
	background-color: white;
}

@media screen and (max-width: 481px) {
	#links {
		bottom: 10px;
		margin-bottom:0;
	}
}


/**/
#list-box[aria-hidden="false"] { display: block; }
#list-box > div {
	top: 0;
	right: unset;
	left: 0;
	height: auto;
	bottom: 0;
}
#list-box header {
	display: table;
	width: 100%;
	overflow: hidden;
	padding: 20px 80px 20px 20px;
	border-bottom: 1px solid #0f4d89;
	background-color: #105291;
}

#list-box .uk-offcanvas-bar {
	padding:0;
}
#list-box .uk-offcanvas-bar header p {
    font-size: 0.75em;
    line-height: 130%;
    color: #aad5ff;
    font-weight: normal;
}
.list {margin-right: 10px;}
.list a {
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
}
.list span {display: block;}
.list a::after {
	content: "";
	display: block;
	width: 50px;
	height: 48px;
	background-size: 293px auto;
	background-position: -49px -147px;
	background-image: url(img/sprite-commons.png);
}
#list-box .uk-offcanvas-bar h3 {font-size:1.200em;}
#list-box .bt-aplicar {
	background: #b3ed3b;
    position: sticky;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    padding: 8px 0;
}

#list-box .bt-aplicar span {
	display: block;
    width: 100%;
    text-transform: none;
    font-size: 13px;
    font-weight: normal;
}
/* Home Slider */
.slick-slider {
	position: relative;
	margin: 0 0 80px;
}
.slick-slider .slick-dots {
	position: absolute;
	right: 20%;
	bottom: 20px;
}
.slick-slider .slick-dots li {
	display: inline-block;
	margin: 0 5px;
}
.slick-slider .slick-dots li button {
	width: 16px;
	height: 16px;
	overflow: hidden;
	text-indent: -999em;
	border-radius: 100px;
	background-color: #fff;
}
.slick-slider .slick-dots li.slick-active button {
	background: #909090;
}
.carrinho-login .login-button, .carrinho-checkout .login-button, .carrinho-confirmar-dados .login-button, .carrinho-checkout .header-search.fake-input, .carrinho-confirmar-dados .how-works, .carrinho-login .how-works, .carrinho-confirmar-dados .account, .carrinho-login .account, .carrinho-fim .account {display:none;}
.carrinho-login {background:#f2f2f2;}

ul.links-rodape li {margin:0 10px;}

/* COMO FUNCIONA */
#como-funciona .uk-offcanvas-bar {
	position: relative;
	top: 20px;
	bottom: unset;
	left: 0;
	width: 50%;
	height: 50%;
	margin: 0 auto 30px;
	padding: 30px!important;
	box-sizing: border-box;
	color: #000;
	overflow: unset;
	background-color: white;
}
#como-funciona h4 {
	margin-bottom: 10px;
	font-size: 1.3em;
}
#como-funciona form {
	display: flex;
}
#como-funciona p {
	color: #6e6e6e;
	line-height: 130%;
	margin-top:5px;
}
#como-funciona form input,
#como-funciona form button {
	height: 60px;
	margin: 15px 0;
	font-size: 1.250em;
}
#como-funciona form input {
	padding: 0 20px;
	width: 240px;
}
#como-funciona form button {
	padding: 0 20px;
	color: #fff;
	background-color: #135ba0;
}
#como-funciona form input::-webkit-input-placeholder { color: #666; }
#como-funciona form input::-moz-placeholder { color: #666; }
#como-funciona form -ms-input-placeholder { color: #666;}
#como-funciona form input:-moz-placeholder { color: #666; }

#como-funciona .box-close {
	background-position: -54px -60px;
	background-size: 90px auto;
}

.creditCardForm {
    max-width: 700px;
    background-color: #fff;
    margin: 100px auto;
    overflow: hidden;
    padding: 25px;
    color: #4c4e56;
}

.creditCardForm label {
    width: 100%;
    margin-bottom: 10px;
}

.creditCardForm .heading h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #4c4e56;
}

.creditCardForm .payment {
    float: left;
    font-size: 18px;
    padding: 10px 25px;
    margin-top: 20px;
    position: relative;
}

.creditCardForm .payment .form-group {
    float: left;
    margin-bottom: 15px;
}

.creditCardForm .payment .form-control {
    line-height: 40px;
    height: auto;
    padding: 0 16px;
}

.creditCardForm .owner {
    width: 63%;
    margin-right: 10px;
}

.creditCardForm .CVV {
    width: 35%;
}

.creditCardForm #card-number-field {
    width: 100%;
}

.creditCardForm #expiration-date {
    width: 49%;
}

.creditCardForm #credit_cards {
    width: 50%;
    margin-top: 25px;
    text-align: right;
}

.creditCardForm #pay-now {
    width: 100%;
    margin-top: 25px;
}

.creditCardForm .payment .btn {
    width: 100%;
    margin-top: 3px;
    font-size: 24px;
    background-color: #2ec4a5;
    color: white;
}

.creditCardForm .payment select {
    padding: 10px;
    margin-right: 15px;
}

.transparent {
    opacity: 0.2;
}

@media(max-width: 650px) {
    .creditCardForm .owner,
    .creditCardForm .CVV,
    .creditCardForm #expiration-date,
    .creditCardForm #credit_cards {
        width: 100%;
    }
    .creditCardForm #credit_cards {
        text-align: left;
    }
}
/*########### WHATSAPP ########*/
#whatsapp-button {
	grid-row-start: 1;
	grid-column-start: 2;
	grid-row-end: 2;
	grid-column-end: 3;
        position: fixed;
        z-index: 400;
        right: 40px;
        bottom: 20px;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
        font-size: 16px;
        line-height: 26px;
        color: #262626;
        /*transform: scale3d(0,0,0);*/
        transition: transform .3s ease-in-out;
        user-select: none;
        -ms-user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        background-image: url(img/mastercard.png)
}