﻿<script type="text/javascript">
    window.print();
</script>
<style type="text/css">
	html {box-sizing: border-box;}
	*, *:before, *:after {box-sizing: inherit;font-family:'Open Sans',sans-serif;}
	.invoice {border:1px solid #e8e9f0;padding:10px;float: left;width: 100%;}
	.table {float:left;margin-top:20px;width:100%;}
	.table th {border-bottom:1px solid #e8e9f0;height:32px;padding:5px;color:#767676;font-size:11px;text-align:center;position:relative;text-transform:uppercase;}
	.table th.align-left, .table td.align-left{text-align:left;}
	.table td {border-bottom:1px solid #e8e9f0;padding:5px;color:#767676;font-size:11px;text-align:center;}
	h2 {font-size:16px;margin:0;}
	h3 {font-size:14px;margin:0;}
	.invoice-info {width:100%;}
	.invoice-info .invoice-left {float:left;width:50%;font-size:12px;margin-bottom:10px;}
	.invoice-info .invoice-right {float:left;width:50%;font-size:12px;margin-bottom:10px;}
	.form-group {float: left;margin-bottom: 10px;width: 24%;border: 1px solid #e8e9f0;margin-right: 1%;padding: 6px}
	.form-group .input-group, .form-group label {font-size:12px;}
	.form-group .input-group{font-weight:bold;}
	@media print{@page {size: landscape}}
	.logo-mercado {float:right;margin:0 0 10px 0;}
	.logo-scf {float:left;margin:25px 0 10px 0;}
</style>

<img src="<?php echo $this->baseUrl('/images/logo-impressao.png'); ?>" class="logo-scf" />

<? if (!empty($this->dadosPedido['mercado']['foto'])) { ?>
	<img src="<?php echo $this->baseUrl('/uploads/mercados/' . $this->dadosPedido['mercado']['foto']); ?>" height="87" class="logo-mercado" />
<? } ?>


<div class="panel-body invoice">
	<div class="invoice-header">
        <div class="invoice-title col-md-6 col-xs-12">
            <h2>PEDIDO Nº <?=str_pad($this->dadosPedido['id'], 10, '0', STR_PAD_LEFT)?></h2>
            <h3>Status: <span class="statusPedido"><?=$this->dadosPedido['status']['nome'];?></span> <!--<span class="entrega-retirada">para Entrega</span>--></h3>
        </div>
        <div class="invoice-info">
            <div>
                <div class="invoice-left">
                    <p>
						<? if ($this->dadosPedido['outrapessoa']) { ?>
							(<?=$this->dadosPedido['outrapessoanome']?>)
						<? } ?>

						<?=$this->dadosPedido['cliente']['nome'];?> <!--(JOÃO MACHADO)--><!-- exibir nome do usuário que vai retirar entre parênteses quando o usuário selecionar que outra pessoa vai retirar -->
                       <br>
                        <? if ($this->dadosPedido['outrapessoa']) { ?>
                    		(<?=$this->dadosPedido['outrapessoarg']?>)
                    	<? } ?>

                        <?=$this->dadosPedido['cliente']['cpf'];?> <!--(00000000)--> <!-- exibir número do documento do usuário que vai retirar entre parênteses quando o usuário selecionar que outra pessoa vai retirar --> <br>
                        <? if ($this->dadosPedido['outrapessoa']) { ?>
                    		(<?=$this->dadosPedido['outrapessoatelefone']?>)
                    	<? } ?>
                        <?=$this->dadosPedido['cliente']['celular'];?> <!--(47 99649-7996)--> <!-- exibir telefone do usuário que vai retirar entre parênteses quando o usuário selecionar que outra pessoa vai retirar --><br>
						<?=$this->dadosPedido['cliente']['email'];?>
                    </p>
                </div>
                <div class="invoice-right">
                    <p>
						<?=$this->dadosPedido['endereco'];?>, <?=$this->dadosPedido['numero'];?> <br /> 
						<? if (!empty($this->dadosPedido['complemento'])) { ?>
							<?=$this->dadosPedido['complemento'];?> <br /> 
						<? } else { ?>
							<br /> 
						<? } ?>
						<? if (!empty($this->dadosPedido['bairro'])) { ?>
							<?=$this->dadosPedido['bairro'];?> <br /> 
						<? } ?>
						<?=$this->dadosPedido['cep'];?> - <?=$this->dadosPedido['cidade'];?><br>
                    </p>
                </div>
            </div>
        </div>
    </div>
	<div class="row">
        <div class="form-group">
            <label for="dataEntrega">Data Entrega / Retirada</label> </span>
            <div class="input-group m-bot15">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <?php echo date('d/m/Y', strtotime($this->dadosPedido['dataentregaretirada'])); ?>
            </div>
        </div>
		<div class="form-group">
            <label for="periodo">Período</label> </span>
            <div class="input-group m-bot15">
                <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                <?php echo (!empty($this->dadosPedido['horaentrega']) ? $this->dadosPedido['horaentrega'] : (!empty($this->dadosPedido['horaretirada']) ? $this->dadosPedido['horaretirada'] : false)); ?>
            </div>
        </div>
        <div class="form-group">
            <label for="dataPedido">Data Pedido</label> 
            <div class="input-group m-bot15">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <?php echo date('d/m/Y', strtotime($this->dadosPedido['data'])); ?>
            </div>
        </div>
		<div class="form-group">
            <label for="total">Total</label> 
            <div class="input-group m-bot15">
                <span class="input-group-addon"><i class="fa fa-money"></i></span>
                R$ <?=number_format($this->dadosPedido['valortotal'], 2, ',', '.');?>
            </div>
        </div>
		<div class="form-group">
            <label for="totalRevisado">Total Revisado</label> 
            <div class="input-group m-bot15">
                <span class="input-group-addon"><i class="fa fa-money"></i></span>
                R$ <?=number_format($this->dadosPedido['totalRevisado'], 2, ',', '.');?>
            </div>
        </div>
		<div class="form-group">
            <label for="formaPagamento">Forma de Pagamento</label> 
            <div class="input-group m-bot15">
                <span class="input-group-addon"><i class="fa fa-money"></i></span>
                <?=$this->dadosPedido['formaDePagamento']['nome'];?> <?php echo ((!empty($this->dadosPedido['troco'])) ? ' / Troco para: ' . $this->dadosPedido['troco'] : false); ?>
            </div>
        </div>
		<div class="form-group">
            <label for="itensPedidos">Itens Pedidos</label> 
            <div class="input-group m-bot15">
                <span class="input-group-addon"><i class="fa fa-square"></i></span>
                <?=count($this->dadosPedido['itens']);?>
            </div>
        </div>
		<div class="form-group">
            <label for="itensRevisados">Itens Conferidos</label> 
            <div class="input-group m-bot15">
                <span class="input-group-addon"><i class="fa fa-check-square"></i></span>
                <?=$this->dadosPedido['itensConferidos'];?>
            </div>
        </div>
    </div>
	
	
	
	<table class="table table-invoice" >
		<thead>
		<tr>
			<th>EAN / Código</th>
			<th class="align-left">Produto</th>
			<th>Observações</th>
			<th>Cód. Barras</th>
			<th>Qtd / Peso</th>
			<th>Qtd / Peso Revisado</th>
			<th>Subtotal</th>
			<th>Total</th>
			<th>Total Revisado</th>
		</tr>
		</thead>
		<tbody>

		<? 
			foreach ($this->dadosPedido['itens'] as $umItem) { 
				$str = "";

				$str .= "Tipo: {$umItem['produto']['tipo']}";

				if (!empty($umItem['produto']['pesovolume'])) {
					$str .= " / Peso/Volume: {$umItem['produto']['pesovolume']}";
				}
					

				if (!empty($umItem['produto']['marca']['valor'])) {
					$str .= " / Marca: {$umItem['produto']['marca']['valor']}";
				}
				if (!empty($umItem['produto']['embalagem']['valor'])) {
					$str .= " / Embalagem: {$umItem['produto']['embalagem']['valor']}";
				}
				if (!empty($umItem['produto']['pais']['valor'])) {
					$str .= " / País: {$umItem['produto']['pais']['valor']}";
				}
				if (!empty($umItem['produto']['unidademedida']['valor'])) {
					$str .= " / Unidade Medida: {$umItem['produto']['unidademedida']['valor']}";
				}
				if (!empty($umItem['produto']['sabor']['valor'])) {
					$str .= " / Sabor: {$umItem['produto']['sabor']['valor']}";
				}
				if (!empty($umItem['produto']['tamanho']['valor'])) {
					$str .= " / Tamanho: {$umItem['produto']['tamanho']['valor']}";
				}
		?>
			<tr>
				<td><?=$umItem['produto']['ean'];?></td>
				<td class="align-left"><span data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="<?=$str;?>"><?=$umItem['produto']['nome'];?></span></td>
				<td>
					<?=$umItem['observacoes'];?>
					
				</td>
				<td>
					<? if ($umItem['produto']['tipo'] == 1) { ?>
						<img src="<?php echo $this->baseUrl('/uploads/produtos/codbarras/') . $umItem['produto']['id'] . ".png"; ?>" />
					<? } ?>
				</td>
				<td id="qtde_<?=$umItem['id'];?>"><?=$umItem['quantidade'];?></td>
				<td>
					<?=$umItem['quantidadeRevisada'];?>
				</td>
				<td id="preco_<?=$umItem['id'];?>">
					<? 
						if ($umItem['produto']['tipo'] == 0 ) { 
							echo "R$ ".number_format($umItem['preco'] * 1000, 2, ',', '.');
							
						} else {
							echo "R$ ".number_format($umItem['preco'], 2, ',', '.');
						} 
					?>
				</td>
					
				<td>
					R$ <?=number_format(($umItem['preco'] * $umItem['quantidade']), 2, ',', '.');?>
				</td>
				<td id="totalRevisado_<?=$umItem['id'];?>">R$ <?=number_format(($umItem['preco'] * $umItem['quantidadeRevisada']), 2, ',', '.');?></td>
			</tr>
		<? } ?>
		</tbody>
	</table>
</div>
