<div class="row">
	<div class="col-sm-12">
		<section class="panel">
			<div class="panel-heading">
				<div class="panel-title"><i class="fa fa-search"></i>Filtros</div>
			</div>
			<div class="panel-body">
				<div class="row">
					<form method="post">
						<? if ($_SESSION['logado']['usuario']['idMercado'] == 0) { ?>
							<div class="col-md-2">
								<div class="form-group">
									<select class="form-control" name="mercado" id="mercado">
										<option value="">TODOS</option>
										<? foreach($this->arrayMercados as $umMercado) { ?>
											<option value="<?=$umMercado['id']?>" <?php echo ( (!empty($_POST['mercado']) && $_POST['mercado'] == $umMercado['id']) ? 'selected="selected"' : false); ?>><?=$umMercado['nome']?></option>
										<? } ?>
									</select>
								</div>
							</div>
						<? } ?>
						<div class="col-md-4">
							<div class="form-group input-group input-large">
								<input type="text" class="form-control" name="devalor" id="devalor" value="<?php echo ((!empty($_POST['devalor']) ? $_POST['devalor'] : false)); ?>" data-thousands="." data-decimal=",">
								<span class="input-group-addon">Até</span>
								<input type="text" class="form-control" name="atevalor" id="atevalor" value="<?php echo ((!empty($_POST['atevalor']) ? $_POST['atevalor'] : false)); ?>" data-thousands="." data-decimal=",">
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group input-group input-large" data-date="13/07/2013" data-date-format="dd/mm/yyyy">
								<input type="text" class="form-control dpd1" name="from" value="<?php echo ((!empty($_POST['from']) ? $_POST['from'] : false)); ?>">
								<span class="input-group-addon">Até</span>
								<input type="text" class="form-control dpd2" name="to" value="<?php echo ((!empty($_POST['to']) ? $_POST['to'] : false)); ?>">
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group text-right">
								<button type="submit" name="filtrar" class="btn btn-icon btn-primary fl-r"><i class="fa fa-search"></i>Filtrar</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</section>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<section class="panel">
			<div class="panel-heading">
				<div class="panel-title"><i class="fa fa-certificate"></i>Listagem de Pedidos</div>
			</div>
			<div class="panel-body">
			<div class="adv-table">
			<table  class="display table table-bordered table-striped" id="dynamic-table2">
			<thead>
			<tr>
				<th class="hidden-sm hidden-xs">CÓDIGO</th>
				<th>DATA</th>
				<th>VALOR</th>
				<th class="hidden-sm hidden-xs">MERCADO</th>
				<th class="hidden-sm hidden-xs">STATUS PEDIDO</th>
				<th class="hidden-sm hidden-xs">RETIRADA/ENTREGA</th>
				<th class="sorting_disabled text-center"></th>
			</tr>
			</thead>
			<tbody>

				<? if (empty($this->arrayPedidos)){ ?>
					<tr>
						<td colspan="7" class="text-center">Nenhum registro encontrado</td>
					</tr>
				<? } ?>

				<? foreach($this->arrayPedidos as $umPedido) { ?>
				<tr>
					<td class="hidden-sm hidden-xs"><?=str_pad($umPedido['id'], 10, '0', STR_PAD_LEFT)?></td>
					<td><?=$umPedido['data']?></td>
					<td>R$ <?=number_format($umPedido['valortotal'], 2, ',', '.')?></td>
					<td class="hidden-sm hidden-xs"><?=$umPedido['nomeMercado']?></td>
					<td class="hidden-sm hidden-xs"><?=$umPedido['status']?></td>
					<td class="hidden-sm hidden-xs">
						<?=$umPedido['dataentregaretirada']; ?> / <?=$umPedido['horaretirada']?>
							
					</td>
					<td class="center"><a data-original-title="Visualizar" data-placement="top" data-toggle="tooltip" href="<?=$this->baseUrl('/pedido/visualizar/'.$umPedido['id']);?>" class="btn btn-primary btn-xs tooltips" rel="visualizar"><i class="fa fa-eye"></i></a></td>
				</tr>
				<? } ?>
			</tbody>
			<tfoot>
				<tr>
					<th class="hidden-sm hidden-xs">CÓDIGO</th>
					<th>DATA</th>
					<th>VALOR</th>
					<th class="hidden-sm hidden-xs">MERCADO</th>
					<th class="hidden-sm hidden-xs">STATUS PEDIDO</th>
					<th class="hidden-sm hidden-xs">RETIRADA/ENTREGA</th>
					<th class="sorting_disabled text-center"></th>
				</tr>
			</tfoot>
			</table>
			</div>
			</div>
		</section>
	</div>
</div>


<script type="text/javascript">
	$(document).ready(function () {
		$("#devalor, #atevalor").maskMoney();
	});
</script>