<form action="" method="post">
	<div class="row">
		<div class="col-md-12">
			<section class="panel">
				<?php if (!empty($this->cadastro)) { ?>
                    <div class="col-md-12">
                        <div class="alert <?php echo (!empty($this->cadastro['sucesso']) ? (empty($this->cadastro['erros']) ? 'alert-success' : 'alert-warning') : 'alert-danger'); ?> alert-block fade in">
                            <button data-dismiss="alert" class="close close-sm" type="button">
                                <i class="fa fa-times"></i>
                            </button>
                            <?php if (!empty($this->cadastro['sucesso'])) { ?>
                                <?php if (empty($this->cadastro['erros'])) { ?>
                                    <h4>
                                        <i class="icon-ok-sign"></i>
                                        Registro salvo com sucesso!
                                    </h4>
                                    <p>
                                        <a href="<?php echo $this->baseUrl('/pedido/'); ?>" class="btn btn-primary"><i class="fa fa-list"></i> Ver Listagem</a>
                                    </p>
                                <?php } else { ?>
                                    <h4>
                                        <i class="icon-ok-sign"></i>
                                        Registro salvo mas com erros!
                                    </h4>
                                    <ul>
                                        <?php foreach ($this->cadastro['erros'] as $umErro) { ?>
                                            <li><?php echo $umErro; ?></li>
                                        <?php } ?>
                                    </ul>
                                <?php } ?>
                            <?php } else { ?>
                                <?php if (!empty($this->cadastro['erros'])) { ?>
                                    <h4>
                                        <i class="icon-ok-sign"></i>
                                        Atenção! Corrija os erros abaixo
                                    </h4>
                                    <ul>
                                        <?php foreach ($this->cadastro['erros'] as $umErro) { ?>
                                            <li><?php echo $umErro; ?></li>
                                        <?php } ?>
                                    </ul>
                                <?php } ?>
                            <?php } ?>
                        </div>
                    </div>
                <?php } ?>

				<div class="panel-body invoice">
					<div class="invoice-header">
	                    <div class="invoice-title col-md-6 col-xs-12">
	                        <h2>PEDIDO Nº <?=str_pad($this->dadosPedido['id'], 10, '0', STR_PAD_LEFT)?></h2>
	                        <h3>Status: <span class="statusPedido"><?=$this->dadosPedido['status']['nome'];?></span> <!--<span class="entrega-retirada">para Entrega</span>--></h3>
	                    </div>
	                    <div class="invoice-info col-md-6 col-xs-12">
	                        <div>
	                            <div class="col-md-6 col-sm-12 col-xs-12 pull-left">
	                                <p>
	                                    <strong>
	                                    	<? if ($this->dadosPedido['outrapessoa']) { ?>
	                                    		(<?=$this->dadosPedido['outrapessoanome']?>)
	                                    	<? } ?>

	                                    	<?=$this->dadosPedido['cliente']['nome'];?> <!--(JOÃO MACHADO)--><!-- exibir nome do usuário que vai retirar entre parênteses quando o usuário selecionar que outra pessoa vai retirar -->
	                                    </strong> <br>
	                                    <? if ($this->dadosPedido['outrapessoa']) { ?>
	                                		(<?=$this->dadosPedido['outrapessoarg']?>)
	                                	<? } ?>

	                                    <?=$this->dadosPedido['cliente']['cpf'];?> <!--(00000000)--> <!-- exibir número do documento do usuário que vai retirar entre parênteses quando o usuário selecionar que outra pessoa vai retirar --> <br>
	                                    <? if ($this->dadosPedido['outrapessoa']) { ?>
	                                		(<?=$this->dadosPedido['outrapessoatelefone']?>)
	                                	<? } ?>
	                                    <?=$this->dadosPedido['cliente']['celular'];?> <!--(47 99649-7996)--> <!-- exibir telefone do usuário que vai retirar entre parênteses quando o usuário selecionar que outra pessoa vai retirar --><br>
										<?=$this->dadosPedido['cliente']['email'];?>
	                                </p>
	                            </div>
	                            <div class="col-md-6 col-sm-12 col-xs-12">
	                                <p>
										<?=$this->dadosPedido['endereco'];?>, <?=$this->dadosPedido['numero'];?> <br /> 
										<? if (!empty($this->dadosPedido['complemento'])) { ?>
											<?=$this->dadosPedido['complemento'];?> <br /> 
										<? } ?>
										<? if (!empty($this->dadosPedido['bairro'])) { ?>
											<?=$this->dadosPedido['bairro'];?> <br /> 
										<? } ?>
										<?=$this->dadosPedido['cep'];?> - <?=$this->dadosPedido['cidade'];?><br>
	                                </p>
	                            </div>
	                        </div>
	                    </div>
	                </div>
					<div class="row">
	                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12  form-group">
	                        <label for="dataEntrega">Data Entrega / Retirada</label> </span>
	                        <div class="input-group m-bot15">
	                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
	                            <input type="text" disabled="" class="form-control" name="dataEntrega" id="dataEntrega" value="<?php echo date('d/m/Y', strtotime($this->dadosPedido['dataentregaretirada'])); ?>">
	                        </div>
	                    </div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12  form-group">
	                        <label for="periodo">Período</label> </span>
	                        <div class="input-group m-bot15">
	                            <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
	                            <input type="text" disabled="" class="form-control" name="periodo" id="periodo" value="<?php echo (!empty($this->dadosPedido['horaentrega']) ? $this->dadosPedido['horaentrega'] : (!empty($this->dadosPedido['horaretirada']) ? $this->dadosPedido['horaretirada'] : false)); ?>">
	                        </div>
	                    </div>
	                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12  form-group">
	                        <label for="dataPedido">Data Pedido</label> 
	                        <div class="input-group m-bot15">
	                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
	                            <input type="text" disabled="" class="form-control" name="dataPedido" id="dataPedido" value="<?php echo date('d/m/Y', strtotime($this->dadosPedido['data'])); ?>">
	                        </div>
	                    </div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12  form-group">
	                        <label for="total">Total</label> 
	                        <div class="input-group m-bot15">
	                            <span class="input-group-addon"><i class="fa fa-money"></i></span>
	                            <input type="text" disabled="" class="form-control" name="total" id="total" value="R$ <?=number_format($this->dadosPedido['valortotal'], 2, ',', '.');?>">
	                        </div>
	                    </div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12  form-group">
	                        <label for="totalRevisado">Total Revisado</label> 
	                        <div class="input-group m-bot15">
	                            <span class="input-group-addon"><i class="fa fa-money"></i></span>
	                            <input type="text" disabled="" class="form-control" name="totalRevisado" id="totalRevisado" value="R$ <?=number_format($this->dadosPedido['totalRevisado'], 2, ',', '.');?>">
	                        </div>
	                    </div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12  form-group">
	                        <label for="formaPagamento">Forma de Pagamento</label> 
	                        <div class="input-group m-bot15">
	                            <span class="input-group-addon"><i class="fa fa-money"></i></span>
	                            <input type="text" disabled="" class="form-control" name="formaPagamento" id="formaPagamento" value="<?=$this->dadosPedido['formaDePagamento']['nome'];?> <?php echo ((!empty($this->dadosPedido['troco'])) ? ' / Troco para: ' . $this->dadosPedido['troco'] : false); ?>">
	                        </div>
	                    </div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12  form-group">
	                        <label for="itensPedidos">Itens Pedidos</label> 
	                        <div class="input-group m-bot15">
	                            <span class="input-group-addon"><i class="fa fa-square"></i></span>
	                            <input type="text" disabled="" class="form-control" name="itensPedidos" id="itensPedidos" value="<?=count($this->dadosPedido['itens']);?>">
	                        </div>
	                    </div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12  form-group">
	                        <label for="itensRevisados">Itens Conferidos</label> 
	                        <div class="input-group m-bot15">
	                            <span class="input-group-addon"><i class="fa fa-check-square"></i></span>
	                            <input type="text" disabled="" class="form-control" name="itensRevisados" id="itensRevisados" value="<?=$this->dadosPedido['itensConferidos'];?>">
	                        </div>
	                    </div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12  form-group">
	                        <label for="status">Status</label> 
	                        <select class="form-control statusProduto" name="status">
	                        	<option value="">Selecione</option>
	                            <?php if (!empty( $this->arrayListStatus)) { ?>
	                                <?php foreach ( $this->arrayListStatus as $umNivel) { ?>

	                                	<?
	                                	if ($this->dadosPedido['tipoentrega'] == 2 && $umNivel['id'] == 3) {
			                                continue;
			                            }

			                            //se for entrega nao mostra pronto para retirada
			                            if ($this->dadosPedido['tipoentrega'] == 1 && $umNivel['id'] == 4) {
			                                continue;
			                            }?>


	                                    <option <?php echo ((!empty($this->dadosPedido['status']['id']) && $this->dadosPedido['status']['id'] == $umNivel['id']) || (!empty($_POST['status']) && $_POST['status'] == $umNivel['id']) ? 'selected="selected"' : false); ?> value="<?php echo $umNivel['id'] ?>"><?php echo $umNivel['nome'] ?></option>
	                                <?php } ?>
	                            <?php } ?>
							</select>
	                    </div>
	                </div>
					
					
					
					<table class="table table-invoice" >
						<thead>
						<tr>
							<th class="hidden-xs">EAN / Código</th>
							<th>Produto</th>
							<th class="text-center hidden-xs hidden-sm">Observações</th>
							<!--<th class="text-center hidden-xs hidden-sm">Cód. Barras</th>-->
							<th class="text-center">Qtd / Peso</th>
							<th class="text-center">Qtd / Peso Revisado</th>
							<th class="text-center hidden-xs hidden-sm">Subtotal</th>
							<th class="text-center hidden-xs hidden-sm">Subtotal Atac</th>
							<th class="text-center">Total</th>
							<th class="text-center">Total Atac</th>
							<th class="text-center">Total Revisado</th>
						</tr>
						</thead>
						<tbody>

						<? 
							foreach ($this->dadosPedido['itens'] as $umItem) { 
								$str = "";

								$str .= "Tipo: {$umItem['produto']['tipo']}";

								if (!empty($umItem['produto']['pesovolume'])) {
									$str .= " / Peso/Volume: {$umItem['produto']['pesovolume']}";
								}
									

								if (!empty($umItem['produto']['marca']['valor'])) {
									$str .= " / Marca: {$umItem['produto']['marca']['valor']}";
								}
								if (!empty($umItem['produto']['embalagem']['valor'])) {
									$str .= " / Embalagem: {$umItem['produto']['embalagem']['valor']}";
								}
								if (!empty($umItem['produto']['pais']['valor'])) {
									$str .= " / País: {$umItem['produto']['pais']['valor']}";
								}
								if (!empty($umItem['produto']['unidademedida']['valor'])) {
									$str .= " / Unidade Medida: {$umItem['produto']['unidademedida']['valor']}";
								}
								if (!empty($umItem['produto']['sabor']['valor'])) {
									$str .= " / Sabor: {$umItem['produto']['sabor']['valor']}";
								}
								if (!empty($umItem['produto']['tamanho']['valor'])) {
									$str .= " / Tamanho: {$umItem['produto']['tamanho']['valor']}";
								}
						?>
							<tr>
								<td class="hidden-xs"><?=$umItem['produto']['ean'];?></td>
								<td><span data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="<?=$str;?>"><?=$umItem['produto']['nome'];?></span></td>
								<td class="text-center hidden-xs hidden-sm"><textarea name="observacoes_<?=$umItem['id'];?>" id="observacoes_<?=$umItem['id'];?>" cols="15" rows="1"><?=$umItem['observacoes'];?></textarea></td>
<!--								<td>
									<? if ($umItem['produto']['tipo'] == 1) { ?>
										<img src="<?php echo $this->baseUrl('/uploads/produtos/codbarras/') . $umItem['produto']['id'] . ".png"; ?>" />
									<? } ?>
								</td>-->
								<td class="text-center" id="qtde_<?=$umItem['id'];?>"><?=$umItem['quantidade'];?></td>
								<td class="text-center">
									<input type="text" data-id="<?=$umItem['id'];?>" name="revisao_qtde_<?=$umItem['id'];?>" id="revisao_qtde_<?=$umItem['id'];?>" class="form-control qtd_rev" value="<?=$umItem['quantidadeRevisada'];?>" data-preco="<?=$umItem['preco'];?>" />		
								</td>
								<td class="text-center hidden-xs hidden-sm" id="preco_<?=$umItem['id'];?>">
									<? 
										if ($umItem['produto']['tipo'] == 0 ) { 
											echo "R$ ".number_format($umItem['preco'] * 1000, 2, ',', '.');
											
										} else {
											echo "R$ ".number_format($umItem['preco'], 2, ',', '.');
										} 
									?>
								</td>
								<td class="text-center hidden-xs hidden-sm" id="preco_<?=$umItem['id'];?>" style="background: #f3a5a5;">
									<? 
										if ($umItem['produto']['tipo'] == 0 ) { 
											echo "R$ ".number_format($umItem['preco'] / 1.365 * 1000, 2, ',', '.');
											
										} else {
											echo "R$ ".number_format($umItem['preco'] / 1.365, 2, ',', '.');
										} 
									?>
								</td>
									
								<td class="text-center">
									<input type="hidden" data-id="<?=$umItem['id'];?>" readonly name="revisao_preco_<?=$umItem['id'];?>" id="revisao_preco_<?=$umItem['id'];?>" class="form-control valor" data-thousands="." data-decimal="," value="<?=number_format($umItem['preco'], 2, ',', '.');?>" />			
									R$ <?=number_format(($umItem['preco'] * $umItem['quantidade']), 2, ',', '.');?>
										
								</td>
								<td class="text-center" style="background: #f3a5a5;">
									<input type="hidden" data-id="<?=$umItem['id'];?>" readonly name="revisao_preco_<?=$umItem['id'];?>" id="revisao_preco_<?=$umItem['id'];?>" class="form-control valor" data-thousands="." data-decimal="," value="<?=number_format($umItem['preco'], 2, ',', '.');?>" />			
									R$ <?=number_format((($umItem['preco']/1.365) * $umItem['quantidade']), 2, ',', '.');?>
										
								</td>
								<td class="text-center" id="totalRevisado_<?=$umItem['id'];?>">R$ <?=number_format(($umItem['preco'] * $umItem['quantidadeRevisada']), 2, ',', '.');?></td>
							</tr>
						<? } ?>
						</tbody>
						<!---<script type="text/javascript">
							$(document).ready(function () {
								$('[id="peso-1"]').change(function(){
									if ($(this).is(':checked')) {
										$('.input-peso').addClass('abre');
									}else {
										$('.input-peso').removeClass('abre');
									};
								});
								$('.input-peso').maskWeight({
									integerDigits: 3,
									decimalDigits: 3,
									decimalMark: ','
								});
							});
						</script>--->
					</table>
					<div class="text-center invoice-btn">
						<button type="submit" class="btn btn-success btn-lg"><i class="fa fa-check"></i> Salvar Pedido </button>
						<a target="_blank" href="<?php echo $this->baseUrl('/pedido/impressao/' . $this->dadosPedido['id']); ?>" class="btn btn-primary btn-lg"><i class="fa fa-print"></i> Imprimir / Gerar PDF </a>
					</div>

				</div>
			</section>
		</div>
	</div>
	<!-- page end-->
</form>
<script>

	function formataMoeda(valor, real) {
	    if (real === true) {
	        x = 0;
	        if (valor < 0) {
	            valor = Math.abs(valor);
	            x = 1;
	        }
	        if (isNaN(valor))
	            valor = "0";
	        cents = Math.floor((valor * 100 + 0.5) % 100);
	        valor = Math.floor((valor * 100 + 0.5) / 100).toString();
	        if (cents < 10)
	            cents = "0" + cents;
	        for (var i = 0; i < Math.floor((valor.length - (1 + i)) / 3); i++)
	            valor = valor.substring(0, valor.length - (4 * i + 3)) + '.'
	                    + valor.substring(valor.length - (4 * i + 3));
	        ret = valor + ',' + cents;
	        if (x === 1)
	            ret = ' - ' + ret;
	        return ret;
	    } else {
	        moeda = valor.replace(".", "").replace(",", ".");
	        return parseFloat(moeda);
	    }
	}

	$(".qtd_rev").keyup(function () {
		
		var qtdAtu = $(this).val();
		var idObj = $(this)[0].dataset.id;
		var precoAtual = $(this)[0].dataset.preco;
		var qtdReal = $("#qtde_" + idObj).html();
		var idObj = $(this)[0].dataset.id;
		var revisado = 0;

		if (parseFloat(qtdAtu) > parseFloat(qtdReal)) {
			alert('Quantidade revisada não pode ser maior que a quantidade atual');
			$("#totalRevisado_" + idObj).html( 'R$ 0,00');
			$(this).val('0');
			qtdAtu = 0;

		} else {
			$("#totalRevisado_" + idObj).html( 'R$ ' + formataMoeda(parseFloat(precoAtual) * qtdAtu, true));	
			
			qtde = $('#qtde_' + idObj).html();
			valor = $('#preco_' + idObj).html();
			valor = valor.replace("R$","");
			valor = valor.replace(".","");
			valor = valor.replace(",",".");
			valor = valor.replace(" ","");

			revisado = 1;
		}

		valorRevisado = $('#revisao_preco_' + idObj).val();
		valorRevisado = valorRevisado.replace(".","");
		valorRevisado = valorRevisado.replace(",",".");

		$.ajax({
            url: '<?php echo $this->baseUrl('/ajax/revisar-item'); ?>',
            data: {
            	id: idObj,
            	quantidade: qtdAtu,
            	valor: valorRevisado,
            	revisado: revisado
            },
            type: 'POST',
            async: false,
            dataType: 'json',
            beforeSend: function () {
            }, success: function (json) {
            	$("#itensRevisados").val(json.itensConferidos);
            	$("#totalRevisado").val("R$ " + formataMoeda(json.totalRevisado,true));

            	$.each(json.itens, function(key, value){
            		$("#totalRevisado_" + value.id).html('R$ ' +  formataMoeda(parseFloat(value.precoRevisado) * parseFloat(value.quantidadeRevisada),true) );
            	});
            }
        });

	});
</script>