<div class="row">
	<div class="col-md-12">
		<form method="post" action="" role="form">
			<div data-collapsed="0" class="panel">
				<div class="panel-heading">
					<div class="panel-title"><i class="fa fa-star"></i>Cadastro de Chaves</div>
				</div>
				<div class="panel-footer panel-header">
					<button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Salvar</button>
				</div>
				<div class="panel-body">
					<?php if (!empty($this->cadastro)) { ?>
	                    <div class="col-md-12">
	                        <div class="alert <?php echo (!empty($this->cadastro['sucesso']) ? (empty($this->cadastro['erros']) ? 'alert-success' : 'alert-warning') : 'alert-danger'); ?> alert-block fade in">
	                            <button data-dismiss="alert" class="close close-sm" type="button">
	                                <i class="fa fa-times"></i>
	                            </button>
	                            <?php if (!empty($this->cadastro['sucesso'])) { ?>
	                                <?php if (empty($this->cadastro['erros'])) { ?>
	                                    <h4>
	                                        <i class="icon-ok-sign"></i>
	                                        Registro salvo com sucesso!
	                                    </h4>
	                                    <p>
	                                        <?php if (!empty($this->id)) { ?>
	                                            <a href="<?php echo $this->baseUrl('/chaves/cadastro/'); ?>" class="btn btn-primary"><i class="fa fa-star"></i> Nova Chave</a>
	                                        <?php } ?>
	                                        <a href="<?php echo $this->baseUrl('/chaves/'); ?>" class="btn btn-primary"><i class="fa fa-list"></i> Ver Listagem</a>
	                                    </p>
	                                <?php } else { ?>
	                                    <h4>
	                                        <i class="icon-ok-sign"></i>
	                                        Registro salvo mas com erros!
	                                    </h4>
	                                    <ul>
	                                        <?php foreach ($this->cadastro['erros'] as $umErro) { ?>
	                                            <li><?php echo $umErro; ?></li>
	                                        <?php } ?>
	                                    </ul>
	                                <?php } ?>
	                            <?php } else { ?>
	                                <?php if (!empty($this->cadastro['erros'])) { ?>
	                                    <h4>
	                                        <i class="icon-ok-sign"></i>
	                                        Atenção! Corrija os erros abaixo
	                                    </h4>
	                                    <ul>
	                                        <?php foreach ($this->cadastro['erros'] as $umErro) { ?>
	                                            <li><?php echo $umErro; ?></li>
	                                        <?php } ?>
	                                    </ul>
	                                <?php } ?>
	                            <?php } ?>
	                        </div>
	                    </div>
	                <?php } ?>

					<div class="row">
						<div class="col-md-6 form-group">
							<label for="chave">Chave</label>
							<input type="text" class="form-control" id="chave" name="chave" value="<?php echo (!empty($this->dadosUsuario['chave']) ? $this->dadosUsuario['chave'] : (!empty($_POST['chave']) ? $_POST['chave'] : false)); ?>">
						</div>
						<div class="col-md-6 form-group">
							<label for="limite">Limite</label>
							<input type="text" class="form-control" id="limite" name="limite" value="<?php echo (!empty($this->dadosUsuario['limite']) ? $this->dadosUsuario['limite'] : (!empty($_POST['limite']) ? $_POST['limite'] : 0)); ?>">
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Salvar</button>
				</div>
			</div>
		</form>
	</div>
</div>