<div class="row">
	<div class="col-sm-12">
		<section class="panel">
			<div class="panel-heading">
				<div class="panel-title"><i class="fa fa-user"></i>Listagem de Perguntas / Privacidade</div>
			</div>
			<div class="panel-body">
				<a href="<?php echo $this->baseUrl('perguntas/cadastro'); ?>" class="btn btn-primary"><i class="fa fa-star"></i> Adicionar Texto</a>
				<div class="adv-table">
					<table class="display table table-bordered table-striped " id="dynamic-table">
						<thead>
							<tr>
								<th>TEXTO</th>
								<th>TIPO</th>
								<th class="hidden-phone sorting_disabled text-center perguntas">EDITAR</th>
							</tr>
						</thead>
						<tbody>

						</tbody>
						<tfoot>
							<tr>
								<th>TEXTO</th>
								<th>TIPO</th>
								<th class="hidden-phone sorting_disabled text-center perguntas">EDITAR</th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</section>
	</div>
</div>