<h2 class="main-title">Quem Somos</h2>
<div class="cms">
	<p class="img-left">
		<img src="<?php echo $this->baseUrl('img/institucional.jpg'); ?>" alt="Institucional">
		Fazer compras nem sempre é uma tarefa fácil, a atividade demanda tempo e disponibilidade para sair de casa. Muitas vezes, gastamos horas para ir até o supermercado, procurar nossos produtos, enfrentar longas filas no caixa para pagar e, finalmente, carregar e descarregar o carro com os itens comprados. 
	</p>
	<p>
		A <strong>Mercado Fique Em Casa</strong> surgiu com o objetivo de tornar todo esse processo mais prazeroso, rápido, cômodo e barato através de nosso comparador de preços e compras online.
	</p>
	<p>
		Através do nosso site, você pode escolher o produto que deseja de forma rápida, comparar preços em diferentes supermercados na sua vizinhança e, ao fim, receber suas compras em casa. 
	</p>
	<p>
		Além de economizar tempo, você economiza dinheiro e ainda têm segurança no pagamento, que é realizado através de uma plataforma simples e objetiva. 
	</p>
	<p>
		Ficou curiosa? Confira, então, o objetivo da plataforma, as vantagens de usar a Mercado Fique Em Casa e quais produtos você encontra em nosso site. 
	</p>
	<h3>Mas, por que comprar em casa? </h3>
	<h4>Economia de tempo </h4>
	<p>
		Você sabe quanto tempo gasta, em média, ao fazer compras? De acordo com uma pesquisa realizada através da plataforma MeSeemns, os consumidores gastam duas horas nos supermercados. No entanto, gostariam de utilizar esse tempo em outras atividades de seu interesse. 
	</p>
	<p>
		De acordo com a pesquisa, 12% dos consumidores prefere evitar ao máximo fazer compras. Este número aumenta para 26% quando considerados os entrevistados que discordam totalmente ou em parte que “fazer compras em supermercados é uma atividade que dê prazer”– ou seja, um em cada quatro consumidores não estão satisfeitos em ter que ir ao supermercado. 
	</p>
	<p>
		A pesquisa revela, também, que 29% das pessoas entrevistadas concordam total ou parcialmente que a ida ao supermercado é considerada uma obrigação e gostariam de poder se livrar dela. 
	</p>
	<p>
		Se identificou? 
	</p>
	<p>
		Vivemos em um mundo bastante acelerado e queremos gastar o máximo de nosso tempo livre fazendo atividades que nos dão prazer. Por isso, quanto mais poder você tiver sobre quais tarefas você faz, melhor! 
	</p>
	<p>
		A compra online, na <strong>Mercado Fique Em Casa</strong>, propicia isso: você pode fazê-la do conforto da sua casa, sem precisar gastar gasolina do carro ou tempo andando e esperando nas grandes filas dos caixas de pagamento. Tudo isso feito em poucos minutos.
	</p>
	<p>
		Além disso, você não precisa se preocupar em carregar suas compras, já que tudo o que você adquirir no Mercado Fique Em Casa será entregue diretamente em sua casa. 
	</p>
	<h4>Economia de dinheiro </h4>
	<p>
		A prática de comparar preços não é nova. Antes do surgimento da internet, as pessoas visitavam diferentes lojas e supermercados para saber qual tinha o melhor preço. Nesta época, os folhetos impressos com as ofertas da semana dos supermercados faziam bastante sucesso, pois eram a fonte de informação do consumidor. 
	</p>
	<p>
		Com o surgimento da internet e dos sites de comparação, muitas pessoas fazem sua pesquisa de preço antes mesmo de sair de casa. No entanto, essa prática online ainda é muito mais focada em produtos como maquiagem, livros e vestimentas. 
	</p>
	<p>
		A Mercado Fique Em Casa convida você a comparar, também, os alimentos que você compra da sua casa, assim como materiais de limpeza e higiene pessoal. Através da nossa plataforma, você consegue selecionar qual produto deseja comprar e analisar seu preço em diferentes supermercados na sua região. Dessa forma, você pode escolher qual o melhor preço para você! 
	</p>
	<p>
		Uma boa dica para economizar ainda mais, é sempre fazer uma lista de compras antes de entrar no site. Assim, você não se esquecerá de nada que precisa adquirir e faz uma compra de forma mais focada, já que existem várias opções de produto oferecidos em nossa plataforma.
	</p>
	<h4>Facilidade</h4>
	<p>
		É muito fácil nos perdermos nos muitos corredores e prateleiras dos supermercados. Além de gastarmos tempo, podemos acabar optando por um produto mais caro, já que o produto que queremos não foi encontrado, ou até, não comprarmos o que desejamos.  
	</p>
	<p>
		No Mercado Fique Em Casa, você tem à disposição um menu interativo com todas as seções que você precisa para achar o que deseja. Além disso, encontra as subcategorias, com produtos da mesma seção, onde você pode selecionar quais tipos de itens quer visualizar. 
	</p>
	<p>
		Caso queira comprar mais de um item, é só mudar a quantidade desejada e adicionar ao seu carrinho. Além disso, cada produto possui uma descrição, com detalhes como as especificidades daquele item, peso e tudo o que mais for relevante sobre o produto. 
	</p>
	<p>
		Se você procurar por algum produto que não esteja disponível, ao fim de sua compra, irá aparecer os itens não encontrados naquele supermercado e os produtos relacionados pelos quais você pode trocar. 
	</p>
	<p>
		O seu carrinho fica visível o tempo todo e você pode remover itens ou aumentar a quantidade quando quiser. Bem mais prático do que ter que andar por todo o supermercado para deixar ou pegar mais produtos. 
	</p>
	<p>
		Ao fim, você visualiza os itens escolhidos e seus preços de acordo com os supermercados próximos de você, além da taxa de serviço de cada um. Se quiser, pode optar pela retirada no próprio supermercado. 
	</p>
	<h3>Nossa missão, visão e valor</h3>
	<p>
		Desde sua fundação, a <strong>Mercado Fique Em Casa</strong> preza muito pelo empoderamento do cliente. Acreditamos que as pessoas têm o direito de investir seu tempo e dinheiro como desejarem, podendo optar por passar mais tempo com a família, amigos e comunidade ao invés de estarem no supermercado fazendo compras. Nesse contexto entra a nossa plataforma, um jeito rápido de economizar muito. 
	</p>
	<p>
		Realizando suas compras em nossa plataforma, você não será obrigado a realizar atividades que não gosta e, assim, terá mais tempo fazendo o que realmente importa para você. 
	</p>
	<p>
		<strong>Nossa missão:</strong> todos os mercados na palma da sua mão.<br />
		<strong>Nossa visão:</strong> pessoas com mais tempo e dinheiro são mais felizes. <br />
		<strong>Nossos valores:</strong> segurança, praticidade e economia! 
	</p>
	<h3>Como usar nossa plataforma?</h3>
	<p>
		<img src="<?php echo $this->baseUrl('img/home-scf.jpg'); ?>" alt="Home Mercado Fique Em Casa">
	</p>
	<p>
		Para realizar suas compras no Mercado Fique Em Casa é bem simples. Nossa plataforma é bastante intuitiva e foi desenvolvida especialmente para que você faça suas escolhas facilmente.Confira o passo a passo: 
	</p>
	<ol>
		<li>
			Crie uma conta. 
		</li>
		<li>
			Insira seu CEP — assim, você terá a melhor comparação dentre os supermercados de sua região.
		</li>
		<li>
			Selecione os produtos que deseja. Eles podem ser escolhidos por preço ou quantidade. 
		</li>
		<li>
			Escolha de qual supermercado você deseja comprar e que irá, também, entregar suas compras. 
		</li>
		<li>
			O pagamento somente será feito quando você receber suas comprar em casa. Por segurança, você não precisa se preocupar em pagar nada pelo site. 
		</li>
	</ol>
	<p>
		Fácil, né? 
	</p>
	<p>
		Você pode optar por retirar as compras no supermercado, escolhendo quem irá buscar (caso seja outra pessoa, você informa o nome e RG de quem irá retirar, para que não haja confusões) e qual dia e horário. 
	</p>
	<p>
		Na entrega a domicílio, você também escolhe qual o melhor dia e horário para receber sua compra. Caso você possua alguma dúvida, nossa seção de dúvidas frequentes está disponível para você sanar qualquer questão, seja com relação a entrega, retirada ou valores e taxas. 
	</p>
	<h3>Mercado Fique Em Casa: uma nova forma de fazer suas compras!</h3>
	<p class="img-left">
		<img src="<?php echo $this->baseUrl('img/uma-nova-forma-de-fazer-compras.jpg'); ?>" alt="Mercado Fique Em Casa - Uma nova forma de fazer compras">
	</p>
	<p>
		Com todas as facilidades oferecidas pelo Mercado Fique Em Casa, você tem mais tempo livre para gastar como quiser! Além disso, pode contar com uma grande variedade de opções de produtos e supermercados, optando pelo o que melhor te atender em termos de qualidade e preço.
	</p>
	<p>
		Compre em nossa plataforma agora mesmo! E, se quiser se manter informado de todos nossos descontos, promoções e novidades, sem perder nada, assine nossa newsletter e receba essas informações em seu e-mail. 
	</p>
	<h3>O que você encontra no Seu Compra Fácil?</h3>
	<p>
		Não importa o que você procura, no Seu Compra Fácil, você encontra! Confira nossas categorias e o que cada uma delas oferece para você. <br /><br />
	</p>
	<h4>Bazar e Pet</h4>
	<p>
		Artigos para festas; artigos automotivos; carvão, fósforos, isqueiros e velas; descartáveis; lâmpadas e pilhas; artigos para pets; produtos em alumínio e PVC; utensílios domésticos. 
	</p>
	<h4>Bebidas e leites</h4>
	<p>
		Água mineral e água de coco; bebidas de soja; cervejas; chás e mates; destilados; isotônicos e energéticos; leites e bebidas láctea UHT; licores; refrescos; refrigerantes; sucos; vinhos e espumantes. 
	</p>
	<h4>Biscoitos e snacks </h4>
	<p>
		Biscoitos doces; biscoitos salgados; chips, snacks e petiscos.
	</p>
	<h4>Carnes e peixes</h4>
	<p>
		Aves; carne bovina; carne suína; carnes salgadas e defumadas; linguiça para churrasco; peixes.
	</p>
	<h4>Cereais e massas</h4>
	<p>
		Arroz; farinha; feijão; grãos; massas frescas; massas instantâneas; massas secas. 
	</p>
	<h4>Conservas e temperos</h4>
	<p>
		Azeites e óleos; caldos e molhos; condimentos e temperos; derivados de tomate;  enlatados e conservas; sardinha e atum; sopas. 
	</p>
	<h4>Frios, laticínios e congelados</h4>
	<p>
		Frios e laticínios; hambúrgueres; iogurtes e leites fermentados; manteiga e margarina; patês; pizzas; pratos prontos, empanados e salgadinhos; queijos cremosos; queijos frescos; salsichas; sorvetes e sobremesas.
	</p>
	<h4>Higiene e beleza</h4>
	<p>
		Absorventes e fraldas geriátricas; algodão, cotonetes e lenços de papel; barba e depilação; desodorantes, colônias, talcos pós banho; higiene bucal; produtos infantis; papéis higiênicos; produtos para cabelo; produtos para corpo e rosto, sabonete e esponja. 
	</p>
	<h4>Hortifruti</h4>
	<p>
		Frutas; frutas secas; legumes; ovos; verduras.
	</p>
	<h4>Limpeza</h4>
	<p>
		Álcool, água sanitária e cloro; aromatizantes e inseticidas; ceras, lustra móveis e removedores; desinfetantes; limpadores; produtos para calçados; produtos para louça e fogão; produtos para roupa; utensílios domésticos.
	</p>
	<h4>Matinais e doces</h4>
	<p>
		Achocolatados; açucares e adoçantes; barras de cereal e outros; cafés e chás; compotas e geleias; cereais matinais e mingau; chocolates; complemento alimentar e leite em pó; doces e coberturas; gelatina; produtos naturais; sobremesas em pó. 
	</p>
	<h4>Padaria</h4>
	<p>
		Bolos e rocamboles; ingredientes, misturas para bolo e fermentos; pães; pães de forma; torradas.
	</p>
</div>