<div class="row">
    <div class="col-md-12">
    	<form method="post" action="" role="form" enctype="multipart/form-data">
	        <div data-collapsed="0" class="panel">
				<section class="panel">
					<header class="panel-heading tab-bg-dark-navy-blue ">
						<ul class="nav nav-tabs">
							<li class="active">
								<a data-toggle="tab" href="#informacoes">INFORMAÇÕES GERAIS</a>
							</li>

							<? if (!empty($this->id)) { ?>
								<li class="">
									<a data-toggle="tab" href="#regras-retirada">REGRAS DE RETIRADA</a>
								</li>
								<li class="">
									<a data-toggle="tab" href="#regras">REGRAS DE ENTREGA</a>
								</li>
								<li class="">
									<a data-toggle="tab" href="#feriados">CALENDÁRIO DE FERIADOS</a>
								</li>
							<? } ?>
						</ul>
					</header>
					<div class="panel-footer panel-header">
						<button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Salvar</button>
					</div>
					<div class="panel-body">
						<div class="tab-content">
							<div id="informacoes" class="tab-pane active">
								<div data-collapsed="0" class="panel">
									<div class="panel-heading">
										<div class="panel-title"><i class="fa fa-certificate"></i>Cadastro de Mercado</div>
									</div>

									<?php if (!empty($this->cadastro)) { ?>
										<div class="col-md-12">
											<div class="alert <?php echo (!empty($this->cadastro['sucesso']) ? (empty($this->cadastro['erros']) ? 'alert-success' : 'alert-warning') : 'alert-danger'); ?> alert-block fade in">
												<button data-dismiss="alert" class="close close-sm" type="button">
													<i class="fa fa-times"></i>
												</button>
												<?php if (!empty($this->cadastro['sucesso'])) { ?>
													<?php if (empty($this->cadastro['erros'])) { ?>
														<h4>
															<i class="icon-ok-sign"></i>
															Registro salvo com sucesso!
														</h4>
														<p>
															<?php if (!empty($this->id) && $_SESSION['logado']['usuario']['idMercado'] == 0) { ?>
																<a href="<?php echo $this->baseUrl('/mercado/cadastro/'); ?>" class="btn btn-primary"><i class="fa fa-star"></i> Novo Registro</a>
															<?php } ?>
															<a href="<?php echo $this->baseUrl('/mercado/'); ?>" class="btn btn-primary"><i class="fa fa-list"></i> Ver Listagem</a>
														</p>
													<?php } else { ?>
														<h4>
															<i class="icon-ok-sign"></i>
															Registro salvo mas com erros!
														</h4>
														<ul>
															<?php foreach ($this->cadastro['erros'] as $umErro) { ?>
																<li><?php echo $umErro; ?></li>
															<?php } ?>
														</ul>
													<?php } ?>
												<?php } else { ?>
													<?php if (!empty($this->cadastro['erros'])) { ?>
														<h4>
															<i class="icon-ok-sign"></i>
															Atenção! Corrija os erros abaixo
														</h4>
														<ul>
															<?php foreach ($this->cadastro['erros'] as $umErro) { ?>
																<li><?php echo $umErro; ?></li>
															<?php } ?>
														</ul>
													<?php } ?>
												<?php } ?>
											</div>
										</div>
									<?php } ?>
									<div class="panel-body">
										<div class="row">
											<div class="col-xs-12 col-sm-6 col-md-4 form-group">
												<label for="nome">Nome</label>
												<input type="text" class="form-control" id="nome" name="nome" value="<?php echo (!empty($this->dadosUsuario['nome']) ? $this->dadosUsuario['nome'] : (!empty($_POST['nome']) ? $_POST['nome'] : false)); ?>">
											</div>
											<div class="col-xs-12 col-sm-6 col-md-4 form-group">
												<label for="razaosocial">Razão Social</label>
												<input type="text" class="form-control" id="razaosocial" name="razaosocial" value="<?php echo (!empty($this->dadosUsuario['razaosocial']) ? $this->dadosUsuario['razaosocial'] : (!empty($_POST['razaosocial']) ? $_POST['razaosocial'] : false)); ?>">
											</div>
											
											<div class="col-xs-12 col-sm-6 col-md-4 form-group">
												<label for="cnpj">CNPJ</label>
												<input type="text" class="form-control" id="cnpj" name="cnpj" value="<?php echo (!empty($this->dadosUsuario['cnpj']) ? $this->dadosUsuario['cnpj'] : (!empty($_POST['cnpj']) ? $_POST['cnpj'] : false)); ?>">
											</div>
											
											<div class="col-xs-12 col-sm-6 col-md-4 form-group">
												<label for="responsavel">Responsável</label>
												<input type="text" class="form-control" id="responsavel" name="responsavel" value="<?php echo (!empty($this->dadosUsuario['responsavel']) ? $this->dadosUsuario['responsavel'] : (!empty($_POST['responsavel']) ? $_POST['responsavel'] : false)); ?>">
											</div>
											
											<div class="col-xs-12 col-sm-6 col-md-4 form-group">
												<label for="email">E-mail</label>
												<input type="text" class="form-control" id="email" name="email" value="<?php echo (!empty($this->dadosUsuario['email']) ? $this->dadosUsuario['email'] : (!empty($_POST['email']) ? $_POST['email'] : false)); ?>">
											</div>
											
											<div class="col-xs-12 col-sm-6 col-md-4 form-group">
												<label for="telefone">Telefone</label>
												<input type="text" class="form-control" id="telefone" name="telefone" value="<?php echo (!empty($this->dadosUsuario['telefone']) ? $this->dadosUsuario['telefone'] : (!empty($_POST['telefone']) ? $_POST['telefone'] : false)); ?>">
											</div>
											
											<div class="col-xs-12 col-sm-6 col-md-4 form-group">
												<label for="telefone2">Telefone 2</label>
												<input type="text" class="form-control" id="telefone2" name="telefone2" value="<?php echo (!empty($this->dadosUsuario['telefone2']) ? $this->dadosUsuario['telefone2'] : (!empty($_POST['telefone2']) ? $_POST['telefone2'] : false)); ?>">
											</div>
											
											<div class="col-xs-12 col-sm-6 col-md-4 form-group">
												<label for="cep">CEP</label>
												<input type="text" class="form-control" id="cep" name="cep" value="<?php echo (!empty($this->dadosUsuario['cep']) ? $this->dadosUsuario['cep'] : (!empty($_POST['cep']) ? $_POST['cep'] : false)); ?>" onblur="getDadosCEP(this.value);">
											</div>
											
											<div class="col-xs-12 col-sm-6 col-md-4 form-group">
												<label for="rua">Rua</label>
												<input type="text" class="form-control" id="rua" name="rua" value="<?php echo (!empty($this->dadosUsuario['rua']) ? $this->dadosUsuario['rua'] : (!empty($_POST['rua']) ? $_POST['rua'] : false)); ?>">
											</div>
											
											<div class="col-xs-12 col-sm-6 col-md-4 form-group">
												<label for="numero">Número</label>
												<input type="text" class="form-control" id="numero" name="numero" value="<?php echo (!empty($this->dadosUsuario['numero']) ? $this->dadosUsuario['numero'] : (!empty($_POST['numero']) ? $_POST['numero'] : false)); ?>">
											</div>
											
											<div class="col-xs-12 col-sm-6 col-md-4 form-group">
												<label for="complemento">Complemento</label>
												<input type="text" class="form-control" id="complemento" name="complemento" value="<?php echo (!empty($this->dadosUsuario['complemento']) ? $this->dadosUsuario['complemento'] : (!empty($_POST['complemento']) ? $_POST['complemento'] : false)); ?>">
											</div>
											
											<div class="col-xs-12 col-sm-6 col-md-4 form-group">
												<label for="bairro">Bairro</label>
												<input type="text" class="form-control" id="bairro" name="bairro" value="<?php echo (!empty($this->dadosUsuario['bairro']) ? $this->dadosUsuario['bairro'] : (!empty($_POST['bairro']) ? $_POST['bairro'] : false)); ?>">
											</div>
											

											<div class="col-xs-12 col-sm-6 col-md-4 form-group">
												<label for="estado">Estado</label>
												<select class="form-control" name="idEstado" id="idEstado">
													<option value="">Selecione</option>
													<?php if ($this->arrayListEstados) { ?>
														<?php foreach ($this->arrayListEstados as $umEstado) { ?>
															<option <?php echo ((!empty($this->dadosUsuario['cidade']['idEstado']) && $this->dadosUsuario['cidade']['idEstado'] == $umEstado['id']) || (!empty($_POST['idEstado']) && $_POST['idEstado'] == $umEstado['id']) ? 'selected="selected"' : false); ?> value="<?php echo $umEstado['id']; ?>"><?php echo $umEstado['uf']; ?></option>
														<?php } ?>
													<?php } ?>
												</select>
											</div>

											<div class="col-xs-12 col-sm-6 col-md-4 form-group">
												<label for="cidade">Cidade</label>
												<select class="form-control" name="idCidade" id="idCidade">
													<?php if (!empty($this->arrayListCidades)) { ?>
														<?php foreach ($this->arrayListCidades as $umaCidade) { ?>
															<option <?php echo ((!empty($this->dadosUsuario['cidade']['id']) && $this->dadosUsuario['cidade']['id'] == $umaCidade['id']) || (!empty($_POST['idCidade']) && $_POST['idCidade'] == $umaCidade['id']) ? 'selected="selected"' : false); ?> value="<?php echo $umaCidade['id']; ?>"><?php echo $umaCidade['cidade']; ?></option>
														<?php } ?>
													<?php } else { ?>
														<option value="">Selecione</option>
													<?php } ?>
												</select>
											</div>
											

											<div class="col-xs-12 col-sm-6 col-md-4 form-group">
												<label for="senha">Senha</label>
												<input type="password" class="form-control" id="senha" name="senha">
											</div>
											
											<div class="col-xs-12 col-sm-6 col-md-4 form-group">
												<label for="ativo">Status</label>
												<select class="form-control" name="ativo" id="ativo">
													<option value="3" <?php echo ((!empty($this->dadosUsuario['ativo']) && $this->dadosUsuario['ativo'] == 3) || (!empty($_POST['ativo']) && $_POST['ativo'] == 3) ? 'selected="selected"' : false); ?> >Mercado</option>
													<option value="2" <?php echo ((!empty($this->dadosUsuario['ativo']) && $this->dadosUsuario['ativo'] == 2) || (!empty($_POST['ativo']) && $_POST['ativo'] == 2) ? 'selected="selected"' : false); ?> >Site + Mercado</option>
													<option value="1" <?php echo ((!empty($this->dadosUsuario['ativo']) && $this->dadosUsuario['ativo'] == 1) || (!empty($_POST['ativo']) && $_POST['ativo'] == 1) ? 'selected="selected"' : false); ?> >Site</option>
													<option value="0" <?php echo ((!empty($this->dadosUsuario['ativo']) && $this->dadosUsuario['ativo'] == 0) || (!empty($_POST['ativo']) && $_POST['ativo'] == 0) ? 'selected="selected"' : false); ?> >Desativado</option>
												</select>
											</div>
											

											<div class="col-xs-12 col-sm-6 col-md-4 form-group <? if ($_SESSION['logado']['usuario']['idMercado'] != 0) { ?>hidden<? } ?>">
												<label for="subdomain">Domínio</label>
												<input type="text" class="form-control" id="subdomain" name="subdomain" value="<?php echo (!empty($this->dadosUsuario['subdomain']) ? $this->dadosUsuario['subdomain'] : (!empty($_POST['subdomain']) ? $_POST['subdomain'] : false)); ?>">
											</div>

											<div class="col-xs-12 col-sm-6 col-md-4 form-group">
												<label for="configuracaocores">Cor</label>
												<select class="form-control" name="configuracaocores" id="configuracaocores">
													<option value="" <?php echo ((!empty($this->dadosUsuario['configuracaocores']) && $this->dadosUsuario['configuracaocores'] == '') || (!empty($_POST['configuracaocores']) && $_POST['configuracaocores'] == 1) ? 'selected="selected"' : false); ?> >Nenhuma</option>
													<option value="verde" <?php echo ((!empty($this->dadosUsuario['configuracaocores']) && $this->dadosUsuario['configuracaocores'] == 'verde') || (!empty($_POST['configuracaocores']) && $_POST['configuracaocores'] == 1) ? 'selected="selected"' : false); ?> >Verde</option>
												</select>
											</div>
											<? if ($_SESSION['logado']['usuario']['idMercado'] != 0) { ?><div class="clearfix"></div><? } ?>
											<div class="col-md-4 form-group">
												<label for="foto">Logo Marketplace</label>
												<input type="file" class="form-control" id="foto" name="foto">
												<p class="help-block">Tamanho ideal: 300x300px</p>

												<? if (!empty($this->id) && !empty($this->dadosUsuario['foto'])) { ?>
													<div class="row uploadEdit">
														<div class="col-md-12">
															<a id="single_1" href="<?php echo $this->baseUrl('/uploads/mercados/' . strtolower($this->dadosUsuario['foto'])); ?>" target="_blank"  data-placement="top" data-toggle="tooltip" class="tooltips fancybox">
																<img width="100" class="img-responsive img-thumbnail" src="<?php echo $this->baseUrl('/uploads/mercados/thumbs/' . strtolower($this->dadosUsuario['foto'])); ?>" />
															</a>
														</div>
													</div>
												<? } ?>

											</div>

											<div class="col-md-4 form-group">
												<label for="foto2">Logo Mercado Individual</label>
												<input type="file" class="form-control" id="foto2" name="foto2">
												<p class="help-block">Tamanho ideal: 300x100px</p>

												<? if (!empty($this->id) && !empty($this->dadosUsuario['foto2'])) { ?>
													<div class="row uploadEdit">
														<div class="col-md-12">
															<a id="single_1" href="<?php echo $this->baseUrl('/uploads/mercados/' . strtolower($this->dadosUsuario['foto2'])); ?>" target="_blank"  data-placement="top" data-toggle="tooltip" class="tooltips fancybox">
																<img width="100" class="img-responsive img-thumbnail" src="<?php echo $this->baseUrl('/uploads/mercados/thumbs/' . strtolower($this->dadosUsuario['foto2'])); ?>" />
															</a>
														</div>
													</div>
												<? } ?>

											</div>

											<!--<div class="col-xs-12 col-sm-6 col-md-4 form-group">
												<label for="configuracaocss">Cor</label>
												<select class="form-control" name="configuracaocss" id="configuracaocss">
													<option value="" <?php echo ((!empty($this->dadosUsuario['configuracaocss']) && $this->dadosUsuario['configuracaocores'] == '') || (!empty($_POST['configuracaocores']) && $_POST['configuracaocss'] == 1) ? 'selected="selected"' : false); ?> >Nenhuma</option>
													<option value="CSS" <?php echo ((!empty($this->dadosUsuario['configuracaocss']) && $this->dadosUsuario['configuracaocores'] == 'verde') || (!empty($_POST['configuracaocores']) && $_POST['configuracaocss'] == 1) ? 'selected="selected"' : false); ?> >CSS</option>
												</select>
											</div>-->

											<div class="col-md-12 form-group">
												<label for="horario-de-atendimento">Horário de Atendimento</label>
												<textarea class="form-control" id="horario-de-atendimento" name="editor1" rows="6"><?php echo (!empty($this->dadosUsuario['horariodeatendimento']) ? $this->dadosUsuario['horariodeatendimento'] : (!empty($_POST['editor1']) ? $_POST['editor1'] : false)); ?></textarea>
											</div>
										</div>
									</div>
								</div>
								<div class="panel-footer">
									<button type="submit" name="enviar" class="btn btn-primary"><i class="fa fa-save"></i> Salvar</button>
								</div>
							</div>
							<div id="regras-retirada" class="tab-pane">
								<div data-collapsed="0" class="panel">
									<div class="panel-heading">
										<div class="panel-title" id="cadastroRegraRetirada" ><i class="fa fa-certificate"></i>Regras de Retirada</div>
									</div>
									<div class="panel-body">
										<input type="hidden" name="codigoEdicaoRetirada" id="codigoEdicaoRetirada" value="" />
										<div class="row">
											<div class="col-xs-12 col-sm-6 col-md-4 form-group">
												<label for="nome-regra-retirada">Nome da regra</label>
												<input type="text" class="form-control" id="nome-regra-retirada" name="nome-regra-retirada" value="<?php echo ( (!empty($_POST['nome-regra-retirada']) ? $_POST['nome-regra-retirada'] : false)); ?>">
											</div>
											<div class="col-xs-12 col-sm-6 col-md-4 form-group">
												<label for="taxa-retirada">Taxa cobrada</label>
												<input type="text" class="form-control" id="taxa-retirada" name="taxa-retirada" value="<?php echo ((!empty($_POST['taxa-retirada']) ? $_POST['taxa-retirada'] : false)); ?>" data-thousands="." data-decimal=",">
											</div>
											<div class="col-xs-12 col-sm-6 col-md-2 form-group">
												<label for="cep-de2">Faixa de CEP (De)</label>
												<input type="text" class="form-control" id="cep-de2" name="cep-de2" value="<?php echo ((!empty($_POST['cep-de2']) ? $_POST['cep-de2'] : false)); ?>">
											</div>
											<div class="col-xs-12 col-sm-6 col-md-2 form-group">
												<label for="cep-ate2">Faixa de CEP (Até)</label>
												<input type="text" class="form-control" id="cep-ate2" name="cep-ate2" value="<?php echo ( (!empty($_POST['cep-ate2']) ? $_POST['cep-ate2'] : false)); ?>">
											</div>
											
											<div class="col-xs-12 col-sm-6 col-md-4 form-group">
												<label for="retirada-compras-de-1">Compras de</label>
												<input type="time" class="form-control" name="retirada-compras-de-1" id="retirada-compras-de-1" value="">
											
											</div>
											<div class="col-xs-12 col-sm-6 col-md-4 form-group">
												<label for="retirada-compras-ate-1">Compras até</label>
												<input type="time" class="form-control" name="retirada-compras-ate-1" id="retirada-compras-ate-1" value="">
											</div>
											<div class="col-xs-12 col-sm-6 col-md-4 form-group">
												<label for="retirada-em-1">Retirada em</label>
												<input type="text" class="form-control" id="retirada-em-1" name="retirada-em-1" value="<?php echo ( (!empty($_POST['retirada-em-1']) ? $_POST['retirada-em-1'] : false)); ?>">
											</div>
											<div class="col-xs-12 col-sm-6 col-md-4 form-group">
												<label for="retirada-compras-de-2">Compras de</label>
												<input type="time" class="form-control" name="retirada-compras-de-2" id="retirada-compras-de-2" value="">
											</div>
											<div class="col-xs-12 col-sm-6 col-md-4 form-group">
												<label for="retirada-compras-ate-2">Compras até</label>
												<input type="time" class="form-control" name="retirada-compras-ate-2" id="retirada-compras-ate-2" value="">
											</div>
											<div class="col-xs-12 col-sm-6 col-md-4 form-group">
												<label for="retirada-em-2">Retirada em</label>
												<input type="text" class="form-control" id="retirada-em-2" name="retirada-em-2" value="<?php echo ((!empty($_POST['retirada-em-2']) ? $_POST['retirada-em-2'] : false)); ?>">
											</div>

											<div class="col-xs-12 col-sm-6 col-md-4 form-group">
												<label for="retirada-compras-de-3">Compras de</label>
												<input type="time" class="form-control" name="retirada-compras-de-3" id="retirada-compras-de-3" value="">
											</div>
											<div class="col-xs-12 col-sm-6 col-md-4 form-group">
												<label for="retirada-compras-ate-3">Compras até</label>
												<input type="time" class="form-control" name="retirada-compras-ate-3" id="retirada-compras-ate-3" value="">
											</div>
											<div class="col-xs-12 col-sm-6 col-md-4 form-group">
												<label for="retirada-em-3">Retirada em</label>
												<input type="text" class="form-control" id="retirada-em-3" name="retirada-em-3" value="<?php echo ((!empty($_POST['retirada-em-3']) ? $_POST['retirada-em-3'] : false)); ?>">
											</div>

											<div class="col-xs-12 col-sm-6 col-md-4 form-group">
												<label for="retirada-compras-de-4">Compras de</label>
												<input type="time" class="form-control" name="retirada-compras-de-4" id="retirada-compras-de-4" value="">
											</div>
											<div class="col-xs-12 col-sm-6 col-md-4 form-group">
												<label for="retirada-compras-ate-4">Compras até</label>
												<input type="time" class="form-control" name="retirada-compras-ate-4" id="retirada-compras-ate-4" value="">
											</div>
											<div class="col-xs-12 col-sm-6 col-md-4 form-group">
												<label for="retirada-em-4">Retirada em</label>
												<input type="text" class="form-control" id="retirada-em-4" name="retirada-em-4" value="<?php echo ((!empty($_POST['retirada-em-4']) ? $_POST['retirada-em-4'] : false)); ?>">
											</div>

										</div>

									</div>
									<div class="panel-footer">
										<button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Salvar</button>
									</div>

									<div class="panel-heading">
										<div class="panel-title"><i class="fa fa-exclamation-circle"></i>Listagem de regras do mercado</div>
									</div>
									<div class="panel-body">
										<div class="adv-table">
											<table  class="display table table-bordered table-striped">
												<thead>
													<tr>
														<th>NOME</th>
														<th>FAIXA DE CEP</th>
														<th>TAXA</th>
														<th>ENTREGA</th>
														<th class="hidden-phone sorting_disabled text-center"></th>
													</tr>
													</thead>
												<tbody>
													<? foreach($this->dadosUsuario['regrasRetirada'] as $umaEntrega) { ?>
													<tr>
														<td><?=$umaEntrega['nomeregra']?></td>
														<td><?=$umaEntrega['faixacepde']?> a <?=$umaEntrega['faixacepate']?></td>
														<td>R$ <?=number_format($umaEntrega['taxa'], 2, ',', '.')?></td>
														<td>
															Compras das <?=$umaEntrega['comprasde']?> as <?=$umaEntrega['comprasate']?> retirada <?=$umaEntrega['retiradaem']?> e 
															<br /> compras das <?=$umaEntrega['comprasde2']?> as <?=$umaEntrega['comprasate2']?> retirada <?=$umaEntrega['retiradaem2']?>
															e <br /> compras das <?=$umaEntrega['comprasde3']?> as <?=$umaEntrega['comprasate3']?> retirada <?=$umaEntrega['retiradaem3']?>
															e <br /> compras das <?=$umaEntrega['comprasde4']?> as <?=$umaEntrega['comprasate4']?> retirada <?=$umaEntrega['retiradaem4']?>
														</td>
														<td class="center">
															<a data-original-title="Editar" data-compras-ate4="<?=$umaEntrega['comprasate4']?>" data-entrega-em4="<?=$umaEntrega['retiradaem4']?>" data-compras-de4="<?=$umaEntrega['comprasde4']?>" data-compras-ate3="<?=$umaEntrega['comprasate3']?>" data-entrega-em3="<?=$umaEntrega['retiradaem3']?>" data-compras-de3="<?=$umaEntrega['comprasde3']?>" data-compras-ate2="<?=$umaEntrega['comprasate2']?>" data-entrega-em2="<?=$umaEntrega['retiradaem2']?>" data-compras-de2="<?=$umaEntrega['comprasde2']?>" data-compras-ate="<?=$umaEntrega['comprasate']?>" data-entrega-em="<?=$umaEntrega['retiradaem']?>" data-compras-de="<?=$umaEntrega['comprasde']?>" data-data-cobrada="<?=number_format($umaEntrega['taxa'], 2, ',', '.')?>" data-faixa-ate="<?=$umaEntrega['faixacepate']?>" data-faixa-de="<?=$umaEntrega['faixacepde']?>" data-placement="top" id="btn_<?=$umaEntrega['id'];?>" href="javascript:editar2('btn_<?=$umaEntrega['id'];?>');" data-id="<?=$umaEntrega['id'];?>" data-nome="<?=$umaEntrega['nomeregra']?>"  class="btn btn-primary btn-xs tooltips" rel="editar"><i class="fa fa-edit"></i></a> 
															<a data-original-title="Excluir" data-placement="top" data-toggle="tooltip" href="javascript:$('#codigoDelecao2').val('<?=$umaEntrega['id'];?>');document.formdelecao2.submit();" class="btn btn-danger btn-xs tooltips" rel="excluir"><i class="fa fa-trash-o"></i></a>
														</td>
													</tr>
													<? } ?>
												</tbody>
												<tfoot>
													<tr>
														<th>NOME</th>
														<th>FAIXA DE CEP</th>
														<th>TAXA</th>
														<th>ENTREGA</th>
														<th class="hidden-phone sorting_disabled text-center"></th>
													</tr>
												</tfoot>
											</table>
										</div>
									</div>

								</div>
							</div>
							<div id="regras" class="tab-pane">
								<div data-collapsed="0" class="panel">
									<div class="panel-heading">
										<div class="panel-title" id="cadastroRegraEntrega"><i class="fa fa-exclamation-circle"></i>Cadastro de Nova Regra de Entrega</div>
									</div>
									<div class="panel-body">
										<div class="row">
											<input type="hidden" name="codigoEdicaoEntrega" id="codigoEdicaoEntrega" value="" />
											<div class="col-xs-12 col-sm-6 col-md-3 form-group">
												<label for="nome-regra">Nome da regra</label>
												<input type="text" class="form-control" id="nome-regra" name="nome-regra" value="<?php echo (!empty($_POST['nome-regra']) ? $_POST['nome-regra'] : false); ?>">
											</div>
											<div class="col-xs-12 col-sm-6 col-md-3 form-group">
												<label for="valor-minimo">Valor mínimo para entrega</label>
												<input type="text" class="form-control" id="valor-minimo" name="valor-minimo" value="<?php echo (!empty($_POST['valor-minimo']) ? $_POST['valor-minimo'] : false); ?>" data-thousands="." data-decimal=",">
											</div>
											<div class="col-xs-12 col-sm-4 col-md-2 form-group">
												<label for="taxa">Taxa cobrada</label>
												<input type="text" class="form-control" id="taxa" name="taxa" value="<?php echo (!empty($_POST['taxa']) ? $_POST['taxa'] : false); ?>" data-thousands="." data-decimal=",">
											</div>
											<div class="col-xs-12 col-sm-4 col-md-2 form-group">
												<label for="cep-de">Faixa de CEP (De)</label>
												<input type="text" class="form-control" id="cep-de" name="cep-de" value="<?php echo (!empty($_POST['cep-de']) ? $_POST['cep-de'] : false); ?>">
											</div>
											<div class="col-xs-12 col-sm-4 col-md-2 form-group">
												<label for="cep-ate">Faixa de CEP (Até)</label>
												<input type="text" class="form-control" id="cep-ate" name="cep-ate" value="<?php echo (!empty($_POST['cep-ate']) ? $_POST['cep-ate'] : false); ?>">
											</div>
											<div class="col-xs-6 col-sm-3 col-md-3 form-group">
												<label for="compras-de-1">Compras de</label>
												<input type="time" class="form-control" name="compras-de-1" id="compras-de-1" value="">
											</div>
											<div class="col-xs-6 col-sm-3 col-md-3 form-group">
												<label for="compras-ate-1">Compras até</label>
												<input type="time" class="form-control" name="compras-ate-1" id="compras-ate-1" value="">
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6 form-group">
												<label for="entrega-em-1">Entrega em</label>
												<input type="text" class="form-control" id="entrega-em-1" name="entrega-em-1" value="<?php echo (!empty($_POST['entrega-em-1']) ? $_POST['entrega-em-1'] : false); ?>">
											</div>
											<div class="col-xs-6 col-sm-3 col-md-3 form-group">
												<label for="compras-de-2">Compras de</label>
												<input type="time" class="form-control" name="compras-de-2" id="compras-de-2" value="">
											</div>
											<div class="col-xs-6 col-sm-3 col-md-3 form-group">
												<label for="compras-ate-2">Compras até</label>
												<input type="time" class="form-control" name="compras-ate-2" id="compras-ate-2" value="">
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6 form-group">
												<label for="entrega-em-2">Entrega em</label>
												<input type="text" class="form-control" id="entrega-em-2" name="entrega-em-2" value="<?php echo (!empty($_POST['entrega-em-2']) ? $_POST['entrega-em-2'] : false); ?>">
											</div>

											<div class="col-xs-6 col-sm-3 col-md-3 form-group">
												<label for="compras-de-3">Compras de</label>
												<input type="time" class="form-control" name="compras-de-3" id="compras-de-3" value="">
											</div>
											<div class="col-xs-6 col-sm-3 col-md-3 form-group">
												<label for="compras-ate-3">Compras até</label>
												<input type="time" class="form-control" name="compras-ate-3" id="compras-ate-3" value="">
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6 form-group">
												<label for="entrega-em-3">Entrega em</label>
												<input type="text" class="form-control" id="entrega-em-3" name="entrega-em-3" value="<?php echo (!empty($_POST['entrega-em-3']) ? $_POST['entrega-em-3'] : false); ?>">
											</div>
										</div>
										
									
									</div>
									<div class="panel-footer">
										<button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Salvar</button>
									</div>	
									<div class="panel-heading">
										<div class="panel-title"><i class="fa fa-exclamation-circle"></i>Listagem de regras do mercado</div>
									</div>
									<div class="panel-body">
										<div class="adv-table">
											<table  class="display table table-bordered table-striped">
												<thead>
													<tr>
														<th>NOME</th>
														<th>MÍNIMO</th>
														<th>FAIXA DE CEP</th>
														<th>TAXA</th>
														<th>ENTREGA</th>
														<th class="hidden-phone sorting_disabled text-center"></th>
													</tr>
													</thead>
												<tbody>
													<? foreach($this->dadosUsuario['regrasEntrega'] as $umaEntrega) { ?>
													<tr>
														<td><?=$umaEntrega['nomeregra']?></td>
														<td>R$ <?=number_format($umaEntrega['valor'], 2, ',', '.')?></td>
														<td><?=$umaEntrega['faixacepde']?> a <?=$umaEntrega['faixacepate']?></td>
														<td>R$ <?=number_format($umaEntrega['taxacobrada'], 2, ',', '.')?></td>
														<td>
															Compras das <?=$umaEntrega['comprasde']?> as <?=$umaEntrega['comprasate']?> entrega <?=$umaEntrega['entregaem']?> e 
															<br /> compras das <?=$umaEntrega['comprasde2']?> as <?=$umaEntrega['comprasate2']?> entrega <?=$umaEntrega['entregaem2']?>
															e <br /> compras das <?=$umaEntrega['comprasde3']?> as <?=$umaEntrega['comprasate3']?> entrega <?=$umaEntrega['entregaem3']?>
														</td>
														<td class="center">
															<a data-original-title="Editar" data-compras-ate3="<?=$umaEntrega['comprasate3']?>" data-entrega-em3="<?=$umaEntrega['entregaem3']?>" data-compras-de3="<?=$umaEntrega['comprasde3']?>" data-compras-ate2="<?=$umaEntrega['comprasate2']?>" data-entrega-em2="<?=$umaEntrega['entregaem2']?>" data-compras-de2="<?=$umaEntrega['comprasde2']?>" data-compras-ate="<?=$umaEntrega['comprasate']?>" data-entrega-em="<?=$umaEntrega['entregaem']?>" data-compras-de="<?=$umaEntrega['comprasde']?>" data-data-cobrada="<?=number_format($umaEntrega['taxacobrada'], 2, ',', '.')?>" data-faixa-ate="<?=$umaEntrega['faixacepate']?>" data-faixa-de="<?=$umaEntrega['faixacepde']?>" data-placement="top" id="btn_<?=$umaEntrega['id'];?>" href="javascript:editar('btn_<?=$umaEntrega['id'];?>');" data-id="<?=$umaEntrega['id'];?>" data-nome="<?=$umaEntrega['nomeregra']?>" data-minimo="<?=number_format($umaEntrega['valor'], 2, ',', '.')?>" class="btn btn-primary btn-xs tooltips" rel="editar"><i class="fa fa-edit"></i></a> 
															<a data-original-title="Excluir" data-placement="top" data-toggle="tooltip" href="javascript:$('#codigoDelecao').val('<?=$umaEntrega['id'];?>');document.formdelecao.submit();" class="btn btn-danger btn-xs tooltips" rel="excluir"><i class="fa fa-trash-o"></i></a>
														</td>
													</tr>
													<? } ?>
												</tbody>
												<tfoot>
													<tr>
														<th>NOME</th>
														<th>MÍNIMO</th>
														<th>FAIXA DE CEP</th>
														<th>TAXA</th>
														<th>ENTREGA</th>
														<th class="hidden-phone sorting_disabled text-center"></th>
													</tr>
												</tfoot>
											</table>
										</div>
									</div>
									
								</div>
							</div>
							<div id="feriados" class="tab-pane">
								<div data-collapsed="0" class="panel">
									<div class="panel-body">
										<div id="calendar"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				
	        </div>
	    </form>

	    <form name="formdelecao" method="post" action="<?php echo $this->baseUrl('/mercado/remover-entrega'); ?>">
			<input type="hidden" name="mercado" value="<?=$this->id;?>" readonly />
	    	<input type="hidden" name="codigoDelecao" id="codigoDelecao" value="" readonly />
	    </form>

	    <form name="formdelecao2" method="post" action="<?php echo $this->baseUrl('/mercado/remover-retirada'); ?>">
			<input type="hidden" name="mercado" value="<?=$this->id;?>" readonly />
	    	<input type="hidden" name="codigoDelecao2" id="codigoDelecao2" value="" readonly />
	    </form>

    </div>
</div>
<script>

    function getDadosCEP(cep) {
         $.ajax({
            url: '<?php echo $this->baseUrl('/ajax/busca-cep'); ?>',
            data: {cep: cep},
            type: 'POST',
            dataType: 'json',
            success: function (data) {

                if (data.length) {
                    $("#rua").val(data[0].abreviado);
                    $("#bairro").val(data[0].bairro);
                    $("#idEstado").val(data[0].idEstado);

                    buscaEstado(data[0].idEstado, data[0].localidadecodigo);
                }
            }
        });
    }

    function buscaEstado(idEstado, idCidade) {
        $.ajax({
            url: '<?php echo $this->baseUrl('/ajax/busca-cidades'); ?>',
            data: {idEstado: idEstado, idCidade: idCidade},
            type: 'POST',
            beforeSend: function () {
                $('#idCidade').html("<option selected disabled>Carregando...</option>");
            }, success: function (r) {
                $('#idCidade').html(r);
            }
        });
    }

    function editar(obj) {
    	var objeto = $("#"+obj);
    	$("#nome-regra").val(objeto.context.activeElement.dataset.nome);
    	$("#valor-minimo").val(objeto.context.activeElement.dataset.minimo);
    	$("#cep-de").val(objeto.context.activeElement.dataset.faixaDe);
    	$("#cep-ate").val(objeto.context.activeElement.dataset.faixaAte);
    	$("#taxa").val(objeto.context.activeElement.dataset.dataCobrada);
    	$("#compras-de-1").val(objeto.context.activeElement.dataset.comprasDe);
    	$("#compras-ate-1").val(objeto.context.activeElement.dataset.comprasAte);
    	$("#entrega-em-1").val(objeto.context.activeElement.dataset.entregaEm);
    	$("#compras-de-2").val(objeto.context.activeElement.dataset.comprasDe2);
    	$("#compras-ate-2").val(objeto.context.activeElement.dataset.comprasAte2);
    	$("#entrega-em-2").val(objeto.context.activeElement.dataset.entregaEm2);

    	$("#compras-de-3").val(objeto.context.activeElement.dataset.comprasDe3);
    	$("#compras-ate-3").val(objeto.context.activeElement.dataset.comprasAte3);
    	$("#entrega-em-3").val(objeto.context.activeElement.dataset.entregaEm3);

    	$("#codigoEdicaoEntrega").val(objeto.context.activeElement.dataset.id);
    	$('html, body').animate({scrollTop: $("#cadastroRegraEntrega").offset().top}, 200, function(){});

    }

    function editar2(obj) {
    	var objeto = $("#"+obj);
    	$("#nome-regra-retirada").val(objeto.context.activeElement.dataset.nome);
    	
    	$("#cep-de2").val(objeto.context.activeElement.dataset.faixaDe);
    	$("#cep-ate2").val(objeto.context.activeElement.dataset.faixaAte);
    	$("#taxa-retirada").val(objeto.context.activeElement.dataset.dataCobrada);
    	
    	$("#retirada-compras-de-1").val(objeto.context.activeElement.dataset.comprasDe);
    	$("#retirada-compras-ate-1").val(objeto.context.activeElement.dataset.comprasAte);
    	$("#retirada-em-1").val(objeto.context.activeElement.dataset.entregaEm);
    	
    	$("#retirada-compras-de-2").val(objeto.context.activeElement.dataset.comprasDe2);
    	$("#retirada-compras-ate-2").val(objeto.context.activeElement.dataset.comprasAte2);
    	$("#retirada-em-2").val(objeto.context.activeElement.dataset.entregaEm2);
    	
    	$("#retirada-compras-de-3").val(objeto.context.activeElement.dataset.comprasDe3);
    	$("#retirada-compras-ate-3").val(objeto.context.activeElement.dataset.comprasAte3);
    	$("#retirada-em-3").val(objeto.context.activeElement.dataset.entregaEm3);
    	
    	$("#retirada-compras-de-4").val(objeto.context.activeElement.dataset.comprasDe4);
    	$("#retirada-compras-ate-4").val(objeto.context.activeElement.dataset.comprasAte4);
    	$("#retirada-em-4").val(objeto.context.activeElement.dataset.entregaEm4);

    	$("#codigoEdicaoRetirada").val(objeto.context.activeElement.dataset.id);
    	$('html, body').animate({scrollTop: $("#cadastroRegraRetirada").offset().top}, 200, function(){});

    }

    $(document).ready(function() {
        $('#idEstado').change(function () {
            idEstado = $(this).val();
            if (idEstado > 0) {
                buscaEstado(idEstado,0);
            }
        });

        <? if (!empty($this->id)) { ?>
	        $('#calendar').calendar({
				minDate: new Date(new Date().getFullYear(), 0, 1),
				maxDate: new Date(new Date().getFullYear()+2, 11, 31),
				startYear: new Date().getFullYear(),
				language: 'pt',
			  	style: 'background',
			  	dataSource: [

			  		<? 
						$contador = 0;
						foreach($this->dadosUsuario['feriados'] as $value) { 
							$contador++;

							$dataAtual = date_parse($value['data']);

							$year = $dataAtual['year'];
							$month = $dataAtual['month']-1;
							$day = $dataAtual['day'];
						?>

						<? if ($contador != 1) { ?>
							,
						<? } ?>

						{
							id: <?=$value['id']?>,
							name: 'Feriado',
							startDate: new Date(<?=$year?>, <?=$month?>, <?=$day?>),
							endDate: new Date(<?=$year?>, <?=$month?>, <?=$day?>)
						}

					<? } ?>

			  	]
			});

			$('#calendar').bind('clickDay', function(e){ 
				var data = e.date.getFullYear() + "-" +  ("0" + (e.date.getMonth() + 1)).slice(-2) + "-" + ("0" + e.date.getDate()).slice(-2);

				$.ajax({
					type: "POST",
					url: "<?php echo $this->baseUrl('/mercado/cadastro-feriado'); ?>",
					data: {
						mercado: '<?=$this->id;?>',
						data: data
					},
					dataType: "json",
					success: function(json){
						var dataSource = [];
						$.each(json, function(key, value){
							date = value.data.split("-");

							var data = {
						        id: parseInt(value.id),
						        name: 'Feriado',
						        startDate: new Date(date[0], parseFloat(date[1]) - 1, date[2]),
						        endDate: new Date(date[0], parseFloat(date[1]) - 1, date[2])
						    }

							dataSource.push(data);
						});

						$('#calendar').data('calendar').setDataSource(dataSource);
					}
				});


			});

		<? } ?>

       
    });

</script>
<script type="text/javascript">
	$(document).ready(function () {
		$("#cnpj").mask("99.999.999/9999-99");
		$("#retirada-compras-de-1").mask("99:99");
		$("#telefone").mask("(99) 99999-999?9");
		$("#telefone2").mask("(99) 99999-999?9");
		$("#cep, #cep-de, #cep-ate, #cep-de2, #cep-ate2").mask("99999-999");
		$("#taxa-retirada").maskMoney();	
		$("#valor-minimo").maskMoney();	
		$("#taxa").maskMoney();
	});
</script>