<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="HADÔ Agência Web">
    <link rel="shortcut icon" href="images/favicon.png">

    <title>Login - Mercadofy</title>

    <!--Core CSS -->
    <link href="bs3/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-reset.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet" />

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]>
    <script src="js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

  <body class="login-body">

    <div class="container">

      <form class="form-signin" action="<?php echo $this->baseUrl('autenticacao'); ?>" method="post">
        <h2 class="form-signin-heading"><img src="images/logo.png" alt=""></h2>
        <div class="login-wrap">
            <?php if (!empty($this->erro)) { ?>
                <p class="alert alert-warning"><?php echo $this->erro; ?></p>
            <?php } ?>
            <div class="user-login-info">
                <input type="text" name="usuario" class="form-control" placeholder="Usuário" autofocus>
                <input type="password" name="senha" class="form-control" placeholder="Senha">
            </div>
            <label class="checkbox">
                <span class="pull-right">
                    <a data-toggle="modal" href="#myModal"> Esqueceu a senha?</a>
                </span>
            </label><br />
            <button class="btn btn-lg btn-login btn-block" type="submit">Entrar</button>
        </div>

          
      </form>

       <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Esqueceu a senha?</h4>
                    </div>

                    <div class="modal-body">
                      <div class="alert alert-success" id="msgAlerta" style="display:none;">
                        
                      </div>

                        <p>Digite seu e-mail abaixo e receba o link para redefinição.</p>
                        <input type="text" name="email" id="email" placeholder="E-mail" autocomplete="off" class="form-control placeholder-no-fix">

                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button">Cancelar</button>
                        <button class="btn btn-success" id="enviar" type="button">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Core js-->
    <script src="js/jquery.js"></script>
    <script src="bs3/js/bootstrap.min.js"></script>

    <script>
    $(document).ready(function() {
          

          $('#enviar').click(function () {
            if ($("#email").val() != '') { 
               $.ajax({
                  url: '<?php echo $this->baseUrl('/autenticacao/recuperar-senha'); ?>',
                  data: {email: $("#email").val()},
                  type: 'POST',
                  success: function (r) {
                    $("#msgAlerta").addClass('alert-success').removeClass('alert-warning');
                    $("#msgAlerta").html('Você receberá uma nova senha por e-mail');
                    $("#msgAlerta").show();
                    $("#email").val('');
                  }
              });

            } else {
              $("#msgAlerta").html('Digite o e-mail');
              $("#msgAlerta").addClass('alert-warning').removeClass('alert-success');
              $("#msgAlerta").show();
            }
          });

      });
  </script>

    

  </body>
</html>
