
<div class="row fields90">
	<div class="col-md-12">
		<form method="post" action="" role="form" >

			<input type="hidden" name="idProdutos[]" value="<?=$this->idProdutos;?>">
			<div data-collapsed="0" class="panel">
				<div class="panel-heading">
					<div class="panel-title"><i class="fa fa-certificate"></i>Edição de Produtos</div>
				</div>
				<div class="panel-body">
					<?php if (!empty($this->cadastro)) { ?>
	                    <div class="col-md-12">
	                        <div class="alert <?php echo (!empty($this->cadastro['sucesso']) ? (empty($this->cadastro['erros']) ? 'alert-success' : 'alert-warning') : 'alert-danger'); ?> alert-block fade in">
	                            <button data-dismiss="alert" class="close close-sm" type="button">
	                                <i class="fa fa-times"></i>
	                            </button>
	                            <?php if (!empty($this->cadastro['sucesso'])) { ?>
	                                <?php if (empty($this->cadastro['erros'])) { ?>
	                                    <h4>
	                                        <i class="icon-ok-sign"></i>
	                                        Registro salvo com sucesso!
	                                    </h4>
	                                    <p>
	                                        <?php if (!empty($this->id)) { ?>
	                                            <a href="<?php echo $this->baseUrl('/produto/cadastro/'); ?>" class="btn btn-primary"><i class="fa fa-star"></i> Novo Produto</a>
	                                        <?php } ?>
	                                        <a href="<?php echo $this->baseUrl('/produto/'); ?>" class="btn btn-primary"><i class="fa fa-list"></i> Ver Listagem</a>
	                                    </p>
	                                <?php } else { ?>
	                                    <h4>
	                                        <i class="icon-ok-sign"></i>
	                                        Registro salvo mas com erros!
	                                    </h4>
	                                    <ul>
	                                        <?php foreach ($this->cadastro['erros'] as $umErro) { ?>
	                                            <li><?php echo $umErro; ?></li>
	                                        <?php } ?>
	                                    </ul>
	                                <?php } ?>
	                            <?php } else { ?>
	                                <?php if (!empty($this->cadastro['erros'])) { ?>
	                                    <h4>
	                                        <i class="icon-ok-sign"></i>
	                                        Atenção! Corrija os erros abaixo
	                                    </h4>
	                                    <ul>
	                                        <?php foreach ($this->cadastro['erros'] as $umErro) { ?>
	                                            <li><?php echo $umErro; ?></li>
	                                        <?php } ?>
	                                    </ul>
	                                <?php } ?>
	                            <?php } ?>
	                        </div>
	                    </div>
	                <?php } ?>
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-4 form-group">
							<label for="categoria1">Categoria</label>
							<select class="form-control" name="categoria1" id="categoria1" disabled="disabled">
								<option value="0">Nenhuma</option>
								 <?php if (!empty( $this->arrayListCategoria)) { ?>
	                                <?php foreach ( $this->arrayListCategoria as $umNivel) { ?>
	                                    <option <?php echo ((!empty($_POST['categoria']) && $_POST['categoria'] == $umNivel['id']) ? 'selected="selected"' : false); ?> value="<?php echo $umNivel['id'] ?>"><?php echo $umNivel['nome'] ?></option>
	                                <?php } ?>
	                            <?php } ?>
							</select>
							<input type="checkbox" id="checkboxcategoria2" class="checkboxenableddisabled" />
						</div>
						
						<div class="col-xs-12 col-sm-6 col-md-4 form-group">
							<label for="categoria2">Sub Categoria Nível 1</label>
							<select class="form-control" name="categoria2" id="categoria2" disabled="disabled">
								<option value="0">Nenhuma</option>
								 <?php if (!empty( $this->arrayListCategoria2)) { ?>
	                                <?php foreach ( $this->arrayListCategoria2 as $umNivel) { ?>
	                                    <option <?php echo ((!empty($_POST['categoria2']) && $_POST['categoria2'] == $umNivel['id']) ? 'selected="selected"' : false); ?> value="<?php echo $umNivel['id'] ?>"><?php echo $umNivel['nome'] ?></option>
	                                <?php } ?>
	                            <?php } ?>
							</select>
							<input type="checkbox" id="checkboxcategoria22" class="checkboxenableddisabled" />
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 form-group">
							<label for="categoria32">Sub Categoria Nível 2</label>
							<select class="form-control" name="categoria3" id="categoria3" disabled="disabled">
								<option value="0">Nenhuma</option>
								 <?php if (!empty( $this->arrayListCategoria3)) { ?>
	                                <?php foreach ( $this->arrayListCategoria3 as $umNivel) { ?>
	                                    <option <?php echo ((!empty($_POST['categoria3']) && $_POST['categoria3'] == $umNivel['id']) ? 'selected="selected"' : false); ?> value="<?php echo $umNivel['id'] ?>"><?php echo $umNivel['nome'] ?></option>
	                                <?php } ?>
	                            <?php } ?>
							</select>
							<input type="checkbox" id="checkboxcategoria32" class="checkboxenableddisabled" />
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 form-group">
							<label for="marca">Marca</label>
							<select class="form-control" name="marca" id="marca" disabled="disabled">
								<option value="">Selecione</option>
								<?php if (!empty( $this->arrayListMarcas)) { ?>
	                                <?php foreach ( $this->arrayListMarcas as $umNivel) { ?>
	                                    <option <?php echo ( (!empty($_POST['marca']) && $_POST['marca'] == $umNivel['id']) ? 'selected="selected"' : false); ?> value="<?php echo $umNivel['id'] ?>"><?php echo $umNivel['valor'] ?></option>
	                                <?php } ?>
	                            <?php } ?>
							</select>
							<input type="checkbox" id="checkboxmarca" class="checkboxenableddisabled" />
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 form-group">
							<label for="unidademedida">Unidade de Medida</label>
							<select class="form-control" name="unidademedida" id="unidademedida" disabled="disabled">
								<option value="">Selecione</option>
								<?php if (!empty( $this->arrayListUnidades)) { ?>
	                                <?php foreach ( $this->arrayListUnidades as $umNivel) { ?>
	                                    <option <?php echo ((!empty($_POST['unidademedida']) && $_POST['unidademedida'] == $umNivel['id']) ? 'selected="selected"' : false); ?> value="<?php echo $umNivel['id'] ?>"><?php echo $umNivel['valor'] ?></option>
	                                <?php } ?>
	                            <?php } ?>
							</select>
							<input type="checkbox" id="checkboxunidademedida" class="checkboxenableddisabled" />
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 form-group">
							<label for="pesovolume">Peso ou Volume</label>
							<input type="text" class="form-control" id="pesovolume" name="pesovolume" value="<?php echo (!empty($_POST['pesovolume']) ? $_POST['pesovolume'] : false); ?>" disabled="disabled">
							<input type="checkbox" id="checkboxpesovolume" class="checkboxenableddisabled" />
						</div>
						
					
						
						<div class="col-xs-12 col-sm-6 col-md-4 form-group">
							<label for="embalagem">Embalagem</label>
							<select class="form-control" name="embalagem" id="embalagem" disabled="disabled">
								<option value="">Selecione</option>
								<?php if (!empty( $this->arrayListEmbalagens)) { ?>
	                                <?php foreach ( $this->arrayListEmbalagens as $umNivel) { ?>
	                                    <option <?php echo ( (!empty($_POST['embalagem']) && $_POST['embalagem'] == $umNivel['id']) ? 'selected="selected"' : false); ?> value="<?php echo $umNivel['id'] ?>"><?php echo $umNivel['valor'] ?></option>
	                                <?php } ?>
	                            <?php } ?>
							</select>
							<input type="checkbox" id="checkboxembalagem" class="checkboxenableddisabled" />
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 form-group">
							<label for="pais">País de Origem</label>
							<select class="form-control" name="pais" id="pais" disabled="disabled">
								<option value="">Selecione</option>
								<?php if (!empty( $this->arrayListPaises)) { ?>
	                                <?php foreach ( $this->arrayListPaises as $umNivel) { ?>
	                                    <option <?php echo ((!empty($_POST['pais']) && $_POST['pais'] == $umNivel['id']) ? 'selected="selected"' : false); ?> value="<?php echo $umNivel['id'] ?>"><?php echo $umNivel['valor'] ?></option>
	                                <?php } ?>
	                            <?php } ?>
							</select>
							<input type="checkbox" id="checkboxpais" class="checkboxenableddisabled" />
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 form-group">
							<label for="sabor">Sabor</label>
							<select class="form-control" name="sabor" id="sabor" disabled="disabled">
								<option value="">Selecione</option>
								<?php if (!empty( $this->arrayListSabores)) { ?>
	                                <?php foreach ( $this->arrayListSabores as $umNivel) { ?>
	                                    <option <?php echo ((!empty($_POST['sabor']) && $_POST['sabor'] == $umNivel['id']) ? 'selected="selected"' : false); ?> value="<?php echo $umNivel['id'] ?>"><?php echo $umNivel['valor'] ?></option>
	                                <?php } ?>
	                            <?php } ?>
							</select>
							<input type="checkbox" id="checkboxsabor" class="checkboxenableddisabled" />
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 form-group">
							<label for="tamanho">Tamanho</label>
							<select class="form-control" name="tamanho" id="tamanho" disabled="disabled">
								<option value="">Selecione</option>
								<?php if (!empty( $this->arrayListTamanhos)) { ?>
	                                <?php foreach ( $this->arrayListTamanhos as $umNivel) { ?>
	                                    <option <?php echo ( (!empty($_POST['tamanho']) && $_POST['tamanho'] == $umNivel['id']) ? 'selected="selected"' : false); ?> value="<?php echo $umNivel['id'] ?>"><?php echo $umNivel['valor'] ?></option>
	                                <?php } ?>
	                            <?php } ?>
							</select>
							<input type="checkbox" id="checkboxtamanho" class="checkboxenableddisabled" />
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 form-group">
							<label for="tipo-atributo">Tipo</label>
							<select class="form-control" name="tipo-atributo" id="tipo-atributo" disabled="disabled">
								<option value="">Selecione</option>
								<?php if (!empty( $this->arrayListTipos)) { ?>
	                                <?php foreach ( $this->arrayListTipos as $umNivel) { ?>
	                                    <option <?php echo ( (!empty($_POST['tipo-atributo']) && $_POST['tipo-atributo'] == $umNivel['id']) ? 'selected="selected"' : false); ?> value="<?php echo $umNivel['id'] ?>"><?php echo $umNivel['valor'] ?></option>
	                                <?php } ?>
	                            <?php } ?>
							</select>
							<input type="checkbox" id="checkboxtipoatributo" class="checkboxenableddisabled" />
						</div>
						
						<div class="col-xs-12 col-sm-6 col-md-4 form-group">
							<label for="ativo">Status</label>
							<select class="form-control" name="ativo" id="ativo" disabled="disabled">
								<option value="1" <?php echo ( (isset($_POST['ativo']) && $_POST['ativo'] == 1) ? 'selected="selected"' : false); ?>>Ativo
								<option value="0" <?php echo ( (isset($_POST['ativo']) && $_POST['ativo'] == 0) ? 'selected="selected"' : false); ?>>Inativo
							</select>
							<input type="checkbox" id="checkboxativo" class="checkboxenableddisabled" />
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<button type="submit" value="salvar" name="salvar" class="btn btn-primary"><i class="fa fa-save"></i> Alterar</button>
				</div>
			</div>
		</form>
	</div>
</div>


<script>
    $(document).ready(function() {
		$('input').on('click',function () {
			if ($('#checkboxcategoria2').is(':checked')) {
				$("#categoria1").attr('disabled',false);
			} else {
				$("#categoria1").attr('disabled',true);
			}
		});
		
		$('input').on('click',function () {
			if ($('#checkboxcategoria22').is(':checked')) {
				$("#categoria2").attr('disabled',false);
			} else {
				$("#categoria2").attr('disabled',true);
			}
		});
		
		$('input').on('click',function () {
			if ($('#checkboxcategoria32').is(':checked')) {
				$("#categoria3").attr('disabled',false);
			} else {
				$("#categoria3").attr('disabled',true);
			}
		});
				
		$('input').on('click',function () {
			if ($('#checkboxmarca').is(':checked')) {
				$("#marca").attr('disabled',false);
			} else {
				$("#marca").attr('disabled',true);
			}
		});
		
		$('input').on('click',function () {
			if ($('#checkboxunidademedida').is(':checked')) {
				$("#unidademedida").attr('disabled',false);
			} else {
				$("#unidademedida").attr('disabled',true);
			}
		});
		
		$('input').on('click',function () {
			if ($('#checkboxpesovolume').is(':checked')) {
				$("#pesovolume").attr('disabled',false);
			} else {
				$("#pesovolume").attr('disabled',true);
			}
		});
		
		$('input').on('click',function () {
			if ($('#checkboxembalagem').is(':checked')) {
				$("#embalagem").attr('disabled',false);
			} else {
				$("#embalagem").attr('disabled',true);
			}
		});
		
		$('input').on('click',function () {
			if ($('#checkboxpais').is(':checked')) {
				$("#pais").attr('disabled',false);
			} else {
				$("#pais").attr('disabled',true);
			}
		});
		
		$('input').on('click',function () {
			if ($('#checkboxsabor').is(':checked')) {
				$("#sabor").attr('disabled',false);
			} else {
				$("#sabor").attr('disabled',true);
			}
		});
		
		$('input').on('click',function () {
			if ($('#checkboxtamanho').is(':checked')) {
				$("#tamanho").attr('disabled',false);
			} else {
				$("#tamanho").attr('disabled',true);
			}
		});
		
		$('input').on('click',function () {
			if ($('#checkboxtipoatributo').is(':checked')) {
				$("#tipo-atributo").attr('disabled',false);
			} else {
				$("#tipo-atributo").attr('disabled',true);
			}
		});
		
		$('input').on('click',function () {
			if ($('#checkboxativo').is(':checked')) {
				$("#ativo").attr('disabled',false);
			} else {
				$("#ativo").attr('disabled',true);
			}
		});
		
		
		
        $('#categoria1').change(function () {
        	 $.ajax({
	            url: '<?php echo $this->baseUrl('/categoria/busca-categorias'); ?>',
	            data: {valor: $(this).val()},
	            type: 'POST',
	            beforeSend: function () {
	                $('#categoria2').html("<option selected disabled>Carregando...</option>");
	            }, success: function (r) {
	                $('#categoria2').html(r);
	                $('#categoria3').html("<option selected value='0'>Nenhuma</option>");
	            }
	        });
        });

        $('#categoria2').change(function () {
        	 $.ajax({
	            url: '<?php echo $this->baseUrl('/categoria/busca-categorias'); ?>',
	            data: {valor: $(this).val()},
	            type: 'POST',
	            beforeSend: function () {
	                $('#categoria3').html("<option selected disabled>Carregando...</option>");
	            }, success: function (r) {
	                $('#categoria3').html(r);
	            }
	        });
        });
		
		
    });
</script>