<div class="row">
	<div class="col-md-12">
		<form method="post" action="" role="form" enctype="multipart/form-data">
			<div data-collapsed="0" class="panel">
				<div class="panel-heading">
					<div class="panel-title"><i class="fa fa-certificate"></i>Cadastro de Produtos</div>
				</div>
				<div class="panel-footer panel-header">
					<button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Salvar</button>
				</div>
				<div class="panel-body">
					<?php if (!empty($this->cadastro)) { ?>
	                    <div class="col-md-12">
	                        <div class="alert <?php echo (!empty($this->cadastro['sucesso']) ? (empty($this->cadastro['erros']) ? 'alert-success' : 'alert-warning') : 'alert-danger'); ?> alert-block fade in">
	                            <button data-dismiss="alert" class="close close-sm" type="button">
	                                <i class="fa fa-times"></i>
	                            </button>
	                            <?php if (!empty($this->cadastro['sucesso'])) { ?>
	                                <?php if (empty($this->cadastro['erros'])) { ?>
	                                    <h4>
	                                        <i class="icon-ok-sign"></i>
	                                        Registro salvo com sucesso!
	                                    </h4>
	                                    <p>
	                                        <?php if (!empty($this->id)) { ?>
	                                            <a href="<?php echo $this->baseUrl('/produto/cadastro-mercado/'); ?>" class="btn btn-primary"><i class="fa fa-star"></i> Novo Produto</a>
	                                        <?php } ?>
	                                        <a href="<?php echo $this->baseUrl('/produto/listagem-mercado'); ?>" class="btn btn-primary"><i class="fa fa-list"></i> Ver Listagem</a>
	                                    </p>
	                                <?php } else { ?>
	                                    <h4>
	                                        <i class="icon-ok-sign"></i>
	                                        Registro salvo mas com erros!
	                                    </h4>
	                                    <ul>
	                                        <?php foreach ($this->cadastro['erros'] as $umErro) { ?>
	                                            <li><?php echo $umErro; ?></li>
	                                        <?php } ?>
	                                    </ul>
	                                <?php } ?>
	                            <?php } else { ?>
	                                <?php if (!empty($this->cadastro['erros'])) { ?>
	                                    <h4>
	                                        <i class="icon-ok-sign"></i>
	                                        Atenção! Corrija os erros abaixo
	                                    </h4>
	                                    <ul>
	                                        <?php foreach ($this->cadastro['erros'] as $umErro) { ?>
	                                            <li><?php echo $umErro; ?></li>
	                                        <?php } ?>
	                                    </ul>
	                                <?php } ?>
	                            <?php } ?>
	                        </div>
	                    </div>
	                <?php } ?>
					<div class="row">
						<div class="col-md-6 form-group">
							<label for="idProduto">Produto</label>
							<?php if (!empty($this->id)) { ?>
								<input type="text" class="form-control" name="idProduto" id="idProduto" value="" required disabled>
								<input type="hidden" class="form-control" name="idProduto" id="idProduto" value="<?=$this->dadosProduto['id']?>" />
							<? } else { ?>
								<input type="text" class="form-control" name="idProduto" id="idProduto" value="" required>
							<? } ?>
						</div>
						
						<div class="col-md-3 form-group">
							<label for="preco">Preço</label>
							<input type="text" class="form-control" id="preco" name="preco" value="<?php echo (!empty($this->dadosUsuario['preco']) ? number_format($this->dadosUsuario['preco'], 2, ',', '.') : (!empty($_POST['preco']) ? $_POST['preco'] : false)); ?>" required data-thousands="." data-decimal=",">
						</div>
						<div class="col-md-3 form-group">
							<label for="estoque">Estoque</label>
							<input type="text" class="form-control" id="estoque" name="estoque" value="<?php echo (!empty($this->dadosUsuario['estoque']) ? $this->dadosUsuario['estoque'] : (!empty($_POST['estoque']) ? $_POST['estoque'] : false)); ?>" required >
						</div>
						<div class="col-md-3 form-group">
							<label for="codigoproduto">Código Interno</label>
							<input type="text" class="form-control" id="codigoproduto" name="codigoproduto" value="<?php echo (!empty($this->dadosUsuario['codigoproduto']) ? $this->dadosUsuario['codigoproduto'] : (!empty($_POST['codigoproduto']) ? $_POST['codigoproduto'] : false)); ?>" />
						</div>
						<div class="col-md-3 form-group">
							<label for="ativo">Status</label>
							<select class="form-control" name="ativo" id="ativo" required>
								<option value="1"  <?php echo ((isset($this->dadosUsuario['ativo']) && $this->dadosUsuario['ativo'] == 1) || (isset($_POST['ativo']) && $_POST['ativo'] == 1) ? 'selected' : false); ?>>Ativo</option>
								<option value="0"  <?php echo ((isset($this->dadosUsuario['ativo']) && $this->dadosUsuario['ativo'] == 0) || (isset($_POST['ativo']) && $_POST['ativo'] == 0) ? 'selected' : false); ?>>Inativo</option>
							</select>
						</div>
						
					</div>
				</div>
				<div class="panel-footer">
					<button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Salvar</button>
				</div>
			</div>
		</form>
	</div>
</div>	
<script type="text/javascript">
	$(document).ready(function () {
		$("#preco").maskMoney();
		$("#idProduto").select2({
	        placeholder: "Selecione um produto",
	        quiteMillis: 500,
	        minimumInputLength: 3,
	        ajax: {
				url: "<?php echo $this->baseUrl('/ajax/busca-produtos'); ?>",
				dataType: 'json',
				type: 'post',
				data: function (params, page) {
					return {
						q: params
					};

				},
				results: function (data, page) {
					return {
						results: data.data
					};
				}
			},
			formatSelection: function (data, container, escapeMarkup) {
		        return data.nome;
			},
			formatResult: formatRepo
			<? if (!empty($this->dadosProduto)) { ?>
				,initSelection: function (element, callback) {
	          	  callback({ id: <?=$this->dadosProduto['id']?>, nome: '<?=$this->dadosProduto['nome']?>' });
				}	
			<? } ?>
	    }).select2('val', []);

	    function formatRepo(repo) {
			if (repo.loading) return repo.nome;

			img = '';

			if (repo.foto != '') {
				img = '<img width="30" height="30" src="<?php echo $this->baseUrl("/uploads/produtos/thumbs/");?>'+repo.foto+'"/>';
			}

			var markup = '<div class="row"><div class="col-md-3 text-center">' + img  + '</div>';
			markup += '<div class="col-md-9">' + repo.nome + '<br/>';
			markup += 'EAN: ' + repo.ean + '</div>';
			markup += '</div>';

			return markup;
		}
		
		
	});

</script>