<div class="row">
	<div class="col-md-12">
		<form method="post" action="" role="form" enctype="multipart/form-data">
			<div data-collapsed="0" class="panel">
				<div class="panel-heading">
					<div class="panel-title"><i class="fa fa-certificate"></i>Cadastro de Produtos</div>
				</div>
				<div class="panel-footer panel-header">
					<button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Salvar</button>
				</div>
				<div class="panel-body">
					<?php if (!empty($this->cadastro)) { ?>
	                    <div class="col-md-12">
	                        <div class="alert <?php echo (!empty($this->cadastro['sucesso']) ? (empty($this->cadastro['erros']) ? 'alert-success' : 'alert-warning') : 'alert-danger'); ?> alert-block fade in">
	                            <button data-dismiss="alert" class="close close-sm" type="button">
	                                <i class="fa fa-times"></i>
	                            </button>
	                            <?php if (!empty($this->cadastro['sucesso'])) { ?>
	                                <?php if (empty($this->cadastro['erros'])) { ?>
	                                    <h4>
	                                        <i class="icon-ok-sign"></i>
	                                        Registro salvo com sucesso!
	                                    </h4>
	                                    <p>
	                                        <?php if (!empty($this->id)) { ?>
	                                            <a href="<?php echo $this->baseUrl('/produto/cadastro/'); ?>" class="btn btn-primary"><i class="fa fa-star"></i> Novo Produto</a>
	                                        <?php } ?>
	                                        <a href="<?php echo $this->baseUrl('/produto/'); ?>" class="btn btn-primary"><i class="fa fa-list"></i> Ver Listagem</a>
	                                    </p>
	                                <?php } else { ?>
	                                    <h4>
	                                        <i class="icon-ok-sign"></i>
	                                        Registro salvo mas com erros!
	                                    </h4>
	                                    <ul>
	                                        <?php foreach ($this->cadastro['erros'] as $umErro) { ?>
	                                            <li><?php echo $umErro; ?></li>
	                                        <?php } ?>
	                                    </ul>
	                                <?php } ?>
	                            <?php } else { ?>
	                                <?php if (!empty($this->cadastro['erros'])) { ?>
	                                    <h4>
	                                        <i class="icon-ok-sign"></i>
	                                        Atenção! Corrija os erros abaixo
	                                    </h4>
	                                    <ul>
	                                        <?php foreach ($this->cadastro['erros'] as $umErro) { ?>
	                                            <li><?php echo $umErro; ?></li>
	                                        <?php } ?>
	                                    </ul>
	                                <?php } ?>
	                            <?php } ?>
	                        </div>
	                    </div>
	                <?php } ?>
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-4 form-group">
							<label for="tipo">Tipo de Produto</label>
							<select class="form-control" name="tipo" id="tipo">
								<option id="padrao" value="1" <?php echo ((isset($this->dadosUsuario['tipo']) && $this->dadosUsuario['tipo'] == 1) || (isset($_POST['tipo']) && $_POST['tipo'] == 1) ? 'selected="selected"' : false); ?>>Padrão
								<option id="granel" value="0" <?php echo ((isset($this->dadosUsuario['tipo']) && $this->dadosUsuario['tipo'] == 0) || (isset($_POST['tipo']) && $_POST['tipo'] == 0) ? 'selected="selected"' : false); ?>>Granel
							</select>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 form-group ean">
							<label for="ean">EAN/Cod. Granel</label>
							<input type="text" class="form-control" name="ean" id="ean" value="<?php echo (!empty($this->dadosUsuario['ean']) ? $this->dadosUsuario['ean'] : (!empty($_POST['ean']) ? $_POST['ean'] : false)); ?>">
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 form-group form-group">
							<label for="nome">Nome</label>
							<input type="text" class="form-control" id="nome" name="nome" value="<?php echo (!empty($this->dadosUsuario['nome']) ? $this->dadosUsuario['nome'] : (!empty($_POST['nome']) ? $_POST['nome'] : false)); ?>">
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 form-group">
							<label for="categoria">Categoria</label>
							<select class="form-control" name="categoria" id="categoria">
								<option value="0">Nenhuma</option>
								 <?php if (!empty( $this->arrayListCategoria)) { ?>
	                                <?php foreach ( $this->arrayListCategoria as $umNivel) { ?>
	                                    <option <?php echo ((!empty($this->dadosUsuario['categoria']) && $this->dadosUsuario['categoria'] == $umNivel['id']) || (!empty($_POST['categoria']) && $_POST['categoria'] == $umNivel['id']) ? 'selected="selected"' : false); ?> value="<?php echo $umNivel['id'] ?>"><?php echo $umNivel['nome'] ?></option>
	                                <?php } ?>
	                            <?php } ?>
							</select>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 form-group">
							<label for="categoria2">Sub Categoria Nível 1</label>
							<select class="form-control" name="categoria2" id="categoria2">
								<option value="0">Nenhuma</option>
								 <?php if (!empty( $this->arrayListCategoria2)) { ?>
	                                <?php foreach ( $this->arrayListCategoria2 as $umNivel) { ?>
	                                    <option <?php echo ((!empty($this->dadosUsuario['categoria2']) && $this->dadosUsuario['categoria2'] == $umNivel['id']) || (!empty($_POST['categoria2']) && $_POST['categoria2'] == $umNivel['id']) ? 'selected="selected"' : false); ?> value="<?php echo $umNivel['id'] ?>"><?php echo $umNivel['nome'] ?></option>
	                                <?php } ?>
	                            <?php } ?>
							</select>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 form-group">
							<label for="categoria3">Sub Categoria Nível 2</label>
							<select class="form-control" name="categoria3" id="categoria3">
								<option value="0">Nenhuma</option>
								 <?php if (!empty( $this->arrayListCategoria3)) { ?>
	                                <?php foreach ( $this->arrayListCategoria3 as $umNivel) { ?>
	                                    <option <?php echo ((!empty($this->dadosUsuario['categoria3']) && $this->dadosUsuario['categoria3'] == $umNivel['id']) || (!empty($_POST['categoria3']) && $_POST['categoria3'] == $umNivel['id']) ? 'selected="selected"' : false); ?> value="<?php echo $umNivel['id'] ?>"><?php echo $umNivel['nome'] ?></option>
	                                <?php } ?>
	                            <?php } ?>
							</select>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 form-group">
							<label for="marca">Marca</label>
							<select class="form-control" name="marca" id="marca">
								<option value="">Selecione</option>
								<?php if (!empty( $this->arrayListMarcas)) { ?>
	                                <?php foreach ( $this->arrayListMarcas as $umNivel) { ?>
	                                    <option <?php echo ((!empty($this->dadosUsuario['marca']) && $this->dadosUsuario['marca'] == $umNivel['id']) || (!empty($_POST['marca']) && $_POST['marca'] == $umNivel['id']) ? 'selected="selected"' : false); ?> value="<?php echo $umNivel['id'] ?>"><?php echo $umNivel['valor'] ?></option>
	                                <?php } ?>
	                            <?php } ?>
							</select>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 form-group">
							<label for="unidademedida">Unidade de Medida</label>
							<select class="form-control" name="unidademedida" id="unidademedida">
								<option value="">Selecione</option>
								<?php if (!empty( $this->arrayListUnidades)) { ?>
	                                <?php foreach ( $this->arrayListUnidades as $umNivel) { ?>
	                                    <option <?php echo ((!empty($this->dadosUsuario['unidademedida']) && $this->dadosUsuario['unidademedida'] == $umNivel['id']) || (!empty($_POST['unidademedida']) && $_POST['unidademedida'] == $umNivel['id']) ? 'selected="selected"' : false); ?> value="<?php echo $umNivel['id'] ?>"><?php echo $umNivel['valor'] ?></option>
	                                <?php } ?>
	                            <?php } ?>
							</select>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 form-group">
							<label for="pesovolume">Peso ou Volume</label>
							<input type="text" class="form-control" id="pesovolume" name="pesovolume" value="<?php echo (!empty($this->dadosUsuario['pesovolume']) ? $this->dadosUsuario['pesovolume'] : (!empty($_POST['pesovolume']) ? $_POST['pesovolume'] : false)); ?>">
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 form-group">
							<label for="embalagem">Embalagem</label>
							<select class="form-control" name="embalagem" id="embalagem">
								<option value="">Selecione</option>
								<?php if (!empty( $this->arrayListEmbalagens)) { ?>
	                                <?php foreach ( $this->arrayListEmbalagens as $umNivel) { ?>
	                                    <option <?php echo ((!empty($this->dadosUsuario['embalagem']) && $this->dadosUsuario['embalagem'] == $umNivel['id']) || (!empty($_POST['embalagem']) && $_POST['embalagem'] == $umNivel['id']) ? 'selected="selected"' : false); ?> value="<?php echo $umNivel['id'] ?>"><?php echo $umNivel['valor'] ?></option>
	                                <?php } ?>
	                            <?php } ?>
							</select>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 form-group">
							<label for="pais">País de Origem</label>
							<select class="form-control" name="pais" id="pais">
								<option value="">Selecione</option>
								<?php if (!empty( $this->arrayListPaises)) { ?>
	                                <?php foreach ( $this->arrayListPaises as $umNivel) { ?>
	                                    <option <?php echo ((!empty($this->dadosUsuario['pais']) && $this->dadosUsuario['pais'] == $umNivel['id']) || (!empty($_POST['pais']) && $_POST['pais'] == $umNivel['id']) ? 'selected="selected"' : false); ?> value="<?php echo $umNivel['id'] ?>"><?php echo $umNivel['valor'] ?></option>
	                                <?php } ?>
	                            <?php } ?>
							</select>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 form-group">
							<label for="sabor">Sabor</label>
							<select class="form-control" name="sabor" id="sabor">
								<option value="">Selecione</option>
								<?php if (!empty( $this->arrayListSabores)) { ?>
	                                <?php foreach ( $this->arrayListSabores as $umNivel) { ?>
	                                    <option <?php echo ((!empty($this->dadosUsuario['sabor']) && $this->dadosUsuario['sabor'] == $umNivel['id']) || (!empty($_POST['sabor']) && $_POST['sabor'] == $umNivel['id']) ? 'selected="selected"' : false); ?> value="<?php echo $umNivel['id'] ?>"><?php echo $umNivel['valor'] ?></option>
	                                <?php } ?>
	                            <?php } ?>
							</select>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 form-group">
							<label for="tamanho">Tamanho</label>
							<select class="form-control" name="tamanho" id="tamanho">
								<option value="">Selecione</option>
								<?php if (!empty( $this->arrayListTamanhos)) { ?>
	                                <?php foreach ( $this->arrayListTamanhos as $umNivel) { ?>
	                                    <option <?php echo ((!empty($this->dadosUsuario['tamanho']) && $this->dadosUsuario['tamanho'] == $umNivel['id']) || (!empty($_POST['tamanho']) && $_POST['tamanho'] == $umNivel['id']) ? 'selected="selected"' : false); ?> value="<?php echo $umNivel['id'] ?>"><?php echo $umNivel['valor'] ?></option>
	                                <?php } ?>
	                            <?php } ?>
							</select>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 form-group">
							<label for="tipo-atributo">Tipo</label>
							<select class="form-control" name="tipo-atributo" id="tipo-atributo">
								<option value="">Selecione</option>
								<?php if (!empty( $this->arrayListTipos)) { ?>
	                                <?php foreach ( $this->arrayListTipos as $umNivel) { ?>
	                                    <option <?php echo ((!empty($this->dadosUsuario['tipoAt']) && $this->dadosUsuario['tipoAt'] == $umNivel['id']) || (!empty($_POST['tipo-atributo']) && $_POST['tipo-atributo'] == $umNivel['id']) ? 'selected="selected"' : false); ?> value="<?php echo $umNivel['id'] ?>"><?php echo $umNivel['valor'] ?></option>
	                                <?php } ?>
	                            <?php } ?>
							</select>
						</div>
						
						<div class="col-xs-12 col-sm-6 col-md-4 form-group">
							<label for="ativo">Status</label>
							<select class="form-control" name="ativo" id="ativo">
								<option value="1" <?php echo ((isset($this->dadosUsuario['ativo']) && $this->dadosUsuario['ativo'] == 1) || (isset($_POST['ativo']) && $_POST['ativo'] == 1) ? 'selected="selected"' : false); ?>>Ativo
								<option value="0" <?php echo ((isset($this->dadosUsuario['ativo']) && $this->dadosUsuario['ativo'] == 0) || (isset($_POST['ativo']) && $_POST['ativo'] == 0) ? 'selected="selected"' : false); ?>>Inativo
							</select>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 form-group">
							<label for="foto">Imagem do Produto</label>
							<input type="file" class="form-control" id="foto" name="foto">
							<p class="help-block">Tamanho ideal: Máximo 2MB</p>

							<? if (!empty($this->id) && !empty($this->dadosUsuario['foto'])) { ?>
                                                        <div class="row uploadEdit">
                                                            <div class="col-md-12">
                                                                <a id="single_1" href="<?php echo $this->baseUrl('/uploads/produtos/' . strtolower($this->dadosUsuario['foto'])); ?>" target="_blank"  data-placement="top" data-toggle="tooltip" class="tooltips fancybox">

                                                                    <picture>
                                                                        <? if (file_exists($this->baseUrl('/uploads/produtos/thumbs/' . strtolower($this->dadosUsuario['webp'])))) { ?>
                                                                        <source srcset="<?php echo $this->baseUrl('/uploads/produtos/thumbs/' . strtolower($this->dadosUsuario['webp'])); ?>" type="image/webp">
                                                                        <? } ?>
                                                                        <img width="100" class="img-responsive img-thumbnail" src="<?php echo $this->baseUrl('/uploads/produtos/thumbs/' . strtolower($this->dadosUsuario['foto'])); ?>" />
                                                                    </picture>


                                                                </a>
                                                            </div>
                                                        </div>
	                        <? } ?>

						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 form-group">
							<label for="descricao">Descrição</label>
							<textarea name="descricao" id="descricao" cols="30" rows="10" class="form-control"><?php echo (!empty($this->dadosUsuario['descricao']) ? $this->dadosUsuario['descricao'] : (!empty($_POST['descricao']) ? $_POST['descricao'] : false)); ?></textarea>
						</div>
						
					</div>
				</div>
				<div class="panel-footer">
					<button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Salvar</button>
				</div>
			</div>
		</form>
	</div>
</div>

<script>
    $(document).ready(function() {
		
        $('#categoria').change(function () {
        	 $.ajax({
	            url: '<?php echo $this->baseUrl('/categoria/busca-categorias'); ?>',
	            data: {valor: $(this).val()},
	            type: 'POST',
	            beforeSend: function () {
	                $('#categoria2').html("<option selected disabled>Carregando...</option>");
	            }, success: function (r) {
	                $('#categoria2').html(r);
	                $('#categoria3').html("<option selected value='0'>Nenhuma</option>");
	            }
	        });
        });

        $('#categoria2').change(function () {
        	 $.ajax({
	            url: '<?php echo $this->baseUrl('/categoria/busca-categorias'); ?>',
	            data: {valor: $(this).val()},
	            type: 'POST',
	            beforeSend: function () {
	                $('#categoria3').html("<option selected disabled>Carregando...</option>");
	            }, success: function (r) {
	                $('#categoria3').html(r);
	            }
	        });
        });
		
		
    });
</script>