<div class="row">
	<form method="post" action="" role="form" enctype="multipart/form-data">
		<?php if (!empty($this->importacao)) { ?>
            <div class="col-md-12">
                <div class="alert <?php echo (!empty($this->importacao['sucesso']) ? (empty($this->importacao['erros']) ? 'alert-success' : 'alert-warning') : 'alert-danger'); ?> alert-block fade in">
                    <button data-dismiss="alert" class="close close-sm" type="button">
                        <i class="fa fa-times"></i>
                    </button>
                    <?php if (!empty($this->importacao['sucesso'])) { ?>
                        <?php if (empty($this->importacao['erros'])) { ?>
                            <h4>
                                <i class="icon-ok-sign"></i>
                                Importação realizada com sucesso!
                            </h4>
                            <p>
                                <a href="<?php echo $this->baseUrl('/produto/'); ?>" class="btn btn-primary"><i class="fa fa-list"></i> Ver Listagem</a>
                            </p>
                        <?php } else { ?>
                            <h4>
                                <i class="icon-ok-sign"></i>
                                Importação com erro!
                            </h4>
                            <ul>
                                <?php foreach ($this->importacao['erros'] as $umErro) { ?>
                                    <li><?php echo $umErro; ?></li>
                                <?php } ?>
                            </ul>
                        <?php } ?>
                    <?php } else { ?>
                        <?php if (!empty($this->importacao['erros'])) { ?>
                            <h4>
                                <i class="icon-ok-sign"></i>
                                Atenção! Corrija os erros abaixo
                            </h4>
                            <ul>
                                <?php foreach ($this->importacao['erros'] as $umErro) { ?>
                                    <li><?php echo $umErro; ?></li>
                                <?php } ?>
                            </ul>
                        <?php } ?>
                    <?php } ?>
                </div>
            </div>
        <?php } ?>

		<div class="col-md-6">
			<div data-collapsed="0" class="panel">
				<div class="panel-heading">
					<div class="panel-title"><i class="fa fa-upload"></i>Importação de Produtos</div>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12 form-group">
							<label for="descricao">Cole abaixo todos os códigos EAN dos produtos a serem importados separados por ponto e vírgula, ex: 7891000103876;7891025109396;</label>
							<textarea name="descricao" id="descricao" cols="30" rows="10" class="form-control"></textarea>
						</div>
						<div class="col-md-12 form-group">
							<button type="submit" name="salvar" class="btn btn-primary"><i class="fa fa-upload"></i> Importar</button>
						</div>
					</div>
				</div>
			</div>
			<div data-collapsed="0" class="panel">
				<div class="panel-heading">
					<div class="panel-title"><i class="fa fa-upload"></i>Produtos Importados</div>
				</div>
				<div class="panel-body">
					<div class="row" style="height:300px;overflow:auto;">
						<table class="table table-striped">
							<tbody>
								<tr>
									<td>70000000000</td>
									<td>Nome Produto 1</td>
								</tr>
								<tr>
									<td>70000000000</td>
									<td>Nome Produto 2</td>
								</tr>
								<tr>
									<td>70000000000</td>
									<td>Nome Produto 3</td>
								</tr>
								<tr>
									<td>70000000000</td>
									<td>Nome Produto 4</td>
								</tr>
								<tr>
									<td>70000000000</td>
									<td>Nome Produto 5</td>
								</tr>
								<tr>
									<td>70000000000</td>
									<td>Nome Produto 6</td>
								</tr>
								<tr>
									<td>70000000000</td>
									<td>Nome Produto 7</td>
								</tr>
								<tr>
									<td>70000000000</td>
									<td>Nome Produto 8</td>
								</tr>
								<tr>
									<td>70000000000</td>
									<td>Nome Produto 9</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="row">
						<table class="table table-striped">
							<tfoot>
								<tr>
									<th>90 produtos</th>
									<th></th>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div data-collapsed="0" class="panel">
				<div class="panel-heading">
					<div class="panel-title"><i class="fa fa-upload"></i>Importação de Produtos</div>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12 form-group" style="min-height:256px">
							<label for="arquivoCSV">Arquivo XLS com EANs de Produtos</label>
							<input type="file" class="form-control" id="arquivoCSV" name="arquivoCSV">
							<p class="help-block">Formato aceito: XLS/XLSX (<a href="<?php echo $this->baseUrl('/uploads/modelo.xls'); ?>" target="_blank">modelo</a>)</p>
						</div>
						<div class="col-md-12 form-group">
							<button type="submit" name="arquivo" class="btn btn-primary"><i class="fa fa-upload"></i> Importar</button>
						</div>
					</div>
				</div>
			</div>
			<div data-collapsed="0" class="panel">
				<div class="panel-heading">
					<div class="panel-title"><i class="fa fa-upload"></i>Produtos Pendentes de importação</div>
				</div>
				<div class="panel-body">
					<div class="row" style="height:300px;overflow:auto;">
						<table class="table table-striped">
							<tbody>
								<tr>
									<td>70000000000</td>
									<td>Nome Produto 1</td>
								</tr>
								<tr>
									<td>70000000000</td>
									<td>Nome Produto 2</td>
								</tr>
								<tr>
									<td>70000000000</td>
									<td>Nome Produto 3</td>
								</tr>
								<tr>
									<td>70000000000</td>
									<td>Nome Produto 4</td>
								</tr>
								<tr>
									<td>70000000000</td>
									<td>Nome Produto 5</td>
								</tr>
								<tr>
									<td>70000000000</td>
									<td>Nome Produto 6</td>
								</tr>
								<tr>
									<td>70000000000</td>
									<td>Nome Produto 7</td>
								</tr>
								<tr>
									<td>70000000000</td>
									<td>Nome Produto 8</td>
								</tr>
								<tr>
									<td>70000000000</td>
									<td>Nome Produto 9</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="row">
						<table class="table table-striped">
							<tfoot>
								<tr>
									<th>90 produtos</th>
									<th></th>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>