<div class="row">
	<form method="post" action="" role="form" enctype="multipart/form-data">
		<?php if (!empty($this->importacao)) { ?>
            <div class="col-md-12">
                <div class="alert <?php echo (!empty($this->importacao['sucesso']) ? (empty($this->importacao['erros']) ? 'alert-success' : 'alert-warning') : 'alert-danger'); ?> alert-block fade in">
                    <button data-dismiss="alert" class="close close-sm" type="button">
                        <i class="fa fa-times"></i>
                    </button>
                    <?php if (!empty($this->importacao['sucesso'])) { ?>
                        <?php if (empty($this->importacao['erros'])) { ?>
                            <h4>
                                <i class="icon-ok-sign"></i>
                                Importação realizada com sucesso!
                            </h4>
                            <p>
                                <a href="<?php echo $this->baseUrl('/produto/listagem-mercado'); ?>" class="btn btn-primary"><i class="fa fa-list"></i> Ver Listagem</a>
                            </p>
                        <?php } else { ?>
                            <h4>
                                <i class="icon-ok-sign"></i>
                                Importação com erro!
                            </h4>
                            <ul>
                                <?php foreach ($this->importacao['erros'] as $umErro) { ?>
                                    <li><?php echo $umErro; ?></li>
                                <?php } ?>
                            </ul>
                        <?php } ?>
                    <?php } else { ?>
                        <?php if (!empty($this->importacao['erros'])) { ?>
                            <h4>
                                <i class="icon-ok-sign"></i>
                                Atenção! Corrija os erros abaixo
                            </h4>
                            <ul>
                                <?php foreach ($this->importacao['erros'] as $umErro) { ?>
                                    <li><?php echo $umErro; ?></li>
                                <?php } ?>
                            </ul>
                        <?php } ?>
                    <?php } ?>
                </div>
            </div>
        <?php } ?>

        <input type="hidden" name="passo" id="passo" value="<?=$this->passo;?>" />

        <? if ($this->passo == 1) { ?>
    		<div class="col-md-12">
    			<div data-collapsed="0" class="panel">
    				<div class="panel-heading">
    					<div class="panel-title"><i class="fa fa-upload"></i>Importação de Produtos</div>
    				</div>
    				<div class="panel-body">
    					<div class="row">
    						<div class="col-md-12 form-group" style="min-height:238px">
    							<label for="arquivoCSV">Arquivo XLS com EANs de Produtos</label>
    							<input type="file" class="form-control" id="arquivoCSV" name="arquivoCSV">
    							<p class="help-block">Formato aceito: XLS/XLSX (<a href="<?php echo $this->baseUrl('/uploads/modelomercado.xls'); ?>" target="_blank">modelo</a>)</p>
    						</div>
    						<div class="col-md-12 form-group">
    							<button type="submit" name="arquivo" class="btn btn-primary"><i class="fa fa-upload"></i> Importar</button>
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>

        <? } else { ?>
            <div class="col-md-12">
                <section class="panel">
                    <div class="panel-heading">
                        <div class="panel-title"><i class="fa fa-certificate"></i>Finalização de Importação de Produtos</div>
                    </div>
                    <div class="panel-body">
                        <div class="adv-table">
                            <table  class="display table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>EAN</th>
                                        <th>NOME</th>
                                        <th>VALOR</th>
                                        <th>ESTOQUE</th>
                                        <th>CÓD. INTERNO</th>
                                        <th>STATUS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <? 
                                        foreach ($this->produtos as $umProduto) { 
                                            
                                    ?>
                                        <tr>
                                            <td>
                                                <input type="hidden" name="codigosImportacao[]" value="<?=$umProduto['id'];?>" readonly />
                                                <?=$umProduto['ean'];?>
                                            </td>
                                            <td>
                                                <?=$umProduto['nome'];?>
                                            </td>
                                            <td>
                                                <input type="text" name="valor_<?=$umProduto['id'];?>" id="valor_<?=$umProduto['id'];?>" value="<?=$umProduto['valorAtual'];?>" class="form-control valor" required data-thousands="." data-decimal="," />
                                            </td>
                                            <td>
                                                <input type="text" name="estoque_<?=$umProduto['id'];?>" id="estoque_<?=$umProduto['id'];?>" value="<?=$umProduto['estoqueAtual'];?>" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" name="codigoproduto_<?=$umProduto['id'];?>" id="codigoproduto_<?=$umProduto['id'];?>" value="<?=$umProduto['codigoInterno'];?>" class="form-control" />
                                            </td>
                                            <td>
                                                <select class="form-control" name="ativo_<?=$umProduto['id'];?>" id="ativo_<?=$umProduto['id'];?>" required>
                                                    <option value="1" <?if (!empty($umProduto['estoqueAtual']) && $umProduto['estoqueAtual'] > 0) { echo "selected"; }?>  >Ativo
                                                    <option value="0" <?if (empty($umProduto['estoqueAtual']) || $umProduto['estoqueAtual'] = 0) { echo "selected"; }?>>Inativo
                                                </select>
                                            </td>
                                        </tr>

                                    <? } ?>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>EAN</th>
                                        <th>NOME</th>
                                        <th>VALOR</th>
                                        <th>ESTOQUE</th>
                                        <th>CÓD. INTERNO</th>
                                        <th>STATUS</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Salvar</button>
                    </div>
                </section>

            </div>

        <? } ?>
	</form>
</div>

<script type="text/javascript">
$(document).ready(function () {
	$(".valor").maskMoney();
});
	</script>

	
	