<div class="row">
	<div class="col-md-12">
		<div data-collapsed="0" class="panel">
			<div class="panel-heading">
				<div class="panel-title"><i class="fa fa-upload"></i>Produtos Pendentes de importação</div>
			</div>
			<div class="panel-body">
				<div class="row" style="height:300px;overflow:auto;">
					<table class="table table-striped">
						<tbody>
							<tr>
								<td>70000000000</td>
								<td>Nome Produto 1</td>
								<td class=" text-center"><a data-original-title="Excluir" href="" class="btn btn-primary btn-xs"><i class="fa fa-trash-o"></i></a></td>
							</tr>
							<tr>
								<td>70000000000</td>
								<td>Nome Produto 2</td>
								<td class=" text-center"><a data-original-title="Excluir" href="" class="btn btn-primary btn-xs"><i class="fa fa-trash-o"></i></a></td>
							</tr>
							<tr>
								<td>70000000000</td>
								<td>Nome Produto 3</td>
								<td class=" text-center"><a data-original-title="Excluir" href="" class="btn btn-primary btn-xs"><i class="fa fa-trash-o"></i></a></td>
							</tr>
							<tr>
								<td>70000000000</td>
								<td>Nome Produto 4</td>
								<td class=" text-center"><a data-original-title="Excluir" href="" class="btn btn-primary btn-xs"><i class="fa fa-trash-o"></i></a></td>
							</tr>
							<tr>
								<td>70000000000</td>
								<td>Nome Produto 5</td>
								<td class=" text-center"><a data-original-title="Excluir" href="" class="btn btn-primary btn-xs"><i class="fa fa-trash-o"></i></a></td>
							</tr>
							<tr>
								<td>70000000000</td>
								<td>Nome Produto 6</td>
								<td class=" text-center"><a data-original-title="Excluir" href="" class="btn btn-primary btn-xs"><i class="fa fa-trash-o"></i></a></td>
							</tr>
							<tr>
								<td>70000000000</td>
								<td>Nome Produto 7</td>
								<td class=" text-center"><a data-original-title="Excluir" href="" class="btn btn-primary btn-xs"><i class="fa fa-trash-o"></i></a></td>
							</tr>
							<tr>
								<td>70000000000</td>
								<td>Nome Produto 8</td>
								<td class=" text-center"><a data-original-title="Excluir" href="" class="btn btn-primary btn-xs"><i class="fa fa-trash-o"></i></a></td>
							</tr>
							<tr>
								<td>70000000000</td>
								<td>Nome Produto 9</td>
								<td class=" text-center"><a data-original-title="Excluir" href="" class="btn btn-primary btn-xs"><i class="fa fa-trash-o"></i></a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="row">
					<table class="table table-striped">
						<tfoot>
							<tr>
								<th>90 produtos</th>
								<th></th>
								<th></th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>