<div class="row">
	<div class="col-sm-12">
		<section class="panel">
			<div class="panel-heading">
				<div class="panel-title"><i class="fa fa-certificate"></i>Listagem de Produtos</div>
			</div>
			<div class="panel-body">
				<?php if (!empty($this->importacao)) { ?>
		            <div class="col-md-12">
		                <div class="alert <?php echo (!empty($this->importacao['sucesso']) ? (empty($this->importacao['erros']) ? 'alert-success' : 'alert-warning') : 'alert-danger'); ?> alert-block fade in">
		                    <button data-dismiss="alert" class="close close-sm" type="button">
		                        <i class="fa fa-times"></i>
		                    </button>
		                    <?php if (!empty($this->importacao['sucesso'])) { ?>
		                        <?php if (empty($this->importacao['erros'])) { ?>
		                            <h4>
		                                <i class="icon-ok-sign"></i>
		                                Alteração realizada com sucesso!
		                            </h4>
		                        <?php } else { ?>
		                            <h4>
		                                <i class="icon-ok-sign"></i>
		                                Alteração com erro!
		                            </h4>
		                            <ul>
		                                <?php foreach ($this->importacao['erros'] as $umErro) { ?>
		                                    <li><?php echo $umErro; ?></li>
		                                <?php } ?>
		                            </ul>
		                        <?php } ?>
		                    <?php } else { ?>
		                        <?php if (!empty($this->importacao['erros'])) { ?>
		                            <h4>
		                                <i class="icon-ok-sign"></i>
		                                Atenção! Corrija os erros abaixo
		                            </h4>
		                            <ul>
		                                <?php foreach ($this->importacao['erros'] as $umErro) { ?>
		                                    <li><?php echo $umErro; ?></li>
		                                <?php } ?>
		                            </ul>
		                        <?php } ?>
		                    <?php } ?>
		                </div>
		            </div>
		        <?php } ?>


				<div class="adv-table">
					<form method="post" action="<?php echo $this->baseUrl('/produto/alteracao'); ?>">

						<div class="hidden" id="innerTodos"></div>
						<table class="acoes">
							<tr>
								<td colspan="5" class="acoes-esquerda">
									<a href="#" id="marcaTodos">Marcar Visíveis</a>
									<a href="#" id="desmarcaTodos" >Desmarcar Visíveis</a>	

									<a href="#" id="marcaTodosRegistros">Marcar todos</a>
									<a href="#" id="desmarcaTodosRegistros" >Desmarcar todos</a>	

									<span><span id="contador">0</span> selecionados</span>
								</td>
								<td colspan="3" class="acoes-direita">
									<span>Ações</span>
									<select>
										<option value="">Atualizar atributos</option>
									</select>
									<button class="btn btn-primary btn-xs" type="submit">
										Enviar
									</button>
								</td>
							</tr>
						</table>


						<table class="acoes filtros">
							<tr>
								<td >
									<label for="categoria">Categoria</label>
									<select name="categoria" id="categoria">
										<option value="">Todas</option>
										<option value="0">Sem Categoria</option>
										 <?php if (!empty( $this->arrayListCategoria)) { ?>
			                                <?php foreach ( $this->arrayListCategoria as $umNivel) { ?>
			                                    <option value="<?php echo $umNivel['id'] ?>"><?php echo $umNivel['nome'] ?></option>
			                                <?php } ?>
			                            <?php } ?>
									</select>
								</td>
								<td >
									<label for="subcategoria">Subcategoria</label>
									<select name="subcategoria" id="subcategoria">
										<option value="">Todas</option>
										<option value="0">Sem Categoria</option>
									</select>
								</td>
								<td >
									<label for="subcategoria2">Subcategoria 2</label>
									<select name="subcategoria2" id="subcategoria2">
										<option value="">Todas</option>
										<option value="0">Sem Categoria</option>
									</select>
								</td>
								<td >
									<label for="marca">Marca</label>
									<select name="marca" id="marca">
										<option value="">Todas</option>
										<?php if (!empty( $this->arrayListMarcas)) { ?>
			                                <?php foreach ( $this->arrayListMarcas as $umNivel) { ?>
			                                    <option value="<?php echo $umNivel['id'] ?>"><?php echo $umNivel['valor'] ?></option>
			                                <?php } ?>
			                            <?php } ?>
									</select>
								</td>

								<td >
									<label for="unidademedida">Unidade de Medida</label>
									<select name="unidademedida" id="unidademedida">
										<option value="">Todas</option>
										<?php if (!empty( $this->arrayListUnidades)) { ?>
			                                <?php foreach ( $this->arrayListUnidades as $umNivel) { ?>
			                                    <option value="<?php echo $umNivel['id'] ?>"><?php echo $umNivel['valor'] ?></option>
			                                <?php } ?>
			                            <?php } ?>
									</select>
								</td>
								<td >
									<label for="pesovolume">Peso/Volume</label>
									<input type="text" name="pesovolume" id="pesovolume" />
								</td>
							
								<td>
									<label for="sabor">Sabor</label>
									<select name="sabor" id="sabor">
										<option value="">Todos</option>
										<?php if (!empty( $this->arrayListSabores)) { ?>
			                                <?php foreach ( $this->arrayListSabores as $umNivel) { ?>
			                                    <option value="<?php echo $umNivel['id'] ?>"><?php echo $umNivel['valor'] ?></option>
			                                <?php } ?>
			                            <?php } ?>
									</select>
								</td>
								<td >
									<label for="tamanho">Tamanho</label>
									<select name="tamanho" id="tamanho">
										<option value="">Todos</option>
										<?php if (!empty( $this->arrayListTamanhos)) { ?>
			                                <?php foreach ( $this->arrayListTamanhos as $umNivel) { ?>
			                                    <option value="<?php echo $umNivel['id'] ?>"><?php echo $umNivel['valor'] ?></option>
			                                <?php } ?>
			                            <?php } ?>
									</select>
								</td>

								<td >
									<label for="tipo">Tipo</label>
									<select name="tipo" id="tipo">
										<option value="">Todos</option>
										<?php if (!empty( $this->arrayListTipos)) { ?>
			                                <?php foreach ( $this->arrayListTipos as $umNivel) { ?>
			                                    <option value="<?php echo $umNivel['id'] ?>"><?php echo $umNivel['valor'] ?></option>
			                                <?php } ?>
			                            <?php } ?>
									</select>
								</td>
								<td >
									<label for="pais">País</label>
									<select name="pais" id="pais">
										<option value="">Todos</option>
										<?php if (!empty( $this->arrayListPaises)) { ?>
			                                <?php foreach ( $this->arrayListPaises as $umNivel) { ?>
			                                    <option value="<?php echo $umNivel['id'] ?>"><?php echo $umNivel['valor'] ?></option>
			                                <?php } ?>
			                            <?php } ?>
									</select>
								</td>
								<td >
									<label for="tipo2">Tipo</label>
									<select name="tipo2" id="tipo2">
										<option value="">Todos</option>
										<option value="0">Granel</option>
										<option value="1">Padrão</option>
									</select>
								</td>
								<td >
									<label for="status">Status</label>
									<select name="status" id="status">
										<option value="">Todos</option>
										<option value="0">Inativos</option>
										<option value="1">Ativos</option>
									</select>
								</td>
							</tr>
						</table>


						<table  class="display table table-bordered table-striped produtos" id="dynamic-table">
							<thead>
								<tr>
					                <th></th>
									<th></th>
									<th>NOME</th>
									<th>EAN</th>
									<th>CATEGORIA</th>
									<th>SUB NÍVEL 1</th>
									<th>SUB NÍVEL 2</th>
									<th>MARCA</th>
									<th>UN. MEDIDA</th>
									<th>PESO/VOLUME</th>
									<th>SABOR</th>
									<th>TAMANHO</th>
									<th>TIPO AT.</th>
									<th>PAÍS</th>
									<th>TIPO</th>
									<th>STATUS</th>
									<th class="sorting_disabled produtos text-center"></th>			                
					            </tr>     
							</thead>

							<tbody>
							</tbody>
							<tfoot>
								<tr>
									<th></th>
									<th></th>
									<th>NOME</th>
									<th>EAN</th>
									<th>CATEGORIA</th>
									<th>SUB NÍVEL 1</th>
									<th>SUB NÍVEL 2</th>
									<th>MARCA</th>
									<th>UN. MEDIDA</th>
									<th>PESO/VOLUME</th>
									<th>SABOR</th>
									<th>TAMANHO</th>
									<th>TIPO AT.</th>
									<th>PAÍS</th>
									<th>TIPO</th>
									<th>STATUS</th>
									<th class="hidden-phone sorting_disabled text-center"></th>
								</tr>
							</tfoot>
						</table>
					</form>
				</div>
			</div>
		</section>
	</div>
</div>