

<!-- Account -->

<div class="account">
	<a href="#" uk-toggle="target: #account-box">
		<? if (!empty($_SESSION['Default']['usuario']['id'])) { ?>
			<span class="user"><?=$_SESSION['Default']['usuario']['nome'];?></span>
		<? } else { ?>
			<span class="desc" style="display: none;">Faça login ou crie uma conta</span>
		<? } ?>
	</a>
</div>

<!-- Account box -->

<div id="account-box" uk-offcanvas="flip: true; overlay: true">

	<div class="uk-offcanvas-bar">

		<!-- logged Box -->
		<? if (!empty($_SESSION['Default']['usuario']['id'])) { ?>
			<div class="logged">
				
				<a href="#" class="box-close uk-offcanvas-close uk-close uk-icon" uk-close="">Fechar</a>

				<header>
					<span class="ico"></span>
					<span class="user-name"><?=$_SESSION['Default']['usuario']['nome'];?> <a href="<?php echo $this->baseUrl('/usuario/#dados-pessoais'); ?>">Ver Perfil</a></span>
				</header>

				<ul>
					<li><a class="tabs2" href="<?php echo $this->baseUrl('/usuario/#dados-pessoais'); ?>"><i class="ico-user32"></i><span>Perfil <span class="desc">Consulte e altere suas informações pessoais</span></span></a></li>
					<li><a class="tabs2" href="<?php echo $this->baseUrl('/usuario/#meus-pedidos'); ?>"><i class="ico-ordered32"></i><span>Meus Pedidos <span class="desc">Consulte seu histórico de pedidos</span></span></a></li>
					<li><a class="tabs2" href="<?php echo $this->baseUrl('/usuario/#meus-enderecos'); ?>"><i class="ico-address32"></i><span>Meus Endereços <span class="desc">Adicione, remova ou edite seus endereços de entrega</span></span></a></li>
					<li><a class="tabs2" href="<?php echo $this->baseUrl('/index/logout/'); ?>"><i class="ico-logout32"></i><span>Sair <span class="desc">Clique para sair da sua conta</span></span></a></li>
				</ul>

			</div>

		<? } else { ?>


			<!-- Unlogged Box -->
			<div class="unlogged">


				<section>
					<a href="#" class="box-close uk-offcanvas-close uk-close uk-icon" uk-close="">Fechar</a>

					<h5>Crie sua conta aqui</h5>

					<form class="account-form" method="post" action="<?php echo $this->baseUrl('/autenticacao/cadastro/'); ?>" id="account-form-create">
						
						<? if (isset($_SESSION['msgErroCadastro'])) { ?>
							<div class="msg erro"><?=$_SESSION['msgErroCadastro'];?></div> 
						<? 
							} 
						?>


						<label for="signin_email">E-mail</label>
						<input type="text" id="signin_email" name="signin_email" placeholder="nome@email.com" autocomplete="off" required>	
												
						<label for="signin_password">Senha</label>
						<input type="password" id="signin_password" name="signin_password" placeholder="Escolha uma senha" required>
						
						<div class="actions">
							<button name="criarConta" value="criarConta" type="submit">Criar Conta</button>
						</div>
					</form>

					<span class="divide"><span>OU</span></span>

					<h5>Acessar perfil e meus pedidos</h5>

					<form class="account-form" method="post" action="<?php echo $this->baseUrl('/autenticacao/login/'); ?>" id="account-form">

						<? if (isset($_SESSION['msgErroLogin'])) { ?>
							<div class="msg erro"><?=$_SESSION['msgErroLogin'];?></div> 
						<? 
							} 
						?>

						<label for="login_email">E-mail</label>
						<input type="text" id="login_email" name="login_email" placeholder="nome@email.com" autocomplete="off" required>	
						
						<label for="login_password">Senha</label>
						<input type="password" id="login_password" name="login_password" placeholder="Digite sua senha" autocomplete="off" required>
						
						<div class="actions">
							<a class="esqueci-senha" uk-toggle="target: #account-box-forgot-password">Esqueci minha senha</a>
							<button type="submit" value="login" name="login" id="login">Entrar</button>	
						</div>
						
						<script type="text/javascript">
							var input = document.getElementById("login_password");
							input.addEventListener("keyup", function(event) {
								event.preventDefault();
								if (event.keyCode === 13) {
									document.getElementById("login").click();
								}
							});
						</script>
					</form>
				</section>
			</div>
		<? } ?>
	</div>
</div>


<div id="account-box-forgot-password" uk-offcanvas="flip: true; overlay: true">
	<div class="uk-offcanvas-bar">
			<!-- Unlogged Box -->
			<div class="unlogged forgot-password">
				<section>
					<a href="#" class="box-close uk-offcanvas-close uk-close uk-icon" uk-close="">Fechar</a>

					<h5>Recupere sua senha aqui</h5>

					<form class="account-form" method="post" action="<?php echo $this->baseUrl('/autenticacao/login/'); ?>" id="account-form-forgot-password">

						<? if (isset($_SESSION['msgErroLogin'])) { ?>
							<div class="msg erro"><?=$_SESSION['msgErroLogin'];?></div> 
						<? 
							} 
						?>

						<label for="recuperar_senha">E-mail</label>
						<input type="text" id="recuperar_senha" name="recuperar_senha" placeholder="nome@email.com" autocomplete="off" required>	
						
						<div class="actions">
							<button type="submit" value="botao_recuperar_senha" name="botao_recuperar_senha">Recuperar senha</button>	
						</div>
					</form>
				</section>
			</div>
	</div>
</div>

<div class="list">
	<a href="#" uk-toggle="target: #list-box">
		<span class="user"></span>
	</a>
</div>

<div id="list-box" class="uk-offcanvas" uk-offcanvas>
	<div class="uk-offcanvas-bar uk-offcanvas-bar-show">

		<header>

			<h3>Filtro de categorias</h3>

			<p>Selecione as categorias de interesse e filtre</p>

			<a href="#" class="box-close uk-offcanvas-close uk-close uk-icon" uk-close="">Fechar</a>

		</header>

		<form method="post" action="<?php echo $this->baseUrl('/produto/filtrar-produtos'); ?>">
			<div class="md-food-cl" mbsc-form>
				

				<?php if (!empty($this->layout()->arrayListCatFiltros)) { ?>

						
					<? foreach($this->layout()->arrayListCatFiltros as $key => $umCatFilt) { ?>
						<? if ($key == 0 || $this->layout()->arrayListCatFiltros[$key-1]['letra'] != $this->layout()->arrayListCatFiltros[$key]['letra']) { ?>
							<div class="mbsc-form-group">
								<div class="mbsc-form-group-title"><?=$umCatFilt['letra']?></div>
						<? } ?>

							<label>
								<input type="checkbox" value="<?=$umCatFilt['id'];?>" name="categorias[]">
								<span class="mbsc-label"> <span class="micons icon-starter md-food-ic"> </span><?=$umCatFilt['nome'];?></span>
							</label>

						<? if ($key == count($this->layout()->arrayListCatFiltros)-1 || $this->layout()->arrayListCatFiltros[$key]['letra'] != $this->layout()->arrayListCatFiltros[$key+1]['letra']) { ?>
							</div>
						<? } ?>


					<? } ?>

				<? } ?>
				
			</div>
			
			<button type="submit" class="bt-aplicar">Aplicar<span>Seleção de Categorias de sua Preferência</span></button>
		</form>
	</div>
</div>

<script type="text/javascript">
	mobiscroll.settings = {
		lang: 'pt-BR',
		theme: 'material'
	};
</script>