
<!-- breadcrumbs -->
	<? if(!empty($this->layout()->arrayBreadcrumbs)) { ?>
		<div class="breadcrumbs">
			<ul>
				<? foreach($this->layout()->arrayBreadcrumbs as $umBread) { ?>
					<li>
						<a href="<?=$umBread['link']?>"><?=$umBread['nome']?></a>
					</li>
				<? } ?>
			</ul>
		</div>
	<? } ?>

<!-- /breadcrumbs -->