
<!-- Cart -->
<? 
	$totalItens = 0;
	$precoMin = 0;
	$precoMax = 0;
	$classeBtn = "";
?>
<div class="uk-offcanvas-content">
	<div id="open-cart" uk-offcanvas="flip: true; overlay: true">

		<div class="uk-offcanvas-bar">

			<header>
				<h3>Carrinho</h3>
				<a href="#" class="box-close uk-offcanvas-close" uk-close>Fechar</a>
			</header>

			<div class="note">
				<i></i><span>Use os ícones e navegue nas categorias no carrinho.</span>
			</div>

			<section class="mob-cart-content" id="section-mobile">
				<? 
				if (empty($_SESSION['Default']['usuario']['carrinho']['categorias'])) { 
					$classeBtn = "hidden";
				?>
					<div class="carrinho-vazio">Carrinho vazio!</div>
				<? } else { ?>
					<div class="tab-nav">
						<ul>

							<? if (!empty($_SESSION['Default']['usuario']['carrinho']['categorias'])) { ?>
								<? foreach ($_SESSION['Default']['usuario']['carrinho']['categorias'] as $umaCategoria) { 
										
								?>
									<li><a href="#id_categoria_<?=$umaCategoria['categoria']['id']?>" class="ico <?=strtolower($umaCategoria['categoria']['icone'])?>" title="<?=$umaCategoria['categoria']['icone']?>"><span class="qtd"><?=count($umaCategoria['itens'])?></span><span class="label"><?=$umaCategoria['categoria']['nome']?></span></a></li>
								<? } ?>
							<? } ?>
						</ul>
					</div>
					<div class="product-list">
					<? 
					foreach ($_SESSION['Default']['usuario']['carrinho']['categorias'] as $umaCategoria) { 
					?>
						<h4 id="id_categoria_<?=$umaCategoria['categoria']['id']?>"><?=$umaCategoria['categoria']['nome']?></h4>
						<ul class="cart-list">

							<? foreach ($umaCategoria['itens'] as $umItem) { 

								if ($umItem['tipo'] == 0) {
									$totalItens++;
									$precoMin += ($umItem['valorMin'] * $umItem['quantidade']) / 1000;
									$precoMax += ($umItem['valorMax'] * $umItem['quantidade']) / 1000;
								} else {
									$totalItens += $umItem['quantidade'];	
									$precoMin += ($umItem['valorMin'] * $umItem['quantidade']);
									$precoMax += ($umItem['valorMax'] * $umItem['quantidade']);
								}
								
								
								?>
								<li class="cart-item" id="produto_<?=$umItem['id'];?>">
									<picture>
										<? if (!empty($umItem['webp'])) { ?>
											<source srcset="<?php echo $this->baseUrl('../admin/public/uploads/produtos/thumbs/' . strtolower($umItem['webp'])); ?>" type="image/webp">
										<? } ?>
										<img src="<?php echo $this->baseUrl('../admin/public/uploads/produtos/thumbs/'.strtolower($umItem['foto'])); ?>">
									</picture>

										<span>
											<span class="desc">
												<?
													if (strlen($umItem['name']) >= 25) {
														echo substr($umItem['name'],0,25) . "..."; 
													} else {
														echo $umItem['name'];
													}
												?>
											</span>
											<span class="price">

												<? if (empty($this->layout()->mercadoMaster)) { ?>
				            						<? if ($umItem['tipo'] == 0) { ?>
														R$ <?=number_format(($umItem['valorMin']  * $umItem['quantidade']) / 1000, 2, ',','.');?> a <?=number_format(($umItem['valorMax'] * $umItem['quantidade']) / 1000, 2, ',','.');?>
													<? } else { ?>
														R$ <?=number_format($umItem['valorMin']  * $umItem['quantidade'], 2, ',','.');?> a <?=number_format($umItem['valorMax'] * $umItem['quantidade'], 2, ',','.');?>
													<? } ?>
				            					<? } else { ?>
				            						<? if ($umItem['tipo'] == 0) { ?>
														R$ <?=number_format(($umItem['valorMin']  * $umItem['quantidade']) / 1000, 2, ',','.');?>
													<? } else { ?>
														R$ <?=number_format($umItem['valorMin']  * $umItem['quantidade'], 2, ',','.');?>
													<? } ?>
				            					<? } ?>
				            					
												
											</span>
											
											<span class="count_unit">
												<div class="dec button less-product less-product-mobile" data-id="<?=$umItem['id'];?>" data-type="minus">-</div>
												<input type="text" class="product units" name="produto_<?=$umItem['id'];?>" id="produto_<?=$umItem['id'];?>_qtd_mob" value="<?=$umItem['quantidade'];?>">
												<div class="inc button add-product add-product-mobile" data-id="<?=$umItem['id'];?>" data-type="plus">+</div>
											</span>
										</span>
										<span class="control">
											<span class="align">
												<button class="del-product hidden-indent" title="Excluir produto do carrinho" onclick="remove(this)">Excluir</button>
											</span>
										</span>
									</li>
								<? } ?>
							</ul>
							
						<? } ?>
					</div>
				<? } ?>
			</section>

			<div class="total">

				<span>Total de itens: <strong class="units totalItensCard"><?=$totalItens;?></strong></span>
				<span>
					<? if (empty($this->layout()->mercadoMaster)) { ?>
						De R$ <strong class="totalVlMin"><?=number_format($precoMin, 2, ',','.');?></strong> <br>
						Até R$ <strong class="totalVlMax"><?=number_format($precoMax, 2, ',','.');?></strong>
					<? } else { ?>
						R$ <strong class="totalVlMin"><?=number_format($precoMin, 2, ',','.');?></strong>
					<? } ?>
				</span>
			</div>

			<a href="<?php echo $this->baseUrl('/carrinho/login/'); ?>" class="conclude-bottom <?=$classeBtn;?>">Finalizar Pedido</a>

		</div>

	</div>

</div>