
<aside id="side-cart">

<div  class="sticky">

	<h3>Carrinho</h3>

	<section>

		<ul class="cart-list" id="cart-list">
			<? 
				
			$totalItens = 0;
			$precoMin = 0;
			$precoMax = 0;
			$classeBtn = '';

			if (!empty($_SESSION['Default']['usuario']['carrinho']['itens'])) { 

			?>

				<? 
					foreach($_SESSION['Default']['usuario']['carrinho']['itens'] as $umItem) { 

						if ($umItem['tipo'] == 0) {
							$totalItens++;

							$precoMin += ($umItem['valorMin'] * $umItem['quantidade']) / 1000;
							$precoMax += ($umItem['valorMax'] * $umItem['quantidade']) / 1000;

						} else {
							$totalItens += $umItem['quantidade'];	
							$precoMin += ($umItem['valorMin'] * $umItem['quantidade']);
							$precoMax += ($umItem['valorMax'] * $umItem['quantidade']);
						}
						

						

				?>
					<li class="cart-item" id="produto_<?=$umItem['id'];?>">

						<picture>
							<? if (!empty($umItem['webp'])) { ?>
								<source srcset="<?php echo $this->baseUrl('../admin/public/uploads/produtos/thumbs/' . strtolower($umItem['webp'])); ?>" type="image/webp">
							<? } ?>

							<img src="<?php echo $this->baseUrl('../admin/public/uploads/produtos/thumbs/'.strtolower($umItem['foto'])); ?>">
						</picture>

						<span class="infos">
							<span class="desc">
								<?

									if (strlen($umItem['name']) >= 25) {
										echo substr($umItem['name'],0,25) . "..."; 
									} else {
										echo $umItem['name'];
									}
								?>
							</span>
							<span class="price">

								<? if (empty($this->layout()->mercadoMaster)) { ?>
            						<? if ($umItem['tipo'] == 0) { ?>
										R$ <?=number_format(($umItem['valorMin']  * $umItem['quantidade']) / 1000, 2, ',','.');?> a <?=number_format(($umItem['valorMax'] * $umItem['quantidade']) / 1000, 2, ',','.');?>
									<? } else { ?>
										R$ <?=number_format($umItem['valorMin']  * $umItem['quantidade'], 2, ',','.');?> a <?=number_format($umItem['valorMax'] * $umItem['quantidade'], 2, ',','.');?>
									<? } ?>
            					<? } else { ?>
            						<? if ($umItem['tipo'] == 0) { ?>
										R$ <?=number_format(($umItem['valorMin']  * $umItem['quantidade']) / 1000, 2, ',','.');?>
									<? } else { ?>
										R$ <?=number_format($umItem['valorMin']  * $umItem['quantidade'], 2, ',','.');?>
									<? } ?>
            					<? } ?>

								
							</span>
							<? if ($umItem['tipo'] == 0) { ?>
								<span class="unit">
									<?
										if ($umItem['quantidade'] < 1000) {
											echo $umItem['quantidade'] . " gramas";
										} else {
											echo $umItem['quantidade'] / 1000 . "kg";
										}
									?>
								</span>
							<? } else { ?>
								<span class="unit"><?=$umItem['quantidade'];?> unidade(s)</span>
							<? } ?>
							<span class="control">
								<span class="align">
									<button class="del-product hidden-indent" title="Excluir produto do carrinho" onclick="remove(this)">Excluir</button>
									<span>
										<div class="dec button less-product" data-id="<?=$umItem['id'];?>" data-type="minus">-</div>
										<input type="text" class="product units produto_<?=$umItem['id'];?>" name="produto_<?=$umItem['id'];?>" id="produto_<?=$umItem['id'];?>_qtd" value="<?=$umItem['quantidade'];?>">
										<div class="inc button add-product" data-id="<?=$umItem['id'];?>" data-type="plus">+</div>
									</span>
								</span>
							</span>
						</span>
					</li>
				<? } ?>		
			<? 
				} else { 
					$classeBtn = 'hidden';
			?>
				<div class="carrinho-vazio">Carrinho vazio!</div>
			<? } ?>

		</ul>
		
	</section>

	<div class="total">
		<span>Total de itens: <strong class="units totalItensCard"><?=$totalItens;?></strong></span>
		<span>

			<? if (empty($this->layout()->mercadoMaster)) { ?>
				De R$ <strong class="totalVlMin"><?=number_format($precoMin, 2, ',','.');?></strong> <br>
				Até R$ <strong class="totalVlMax"><?=number_format($precoMax, 2, ',','.');?></strong>
			<? } else { ?>
				R$ <strong class="totalVlMin"><?=number_format($precoMin, 2, ',','.');?></strong>
			<? } ?>

			
		</span>
	</div>

	<a href="<?php echo $this->baseUrl('/carrinho/login/'); ?>" class="conclude-bottom <?=$classeBtn;?>" >Finalizar Pedido</a>

</div>

</aside>

