

<!-- Categories Mobile -->

<div id="open-categorias" class="uk-offcanvas" uk-offcanvas>

	<div class="uk-offcanvas-bar uk-offcanvas-bar-show">

		<header>

			<h3>Categorias</h3>

			<p>Navegue pelas categorias abaixo</p>

			<a href="#" class="box-close uk-offcanvas-close uk-close uk-icon" uk-close="">Fechar</a>

		</header>

		<ul class="categories">

			<?php if (!empty($this->layout()->arrayListMenu)) { ?>
                <?php foreach ($this->layout()->arrayListMenu as $umMenu) { ?>
                   	<li>
                   		<?php if (!empty($umMenu['menu']['submenu'])) { ?>
                   			<a href="#" class="header <?=strtolower($umMenu['menu']['icone']);?>"><?=$umMenu['menu']['nome']?></a>
                   		<? } else { ?>
                   			<a href="<?php echo $this->baseUrl('/categoria/'.strtolower($umMenu['menu']['codigofiltro'])); ?>" class="header <?=strtolower($umMenu['menu']['icone']);?>"><?=$umMenu['menu']['nome']?></a>
                   		<? } ?>

                   		<?php if (!empty($umMenu['menu']['submenu'])) { ?>
                   			<ul>
                   				<?php foreach ($umMenu['menu']['submenu'] as $umSubmenu) { ?>
              							<li><a href="<?php echo $this->baseUrl('/categoria/'.strtolower($umSubmenu['codigofiltro'])); ?>"><?=$umSubmenu['nome'] ?></a></li>
              						<? } ?>
              					</ul>

                   		<? } ?>
                   	</li>

                <?php } ?>
            <?php } ?>

		</ul>
	</div>
</div>