
<!-- categories -->


<aside id="categories-side-filter" >

    <?php if (!empty($this->layout()->categoriaPai)) { ?>
        <h3><?=$this->layout()->categoriaPai['nome'];?></h3>
    <? } ?>

    <?php if (!empty($this->layout()->subCategorias)) { ?>
        <h4>Subcategorias</h4>
        <ul>
        
            <?php foreach ($this->layout()->subCategorias as $umMenu) { ?>
                <li><label><span><input type="checkbox" name="filtros[]" class="tipoFiltro" value="<?=$umMenu['id']?>" checked="true" /></span><?=$umMenu['nome']?></label></li>
            <?php } ?>
        </ul>
    <?php } ?>

</aside>


<script>
    jQuery(function($){

        $(".tipoFiltro").on("click", function (e) {
            $( ".tipoFiltro" ).each(function( obj ) {
              if ($(this).prop('checked')) {
                $(".categoria_"+ $(this).val()).show();
              } else {
                $(".categoria_"+ $(this).val()).hide();
              }
            });
        });

    });
</script>


