


<!-- categories -->

<aside id="categories" >

    <h3>Categorias</h3>

    <nav class="uk-navbar uk-margin-large-bottom">

        <ul class="uk-navbar-nav uk-hidden-small categories">

            <?php if (!empty($this->layout()->arrayListMenu)) { ?>
                <?php foreach ($this->layout()->arrayListMenu as $umMenu) { ?>
                    <li><a href="<?php echo $this->baseUrl('/categoria/'.strtolower($umMenu['menu']['codigofiltro'])); ?>" class="<?=$umMenu['menu']['icone']?>"><?=$umMenu['menu']['nome']?></a></li>
                <?php } ?>
            <?php } ?>


        </ul>
        
    </nav>


</aside>

<!-- /categories -->


