<? if 	(
			Zend_Controller_Front::getInstance()->getRequest()->getControllerName() != 'usuario'
			&& Zend_Controller_Front::getInstance()->getRequest()->getControllerName() != 'pedido'
		) 
	{ 
?>
	<? if 	(
				Zend_Controller_Front::getInstance()->getRequest()->getControllerName() == 'carrinho'
			) 
		{ 
	?>
		<div class="delivery-cep" <? if (empty($_SESSION['Default']['usuario']['endereco']['cep'])) { echo 'style="display:none;"'; } ?> >
			<? if (!empty($_SESSION['Default']['usuario']['endereco'])) { ?>
				Entregar na <?=$_SESSION['Default']['usuario']['endereco']['rua'];?> | <?=$_SESSION['Default']['usuario']['endereco']['cidade'];?> | CEP <?=$_SESSION['Default']['usuario']['endereco']['cep'];?> | <a href="#info-cep" class="uk-button uk-button-default" uk-toggle>Alterar</a>
			<? } ?>
		</div>	
		<? } else { ?>
			<div class="delivery-cep" <? if (empty($_SESSION['Default']['usuario']['endereco']['cep'])) { echo 'style="display:none;"'; }?> >
				<? if (!empty($_SESSION['Default']['usuario']['endereco'])) { ?>
					Entrega no CEP: <?=$_SESSION['Default']['usuario']['endereco']['cep'];?> | <a href="#info-cep" class="uk-button uk-button-default" uk-toggle>Alterar</a>
				<? } ?>
			</div>	
		<? } ?>
<? } ?>