<!-- Footer -->

<footer id="footer" class="footer-reduzido">
	<?php include("copyright.phtml"); ?>

</footer>

<!-- /Footer -->



<!-- Informe CEP -->

<div id="info-cep" class="uk-offcanvas" uk-offcanvas>

	<div class="uk-offcanvas-bar uk-offcanvas-bar-show">
		
		<a href="#" class="box-close uk-offcanvas-close" uk-close>Fechar</a>
		<div class="informa-cep" <? if (!empty($_SESSION['Default']['usuario']['id']) && !empty($_SESSION['Default']['usuario']['dados']['enderecos'])) { echo "style='display:none;'";  }?>  >
			<h4>Informe seu CEP</h4>

			<p>Para encontramos as melhores ofertas de sua região, informe o CEP do local de entrega.</p>

			<form method="post">
				<input type="hidden" id="idProdutoAdd" value="" />
				<input type="hidden" id="qtProdutoAdd" value="" />
				<input type="text" name="cep" class="cep-alterar" required placeholder="Digite seu CEP" id="cep" autofocus>
				<button type="button" id="alterar-cep">Buscar</button>
			</form>
			<a href="http://www.buscacep.correios.com.br/sistemas/buscacep/buscaCep.cfm" rel="nofollow" target="_blank">Não sei meu CEP</a>
		</div>

		<!-- SE USUÁRIO ESTIVER LOGADO MOSTRA ESSA DIV -->
		<? if (!empty($_SESSION['Default']['usuario']['id']) && !empty($_SESSION['Default']['usuario']['dados']['enderecos'])) { ?>
			<div class="enderecos-encontrados">
				<h4>Escolha um endereço cadastrado</h4>

				<select name="escolha-endereco" id="escolha-endereco" class="escolha-endereco">
					<? foreach ($_SESSION['Default']['usuario']['dados']['enderecos'] as $umEndereco) {  ?>
						<option value="<?=$umEndereco['cep'];?>"><?=$umEndereco['rua'];?>, <?=$umEndereco['numero'];?> <? if (!empty($umEndereco['complemento'])) { ?>- <?=$umEndereco['complemento'];?><? } ?> - <?=$umEndereco['bairro'];?> - <?=$umEndereco['cidade']['nome'];?>-<?=$umEndereco['cidade']['estado'];?></option>
					<? } ?>
				</select>
				<button type="button" id="seleciona-endereco" class="seleciona-endereco">Escolher</button>
				<p>ou <a href="#" onclick="$('.enderecos-encontrados').hide();$('.informa-cep').show();">clique aqui</a> e digite outro CEP</p>
			</div>
		<? } ?>
		
		
		<div class="regiao-nao-atendida" style="display:none;">
			<h4>Região não atendida</h4>
			<p>Ainda não estamos atendendo sua região :-(</p>
			<p>Tente outro CEP, <a href="#" onclick="naoEncontrado();">clique aqui!</a></p>
		</div>

	</div>

</div>

<!-- Como Funciona -->
<div id="como-funciona" class="uk-offcanvas" uk-offcanvas>
    <div class="uk-offcanvas-bar uk-offcanvas-bar-show">
        <a href="#" class="box-close uk-offcanvas-close close-como-funciona" uk-close>Fechar</a>
        <center>
        <div>
            <iframe width="100%" height="300px"
                src="https://www.youtube.com/embed/tgbNymZ7vqY">
            </iframe>
        </div>
        </center>
    </div>
</div>
<!-- /Informe CEP -->
<script type="text/javascript" src="<?php echo $this->baseUrl('js/form-setup.js'); ?>"></script>
<script type="text/javascript">

function naoEncontrado() {
	$('.regiao-nao-atendida').hide();
	$('.informa-cep').show();

	<? if (!empty($_SESSION['Default']['usuario']['id']) && !empty($_SESSION['Default']['usuario']['dados']['enderecos'])) { ?>
		$(".enderecos-encontrados").show();
		$('.informa-cep').hide();
	<? } ?>

	
}
$( "#menu > li" ).hover(function() {
	$( this ).addClass( "hover" );

  }, function() {
	$( this ).removeClass( "hover" );

  }
);

$( "#menu" ).hover(function() {

	$(".menu-overlay").fadeIn("fast");

  }, function() {

	$(".menu-overlay").fadeOut("fast");

  }
);

/* busca overlay 
$("#search-inpt").hover(function() {
	$(".busca-overlay").fadeIn("fast");
}, function() {
	$(".busca-overlay").fadeOut("fast");
});
*/

<? if (isset($_SESSION['msgErroLogin'])) { ?>
	$(document).ready(function () {
		UIkit.offcanvas('#account-box').show();
	});
<? 
		unset($_SESSION['msgErroLogin']);
	} 
?>

<? if (isset($_SESSION['msgErroCadastro'])) { ?>
	$(document).ready(function () {
		UIkit.offcanvas('#account-box').show();
	});
<? 
		unset($_SESSION['msgErroCadastro']);
	} 
?>

</script>

<?php echo $this->partial('jsFooter.phtml'); ?>