
<!-- Footer -->
<footer id="footer">

	<div class="inner">

<!--		<div class="scf-logo">
			<span>
				<img src="<?php // echo $this->baseUrl('../public/'); ?>img/scf-logo.png" alt="Logo">
			</span>
		</div>-->
                <br>
                <div class="brand">
                    <h1 <? if (!empty($this->layout()->mercadoMaster)) { ?> class="logo-mercado"><? } ?><a href="<?php echo $this->baseUrl('/'); ?>"><img src="<?php echo $this->baseUrl('../admin/public/uploads/mercados/thumbs/'.strtolower($this->layout()->mercadoMaster['foto2'])); ?>" alt="" /></a></h1>

		</div>

		<div class="block">

			<ul class="social">
				<li><a target="_blank" href="<?php echo $this->layout()->mercadoMaster['facebook']; ?>">Facebook</a></li>
				<li><a target="_blank" href="<?php echo $this->layout()->mercadoMaster['instagram']; ?>">Instagram</a></li>
				<li><a target="_blank" href="<?php echo $this->layout()->mercadoMaster['youtube']; ?>">Youtube</a></li>
				<li><a target="_blank" href="https://wa.me/<?php echo $this->layout()->mercadoMaster['telefone2'];?>?text=Olá, tenho uma dúvida sobre o mercado!">Whatsapp</a></li>
			</ul>

			<ul class="credit">
				<li><a href="#">Amex</a></li>
				<li><a href="#">Mastercard</a></li>
				<li><a href="#">Visa</a></li>
				<li><a href="#">Discover</a></li>
			</ul>

		</div>
			
		<div class="copyright">
			<? 
				if (!empty($this->layout()->mercadoMaster)) { 
			?>
				<p>
					<?php echo $this->layout()->mercadoMaster['nome']; ?> <br />
					<?php echo $this->layout()->mercadoMaster['razaosocial']; ?> - 
					<?php echo $this->layout()->mercadoMaster['cnpj']; ?> <br />
					<?php echo $this->layout()->mercadoMaster['rua']; ?>, <?php echo $this->layout()->mercadoMaster['numero']; ?> -  <?php echo $this->layout()->mercadoMaster['complemento']; ?> - <?php echo $this->layout()->mercadoMaster['bairro']; ?> - <?php echo $this->layout()->mercadoMaster['cidade']; ?> - <?php echo $this->layout()->mercadoMaster['estado']; ?> <br />
					<?php if ($this->layout()->mercadoMaster['telefone']) {
							echo 'Telefone: '. $this->layout()->mercadoMaster['telefone']; 
						}
					?>
				</p>			
			<? } else { ?>
				<p>
					Sua Compra Fácil <br />
					razão social do SCF - 00.000.000/0000-00 <br />
					Rua Berlim, 43 - sala 01 - Santa Regina - Itajaí - Santa Regina 
				</p>
			<? } ?>
			<ul class="links-rodape">
				<li><a href="#como-funciona" class="uk-button uk-button-default" uk-toggle>Como Funciona</a></li>
                                <!--<li><a href="<?php echo $this->baseUrl(); ?>duvidas-frequentes">Dúvidas Frequentes</a></li>-->
				<li><a href="<?php echo $this->baseUrl(); ?>politica-de-privacidade">Política de Privacidade</a></li>
			</ul>
			<p>
				Copyright <?=Date("Y");?> | <?php if (!empty($this->layout()->mercadoMaster)) {  echo $this->layout()->mercadoMaster['subdomain']; } else { ?>www<?php } ?>.suacomprafacil.com.br<br>
				Todos os direitos reservados
			</p>
		</div>

	</div>
</footer>
<!-- /Footer -->

<div class="menu-overlay"></div>


<!-- Login -->
<?php echo $this->partial('account-header.phtml'); ?>
<!-- /Login -->


<!-- Informe CEP -->
<div id="info-cep" class="uk-offcanvas" uk-offcanvas>

	<div class="uk-offcanvas-bar uk-offcanvas-bar-show">
		
		<a href="#" class="box-close uk-offcanvas-close" uk-close>Fechar</a>
		<div class="informa-cep" <? if (!empty($_SESSION['Default']['usuario']['id']) && !empty($_SESSION['Default']['usuario']['dados']['enderecos'])) { echo "style='display:none;'";  }?>  >
			<h4>Informe seu CEP</h4>

			<p>Para encontramos as melhores ofertas de sua região, informe o CEP do local de entrega.</p>

			<form method="post">
				<input type="hidden" id="idProdutoAdd" value="" />
				<input type="hidden" id="qtProdutoAdd" value="" />
				<input type="text" name="cep" class="cep-alterar" required placeholder="Digite seu CEP" id="cep" autofocus>
				<button type="button" id="alterar-cep">Buscar</button>
			</form>
			<a href="http://www.buscacep.correios.com.br/sistemas/buscacep/buscaCep.cfm" rel="nofollow" target="_blank">Não sei meu CEP</a>
		</div>

		<!-- SE USUÁRIO ESTIVER LOGADO MOSTRA ESSA DIV -->
		<? if (!empty($_SESSION['Default']['usuario']['id']) && !empty($_SESSION['Default']['usuario']['dados']['enderecos'])) { ?>
			<div class="enderecos-encontrados">
				<h4>Escolha um endereço cadastrado</h4>

				<select name="escolha-endereco" id="escolha-endereco" class="escolha-endereco">
					<? foreach ($_SESSION['Default']['usuario']['dados']['enderecos'] as $umEndereco) {  ?>
						<option value="<?=$umEndereco['cep'];?>"><?=$umEndereco['rua'];?>, <?=$umEndereco['numero'];?> <? if (!empty($umEndereco['complemento'])) { ?>- <?=$umEndereco['complemento'];?><? } ?> - <?=$umEndereco['bairro'];?> - <?=$umEndereco['cidade']['nome'];?>-<?=$umEndereco['cidade']['estado'];?></option>
					<? } ?>
				</select>
				<button type="button" id="seleciona-endereco" class="seleciona-endereco">Escolher</button>
				<p>ou <a href="#" onclick="$('.enderecos-encontrados').hide();$('.informa-cep').show();">clique aqui</a> e digite outro CEP</p>
			</div>
		<? } ?>
		
		
		<div class="regiao-nao-atendida" style="display:none;">
			<h4>Região não atendida</h4>
			<p>Ainda não estamos atendendo sua região :-(</p>
			<p>Tente outro CEP, <a href="#" onclick="naoEncontrado();">clique aqui!</a></p>
		</div>

	</div>

</div>
<!--info-cep-->
<!-- Como Funciona -->
<div id="como-funciona" class="uk-offcanvas" uk-offcanvas>
    <div class="uk-offcanvas-bar uk-offcanvas-bar-show">
        <a href="#" class="box-close uk-offcanvas-close close-como-funciona" uk-close>Fechar</a>
        <center>
            <div>
                <iframe width="100%" height="300px"
                    <!--src="https://www.youtube.com/embed/tgbNymZ7vqY">-->
                    <!--src="<?php // echo $this->layout()->mercadoMaster['url-como-funciona']; ?>"-->
                </iframe>
            </div>
        </center>
    </div>
</div>

<? 
	$contadorMobile = 0;
	$contadorDesktop = 0;
	if (!empty($this->layout()->boasVindas)) {
		foreach($this->layout()->boasVindas as $umaImagem) {
 ?>

	<? 
		if ($umaImagem['tipo'] == 1) { 
			$contadorDesktop++;
	?>
		<a href="<?php echo $this->baseUrl('../admin/public/uploads/boasvindas/' . strtolower($umaImagem['foto'])); ?>" rel="gallery" <? if ($contadorDesktop == 1 ) { ?> id="hidden-trigger"<? } ?> class="fancybox-desktop" data-fancybox="desktop"></a>


	<? 
		//mobile
		} else { 
			$contadorMobile++;
	?>		
		<a href="<?php echo $this->baseUrl('../admin/public/uploads/boasvindas/' . strtolower($umaImagem['foto'])); ?>" <? if ($contadorMobile == 1 ) { ?> id="hidden-trigger-mobile" <? } ?> class="fancybox-mobile" data-fancybox="mobile" rel="gallery-mobile" ></a>

	<? } ?>
<? }
	}  ?>


<!-- /Informe CEP -->
<script type="text/javascript" src="<?php echo $this->baseUrl('js/form-setup.js'); ?>"></script>
<script type="text/javascript">
var items = '';
var width = $(window).width();
var obj;
if (width >= 481){
	
	items = 'fancybox-desktop';

	$("a[rel=gallery]").fancybox({
		buttons : ["close"],
		index : 0,
		type : 'image',      
		beforeShow: function () {
			$(".fancybox-infobar").html('');
		},
		afterLoad : addLinks,
		beforeClose : removeLinks,
		onUpdate : update
	});

	<? if (!isset($_COOKIE[$this->layout()->cookie['cookie_name']])) {  ?>
		$("#hidden-trigger").trigger('click');
	<? } ?>

} else {
	items = 'fancybox-mobile';

	$("a[rel=gallery-mobile]").fancybox({
		buttons : ["close"],
		index : 0,
		type : 'image',      
		beforeShow: function () {
			$(".fancybox-infobar").html('');
		},
		afterLoad : addLinks,
		beforeClose : removeLinks,
		onUpdate : update
	});

	<? if (!isset($_COOKIE[$this->layout()->cookie['cookie_name']])) { ?>
		$("#hidden-trigger-mobile").trigger('click');
	<? } ?>
}

function update() {
	var list = $("#links");
	list.find('li').removeClass('active').eq( $.fancybox.getInstance().currIndex ).addClass('active');	
}

function goToItem(index) {
	$.fancybox.getInstance().jumpTo(index);
}

function addLinks() {
    var list = $("#links");
    obj = this;
    
    if (!list.length) {    
        list = $('<ul id="links">');

        $.each($('.' + items), function( index, value ) {
            $('<li data-index="' + index + '"><label></label></li>').click(function() { goToItem(index) }).appendTo( list );
        });
        
        list.appendTo( 'body' );
    }

    list.find('li').removeClass('active').eq( 1 ).addClass('active');
}

function removeLinks() {
    $("#links").remove();    
}

function replaceAll(find, replace, str) {
	return str.replace(new RegExp(find, 'g'), replace);
}

function pad(n) {
    return (n < 10) ? ("0" + n) : n;
}

function naoEncontrado() {
	$('.regiao-nao-atendida').hide();
	$('.informa-cep').show();

	<? if (!empty($_SESSION['Default']['usuario']['id']) && !empty($_SESSION['Default']['usuario']['dados']['enderecos'])) { ?>
		$(".enderecos-encontrados").show();
		$('.informa-cep').hide();
	<? } ?>

	
}



$( "#menu > li" ).hover(function() {
	$( this ).addClass( "hover" );
  }, function() {
	$( this ).removeClass( "hover" );
  }
);

//Overlay Menu
$( "#menu" ).hover(function() {
	$(".menu-overlay").fadeIn("fast");
	}, function() {
	$(".menu-overlay").fadeOut("fast");
	}
);

<? if (isset($_SESSION['msgErroLogin'])) { ?>
	$(document).ready(function () {
		UIkit.offcanvas('#account-box').show();
	});
<? 
		unset($_SESSION['msgErroLogin']);
	} 
?>

<? if (isset($_SESSION['msgErroCadastro'])) { ?>
	$(document).ready(function () {
		UIkit.offcanvas('#account-box').show();
	});
<? 
		unset($_SESSION['msgErroCadastro']);
	} 
?>
</script>

<?php echo $this->partial('jsFooter.phtml'); ?>

<!-- Slick Slider -->
<script type="text/javascript">
	$('.single-item').slick({
		dots: true,
		infinite: true,
		speed: 300,
		autoplay: true,
		autoplaySpeed: 2000,
		arrows: false
	});	
</script>
<!-- /Slick Slider -->

<!-- Scrollbar -->
<script type="text/javascript">
	$(document).ready(function() {
		var $window = $(window);
		function checkWidth() {
			var windowsize = $window.width();
			if (windowsize < 1280) {
				jQuery(document).ready(function(){
					jQuery('.scrollbar-inner').scrollbar({
						"autoUpdate": true
					});
					$('body').addClass('menor');
					$('body').removeClass('maior');
				});
			} else if(windowsize > 1280) {
				$('body').addClass('maior');
				$('body').removeClass('menor');
			}
		}
		checkWidth();
		$(window).resize(checkWidth);
	});
</script>

<? if (!empty($this->layout()->cookie['cookie_name']) && !isset($_COOKIE[$this->layout()->cookie['cookie_name']])) { 
	setcookie($this->layout()->cookie['cookie_name'], 1, time()+(3600 * $this->layout()->cookie['horas']));
} ?>
