<header id="header">

	<div class="inner">
		<!-- Abre Categorias(Mobile) -->
		<a href="#" class="navbar-brand" uk-toggle="target: #open-categorias"><span></span></a>
		<!-- /Abre Categorias(Mobile) -->

		<!-- Brand -->
		<div class="brand">
			<? 
				if (!empty($this->layout()->mercadoMaster)) { 
			?>
				<h1 <? if (!empty($this->layout()->mercadoMaster)) { ?> class="logo-mercado"><? } ?><a href="<?php echo $this->baseUrl('/'); ?>"><img src="<?php echo $this->baseUrl('../admin/public/uploads/mercados/thumbs/'.strtolower($this->layout()->mercadoMaster['foto2'])); ?>" alt="" /></a></h1>

			<? } else { ?>
				<h1 id="logo"><a href="<?php echo $this->baseUrl('/'); ?>">Sua Compra Fácil</a></h1>
			<? } ?>
		</div>
		<!-- /Brand -->

		<!--<a href="#como-funciona" class="how-works">Como funciona</a>-->
                <a href="#como-funciona" class="uk-button uk-button-default how-works" uk-toggle>Como Funciona</a>
		
                <a href="#" uk-toggle="target: #open-cart" title="Carrinho" class="mob-cart-open">Carrinho</a>
	
		<? if (!empty($_SESSION['Default']['usuario']['id'])) { ?>		
			<div class="account">
				<a href="#" uk-toggle="target: #account-box">
					<span class="desc"><?=$_SESSION['Default']['usuario']['nome'];?></span>
				</a>
			</div>
		<? } else { ?>
			<div class="account">
				<a href="#" uk-toggle="target: #account-box">
					<span class="desc">Login <span>| Cadastre-se</span></span>
				</a>
			</div>
		<? } ?>
			<!-- Botao Login Grande -->
			<div class="login-button">
				<div class="inner">
					<a href="#" uk-toggle="target: #list-box" title="Listas" class="header-list-button"></a>
					<a href="#" uk-toggle="target: #open-cart" title="Carrinho" class="header-cart-button"></a>
				</div>
			</div>
			<!-- /Botao Login Grande -->

	</div>

	<!-- Search -->
	<div class="header-search fake-input">
		<div class="inner">
			<input type="search" uk-toggle="target: #open-search" placeholder="Procurar produtos neste site">
		</div>
	</div>
	<!-- /Search -->

</header>





