<!--

		<section class="single-item" data-sizes="50vw">
			<img src="https://via.placeholder.com/940x400/91d40a/fff?text=Sua+Compra+Fácil">
			<img src="https://via.placeholder.com/940x400/09f/fff?text=Sua+Compra+Fácil">
			<img src="https://via.placeholder.com/940x400/91d40a/fff?text=Sua+Compra+Fácil">
			<img src="https://via.placeholder.com/940x400/fdc526/fff?text=Sua+Compra+Fácil">
		</section>

-->