<script>

	function replaceAll(find, replace, str) {
		return str.replace(new RegExp(find, 'g'), replace);
	}

	function pad(n) {
	    return (n < 10) ? ("0" + n) : n;
	}

	$(document).ready(function () {
                
		$( ".cep-alterar" ).on( "keydown", function(event) {
	      if(event.which == 13) 
	         $("#alterar-cep").click();
	    });

		$("#cep").mask("99999-999");
		$("#cpf").mask("999.999.999-99");
		$("#telefone").mask("(99)9999-9999");
		$("#celular").mask("(99)99999-9999");

		$("#alterar-cep, #seleciona-endereco").on("click", function() {

			if ($(this)[0].id == 'seleciona-endereco') {
				var valorCep = $("#escolha-endereco").val();
			} else {
				var valorCep = $(".cep-alterar").val();	
			}
			
			var idProdutoAdd = $("#idProdutoAdd").val();
			var qtProdutoAdd = $("#qtProdutoAdd").val();

			if (valorCep != '') {

				$.ajax({
		            url: '<?php echo $this->baseUrl('/ajax/alterar-cep'); ?>',
		            data: {
		            	cep: valorCep
		            },
		            type: 'POST',
		            async: false,
		            dataType: 'json',
		            beforeSend: function () {

		            }, success: function (r) {

		            	if (r.atendimento) {

					        $(".delivery-cep").html('Entregar no CEP: ' + r.cep + ' | <a href="#info-cep" class="uk-button uk-button-default" uk-toggle>Alterar</a>');
					        $(".delivery-cep").show();

		            		//adiciona o produto que selecionou

		            		if (idProdutoAdd != '' && qtProdutoAdd != '') {
			            		$.ajax({
						            url: '<?php echo $this->baseUrl('/carrinho/modifica-carrinho'); ?>',
						            data: {
						            	produto: idProdutoAdd,
						            	action: 'add',
						            	valor: qtProdutoAdd
						            },
						            type: 'POST',
						            async: false,
						            dataType: 'json',
						            beforeSend: function () {

						            }, success: function (r) {
						                montaCarrinho(r);

					            		if (r.itens.length == undefined) {
					            			foto = '<?php echo $this->baseUrl('../admin/public/uploads/produtos/thumbs/'); ?>' + r.itens[idProdutoAdd].foto;
					            			nome = r.itens[idProdutoAdd].name;
					            		} else {

					            			foto = '<?php echo $this->baseUrl('../admin/public/uploads/produtos/thumbs/'); ?>' + r.itens[r.itens.length-1].foto;
					            			nome = r.itens[r.itens.length-1].name;
					            		}
					            		notif({'msg': '<img src="'+foto+'"><span class=qt>'+qtProdutoAdd+'</span>&nbsp;<span class=name> '+nome+' adicionado ao carrinho.</span>','type': 'warning','position': 'right','timeout': 3000});

						            }
						        });
						       }

						    	$(".informa-cep").show();
			            		$(".regiao-nao-atendida").hide();
			            		UIkit.offcanvas('#info-cep').hide();
			            		if ($(".enderecos-encontrados")) {
			            			$(".enderecos-encontrados").show();
			            		}
				                $("#idProdutoAdd").val('');
				                $("#qtProdutoAdd").val('');

		            	} else {
		            		$(".cep-alterar").val('');
		            		$(".informa-cep").hide();

		            		if ($(".enderecos-encontrados")) {
		            			$(".enderecos-encontrados").hide();
		            		}

		            		$(".regiao-nao-atendida").show();
		            	}

		            }
		        });

				
			}
			
		});
	});


	function revalidaListeners() {


		$('.owl-carousel').owlCarousel({
			loop:true,
			dots: false,
			nav: false,
			margin:10,
			responsiveClass:true,
			responsive:{
				0:{
					items: 2,
					nav:true
				},
				768:{
					items: 4,
					nav: true
				},
				1000:{
					items: 5,
					nav: true,
					loop: false
				}
			}
		})
			
		$(".accordion").accordion({
			header: "header",
			event: "mouseup",
			icons: false,
			heightStyle: "content"
		});

		$("#cart-tabs").tabs();

		$(".categories").accordion({
			header: "a.header",
			event: "mouseup",
			icons: false,
			active: false,
			collapsible: true,
			heightStyle: "content"
		});

		//zera validadores
		$(".button, .button-add, .less-product, .add-product, .button-aplicar, .filtro-cat, .filter-central-flip, .add-product-mobile, .less-product-mobile").unbind("click");

		$("span.add").click(function() {
			$(this).find('.inc.button.up').animate({ 'marginTop': '-50px'}, 100);
		});
		
		$(".filter-central-flip").click(function(){
			$(this).parent().children(".filter-central-panel").slideToggle("fast");			
		});

		$(".button-aplicar").on("click", function() {
			$(".filter-central-panel").css('display','none');
			var button = $(this);
			var idCategoria = button[0].dataset.id;
			var subCats = button[0].dataset.subcategorias;
			var produtosLista = "";
			var tipo = 2;
			var filtro = $("#" + idCategoria).val();
			var filtros = [];
			var filtros2 = [];

			//busca de produtos
			if ($(this)[0].dataset.limite) {
				var limite = 0;
			} else {
				var limite = 20;
			}

			//busca de produtos
			if ($("#termoDaBusca")) {
				var termoDaBusca = $("#termoDaBusca").val();
			} else {
				var termoDaBusca = "";
			}

			//pega os elementos checked dessa categoria para filtrar
			$(".filtro-categoria-" + button[0].dataset.id).each(function (e) {
				if ($(this)[0].checked == true) {
					filtros.push("'" + $(this)[0].dataset.valor + "'");
				}
		    });

		    $(".filtro2-categoria-" + button[0].dataset.id).each(function (e) {
				if ($(this)[0].checked == true) {
					filtros2.push("'" + $(this)[0].dataset.valor + "'");
				}
		    });

		    //carrega mais produtos de uma categoria
			$.ajax({
		        url: '<?php echo $this->baseUrl('/ajax/carrega-produtos'); ?>',
		        data: {
		        	categoria: idCategoria,
		        	produtosLista: produtosLista,
		        	tipo: tipo,
		        	filtro: filtro,
		        	marcas: filtros.toString(),
		        	filtros: filtros2.toString(),
		        	subcategorias: subCats,
		        	limite: limite,
		        	termoBusca: termoDaBusca
		        },
		        type: 'POST',
		        dataType: 'json',
		        async: false,
		        beforeSend: function () {

		        }, success: function (r) {

		        	$(".grid-categoria-" + idCategoria).html('');

		        	$.each(r.data, function(key, value){

		        		str = '';
		        		str += '<div class="item">';
		        			str += '<span>';
		        				str += '<a href="'+baseUrl+'produto/visualizar/'+value.link.toLowerCase()+'">';

		            				str += '<picture>';

		            					if (value.pathWebp != null && value.pathWebp != '') {
											str += '<source srcset="'+baseUrlArquivos+'produtos/thumbs/'+value.pathWebp+'"  type="image/webp">';
		            					}

		            					str += '<img src="'+baseUrlArquivos+'produtos/thumbs/'+value.pathFoto+'" alt="'+value.nome+'">';
		            				str += '</picture>';
		            			str += '</a>';
		            			str += '<span class="infos">';
		            				str += '<span class="inner">';

		            					<? if (empty($this->layout()->mercadoMaster)) { ?>
		            						str += '<span class="prices">De R$ '+value.precoMin+' a R$ '+value.precoMax+'</span>';
		            					<? } else { ?>
		            						str += '<span class="prices">R$ '+value.precoMin+'</span>';
		            					<? } ?>
		            					str += '<span class="desc">'+value.nome+'</span>';
									str += '</span>';
								str += '</span>';


								str += '<span class="add">';
									str += '<button class="inc button button-add add-product up" data-tipo="'+value.tipo+'" data-id="'+value.id+'" data-obj="qtde_produto_'+value.id+'" >Adicionar</button>';
								
									str += '<div class="add-some">';
										str += '<div class="dec button less-product" data-tipo="'+value.tipo+'" data-id="'+value.id+'" data-obj="qtde_produto_'+value.id+'" data-type="minus">-</div>';
										str += '<input type="text" class="product units produto_'+value.id+'" data-tipo="'+value.tipo+'" name="produto_'+value.id+'" id="qtde_produto_'+value.id+'" value="0">';
										str += '<div class="inc button add-product" data-tipo="'+value.tipo+'" data-id="'+value.id+'" data-obj="qtde_produto_'+value.id+'" data-type="plus">+</div>';
									str += '</div>';
								str += '</span>';

							str += '</span>';
						str += '</div>';

		        		produtosLista += "," + value.id;

		        		$(".grid-categoria-" + idCategoria).append(str);
		        	});
		        	
		        	revalidaListeners();
		        	
		        	$(".load-more-" + idCategoria).attr("data-lista", produtosLista);

		        	$(".more-" + idCategoria).show();
		        }
		    });

		})

		$(".button").on("click", function() {

			var $button = $(this);
			var oldValue = $button.parent().find("input").val();

			if ($button.data('type') == "plus") {
				//trata para adicionar gramas de forma sequencial
				if (parseFloat(oldValue) >= 500) {
					var newVal = parseFloat(oldValue) + 500;
				} else {
					var newVal = parseFloat(oldValue) + 1;	
				}
				
			} else {
				if (oldValue > 0) {

					//trata para remover gramas de forma sequencial
					if (parseFloat(oldValue) >= 500) {
						var newVal = parseFloat(oldValue) - 500;
					} else {
						var newVal = parseFloat(oldValue) - 1;	
					}
					
				} else {
					newVal = 0;
				}
			}
			
			$button.parent().find("input").val(newVal);
		});

		$(".button-add").on("click", function() {
			
			//adiciona produto no carrinho
			var idProduto = $(this)[0].dataset.id;
			var qtd = $("#"+$(this)[0].dataset.obj).val();
			var nomeProduto = $(this).parent().parent().find("img").attr("alt");

			if ($(this).attr('class').indexOf('add-product up') > 0) {

				//granel comeca com 500g
				if ($(this)[0].dataset.tipo == 0) {
					qtd = 500;
				} else {
					qtd = 1;
				}
				//quando ja tenho carrinho de compras eu adiciono o valor atual do produto
				if ($(".produto_"+idProduto).length > 1) {
					$(".produto_"+idProduto).each(function(index) {
						qtd = parseInt(qtd) + parseInt($(this).val());
					});
				}

				$("#"+$(this)[0].dataset.obj).val(qtd);
				
			}

			if (!isNaN(idProduto) && !isNaN(qtd)) {
				$.ajax({
		            url: '<?php echo $this->baseUrl('/carrinho/modifica-carrinho'); ?>',
		            data: {
		            	produto: idProduto,
		            	action: 'add',
		            	valor: qtd
		            },
		            type: 'POST',
		            async: false,
		            dataType: 'json',
		            beforeSend: function () {
		            }, success: function (r) {

		                montaCarrinho(r);
		            }
		        });
			}
		});

		$(".less-product, .add-product, .add-product-mobile, .less-product-mobile").on("click", function(event) {
			
			//modifica quantidades
			var idProduto = $(this)[0].dataset.id;
			var action = 'muda';

			// quando clica em adicionar
			var fotoProduto = $(this).parent().parent().find("img").attr("src");
			var nomeProduto = $(this).parent().parent().find("img").attr("alt");

			// + e - da listagem
			if (nomeProduto == undefined) {
				nomeProduto = $(this).parent().parent().parent().find("img").attr("alt");
				fotoProduto = $(this).parent().parent().parent().find("img").attr("src");
			}

			//+ e - do carrinho
			if (nomeProduto == undefined) {
				nomeProduto = $(this).parent().parent().parent().parent().find(".desc")[0].innerText
			}

			if ($(this)[0].dataset.obj != undefined) {

				var qtd = $("#"+$(this)[0].dataset.obj).val();

				//gramas para granel
				if (qtd == 1 && $(this)[0].dataset.tipo == 0) {
					qtd = 500;
				}

			} else {
				if ($(this).attr('class').indexOf("-mobile") > 0) {
					var qtd = $("#produto_" + idProduto + "_qtd_mob" ).val();
				} else {
					var qtd = $("#produto_" + idProduto + "_qtd" ).val();
				}	
			}

			if (qtd <= 0) {
				action = 'rem';
				qtd = 0;
			}
                        
                        if ($(this)[0].dataset.tipo == 0) {
                            //ajusta para multiplo de 500 gramas
                            qtd = (qtd % 500) >= 250 ? parseInt(qtd / 500) * 500 + 500 : parseInt(qtd / 500) * 500;
                        }
			if (!isNaN(idProduto) && !isNaN(qtd)) {
				$.ajax({
		            url: '<?php echo $this->baseUrl('/carrinho/modifica-carrinho'); ?>',
		            data: {
		            	produto: idProduto,
		            	action: action,
		            	valor: qtd
		            },
		            type: 'POST',
		            async: false,
		            dataType: 'json',
		            beforeSend: function () {
		            }, success: function (r) {
		                montaCarrinho(r);
		                event.preventDefault();

		                if (!r.adicionarCep) {
		                	if (qtd <= 0) {
								notif({'msg': '<img src="'+fotoProduto+'"/>' + nomeProduto + ' removido do carrinho','type': 'warning','position': 'right','timeout': 3000});
							} else {
								notif({'msg': '<img src="'+fotoProduto+'"/>' + nomeProduto + ' alterado no carrinho.','type': 'warning','position': 'right','timeout': 3000});
							}
		                }

		                $(".units.produto_"+idProduto).val(qtd);
		            }
		        });
			}

		});
	}

	$(function() {

	  	$(".load-more").on("click", function() {

	  		var idCategoria = $(this)[0].dataset.id;
	  		var produtosLista = $(this)[0].dataset.lista;
	  		var tipo = $(this)[0].dataset.tipo;
	  		

	  		try {
	  			var filtro = $("#"+idCategoria)[0].value;
	  		} catch (e) {
	  			var filtro = "p.nome asc";
	  		}

			try {
				var subCats = $(this)[0].dataset.subcategorias;
			} catch(e) {
				var subCats = "";
			}

	  		//carrega mais produtos de uma categoria
			$.ajax({
	            url: '<?php echo $this->baseUrl('/ajax/carrega-produtos'); ?>',
	            data: {
	            	categoria: idCategoria,
	            	produtosLista: produtosLista,
	            	tipo: tipo,
	            	filtro: filtro,
	            	subcategorias: subCats
	            },
	            type: 'POST',
	            dataType: 'json',
	            async: false,
	            beforeSend: function () {

	            }, success: function (r) {
	            	$.each(r.data, function(key, value){

	            		str = '';
	            		str += '<div class="item">';
	            			str += '<span>';
	            				str += '<a href="'+baseUrl+'produto/visualizar/'+value.link.toLowerCase()+'">';

		            				str += '<picture>';
		            					if (value.pathWebp != null && value.pathWebp != '') {
											str += '<source srcset="'+baseUrlArquivos+'produtos/thumbs/'+value.pathWebp+'"  type="image/webp">';
		            					}

		            					str += '<img src="'+baseUrlArquivos+'produtos/thumbs/'+value.pathFoto+'" alt="'+value.nome+'">';
		            				str += '</picture>';
		            			str += '</a>';
		            			str += '<span class="infos">';
		            				str += '<span class="inner">';
		            					<? if (empty($this->layout()->mercadoMaster)) { ?>
		            						str += '<span class="prices">De R$ '+value.precoMin+' a R$ '+value.precoMax+'</span>';
		            					<? } else { ?>
		            						str += '<span class="prices">R$ '+value.precoMin+'</span>';
		            					<? } ?>
		            					str += '<span class="desc">'+value.nome+'</span>';
		            				str += '</span>';
		            			str += '</span>';

            					str += '<span class="add">';
									str += '<button class="inc button button-add add-product up"  data-tipo="'+value.tipo+'" data-id="'+value.id+'" data-obj="qtde_produto_'+value.id+'" >Adicionar</button>';
								
									str += '<div class="add-some">';
										str += '<div class="dec button less-product"  data-tipo="'+value.tipo+'" data-id="'+value.id+'" data-obj="qtde_produto_'+value.id+'" data-type="minus">-</div>';
										str += '<input type="text" class="product units produto_'+value.id+'"  data-tipo="'+value.tipo+'" name="produto_'+value.id+'" id="qtde_produto_'+value.id+'" value="0">';
										str += '<div class="inc button add-product"  data-tipo="'+value.tipo+'" data-id="'+value.id+'" data-obj="qtde_produto_'+value.id+'" data-type="plus">+</div>';
									str += '</div>';
								str += '</span>';

							str += '</span>';
						str += '</div>';

	            		produtosLista += "," + value.id;

	            		$(".grid-categoria-" + idCategoria).append(str);
	            	});
	            	
	            	revalidaListeners();
	            	
	            	$(".load-more-" + idCategoria).attr("data-lista", produtosLista);

	            	if (r.data.length == 0 || r.data.length < 20) {
	            		$(".more-" + idCategoria).hide();
	            	}
	            }
	        });
		});

		revalidaListeners();

	});

	function formataMoeda(valor, real) {
	    if (real === true) {
	        x = 0;
	        if (valor < 0) {
	            valor = Math.abs(valor);
	            x = 1;
	        }
	        if (isNaN(valor))
	            valor = "0";
	        cents = Math.floor((valor * 100 + 0.5) % 100);
	        valor = Math.floor((valor * 100 + 0.5) / 100).toString();
	        if (cents < 10)
	            cents = "0" + cents;
	        for (var i = 0; i < Math.floor((valor.length - (1 + i)) / 3); i++)
	            valor = valor.substring(0, valor.length - (4 * i + 3)) + '.'
	                    + valor.substring(valor.length - (4 * i + 3));
	        ret = valor + ',' + cents;
	        if (x === 1)
	            ret = ' - ' + ret;
	        return ret;
	    } else {
	        moeda = valor.replace(".", "").replace(",", ".");
	        return parseFloat(moeda);
	    }
	}

	function montaCarrinho(retorno) {

		$("#cart-list").html('');
		$("#section-mobile").html('');
		
		var str = '';
		var str2 = '';
		var totalMin = 0;
		var totalMax = 0;
		var totalItens = 0;


		if (retorno.adicionarCep == true) {

			if (retorno.qtProdutoCep) {
				$("#qtProdutoAdd").val(retorno.qtProdutoCep);
			}
			if (retorno.qtProdutoCep) {
				$("#idProdutoAdd").val(retorno.idProdutoCep);
			}

			UIkit.offcanvas('#info-cep').show();
		}

		if (retorno.totalItens) {
			$(".conclude-bottom").removeClass("hidden");
		} else {
			$(".conclude-bottom").addClass("hidden");
		}

		$.each(retorno.itens, function(key, value){

			if (value.tipo == 0) {
				totalItens++;
			} else {
				totalItens += parseFloat(value.quantidade);	
			}
			
			
			if (value.name.length >= 15) {
				desc = value.name.substr(0,15) + "...";
			} else {
				desc = value.name;
			}

			if (value.tipo == 0) {
				totalMin += parseFloat((value.valorMin * value.quantidade) / 1000);
				totalMax += parseFloat((value.valorMax * value.quantidade) / 1000);
				valorMinJs = formataMoeda(parseFloat((value.valorMin * value.quantidade) / 1000),true);
				valorMaxJs = formataMoeda(parseFloat((value.valorMax * value.quantidade) / 1000),true);	

			} else {
				totalMin += parseFloat(value.valorMin * value.quantidade);
				totalMax += parseFloat(value.valorMax * value.quantidade);
				valorMinJs = formataMoeda(parseFloat(value.valorMin * value.quantidade),true);
				valorMaxJs = formataMoeda(parseFloat(value.valorMax * value.quantidade),true);	
			}

			//str carrinho web
			str += '<li class="cart-item" id="produto_'+value.id+'">';

				str += '<picture>';
					if (value.webp != null && value.webp != '') {
						str += '<source srcset="'+baseUrlArquivos+'produtos/thumbs/'+value.webp+'"  type="image/webp">';
					}

					if (value.foto != null) {
						str += '<img src="' +baseUrlArquivos+'produtos/thumbs/'+value.foto+'">';
					}
				str += '</picture>';
				str += '<span class="infos">';
					str += '<span class="desc">'+desc+'</span>';

					<? if (empty($this->layout()->mercadoMaster)) { ?>
						str += '<span class="price">R$ '+valorMinJs+' a '+ valorMaxJs +'</span>';
					<? } else { ?>
						str += '<span class="price">R$ '+valorMinJs+'</span>';
					<? } ?>

					

					if (value.tipo == 0) {

						if (value.quantidade < 1000) {
							str += '<span class="unit">'+value.quantidade+' gramas</span>';
						} else {
							str += '<span class="unit">'+parseFloat(value.quantidade / 1000)+'kg</span>';
						}

						
					} else {
						str += '<span class="unit">'+value.quantidade+' unidade(s)</span>';	
					}
				str += '<span class="control">';
					str += '<span class="align">';
						str += '<button class="del-product hidden-indent" title="Excluir produto do carrinho" onclick="remove(this)">Excluir</button>';
						str += '<span>';
							str += '<div class="dec button less-product"  data-tipo="'+value.tipo+'" data-id="'+value.id+'" data-type="minus">-</div>';
							str += '<input type="text" class="product units produto_'+value.id+'"  data-tipo="'+value.tipo+'" name="produto_'+value.id+'" id="produto_'+value.id+'_qtd" value="'+value.quantidade+'">';
							str += '<div class="inc button add-product"  data-tipo="'+value.tipo+'" data-id="'+value.id+'" data-type="plus">+</div>';
						str += '</span>';
					str += '</span>';
				str += '</span>';
				str += '</span>';
				
			str += '</li>';
		});

		str2 += '<div class="tab-nav">';
			str2 += '<ul>';
			$.each(retorno.categorias, function(key, value){
				str2 += '<li><a href="#id_categoria_'+value.categoria.id+'" class="ico '+value.categoria.icone.toLowerCase()+'" title="'+value.categoria.icone.toLowerCase()+'"><span class="qtd">'+value.itens.length+'</span><span class="label">'+value.categoria.nome+'</span></a></li>';
			});
			str2 += '</ul>';
		str2 += '</div>';

		str2 += '<div class="product-list">'

		$.each(retorno.categorias, function(key, value){

			str2 += '<h4 id="id_categoria_'+value.categoria.id+'">'+value.categoria.nome+'</h4>';

			str2 += '<ul class="cart-list">'
				$.each(value.itens, function(keyItens, valueItens){

					if (valueItens.name.length >= 15) {
						desc = valueItens.name.substr(0,15) + "...";
					} else {
						desc = valueItens.name;
					}

					if (valueItens.tipo == 0) {
						valorMinJs = formataMoeda(parseFloat((valueItens.valorMin * valueItens.quantidade) / 1000),true);
						valorMaxJs = formataMoeda(parseFloat((valueItens.valorMax * valueItens.quantidade) / 1000),true);
					} else {
						valorMinJs = formataMoeda(parseFloat(valueItens.valorMin * valueItens.quantidade),true);
						valorMaxJs = formataMoeda(parseFloat(valueItens.valorMax * valueItens.quantidade),true);	
					}

					
					
					str2 += '<li class="cart-item" id="produto_'+valueItens.id+'">';

						str2 += '<picture>';
							if (valueItens.webp != null && valueItens.webp != '') {
								str2 += '<source srcset="'+baseUrlArquivos+'produtos/thumbs/'+valueItens.webp+'"  type="image/webp">';
							}

							if (valueItens.foto != null) {
								str2 += '<img src="' +baseUrlArquivos+'produtos/thumbs/'+valueItens.foto+'">';	
							}
							
						str2 += '</picture>';

						str2 += '<span>';
							str2 += '<span class="desc">'+desc+'</span>';

							<? if (empty($this->layout()->mercadoMaster)) { ?>
								str2 += '<span class="price">R$ '+valorMinJs+' a '+ valorMaxJs +'</span>';
							<? } else { ?>
								str2 += '<span class="price">R$ '+valorMinJs+'</span>';
							<? } ?>

							if (valueItens.tipo == 0) {
								if (valueItens.quantidade < 1000) {
									str2 += '<span class="unit">'+valueItens.quantidade+' gramas</span>';
								} else {
									str2 += '<span class="unit">'+parseFloat(valueItens.quantidade / 1000)+'kg</span>';
								}
								
							} else {
								str2 += '<span class="unit">'+valueItens.quantidade+' unidade(s)</span>';	
							}

							str2 += '<span class="count_unit">';
								str2 += '<div class="dec button less-product less-product-mobile"  data-tipo="'+value.tipo+'" data-id="'+valueItens.id+'" data-type="minus">-</div>';
								str2 += '<input type="text" class="product units produto_'+valueItens.id+'"  data-tipo="'+value.tipo+'" name="produto_'+valueItens.id+'" id="produto_'+valueItens.id+'_qtd_mob" value="'+valueItens.quantidade+'">';
								str2 += '<div class="inc button add-product add-product-mobile"  data-tipo="'+value.tipo+'" data-id="'+valueItens.id+'" data-type="plus">+</div>';
							str2 += '</span>';
							

						str2 += '</span>';

						str2 += '<span class="control">';
							str2 += '<span class="align">';
								str2 += '<button class="del-product hidden-indent" title="Excluir produto do carrinho" onclick="remove(this)">Excluir</button>';
							str2 += '</span>';
						str2 += '</span>';
					str2 += '</li>';
				})
			str2 += '</ul>'
		});
		str2 += '</div>';
		

		if (retorno.itens.length == 0) {
			str = "<div class='carrinho-vazio'>Carrinho vazio!</div>";
			str2 = "<div class='carrinho-vazio'>Carrinho vazio!</div>";
		}

		//atualiza totais
		$(".totalItensCard").html(totalItens);
		$(".totalVlMin").html(formataMoeda(totalMin,true));
		$(".totalVlMax").html(formataMoeda(totalMax,true));
		
		//str html da versao web
		$("#cart-list").html(str);

		//str html da versao mobile
		$("#section-mobile").html(str2);

		//revalida listeners para adicao e remocao de produtos
		revalidaListeners();

	}

	function montaCarrinhoMercado(dados) {
		var str = "";
		$("#checkout-mercado").html('');

		$.each(dados, function(key, value){

			classe = "";

			if (value.produtoFaltante && value.produtoFaltante.length > 0) {
				classe = "missing-items";
			}

			str += '<div class="mercado '+classe+'">';
				str += '<div id="header-brand">';
					str += '<div class="brand">';

						str += '<picture>';
							if (value.webp != null && value.webp != '') {
								str += '<source srcset="'+baseUrlArquivos+'produtos/thumbs/'+value.webp+'"  type="image/webp">';
							}
							if (value.foto != null && value.foto != '') { 
								str += '<img src="'+baseUrlArquivos+'mercados/thumbs/'+value.foto+'" />';
							}
						str += '</picture>';
					str += '<div>';
					str += '<h2>'+value.nome+'</h2>';

					if (value.produtoFaltante && value.produtoFaltante.length > 0) {
						str += '<a href="" class="missing-items">';
							str += '<strong id="missing-itens-'+value.id+'">'+value.produtoFaltante.length+'</strong> item(ns) não encontrado(s)';
							str += '<small>(substituir itens não encontrados)</small>';
						str += '</a>';
					}

					str += '</div>';
				str += '</div>';
			
				str += '<div class="values">';
					str += '<span><span class="label">Valor da compra:</span> <span class="value">R$ '+formataMoeda(value.totalProdutos,true)+'</span></span>';
					
					valorTotal = parseFloat(value.totalProdutos);

					if (value.taxa != null) {
						if (value.taxa == 0) {
							str += '<span><span class="label">Valor de Retirada:</span> <span class="value">Grátis</span></span>';
						} else {
							str += '<span><span class="label">Valor de Retirada:</span> <span class="value">R$ '+formataMoeda(value.taxa,true)+'</span></span>';	
						}
					}
					
					str += '<span><span class="label">TOTAL PRODUTOS:</span> <span class="value">R$ '+ formataMoeda(valorTotal, true)+'</span></span>';
				str += '</div>';
				
				str += '<div class="choose">';
					str += '<span>O pedido estará disponível em até 3h após confirmação</span>';

					if (value.produtoFaltante && value.produtoFaltante.length > 0) {
						str += "<a data-fancybox data-src=\"#modal-validation\" href=\"javascript:;\" onclick=\"$('#idMercadoSelecao').val("+key+");\" class=\"button\">Escolher este mercado</a>";
					} else {
						str += '<form method="post" action="'+baseUrl+'carrinho/checkout/">';
						str += '<button type="submit" name="idMercado" value="'+key+'" class="button">Escolher este mercado</button>';
						str += '</form>';
					}

					if (value.proximaRetirada != null) {
						str += '<span>Retire seu pedido '+value.proximaRetirada+'.</span>';	
					}

					if (value.proximaEntrega != null) {
						str += '<span>Receba seu pedido '+value.proximaEntrega+'.</span>';	
					}

					if (value.taxacobrada == null || value.taxacobrada == 0) {
						str += '<span><span class="label">Taxa de Serviço:</span> <span class="value">Grátis</span></span>';
					} else {
						if (value.valor != null && value.valor > value.totalProdutos) {
							str += '<span>Entrega indisponível, valor mínimo de R$ '+formataMoeda(value.valor,true)+' não atingido.</span>';	
						} else {
							str += '<span><span class="label">Taxa de Serviço:</span> <span class="value">R$ '+formataMoeda(value.taxacobrada,true)+'</span></span>';		
						}
					}
					
				str += '</div>';
			str += '</div>';

			//produtos faltantes
			if (value.produtoFaltante && value.produtoFaltante.length > 0) {
				str += '<div class="mercado-content">';
					str += '<span class="title-missing-items">Itens não encontrados</span>';
					str += '<span class="subtitle-missing-items">Substitua os itens não encontrados ou retire-os do mercado</span>';
					
					str += '<ul class="accordion" id="mercado-id-'+value.id+'">';
						$.each(value.produtoFaltante, function(keyProd, valueProd){
					
						str += '<li class="accordion-item" id="produto_'+valueProd.id+'_'+value.id+'">';
							str += '<header class="accordion-header">';
								str += '<h3>'+valueProd.name+'</h3>';
								str += '<button class="accordion-remove-item" data-idMercado="'+value.id+'" data-idProduto="'+valueProd.id+'" onclick="removeItemMercado(this)" ><span>Retirar item deste mercado</span></button>';
							str += '</header>';
							str += '<div class="accordion-content">';
								str += '<div class="owl-carousel-limiter">';
									str += '<div class="owl-carousel">';

										//dicas para troca

										if (valueProd.dicas.length == 0 ) {
											str += '<div class="nenhum-produto">Nenhum produto para substituir, remova o produto deste mercado.</div>';
										} else {
											$.each(valueProd.dicas, function(keyProdDica, valueProdDica){
												str += '<div>';

													str += '<picture>';
														if (valueProdDica.webp != null && valueProdDica.webp != '') {
															str += '<source srcset="'+baseUrlArquivos+'produtos/thumbs/'+valueProdDica.webp+'"  type="image/webp">';
						            					}
														str += '<img src="'+baseUrlArquivos+'/produtos/thumbs/'+valueProdDica.foto+'">';
													str += '</picture>';
													str += '<span class="desc">'+valueProdDica.nome+'</span>';
													str += '<span class="price">R$ '+formataMoeda(valueProdDica.preco,true)+'</span>';
													str += '<button data-idMercado="'+value.id+'" data-idProdutoNovo="'+valueProdDica.id+'" data-idProdutoAntigo="'+valueProd.id+'" onclick="trocaItemMercado(this)">Trocar por este</button>';
												str += '</div>';
											})
										}
										
									str += '</div>';
								str += '</div>';
							str += '</div>';
						str += '</li>';
						})

					str += '</ul>';
				str += '</div>';
			}
			str += '</div>';
		});

		if (str == '') {
			$("#checkout-mercado").html("<div>Nenhum mercado mostrado.</div>");	
		} else {
			$("#checkout-mercado").html(str);		
		}

		revalidaListeners();
	}


	(function($) {

		trocaItemMercado = function(item) {
			$.ajax({
	            url: '<?php echo $this->baseUrl('/carrinho/modifica-carrinho-mercados'); ?>',
	            data: {
	            	produtoOriginal: item.dataset.idprodutoantigo,
	            	produtoNovo: item.dataset.idprodutonovo,
	            	mercado: item.dataset.idmercado,
	            	action: 'trocar'
	            },
	            type: 'POST',
	            async: false,
	            dataType: 'json',
	            beforeSend: function () {

	            }, success: function (r) {
	            	montaCarrinhoMercado(r);
	            }
	        });

			return false;
		}

		removeItemMercado = function(item) {
			$.ajax({
	            url: '<?php echo $this->baseUrl('/carrinho/modifica-carrinho-mercados'); ?>',
	            data: {
	            	produto: item.dataset.idproduto,
	            	mercado: item.dataset.idmercado,
	            	action: 'remover'
	            },
	            type: 'POST',
	            async: false,
	            dataType: 'json',
	            beforeSend: function () {

	            }, success: function (r) {
	            	montaCarrinhoMercado(r);
	            }
	        });

			return false;
		}

	  remove = function(item) {
		var tr = $(item).closest('.cart-item');

		tr.fadeOut(400, function() {
		  tr.remove();  
		});

		var idProduto = tr[0].id.split("_")[1];

		var fotoProduto = tr.find("img").attr("src");
		var nomeProduto = tr.find(".desc")[0].innerText;

		//remove itens
		if (!isNaN(idProduto)) {
			$.ajax({
	            url: '<?php echo $this->baseUrl('/carrinho/modifica-carrinho'); ?>',
	            data: {
	            	produto: idProduto,
	            	action: 'rem',
	            	valor: 1
	            },
	            type: 'POST',
	            dataType: 'json',
	            beforeSend: function () {

	            }, success: function (r) {

	            	if (!r.adicionarCep) {
	            		notif({'msg': '<img src="'+fotoProduto+'"/>' + nomeProduto + ' removido do carrinho','type': 'warning','position': 'right','timeout': 3000});	
	            	}

	                montaCarrinho(r);
	            }
	        });
		}

		return false;
	  }
	})(jQuery);

	var timeout;


	$( ".select-filtro" ).change(function() {
		var filtro = $(this).val();
		var idCategoria = $(this)[0].id;
		var tipo = $(this)[0].dataset.tipo;
		var subCats = $(this)[0].dataset.subcategorias;
		var produtosLista = "";
		var filtros = [];

		//busca de produtos
		if ($(this)[0].dataset.limite) {
			var limite = 0;
		} else {
			var limite = 20;
		}

		//busca de produtos
		if ($("#termoDaBusca")) {
			var termoDaBusca = $("#termoDaBusca").val();
		} else {
			var termoDaBusca = "";
		}

		//pega os elementos checked dessa categoria para filtrar
		$(".filtro-categoria-" + idCategoria).each(function (e) {
			if ($(this)[0].checked == true) {
				filtros.push("'" + $(this)[0].dataset.valor + "'");
			}
	    });

		//carrega mais produtos de uma categoria
		$.ajax({
	        url: '<?php echo $this->baseUrl('/ajax/carrega-produtos'); ?>',
	        data: {
	        	categoria: idCategoria,
	        	produtosLista: produtosLista,
	        	tipo: tipo,
	        	filtro: filtro,
	        	marcas: filtros.toString(),
	        	subcategorias: subCats,
	        	limite: limite,
	        	termoBusca: termoDaBusca
	        },
	        type: 'POST',
	        dataType: 'json',
	        async: false,
	        beforeSend: function () {

	        }, success: function (r) {

	        	$(".grid-categoria-" + idCategoria).html('');

	        	$.each(r.data, function(key, value){

	        		str = '';
	        		str += '<div class="item">';
	        			str += '<span>';
	        				str += '<a href="'+baseUrl+'produto/visualizar/'+value.link.toLowerCase()+'">';

	            				str += '<picture>';
	            					if (value.pathWebp != null && value.pathWebp != '') {
										str += '<source srcset="'+baseUrlArquivos+'produtos/thumbs/'+value.pathWebp+'"  type="image/webp">';
	            					}

	            					str += '<img src="'+baseUrlArquivos+'produtos/thumbs/'+value.pathFoto+'" alt="'+value.nome+'">';
	            				str += '</picture>';
	            			str += '</a>';
	            			str += '<span class="infos">';
	            				str += '<span class="inner">';
	            					<? if (empty($this->layout()->mercadoMaster)) { ?>
	            						str += '<span class="prices">De R$ '+value.precoMin+' a R$ '+value.precoMax+'</span>';
	            					<? } else { ?>
	            						str += '<span class="prices">R$ '+value.precoMin+'</span>';
	            					<? } ?>
	            					str += '<span class="desc">'+value.nome+'</span>';
								str += '</span>';
							str += '</span>';

							str += '<span class="add">';
								str += '<button class="inc button button-add add-product up"  data-tipo="'+value.tipo+'" data-id="'+value.id+'" data-obj="qtde_produto_'+value.id+'" >Adicionar</button>';
							
								str += '<div class="add-some">';
									str += '<div class="dec button less-product" data-id="'+value.id+'"  data-tipo="'+value.tipo+'" data-obj="qtde_produto_'+value.id+'" data-type="minus">-</div>';
									str += '<input type="text" class="product units produto_'+value.id+'"  data-tipo="'+value.tipo+'" name="produto_'+value.id+'" id="qtde_produto_'+value.id+'" value="0">';
									str += '<div class="inc button add-product" data-id="'+value.id+'"  data-tipo="'+value.tipo+'" data-obj="qtde_produto_'+value.id+'" data-type="plus">+</div>';
								str += '</div>';
							str += '</span>';
						str += '</span>';
					str += '</div>';

	        		produtosLista += "," + value.id;

	        		$(".grid-categoria-" + idCategoria).append(str);
	        	});
	        	
	        	revalidaListeners();
	        	
	        	$(".load-more-" + idCategoria).attr("data-lista", produtosLista);

	        	$(".more-" + idCategoria).show();
	        }
	    });

		revalidaListeners();
	});

	$( ".search" ).keyup(function() {

		var valor = $(this).val();

		$(".search-autocomplete").show();
		$(".search-autocomplete").html('');

		if (valor.length == 0) {
			$(".search-autocomplete").hide();
		} else if (valor.length >= 1 && valor.length < 3) {
			$(".search-autocomplete").html('Digite no mínimo 3 caracteres.');
		} else { 
			$.ajax({
	            url: '<?php echo $this->baseUrl('/ajax/busca-produtos'); ?>',
	            data: {
	            	termo: valor
	            },
	            type: 'POST',
	            dataType: 'json',
	            beforeSend: function () {
	            	$(".search-autocomplete").html('Aguarde, procurando itens.');
	            }, success: function (r) {
	                str = "";

	                if (r.data.length || r.sugestoes.length) {
	                	catgs = [];
	                	if (r.data.length) {
		                	str += '<div class="results mobile-hidden">';
		                	$.each(r.data, function(key, value){

		                		if (catgs.indexOf(value.link) < 0) {
		                			str += '<a href="'+baseUrl+'categoria/'+value.link.toLowerCase()+'">'+value.nome+'</a>';
		                			catgs.push(value.link);
		                		}
								
		                	});
		                	str += '</div>';
		                }

		                if (r.sugestoes.length) {
		                	str += '<div class="suggested">';
		                	str += '<h4>Produtos sugeridos</h4>';
		                	str += '<ul class="search-suggestions">';

		                	$.each(r.sugestoes, function(key, value){	
		                		str += '<li>';

		                		str += '<div class="image">';
		                			str += '<picture>';
		                				if (value.pathWebp != null && value.pathWebp != '') {
											str += '<source srcset="'+baseUrlArquivos+'produtos/thumbs/'+value.pathWebp+'"  type="image/webp">';
		            					}
		                				str += '<img src="'+baseUrlArquivos+'produtos/thumbs/'+value.pathFoto+'" alt="'+value.nome+'">';
		                			str += '</picture>';
		                		str += '</div>';

		                		str += '<div class="infos">';
		                		str += '<span class="name">'+value.nome.substring(0,52)+'</span>';
		                		if (value.descricao && value.descricao.length) {
		                			if (value.descricao.length >= 15) {
		                				str += '<span class="desc">'+value.descricao.substring(0,15)+'...</span>';
		                			} else {
		                				str += '<span class="desc">'+value.descricao+'</span>';	
		                			}
		                		} else {
		                			str += '<span class="desc"></span>';
		                		}
		                		
		                		<? if (empty($this->layout()->mercadoMaster)) { ?>
            						str += '<span class="prices">De R$ '+value.precoMin+' a R$ '+value.precoMax+'</span>';
            					<? } else { ?>
            						str += '<span class="prices">R$ '+value.precoMin+'</span>';
            					<? } ?>

		                		str += '</div>';
		                		str += '<div>';
		                		str += '<select id="qtde_produto_'+value.id+'">';
		                		if (value.tipo == 0) {
		                			str += '<option value="500">500g</option>';
									str += '<option value="1000">1kg</option>';
									str += '<option value="1500">1,5kg</option>';	
									str += '<option value="2000">2kg</option>';
									str += '<option value="2500">2,5kg</option>';
									str += '<option value="3000">3kg</option>';
									str += '<option value="3500">3,5kg</option>';
									str += '<option value="4000">4kg</option>';
									str += '<option value="4500">4,5kg</option>';
									str += '<option value="5000">5kg</option>';
		                		} else {
		                			str += '<option>1</option>';
			                		str += '<option>2</option>';
			                		str += '<option>3</option>';	
			                		str += '<option>4</option>';
			                		str += '<option>5</option>';
			                		str += '<option>6</option>';
		                		}
		                		
		                		str += '</select>';
		                		str += '</div>';
		                		str += '<div><button class="button-add"  data-id="'+value.id+'"  data-tipo="'+value.tipo+'" data-obj="qtde_produto_'+value.id+'">Adicionar</button></div>';

		                		str += '</li>';
		                	});

		                	str += '</ul>';
		                	str += '</div>';
		                }

	                	$(".search-autocomplete").html(str);

	                	revalidaListeners();

	                } else {
	                	$(".search-autocomplete").html('<div class="carrinho-vazio">Nenhum item encontrado!</div>');
	                }
	                
	            }
	        });
		}
	});
        
       $('.close-como-funciona').click(function() {
             $('iframe').attr('src', $('iframe').attr('src'));
        });
</script>