<!DOCTYPE html>

<html lang="pt-BR" dir="ltr">

<head>

	<meta charset="UTF-8">
	
	<title>Sua Compra Fácil</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="-1" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta charset="utf-8">
	<link id="favicon" rel="shortcut icon" href="<?=$this->baseUrl('img/favicon.png')?>" type="image/png" />

	<?php echo $this->partial('meta.phtml'); ?>

	<?php
		$this->headLink()->appendStylesheet($this->baseUrl('css/categories.css'));
        $this->headLink()->appendStylesheet($this->baseUrl('css/standard.css'));
        $this->headLink()->appendStylesheet($this->baseUrl('style.css'));
        $this->headLink()->appendStylesheet($this->baseUrl('css/nav-mobile.css'));
        $this->headLink()->appendStylesheet($this->baseUrl('css/cart-mobile.css'));
	$this->headLink()->appendStylesheet($this->baseUrl('css/jquery-ui.css'));
        $this->headLink()->appendStylesheet($this->baseUrl('css/jquery.fancybox.min.css'));
        $this->headLink()->appendStylesheet($this->baseUrl('css/owl.carousel.min.css'));
		$this->headLink()->appendStylesheet($this->baseUrl('css/notifit.min.css'));
		$this->headLink()->appendStylesheet($this->baseUrl('css/slick.css'));
		$this->headLink()->appendStylesheet($this->baseUrl('css/scrollbar.css'));
		$this->headLink()->appendStylesheet($this->baseUrl('css/mobiscroll.jquery.min.css'));
		
		
		if (Zend_Controller_Front::getInstance()->getRequest()->getControllerName() == 'usuario' || Zend_Controller_Front::getInstance()->getRequest()->getControllerName() == 'pedido'){ 
			$this->headLink()->appendStylesheet($this->baseUrl('css/minha-conta.css'));
		}

		// aqui vem o css/cor do mercado
		if (!empty($this->layout()->mercadoMaster)) { 
			//$this->layout()->mercadoMaster['configuracaocores'];
			//$this->layout()->mercadoMaster['configuracaocss'];
		}

        $this->headScript()->appendFile($this->baseUrl('js/jquery-3.3.1.min.js'));
        $this->headScript()->appendFile($this->baseUrl('js/uikit.min.js'));
        $this->headScript()->appendFile($this->baseUrl('js/jquery-ui.js'));
        $this->headScript()->appendFile($this->baseUrl('js/owl.carousel.js'));
        $this->headScript()->appendFile($this->baseUrl('js/jquery.fancybox.min.js'));

        $this->headScript()->appendFile($this->baseUrl('js/jquery.easytabs.min.js'));

        $this->headScript()->appendFile($this->baseUrl('js/jquery.mask.js'));
		$this->headScript()->appendFile($this->baseUrl('js/jquery.maskedinput.min.js'));
		$this->headScript()->appendFile($this->baseUrl('js/notifit.min.js'));
		$this->headScript()->appendFile($this->baseUrl('js/jquery.validate.js'));
		$this->headScript()->appendFile($this->baseUrl('js/jquery.maskMoney.js'));
		$this->headScript()->appendFile($this->baseUrl('js//mobiscroll.jquery.min.js'));
		$this->headScript()->appendFile($this->baseUrl('js/slick.min.js'));
		$this->headScript()->appendFile($this->baseUrl('js/jquery.scrollbar.js'));

        echo $this->headLink();
        echo $this->headScript();
    ?>


	<script>
        var baseUrl = '<?php echo $this->baseUrl('/'); ?>';
        var baseUrlArquivos = '<?php echo $this->baseUrl('../admin/public/uploads/'); ?>';
        var controller = '<?php echo Zend_Controller_Front::getInstance()->getRequest()->getControllerName();?>';
        var action = '<?php echo Zend_Controller_Front::getInstance()->getRequest()->getActionName();?>';
    </script>

	<?php echo $this->partial('plugins.phtml'); ?>

</head>

<body class="<?php echo Zend_Controller_Front::getInstance()->getRequest()->getControllerName();?>-<?php echo Zend_Controller_Front::getInstance()->getRequest()->getActionName();?>">

<?php echo $this->partial('plugins-body.phtml'); ?>

<?php echo $this->partial('header.phtml'); ?>



	<? if 	(
				Zend_Controller_Front::getInstance()->getRequest()->getControllerName() != 'carrinho'
				&& Zend_Controller_Front::getInstance()->getRequest()->getControllerName() != 'usuario'
				&& Zend_Controller_Front::getInstance()->getRequest()->getControllerName() != 'pedido'
			) 
		{ 
	?>
		<div class="main-categories scrollbar-inner sticky">
			<div class="hcategories">

				<?php echo $this->partial('nav-header.phtml'); ?>

			</div>
		</div>
	<? } ?>




<!-- wrp -->
<div class="wrp grid" >

<main id="main">


<?php echo $this->partial('cep-entrega.phtml'); ?>

<?php echo $this->partial('home-slide.phtml'); ?>


	<? if (Zend_Controller_Front::getInstance()->getRequest()->getControllerName() == 'produto'
			|| Zend_Controller_Front::getInstance()->getRequest()->getControllerName() == 'categoria') { ?>
		
		<?php echo $this->partial('breadcrumbs.phtml'); ?>

	<? } ?>



	<?php echo $this->layout()->content; ?>



	<? if (Zend_Controller_Front::getInstance()->getRequest()->getControllerName() == 'produto'
			|| Zend_Controller_Front::getInstance()->getRequest()->getControllerName() == 'categoria') { ?>
		
		<?php echo $this->partial('breadcrumbs.phtml'); ?>

	<? } ?>


	<? if 	(
				Zend_Controller_Front::getInstance()->getRequest()->getControllerName() != 'carrinho'
				&& Zend_Controller_Front::getInstance()->getRequest()->getControllerName() != 'produto'
				&& Zend_Controller_Front::getInstance()->getRequest()->getControllerName() != 'categoria'
				&& Zend_Controller_Front::getInstance()->getRequest()->getControllerName() != 'pedido'
				&& Zend_Controller_Front::getInstance()->getRequest()->getControllerName() != 'usuario'
				&& 	Zend_Controller_Front::getInstance()->getRequest()->getControllerName() != 'quem-somos'
				&& 	Zend_Controller_Front::getInstance()->getRequest()->getControllerName() != 'politica-de-privacidade'
				&& 	Zend_Controller_Front::getInstance()->getRequest()->getControllerName() != 'duvidas-frequentes'
				&& 	Zend_Controller_Front::getInstance()->getRequest()->getControllerName() != 'pagina-nao-encontrada'
				&& 	Zend_Controller_Front::getInstance()->getRequest()->getControllerName() != 'esqueci-senha'
			) 
		{ 
	?>
		
		<?php // echo $this->partial('disclaimer.phtml'); ?>

	<? } ?>



</main>



<?php  if 	(
			Zend_Controller_Front::getInstance()->getRequest()->getControllerName() != 'produto'
		&& 	Zend_Controller_Front::getInstance()->getRequest()->getControllerName() != 'categoria'
		&& 	Zend_Controller_Front::getInstance()->getRequest()->getControllerName() != 'carrinho'
		&& 	Zend_Controller_Front::getInstance()->getRequest()->getControllerName() != 'pedido'
		&& 	Zend_Controller_Front::getInstance()->getRequest()->getControllerName() != 'usuario'
		&& 	Zend_Controller_Front::getInstance()->getRequest()->getControllerName() != 'quem-somos'
		&& 	Zend_Controller_Front::getInstance()->getRequest()->getControllerName() != 'politica-de-privacidade'
		&& 	Zend_Controller_Front::getInstance()->getRequest()->getControllerName() != 'duvidas-frequentes'
		&& 	Zend_Controller_Front::getInstance()->getRequest()->getControllerName() != 'pagina-nao-encontrada'
		&& 	Zend_Controller_Front::getInstance()->getRequest()->getControllerName() != 'esqueci-senha'
		) 
	{ 
?>
	
	<?php /* echo $this->partial('categories.phtml'); */?>

<?php } ?>

<? if 	(Zend_Controller_Front::getInstance()->getRequest()->getControllerName() == 'usuario' || Zend_Controller_Front::getInstance()->getRequest()->getControllerName() == 'carrinho' || Zend_Controller_Front::getInstance()->getRequest()->getControllerName() == 'duvidas-frequentes' ||
Zend_Controller_Front::getInstance()->getRequest()->getControllerName() == 'politica-de-privacidade' || Zend_Controller_Front::getInstance()->getRequest()->getControllerName() == 'esqueci-senha') { ?>
	
<? } else { ?>
	<!-- Carrinho -->
		<?php echo $this->partial('cart.phtml'); ?>
                
	<!-- /Carrinho -->
        
        <?php echo $this->partial('whatsapp.phtml'); ?>
<? } ?>
	
</div>
	


<?php echo $this->partial('nav-mobile.phtml'); ?>

	<? if 	(
				Zend_Controller_Front::getInstance()->getRequest()->getControllerName() == 'carrinho'
			) 
		{ 
	?>
		<?php echo $this->partial('footer-reduzido.phtml'); ?>

	<? } else { ?>
		<?php echo $this->partial('footer.phtml'); ?>
	
	<? } ?>

</body>

</html>