

<div class="nav-mobile">

	<ul>
		<li><a href="#" class="categorias-toggle hidden-indent" uk-toggle="target: #open-categorias">Menu</a></li>
		<li><a href="#" class="search-toggle hidden-indent" uk-toggle="target: #open-search">Buscar</a></li>
		<li><a href="#" class="list-box hidden-indent" uk-toggle="target: #list-box">Listas</a></li>
		<li class="footer-cart">

			<a href="#" uk-toggle="target: #open-cart">
				<? 
				
					$totalItens = 0;
					$precoMin = 0;
					$precoMax = 0;

					if (!empty($_SESSION['Default']['usuario']['carrinho']['itens'])) { 
						foreach($_SESSION['Default']['usuario']['carrinho']['itens'] as $umItem) { 

							$totalItens++;
							$precoMin += $umItem['valorMin'];
							$precoMax += $umItem['valorMax'];
						}
					}

				?>
				<span class="ico-cart">
					<span class="label totalItensCard"><?=$totalItens;?></span>
					<div class="name-cart">Carrinho</div>
				</span>
				<span class="price">
					<? if (!empty($this->layout()->mercadoMaster)) { ?>
						R$ <strong class="totalVlMin"><?=number_format($precoMin, 2, ',','.');?></strong>
					<? } else { ?>
						De R$ <strong class="totalVlMin"><?=number_format($precoMin, 2, ',','.');?></strong> <br>
						Até R$ <strong class="totalVlMax"><?=number_format($precoMax, 2, ',','.');?></strong>
					<? } ?>
				</span>
			</a>
			
		</li>
	</ul>

</div>

<?php echo $this->partial('categories-mobile.phtml'); ?>
<?php echo $this->partial('search-mobile.phtml'); ?>
<?php echo $this->partial('cart-mobile.phtml'); ?>
