<nav class="nav-header">
			
	<ul id="menu">
		<?php if (!empty($this->layout()->arrayListMenu)) { ?>
            <?php foreach ($this->layout()->arrayListMenu as $umMenu) { ?>
               <li class="sub">
               		<a href="<?php echo $this->baseUrl('/categoria/'.strtolower($umMenu['menu']['codigofiltro'])); ?>" class="<?=$umMenu['menu']['icone']?>"><?=$umMenu['menu']['nome']?></a>

               		<?php if (!empty($umMenu['menu']['submenu'])) { ?>
               			<div>
	               			<ul>
                                                <?php foreach ($umMenu['menu']['submenu'] as $umSubmenu) { ?>
                                                        <li>
                                                            <a class="<?php echo $umSubmenu['codigofiltro'] ?>" href="<?php echo $this->baseUrl('/categoria/'.strtolower($umSubmenu['codigofiltro'])); ?>">
<!--                                                                <span class="cat"></span>
                                                                <br>-->
                                                                <!--<img src="<?php echo $this->baseUrl('../admin/public/uploads/categorias/thumbs/'.$umSubmenu['thumb']); ?>">-->
                                                                <b style="color: #135ba0;"><?=$umSubmenu['nome'] ?></b>
                                                            </a>
                                                            
                                                        </li>
                                                <? } ?>
                                        </ul>
                                </div>

               		<? } ?>
               	</li>

            <?php } ?>
        <?php } ?>

	</ul>

</nav>                                                               <!--<a class="cat"></a>-->     