
<form id="search-form" class="header-search-form" action="<?=$this->baseUrl('produto/');?>" method="post">
	<input type="search" name="search" id="search-inpt" class="search" placeholder="Digite o que você procura..." autocomplete="off" autofocus>
	<button type="submit" id="search-btn" class="search">Buscar</button>
</form>

<div class="search-autocomplete" style="display:none;">

</div>