
<!-- Search Mobile -->

<div id="open-search" class="uk-offcanvas" uk-offcanvas>

	<div class="uk-offcanvas-bar uk-offcanvas-bar-show">
		
		<a href="#" class="box-close uk-offcanvas-close uk-close uk-icon" uk-close="">x</a>

		<?php echo $this->partial('search.phtml'); ?>

		<p class="note">Clique na parte escura para fechar</p>

	</div>

</div>

<!-- /Search Mobile -->