
<aside id="whatsapp-button">
    <!--<div  class="sticky">-->
    <a target="_blank" href="https://wa.me/<?php echo $this->layout()->mercadoMaster['telefone2'];?>?text=Olá, tenho uma dúvida sobre o mercado!"><img style="border-radius: 100px;height: 60px;box-shadow: 0 2px 4px #00000050;" src="<?php echo $this->baseUrl('../admin/public/images/whatsapp.webp'); ?>"></a>

    <!--</div>-->
</aside>

