
<? 
	//textos de politica de privacidade de mercados
	if (!empty($this->textosDuvidas)) { 
?>

	<? foreach($this->textosDuvidas as $umTexto) { ?>
		<p>
			<?=$umTexto['texto'];?>
		</p>
	<? } ?>

<? } else { ?>
	<h2 class="main-title">Política de privacidade</h2>
	<div class="cms">
		<h3>Quais são as políticas de privacidade adotadas pelo Mercado Fique Em Casa?</h3>
		<p>
			A sua privacidade é muito importante para o Mercado Fique Em Casa. Dessa forma, desenvolvemos uma Política de Privacidade que dispõe sobre a maneira como nós obtemos, usamos, divulgamos, transferimos e armazenamos suas informações. O Mercado Fique Em Casa e as suas afiliadas poderão compartilhar essas informações pessoais e utilizá-las de acordo com esta Política de Privacidade. O Mercado Fique Em Casa e suas afiliadas poderão, ainda, combinar essas informações pessoais com outras informações para aperfeiçoar e/ou avaliar nossos produtos, serviços, conteúdo e publicidade e você, ao aceitar esta Política, concorda com o uso das suas informações.
		</p>
		<p>
			Por favor, verifique as nossas práticas de privacidade e nos informe caso tenha quaisquer questionamentos.
		</p>
		<p>
			Importante esclarecer que, <strong>ao selecionar e/ou seguir utilizando nosso site e serviços, você automaticamente concorda com os termos abaixo. </strong>
		</p>
		<p>
			Ainda, importante considerar que a presente política <strong>NÃO</strong> se aplica à:
		</p>
		
		<ol class="romanos">
			<li>
				informações coletadas por websites, plataformas e/ou aplicativos de terceiros (“Sites de Terceiros”) sobre os quais não temos controle;
			</li>
			<li>
				informações coletadas por sites de terceiros que você venha a acessar através de links nos sites, domínios e/ou aplicativos dentro do Mercado Fique Em Casa; ou
			</li>
			<li>
				banners, sorteios ou outras formas de anúncios ou promoções que possamos vir a patrocinar ou participar em Sites de Terceiros. <br />
				Para nós do Mercado Fique Em Casa, privacidade é algo muito sério, por isso, não custa lembrar que os sites de terceiros têm suas próprias políticas, termos e condições de privacidade, motivo pelo qual recomendamos que você leia esses documentos antes de usar esses sites.
			</li>
		</ol>
		<ol>
			<li> 
				<strong>Obtenção e Uso de Informações Pessoais</strong><br /><br /> 
				<h4>O que são Informações Pessoais?</h4>
				1.1 Informações pessoais são dados que podem ser usados para identificar individualmente ou entrar em contato com uma pessoa em específico. Estes dados costumam incluir informações como seu nome, endereço, nome de tela, foto de perfil, endereço de e-mail e número de telefone. No caso do Mercado Fique Em Casa, estas informações também incluem seus hábitos e preferências de compra, seu perfil de consumo e informações sobre seu estilo de vida ou preferências, como seus hobbies e interesses, mas também podem incluir outras informações como endereço IP, data, hora, duração, terminal, localização, meio e dados de acesso a produtos e serviços.<br /><br /> 

				<h4>Como coletamos essas informações?</h4>		
				1.2 Poderemos coletar suas informações pessoais em diferentes fontes, tais como:
				<ol class="romanos">
					<li>Informações que você nos fornece diretamente, como, por exemplo, nome; endereço; endereço de e-mail/eletrônico; endereço de correspondência; preferências de contato; nome de usuário; número de telefone; informações do cartão de crédito ou débito, informações financeiras ou outras informações de pagamento; idade; data de nascimento; sexo; gênero; localização; interação com serviços e produtos próprios ou de terceiros; preferências de compra; conteúdos gerados, armazenados ou compartilhados, pelo próprio usuário, incluindo o recebimento de terceiros, publicações e outros conteúdos que você tenha enviado aos sites ou aplicativos dentro do Mercado Fique Em Casa; qualquer outra informação pessoal que você nos forneça voluntariamente;
					</li>
					<li>
						Informações que coletamos automaticamente quando você usa os sites ou aplicativos no Mercado Fique Em Casa, como, por exemplo, informações sobre o tipo de navegador que você usa; detalhes das páginas da Web que você acessou; seu endereço IP, data, hora , duração, terminal, localização e meio de acesso; os hiperlinks acessados; seu nome de usuário, foto de perfil, sexo, redes de contatos e qualquer outra informação cujo compartilhamento você autoriza ao usar sites ou aplicativos de terceiros (por exemplo, ao usar o recurso “Curtir” do Facebook ou o +1 do Google+); as páginas que você acessou antes de chegar a um site ou aplicativo do Mercado Fique Em Casa; e
					</li>
					<li>
						Informações que coletamos de outras fontes.
					</li>					
				</ol>
				1.3 Importante deixar bem claro que todas essas informações são coletadas para que a gente possa oferecer uma experiência cada vez melhor em nosso site e garantindo que cada experiência no Mercado Fique Em Casa seja única.<br /><br /> 
				<h4>Quando solicitamos tais informações?</h4>
				1.4     Você poderá ser solicitado a fornecer suas informações pessoais a qualquer momento, enquanto estiver em contato com o Mercado Fique Em Casa ou com uma empresa afiliada do Mercado Fique Em Casa. Importante atentar que o uso do site, aplicativos e programas, automaticamente, implica na partilha com a gente das informações que você insere e que coletamos conforme descrito no item 1.2. <br /><br />
				<h4>Consentimento</h4>
				1.5 O Mercado Fique Em Casa não irá coletar, usar ou divulgar suas informações pessoais sem o seu consentimento. Na maioria dos casos, pedimos o seu consentimento de forma explícita. No entanto, em alguns casos, poderemos inferir que seu consentimento foi dado a partir de suas ações e comportamentos, afinal, você está ciente desta Política. <br /><br />
				1.5.1 Ao usar um site ou aplicativo Mercado Fique Em Casa, você dá seu consentimento à empresa pertinente do grupo Mercado Fique Em Casa para coletar, usar e divulgar suas informações pessoais nos termos desta Política de Privacidade.<br /><br />
				1.6 Poderemos pedir que você aumente a abrangência de seu consentimento se precisarmos usar suas informações pessoais para fins não cobertos por esta Política de Privacidade. Você não é obrigado a dar tal consentimento. No entanto, sua participação em algumas atividades poderá ficar restrita caso seu consentimento não seja dado. Caso você aumente a abrangência de seu consentimento, os termos específicos desse novo consentimento prevalecerão em caso de conflito com esta Política de Privacidade.<br /><br />
				1.6.1 Pedimos que você não use os sites ou aplicativos do Mercado Fique Em Casa caso não concorde que suas informações pessoais sejam coletadas, usadas e divulgadas dessa maneira. Caso contrário, forneça suas informações pessoais ao Mercado Fique Em Casa.<br /><br />
			</li>
			
			<li> 
				<strong>Quais informações pessoais obtemos</strong><br /><br /> 
				2.1 Quando você se inscrever, através do nosso Serviço, para ser um usuário registrado do Mercado Fique Em Casa, poderemos obter uma série de informações, entre elas aquelas listadas no item 1.2.<br /><br />
				2.2 Se você decidir se inscrever, através do nosso Serviço ou se logando através de um serviço de rede social, você estará utilizando as informações pessoais que já forneceu ao serviço de rede social para ser um usuário registrado do Mercado Fique Em Casa. As informações que poderemos obter, nesse caso, dependem das suas configurações de privacidade junto ao serviço de rede social.<br /><br /> 
			</li>
			
			<li> 
				<strong>Como e para que usamos suas informações pessoais</strong><br /><br /> 
				3.1 Para fornecer um excelente serviço e para que os usuários possam realizar operações de forma ágil e segura, o Mercado Fique Em Casa requer certas informações de caráter pessoal, exemplificadas no item 1.2. A coleta e processamento dessas informações nos permite oferecer aos Usuários serviços e funcionalidades que possam ser melhor adequados às suas necessidades e personalizar nossos serviços para fazer com que suas experiências no Mercado Fique Em Casa sejam as mais satisfatórias possível. Ainda, nós usamos essas informações para entender e analisar tendências, administrar o site, aprender sobre o comportamento do usuário no site e obter informações demográficas sobre a nossa base de usuários de maneira geral. O Mercado Fique Em Casa poderá usar estas informações em nossos serviços de marketing e publicidade. A Informação Pessoal que solicitamos tem as seguintes finalidades: <br /><br />
				a) Processar a Informação Pessoal, em termos compatíveis com a legislação, utilizando as mesmas apenas nos limites desta Política; <br /><br />
				b) Desenvolver estudos internos sobre os interesses, comportamentos e demografia dos Usuários para compreender melhor suas necessidades e interesses e oferecer melhores serviços ou prover-lhes informação adequada ao seu perfil;<br /><br />
				c) Aprimorar nossas iniciativas comerciais e promocionais e analisar as páginas visitadas, buscas realizadas pelos Usuários para melhorar nossa oferta de conteúdos e produtos, personalizar conteúdos, sua apresentação e serviços;<br /><br />
				d) Enviar aos nossos Usuários mensagens sobre novos serviços, publicidade, promoções e banners, notícias sobre o Mercado Fique Em Casa, além da informação expressamente autorizada na seção de preferências. O Usuário poderá solicitar que o excluam das listas para o envio de mensagens promocionais ou publicitárias;<br /><br />
				e) Compartilhar a Informação Pessoal (incluindo endereço de e-mail), nos termos da seção 9 desta Política, com os provedores de serviços, para aprimorar ou facilitar as operações realizadas no Mercado Fique Em Casa, tais como, sem se limitar a serviços de: transporte, pagamento, seguro, call center, programas de fidelidade, entre outros; <br /><br />
				f) Fornecer a Informação Pessoal dos Usuários às entidades que intervenham na resolução de disputas entre eles: seguradoras, juízos arbitrais, e demais órgãos competentes para solucionar tais disputas. <br /><br />
				3.1.1 Em alguns casos, estes provedores de serviços recolherão informação diretamente do Usuário, que poderá receber notificação a respeito da participação de um provedor de serviços em tais atividades, ficando ao critério do Usuário decidir quais informações serão fornecidas, bem como autorizar usos adicionais pretendidos pelos provedores de serviço. E, ainda: <br /><br />
				a) Registro de Usuário: Nós criamos sua Conta de Usuário para seu uso do Serviço, baseado nas informações pessoais por você fornecidas.<br /><br />
				b) Comunicação: Nós usamos suas informações pessoais para enviar newsletters, bem como outros materiais promocionais e de marketing, sugerindo produtos ou serviços (inclusive de terceiros) que acreditamos ser de seu interesse. Se você não quiser mais fazer parte da nossa lista de correspondência, poderá optar por isso a qualquer momento alterando as suas preferências. Periodicamente poderemos usar suas informações pessoais para enviar avisos importantes, como comunicados sobre compras, alterações em prazos, condições e políticas. Como estas informações são importantes para a sua interação com o Mercado Fique Em Casa, você não poderá optar por não receber esse tipo de comunicação. <br /><br />
				c) Promoções: Se você participar de um concurso, competição ou algum tipo de promoção, poderemos usar as informações que você fornecer para administrar esses programas. Também podemos utilizar para oferecer a você a oportunidade de participar de concursos ou promoções, enviar informações, produtos ou amostras que você tenha solicitado e para responder a suas perguntas ou comentários.<br /><br />
				d) Outros: Nós também usamos informações pessoais para nos ajudar a desenvolver, oferecer e melhorar os nossos produtos, serviços, conteúdo e publicidade. Também poderemos usar informações pessoais para fins internos, tais como auditoria, análise de dados e pesquisas para aprimorar os produtos, serviços e comunicações com os clientes. Elas são usadas para avaliar o uso dos produtos, serviços e sites ou aplicativos, analisar a eficácia de nossos anúncios, concursos e promoções, personalizar sua experiência em nossos websites, assim como para avaliar (anonimamente e em termos gerais) estatísticas sobre as atividades no website (ex. tempo de visita, acessos anteriores e que site direcionou você para o website analisado), facilitar o uso dos sites ou aplicativos, melhor ajustar os sites ou aplicativos e nossos produtos a seus interesses e necessidades, ajudar a acelerar suas atividades e experiências futuras nos sites ou aplicativos.<br /><br />
				3.1.2 Essas informações costumam ser para consumo interno do Mercado Fique Em Casa, entretanto, elas podem vir a ser compartilhadas com terceiros de confiança, como, por exemplo, agências de publicidade que nos apoiam em campanhas, varejistas parceiros, serviços de entrega dos produtos que foram comprados, órgãos públicos ou de fiscalização, terceiros que você tenha autorizado a partilha de informações e fornecedores de ferramentas web analytics, como o Google ou única, <strong>nos termos da seção 9 desta Política.</strong><br /><br />
				3.1.3  Desde já deixamos claro que o Mercado Fique Em Casa não vende informações pessoais, com exceção de uma pessoa jurídica que compre nossa empresa no todo ou em parte (por exemplo, quando vendemos uma marca) ou quando há uma fusão, consolidação, mudança de controle, recuperação ou liquidação de nossa empresa, no todo ou em parte.<br /><br />
			</li>
			<li>
				<strong>Sobre avaliações de supermercados e contatos com o Mercado Fique Em Casa</strong><br /><br /> 
				4.1 Podemos utilizar suas informações para contatar você com relação a sua opinião a respeito de nossos serviços e para ocasionalmente notificar você a respeito de alterações ou desenvolvimentos importantes no Website ou nos nossos serviços.<br /><br />
				4.2 Por favor note que o envio de comentários e feedback com relação ao website e os serviços dos parceiros do Mercado Fique Em Casa nos autoriza a publicar e utilizar tais comentários e feedback no website e em quaisquer materiais de marketing ou publicidade. Para tanto, apenas identificaremos você através de seu nome de cadastro, foto do perfil do Mercado Fique Em Casa e da sua cidade de residência.<br /><br />
				4.3	Os feedbacks sobre os serviços dos Supermercados parceiros também poderão ser compartilhados com os supermercados a fim de conhecimento e para eventuais contatos dos Supermercados com o Usuário com o intuito de solucionar um problema.<br /><br />
				4.4 Os comentários e notas atribuídos pelo usuário na avaliação de seu pedido devem conter única e exclusivamente a experiência junto ao Serviço em questão.<br /><br />
				4.5 Problemas, críticas, sugestões ou contatos com o Mercado Fique Em Casa devem ser direcionados para os canais apropriados do Atendimento ao Cliente Mercado Fique Em Casa.<br /><br />
				4.6 Quaisquer comentários ou feedback enviados pelo website não devem: (a) conter qualquer material difamatório, obsceno ou ofensivo; (b) promover a violência ou discriminação; (c) infringir os direitos de propriedade intelectual de terceiros; (d) quebrar qualquer direito legal de propriedade de um terceiro (assim como um dever de sigilo); (e) promover atividade ilegal ou invadir a privacidade de terceiros; (f) dar a impressão de que são originados por nós; (g) ser utilizados para se passar por outra pessoa ou representar incorretamente sua afiliação a outra pessoa.<br /><br />
				4.6.1 Os atos proibidos relacionados na Cláusula 4.6 acima são apenas exemplos e não são exaustivos. O Mercado Fique Em Casa se reserva o direito de editar ou mesmo excluir os comentários e informações que violem os temos citados nas cláusulas acima.<br /><br />
				4.6.2 <strong>Você já sabe, mas não custa lembrar: injúria, calúnia, difamação, pirataria, incitação à violência e se passar por outras pessoas são crimes!</strong> Colabore para o bom uso da ferramenta e para o desenvolvimento de ambientes saudáveis evitando e denunciando qualquer conduta inadequada. Nós estamos de olho, mas contamos com nossos usuários para garantir um Mercado Fique Em Casa verdadeiramente inclusivo e que melhore a vida das pessoas.<br /><br />   		
			</li>
			<li> 
				<strong>Obtenção e Uso de Informações Não-Pessoais</strong><br /><br /> 
				5.1 Nós também obteremos informações não-pessoais, ou seja, dados que não permitem a associação direta com qualquer pessoa especificamente. Nós poderemos obter, usar, transferir e divulgar informações não-pessoais para qualquer finalidade. São exemplos de dados não-pessoais, não se limitando a esses, idade, preferencias individuais, idioma, CEP e código de área.<br /><br /> 
				5.2 Nós também poderemos obter informações sobre as atividades dos usuários no nosso site. Essas informações são agregadas e usadas para nos ajudar a fornecer informações abalizadas para os nossos clientes e entender quais partes de nosso site, produtos e serviços atraem mais interesse. Dados agregados são considerados informações não-pessoais para fins desta Política de Privacidade.<br /><br /> 
				5.3 Se combinarmos informações não-pessoais com informações pessoais, a informação combinada será tratada como informação pessoal enquanto essa informação permanecer combinada.<br /><br /> 
			</li>
			
			<li> 
				<strong>Cookies e Outras Tecnologias</strong><br /><br /> 
				6.1 O site do Mercado Fique Em Casa, os serviços online, os aplicativos interativos, as mensagens de e-mail e o material publicitário poderão usar "cookies" e outras tecnologias tais como pixel tags e web beacons. Essas tecnologias nos ajudam a entender melhor o comportamento do usuário, nos dizem quais partes de nosso site as pessoas visitaram e facilitam e medem a eficácia da publicidade e das pesquisas na web. Nós tratamos as informações obtidas por meio de cookies e outras tecnologias como informações não-pessoais. Entretanto, na medida em que o endereço de IP (Internet Protocol) ou identificadores semelhantes sejam considerados informações pessoais pela lei local, nós também trataremos esses identificadores como informação pessoal. Da mesma forma, na medida em que a informação não-pessoal seja combinada com informação pessoal, nós tratamos a informação combinada como informação pessoal para os fins desta Política de Privacidade.<br /><br /> 
				6.2 O Mercado Fique Em Casa e os seus parceiros também usam cookies e outras tecnologias para relembrarem informações pessoais quando você usa o site, serviços online e aplicativos. A nossa meta nesses casos é fazer com que a sua experiência com o Mercado Fique Em Casa seja mais conveniente e personalizada. Por exemplo, saber o seu primeiro nome nos permite dar boas-vindas a você na próxima vez em que você acessar. Conhecer seu país e idioma nos permite viabilizar a você uma experiência de compras personalizada e mais útil. Saber que alguém usando o seu computador ou dispositivo adquiriu determinado produto ou usou um determinado serviço permite fazer com que sua publicidade e comunicações de e-mail sejam mais relevantes para os seus interesses. <br /><br /> 
				6.3 Se você deseja bloquear os cookies, consulte as orientações do seu navegador. <br /><br /> 
				6.4 Como ocorre na maioria dos sites, nós obtemos algumas informações automaticamente e armazenamos em arquivos de log. Entre essas informações estão endereços IP, tipo de navegador e idioma, provedor de serviços de Internet (ISP), páginas de consulta e saída, sistema operacional, informações sobre data e horário e dados sobre a sequência de cliques.<br /><br /> 
				6.5 Em algumas de nossas mensagens de e-mail, nós usamos uma "URL click-through" vinculada ao conteúdo do site do Mercado Fique Em Casa. Quando os clientes clicam em uma dessas URLs, os usuários são enviados para um servidor web diferente antes de chegarem à página de destino no nosso site. Nós monitoramos esses dados de click-through para entender o interesse em determinados tópicos e avaliar a eficácia das comunicações com os nossos clientes. Se você preferir não ser monitorado dessa maneira, não clique em texto nem nos links de imagens nas mensagens de e-mail. <br /><br /> 
				6.6 Os pixel-tags nos permitem enviar mensagens de e-mail em formatos que os clientes possam ler e nos dizer se o e-mail foi aberto ou não. Nós podemos usar essas informações para reduzir ou eliminar as mensagens enviadas aos clientes. <br /><br /> 
				6.7 A qualquer momento, caso não queira mais receber futuros contatos via e-mail formato newsletter, basta acessar o link de descadastramento no e-mail. 
				<br /><br /> 
			</li>
			
			<li> 
				<strong>Política referente a dados coletados pelo Google</strong><br /><br /> 
				7.1 O Mercado Fique Em Casa utiliza a Publicidade de Visualização do Google, e implementa a funcionalidade de Remarketing para anunciar online. Desta forma, fornecedores terceiros, incluindo o Google, mostram os nossos anúncios em Websites na Internet.<br /><br />
				7.2 O Mercado Fique Em Casa utiliza, assim como os fornecedores terceiros, incluindo o Google, cookies originais (como o cookie do Google Analytics) e cookies de terceiros (como o cookie DoubleClick) em conjunto para informar, otimizar e publicar anúncios com base nas visitas passadas de alguém ao seu Website.<br /><br />
				7.3 Os visitantes podem excluir a Publicidade de Visualização do Google Analytics e personalizar anúncios na Rede de Display da Google com o Gestor das Preferências de Anúncios. Assim como podem também fazer o download da extensão do navegador para desativar o Google Analytics. 
				<br /><br /> 
			</li>
			
			<li> 
				<strong>Política de rastreamento de anúncios do Facebook</strong><br /><br /> 
				8.1 Por exemplo, ao utilizar o Facebook para se inscrever, você estará permitindo que o Mercado Fique Em Casa acesse as informações pessoais em sua conta do Facebook.<br /><br /> 
				8.2 Temos o compromisso de proteger os usuários e seus dados. Para limitar os tipos de dados que podem ser obtidos sobre os usuários por meio das tecnologias de acompanhamento de anúncios, e permitir ao mesmo tempo que os anunciantes obtenham as informações de campanha de que precisam, adotamos as inclusões abaixo em nossas políticas que regem os anúncios no Facebook. <br /><br /> 
				8.3 Os dados obtidos em consequência da exibição de uma propaganda a um usuário ("Dados de acompanhamento de impressão") são permitidos somente em alguns produtos de propaganda, conforme estabelecido pelo Facebook. Os dados de rastreamento de impressão não podem ser obtidos em qualquer produto de propaganda leiloado. <br /><br /> 
				8.4 O fornecedor que obtêm dados de rastreamento de impressão ("rastreador de anúncios de terceiros") deve ser certificado pelo Facebook. Os rastreadores de anúncios de terceiros não certificados pelo Facebook até 1 de janeiro de 2011 não serão autorizados a implementar qualquer tecnologia que obtenha dados de rastreamento de impressão, incluindo pixels ou marcas de rastreamento.<br /><br /> 
				8.5 Os dados obtidos em consequência do clique em uma propaganda ("dados de rastreamento de clique") por um usuário são permitidos na maioria dos produtos de propaganda. Os dados de rastreamento de clique podem ser obtidos por meio do uso de uma única URL de rastreamento fora do Facebook. Os dados de rastreamento de clique não incluem dados relacionados às ações paralelas do usuário, como clicar no botão Curtir, responder a um evento ou a uma enquete.
				<br /><br /> 
			</li>
			
			<li> 
				<strong>Divulgação/Transferência para terceiros</strong><br /><br /> 
				9.1 Como alertado, a Mercado Fique Em Casa não trabalha com venda de dados. A segurança e o sigilo das informações de nossos clientes são muito importantes para o nosso negócio. Porém, a viabilidade de certos serviços pelos nossos parceiros só ocorre com o compartilhamento de algumas dessas informações, o que fazemos com responsabilidade e seguindo todos os parâmetros registrados nessa Política de Privacidade. Entretanto, ao utilizar os Serviços do Mercado Fique Em Casa você autoriza que seus dados sejam, eventualmente, compartilhados com terceiros.<br /><br /> 
				9.1.1 Para deixar mais claro esse compartilhamento, listamos alguns exemplos:
				<br /><br /> 
				<ol class="romanos">
					<li>
						Usuários do Mercado Fique Em Casa. Quando você se inscreve no Serviço e submete informações pessoais para criar um perfil ou coleção visual, outros usuários verão seu nome e foto. Se você optou por fornecer informações pessoais adicionais em seu perfil, usuários do Mercado Fique Em Casa verão tais informações adicionais, incluindo, mas não se limitando a, localização, site e informações biográficas. Fornecer informação adicional é opcional. Nós recomendamos que você proteja e não divulgue qualquer informação que você considere sensível ou confidencial.
					</li>	
					<li>
						Prestadores de Serviço/Fornecedores. Nós podemos utilizar empresas terceirizadas e indivíduos para facilitar nosso Serviço, prover o Serviço em nosso nome, executar atividades relacionadas ao Serviço, incluindo, mas não se limitando a, manutenção dos serviços, gerenciamento de banco de dados, análise de dados e melhoria de funcionalidades, ou nos auxiliam em analisar como o nosso Serviço é usado. Essas empresas ou indivíduos têm acesso à sua informação pessoal apenas para executar tarefas em nosso favor e são obrigados a não usar ou divulgar tais informações para nenhuma outra finalidade. 
					</li>
					<li>
						Parceiros. Nós podemos compartilhar os dados e informações com nossos parceiros, os quais nos possibilitam prestar um serviço de qualidade para você. Nossa lista de parceiros é elaborada de forma responsável e sempre verificamos se estes também possuem a mesma preocupação com dados que a gente tem.
					</li>
					<li>
						Serviços de Redes Sociais. Nós podemos divulgar informações de sua conta no Mercado Fique Em Casa (incluindo informações pessoais) para o serviço de rede social ligado à sua conta no Mercado Fique Em Casa. Nós permitimos que os Usuários conectem suas contas de serviços de redes sociais aos nossos Serviços. Os usuários poderão então postar atividades recentes em nossos serviços de volta para suas contas de redes sociais. Se você não quiser mais postar suas atividades em sua conta de rede social, poderá fazê-lo a qualquer momento, alterando as suas preferências.
					</li>
					<li>
						Novos Negócios. O contínuo desenvolvimento do nosso negócio, processos de aquisição e fusão de empresas, subsidiárias e outros negócios podem ocorrer. Nessa transferência de negócios, informações dos respectivos clientes também são transferidas, mas ainda assim, será mantida a política de privacidade, e a informação será mantida dentro do ambiente do Mercado Fique Em Casa.
					</li>
					<li>
						Outros. Poderemos também compartilhar suas informações pessoais com empresas, organizações ou pessoas físicas se acreditarmos que este compartilhamento é necessário para atender a motivos jurídicos. Esse é o caso, por exemplo, de investigações de possíveis violações das leis aplicáveis, detectar, prevenir e dar proteção contra fraude e qualquer vulnerabilidade técnica ou de segurança, cumprir leis e regulamentos aplicáveis, cooperar em eventuais investigações lícitas e atender a ordens de órgãos públicos e, claro, fazer valer os termos de uso aplicáveis dos sites ou aplicativos do Mercado Fique Em Casa. Mercado Fique Em Casa poderá ser obrigado por lei, processo, litígio e/ou determinações de autoridades públicas ou governamentais dentro ou fora do país em que você reside, a divulgar suas informações pessoais. Nós também poderemos divulgar informações sobre você se entendermos que essa divulgação tem por finalidade a segurança nacional, exigência legal ou outros assuntos de importância pública ou quando a divulgação for necessária ou apropriada. Nós também poderemos divulgar informações sobre você se nós entendermos que a divulgação é razoavelmente necessária para fazer valer nossos termos e condições ou proteger nossas operações ou usuários. Além disso, no caso de uma reestruturação, fusão ou venda, poderemos transferir toda e qualquer informação pessoal que obtivermos ao terceiro aplicável.
					</li>
				</ol><br />
				9.2 Se compartilharmos suas informações pessoais com terceiros, envidaremos nossos melhores esforços para garantir que os destinatários as mantenham em segurança, tomem todas as medidas razoáveis para protegê-las contra uso indevido e as usem apenas conforme esta Política de Privacidade e conforme as leis e regulamentos aplicáveis à proteção de dados. O Mercado Fique Em Casa garante que não fará, de forma intencional ou não, ou não se omitir a fazer, qualquer coisa que leve os terceiros a violar suas obrigações nos termos da legislação. <br /><br />
				Armazenamento <br /><br />
				9.3 Poderemos transferir suas informações pessoais para servidores localizados fora do país em que você mora, por meio de arquivos automatizados,para coligadas ou para terceiros de confiança estabelecidos em outros países para fins de processamento. Ao usar um site do Mercado Fique Em Casa ou ao fornecer para nós suas informações pessoais, você concorda que ajamos conforme os termos desta Política de Privacidade e conforme as leis e regulamentos aplicáveis à proteção de dados.<br /><br />
				9.3.1 Você deve estar ciente de que muitos países não dão as mesmas proteções legais a informações pessoais de que você talvez goze em seu país de origem. Embora suas informações pessoais estejam em outro país, elas poderão ser acessadas por autoridades judiciárias, de fiscalização e de segurança nacional no país em que estão, de acordo com as leis nacionais.<br /><br />
				9.3.2 Ressalvadas essas solicitações lícitas de acesso, asseguramos que qualquer pessoa que processe suas informações pessoais fora do seu país de origem seja obrigada a implementar medidas para protegê-las, com autorização apenas para processá-las conforme as instruções do Mercado Fique Em Casa.<br /><br />
			</li>
			
			<li> 
				<strong>Proteção de Informações Pessoais</strong><br /><br /> 
				10.1 O Mercado Fique Em Casa toma precauções, entre elas medidas administrativas, técnicas e físicas, para proteger as suas informações pessoais contra perda, roubo, uso indevido, bem como contra acesso não autorizado, divulgação, alteração e destruição. <br /><br /> 
				10.2 Também exigimos que eventuais terceiros que as manipulem ou processem para nós ajam com o mesmo cuidado. O acesso às suas informações pessoais é restrito a fim de se evitar acesso não autorizado, modificação ou uso indevido, sendo permitido apenas aos empregados e prepostos que precisarem ter acesso a tais informações.<br /><br /> 
				10.3 <strong>O</strong> Mercado Fique Em Casa <strong>não será responsável por interceptações ilegais ou violação de seus sistemas ou bases de dados por pessoas não autorizadas, tampouco se responsabilizará pela indevida utilização da informação obtida por esses meios.</strong><br /><br /> 
			</li>
			
			<li> 
				<strong>Integridade e Retenção de Informações Pessoais</strong><br /><br /> 
				11.1 O Mercado Fique Em Casa o ajuda a manter as suas informações pessoais precisas, completas e atualizadas. Nós reteremos suas informações pessoais pelo período necessário para atender as finalidades apresentadas nesta Política de Privacidade, a menos que um prazo maior de retenção seja permitido por lei ou tenhamos de guardar tais informações por motivos legítimos de natureza comercial ou jurídica.<br /><br /> 
				11.2 A fim de proteger as informações contra danos acidentais ou intencionais, ao excluirmos informações de nossos serviços, poderemos deixar de excluir imediatamente cópias residuais em nossos servidores ou de remover informações de nossos sistemas de back-up.<br /><br /> 
			</li>
			
			<li> 
				<strong>Direcionamento a outros sites e serviços nacionais ou estrangeiros</strong><br /><br /> 
				12.1 Nossos Serviços contém links para outros websites e serviços online terceiros. Se você escolher visitar outro website ou serviço online clicando em um link, você será redirecionado para o website ou serviço online terceiro.<br /><br /> 
				12.1.1 O fato de direcionarmos para um website ou serviço online não é um endosso, autorização ou representação de afiliação a esse terceiro, nem é um endosso de suas políticas ou práticas de privacidade ou segurança da informação.<br /><br /> 
				12.1.2 Nós não exercemos controle sobre websites e serviços online terceiros e o aconselhamos a ler as políticas de privacidade e termos de uso antes de prover qualquer informação ou usar outros websites ou serviços. <br /><br /> 
			</li>
			
			<li> 
				<strong>Crianças</strong><br /><br /> 
				13.1 Esse serviço não é direcionado a crianças menores de 13 anos. Nós não obtemos intencionalmente informações pessoais de crianças menores de 13 anos. Se tomarmos conhecimento de que obtivemos informações pessoais de uma criança menor de 13 anos, tomaremos as medidas para excluir tais informações o mais breve possível. <br /><br /> 
				13.2 O acesso a algumas partes dos sites ou aplicativos do Mercado Fique Em Casa e/ou a qualificação para receber prêmios, amostras ou outras recompensas pode estar limitado a usuários maiores de uma determinada idade. Poderemos usar suas informações pessoais para verificar sua idade e aplicar eventuais restrições no tocante à idade.<br /><br /> 
			</li>
			<li> 
				<strong>Dúvidas sobre Privacidade</strong><br /><br /> 
				14.1 Se você tiver algum questionamento ou dúvida com relação à Política de Privacidade do Mercado Fique Em Casa ou qualquer prática descrita aqui, entre em contato conosco no e-mail: contato@SuaCompraFácil.com.br. Você tem o direito de nos informar que:<br /><br />
				<ol class="romanos">
					<li>não quer ser contatado por nós no futuro;</li>
					<li>gostaria de obter uma cópia das informações pessoais que temos sobre você;</li>
					<li>gostaria que corrigíssemos, atualizássemos ou excluíssemos suas informações pessoais de nossos cadastros;</li>
					<li>deseja relatar um eventual uso indevido de suas informações pessoais Ajude-nos a processar sua solicitação informando seu nome e dados completos!</li>
				</ol><br />
				14.2 Esta Política vigerá desde a data do seu aceite e por prazo indeterminado. As suas Informações ficarão sob nossa guarda, igualmente, sob prazo indeterminado. O Mercado Fique Em Casa poderá, ainda, atualizar a sua Política de Privacidade periodicamente publicando a nova versão em nosso site. Se fizermos alguma alteração na política em termos significativos, colocaremos um aviso no nosso site, juntamente com a Política de Privacidade atualizada. Recomendamos que você acesse nosso website regularmente para se manter informado sobre como usamos suas informações pessoais. Caso você não se manifeste contrariamente, de forma expressa, à nova política, nós consideraremos que você aceitou os seus termos<br /><br />
				14.3 Além desta Política de Privacidade, poderá haver campanhas e promoções específicas regidas por outros termos ou políticas de privacidade. Recomendamos que você leia os termos ou políticas específicas de todas as campanhas ou promoções de que deseja participar. Afinal, você terá de cumpri-las caso sua participação seja confirmada. Todos os termos ou políticas adicionais de privacidade serão disponibilizados em destaque para você.<br /><br />
			</li>
		</ol><p>Última atualização em 10 de julho de 2018.</p>
	</div>
<? } ?>