 <div class="row">
    <div class="col-md-12">
    	<form method="post" action="" role="form">
	        <div data-collapsed="0" class="panel">
	            <div class="panel-heading">
					<div class="panel-title"><i class="fa fa-user"></i>Cadastro de Usuários</div>
	            </div>
				<div class="panel-footer panel-header">
					<button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Salvar</button>
				</div>
	            <div class="panel-body">

	            	<?php if (!empty($this->cadastro)) { ?>
                        <div class="col-md-12">
                            <div class="alert <?php echo (!empty($this->cadastro['sucesso']) ? (empty($this->cadastro['erros']) ? 'alert-success' : 'alert-warning') : 'alert-danger'); ?> alert-block fade in">
                                <button data-dismiss="alert" class="close close-sm" type="button">
                                    <i class="fa fa-times"></i>
                                </button>
                                <?php if (!empty($this->cadastro['sucesso'])) { ?>
                                    <?php if (empty($this->cadastro['erros'])) { ?>
                                        <h4>
                                            <i class="icon-ok-sign"></i>
                                            Registro salvo com sucesso!
                                        </h4>
                                        <p>
                                            <?php if (!empty($this->id)) { ?>
                                                <a href="<?php echo $this->baseUrl('/usuario/cadastro/'); ?>" class="btn btn-primary"><i class="fa fa-star"></i> Novo Usuário</a>
                                            <?php } ?>
                                            <a href="<?php echo $this->baseUrl('/usuario/'); ?>" class="btn btn-primary"><i class="fa fa-list"></i> Ver Listagem</a>
                                        </p>
                                    <?php } else { ?>
                                        <h4>
                                            <i class="icon-ok-sign"></i>
                                            Registro salvo mas com erros!
                                        </h4>
                                        <ul>
                                            <?php foreach ($this->cadastro['erros'] as $umErro) { ?>
                                                <li><?php echo $umErro; ?></li>
                                            <?php } ?>
                                        </ul>
                                    <?php } ?>
                                <?php } else { ?>
                                    <?php if (!empty($this->cadastro['erros'])) { ?>
                                        <h4>
                                            <i class="icon-ok-sign"></i>
                                            Atenção! Corrija os erros abaixo
                                        </h4>
                                        <ul>
                                            <?php foreach ($this->cadastro['erros'] as $umErro) { ?>
                                                <li><?php echo $umErro; ?></li>
                                            <?php } ?>
                                        </ul>
                                    <?php } ?>
                                <?php } ?>
                            </div>
                        </div>
                    <?php } ?>


	                <div class="row">
	                	<input type="hidden" name="idMercado" value="<?php echo (!empty($this->dadosUsuario['idMercado']) ? $this->dadosUsuario['idMercado'] : (!empty($_POST['idMercado']) ? $_POST['idMercado'] : false)); ?>" readonly />

	                    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
							<label for="nome">Nome</label>
	                        <input type="text" class="form-control" id="nome" name="nome" value="<?php echo (!empty($this->dadosUsuario['nome']) ? $this->dadosUsuario['nome'] : (!empty($_POST['nome']) ? $_POST['nome'] : false)); ?>">
	                    </div>

	                    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
							<label for="email">E-mail</label>
	                        <input type="text" class="form-control" id="email" name="email" value="<?php echo (!empty($this->dadosUsuario['email']) ? $this->dadosUsuario['email'] : (!empty($_POST['email']) ? $_POST['email'] : false)); ?>" autocomplete="off">
	                    </div>

	                    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
							<label for="cpf">CPF</label>
	                        <input type="text" class="form-control" id="cpf" name="cpf" value="<?php echo (!empty($this->dadosUsuario['cpf']) ? $this->dadosUsuario['cpf'] : (!empty($_POST['cpf']) ? $_POST['cpf'] : false)); ?>">
	                    </div>
						
						<div class="col-xs-12 col-sm-6 col-md-4 form-group">
							<label for="senha">Senha</label>
	                        <input type="password" class="form-control" id="senha" name="senha" autocomplete="off">
	                    </div>

	                    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
							<label for="nivel">Nível</label>
							<select  class="form-control" name="nivel" id="nivel">
                                <option value="">Selecione</option>
                                <?php if (!empty( $this->arrayListNiveis)) { ?>
                                    <?php foreach ( $this->arrayListNiveis as $umNivel) { ?>
                                        <option <?php echo ((!empty($this->dadosUsuario['idNivel']) && $this->dadosUsuario['idNivel'] == $umNivel['id']) || (!empty($_POST['nivel']) && $_POST['nivel'] == $umNivel['id']) ? 'selected="selected"' : false); ?> value="<?php echo $umNivel['id'] ?>"><?php echo $umNivel['nivel'] ?></option>
                                    <?php } ?>
                                <?php } ?>
                            </select>
	                    </div>
	                    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
							<label for="ativo">Ativo</label>
							<select  class="form-control" name="ativo" id="ativo">
                                <option <?php echo ((!empty($this->dadosUsuario['ativo']) && $this->dadosUsuario['ativo'] == 0) || (!empty($_POST['ativo']) && $_POST['ativo'] == 0) ? 'selected="selected"' : false); ?> value="0">INATIVO</option>
                                <option <?php echo ((!empty($this->dadosUsuario['ativo']) && $this->dadosUsuario['ativo'] == 1) || (!empty($_POST['ativo']) && $_POST['ativo'] == 1) ? 'selected="selected"' : false); ?> value="1">ATIVO</option>
                            </select>

	                    </div>
	                </div>
	            </div>
				<div class="panel-footer">
					<button type="submit" class="btn btn-primary" name="enviar"><i class="fa fa-save"></i> Salvar</button>
				</div>
	        </div>
		</form>
    </div>
</div>
<script type="text/javascript">
	jQuery(function($){
	   $("#cpf").mask("999.999.999-99");
	});
</script>