<div class="row">
	<div class="col-sm-12">
		<section class="panel">
			<div class="panel-heading">
				<div class="panel-title"><i class="fa fa-user"></i>Listagem de Inscritos na Newsletter</div>
			</div>
			<div class="panel-body">
				<div class="adv-table">
					<table class="display table table-bordered table-striped " id="dynamic-table">
						<thead>
							<tr>
								<th>E-MAIL</th>
							</tr>
						</thead>
						<tbody>

						</tbody>
						<tfoot>
							<tr>
								<th>E-MAIL</th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</section>
	</div>
</div>