<form method="post" action="" role="form">
    <input type="hidden" name="idnivel" value="<?php echo (!empty($this->dadosNivel['id']) ? $this->dadosNivel['id'] : false); ?>" />
	<div class="row">
	    <div class="col-md-12">
	        <div data-collapsed="0" class="panel">
	            <div class="panel-heading">
					<div class="panel-title"><i class="fa fa-user"></i>Cadastro de Níveis de Usuários</div>
	            </div>
				<div class="panel-footer panel-header">
					<button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Salvar</button>
				</div>
	            <div class="panel-body">

	            	<?php if (!empty($this->cadastro)) { ?>
                        <div class="col-md-12">
                            <div class="alert <?php echo (!empty($this->cadastro['sucesso']) ? (empty($this->cadastro['erros']) ? 'alert-success' : 'alert-warning') : 'alert-danger'); ?> alert-block fade in">
                                <button data-dismiss="alert" class="close close-sm" type="button">
                                    <i class="fa fa-times"></i>
                                </button>
                                <?php if (!empty($this->cadastro['sucesso'])) { ?>
                                    <?php if (empty($this->cadastro['erros'])) { ?>
                                        <h4><i class="icon-ok-sign"></i>Registro salvo com sucesso!</h4>
                                        <p>
                                            <?php if (!empty($this->id)) { ?>
                                                <a href="<?php echo $this->baseUrl('/usuario/cadastro/'); ?>" class="btn btn-primary"><i class="fa fa-lock"></i> Novo Nível de Usuário</a>
                                            <?php } else { ?>
                                                <a href="<?php echo $this->baseUrl('/usuario/cadastro/' . $this->id . '/'); ?>" class="btn btn-primary"><i class="fa fa-sitemap"></i> Permissões</a>
                                            <?php } ?>
                                            <a href="<?php echo $this->baseUrl('/usuario/nivel/'); ?>" class="btn btn-primary"><i class="fa fa-list"></i> Ver Listagem</a>
                                        </p>
                                    <?php } else { ?>
                                        <h4><i class="icon-ok-sign"></i>Registro salvo mais com erros!</h4>
                                        <ul>
                                            <?php foreach ($this->cadastro['erros'] as $umErro) { ?>
                                                <li><?php echo $umErro; ?></li>
                                            <?php } ?>
                                        </ul>
                                    <?php } ?>
                                <?php } else { ?>
                                    <?php if (!empty($this->cadastro['erros'])) { ?>
                                        <h4><i class="icon-ok-sign"></i>Atenção! Corrija os erros abaixo</h4>
                                        <ul>
                                            <?php foreach ($this->cadastro['erros'] as $umErro) { ?>
                                                <li><?php echo $umErro; ?></li>
                                            <?php } ?>
                                        </ul>
                                    <?php } ?>
                                <?php } ?>
                            </div>
                        </div>
                    <?php } ?>
                    
	                <div class="row">
	                    <div class="col-md-4 form-group">
							<label for="nivel">Nome do Nível</label>
	                        <input type="text" class="form-control" id="nivel" name="nivel" value="<?php echo (!empty($this->dadosNivel['nivel']) ? $this->dadosNivel['nivel'] : (!empty($_POST['nivel']) ? $_POST['nivel'] : false)); ?>">
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	
	<div class="row">
	    <div class="col-md-12">
	        <div data-collapsed="0" class="panel">
	        	<?php if (!empty($this->arrayListMenu)) { ?>
		            <div class="panel-heading">
		                <div class="panel-title"><i class="fa fa-lock"></i>Permissões</div>
		            </div>
		            <div class="panel-body">
		                <div class="row">
							<div class="col-md-12">
								<ul class="nav-tree">
									 <?php foreach ($this->arrayListMenu as $umMenu) { ?>
	                                    <li>
	                                        <? if ((empty($this->dadosNivel['id']) || ($this->dadosNivel['id'] != "1" && $this->dadosNivel['id'] != "2")) ) { ?>
	                                            <input class="check-parent" id="men_<?=$umMenu['menu']['id']?>" type="checkbox" name="itensMenu[]" value="<?php echo $umMenu['menu']['id'] ?>" role="checkbox" aria-checked="<?php echo (!empty($this->itensMenu) ? (array_key_exists($umMenu['menu']['id'], $this->itensMenu) ? 'true' : (in_array($umMenu['menu']['id'], $this->itensMenu) ? 'mixed' : 'false')) : 'false'); ?>" <?php echo (!empty($this->itensMenu) ? (array_key_exists($umMenu['menu']['id'], $this->itensMenu) ? 'checked="checked"' : false) : false); ?>>
	                                        <? } ?>
	                                        
	                                        <i class="fa <?php echo $umMenu['menu']['icone'] ?>"></i>
	                                        <span>
	                                            <?php echo $umMenu['menu']['titulo']; ?>
	                                        </span>

	                                        <?php if (!empty($umMenu['menu']['submenu'])) { ?>
	                                            <ul>
	                                                <?php foreach ($umMenu['menu']['submenu'] as $umSubmenu) { ?>
	                                                    <li>
	                                                        <? if (empty($this->dadosNivel['id']) || $this->dadosNivel['id'] != "1" ) { ?>
	                                                            <input class="men_<?=$umSubmenu['idMenuPai']?>" type="checkbox" name="itensMenu[]" value="<?php echo $umSubmenu['id'] ?>" role="checkbox" aria-checked="<?php echo (!empty($this->itensMenu) ? (array_key_exists($umSubmenu['id'], $this->itensMenu) ? 'true' : 'false') : 'false'); ?>" <?php echo (!empty($this->itensMenu) ? (array_key_exists($umSubmenu['id'], $this->itensMenu) ? 'checked="checked"' : false) : false); ?>>
	                                                        <? } ?>
	                                                        <?php echo $umSubmenu['titulo'] ?>
	                                                    </li>
	                                                <?php } ?>
	                                            </ul>
	                                        <?php } ?>
	                                    </li>
	                                <?php } ?>
								</ul> 
							</div>
		                </div>
		            </div>
	            <? } ?>
	            <? if (empty($this->dadosNivel['id']) || ($this->dadosNivel['id'] != "1" && $this->dadosNivel['id'] != "2") ) { ?>
					<div class="panel-footer">
						<button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Salvar</button>
					</div>
				<? } ?>
	        </div>
	    </div>
	</div>
</form>
<script>
	$(document).ready(function() {

		$(".check-parent").on("click",function(e) {
			var classe = $(this).attr("id");
			$("." + classe).each(function (e) {
		        if (this.checked) this.checked = false;
		        else this.checked = true;
		    });
		});
	});

</script>