<div class="row">
	<div class="col-sm-12">
		<section class="panel">
			<div class="panel-heading">
				<div class="panel-title"><i class="fa fa-user"></i>Listagem de Níveis de Usuário</div>
			</div>
			<div class="panel-body">
				<div class="adv-table">
					<table  class="display table table-bordered table-striped nivel" id="dynamic-table">
						<thead>
							<tr>
								<th>NÍVEL</th>
								<th class="sorting_disabled text-center nivel">EDITAR</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
						<tfoot>
							<tr>
								<th>NÍVEL</th>
								<th class="hidden-phone sorting_disabled text-center nivel">EDITAR</th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</section>
	</div>
</div>