<div class="row">
	<div class="col-md-12">
		<form method="post" action="" role="form" enctype="multipart/form-data">
			<div data-collapsed="0" class="panel">
				<div class="panel-heading">
					<div class="panel-title"><i class="fa fa-star"></i>Cadastro de Texto</div>
				</div>
				<div class="panel-footer panel-header">
					<button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Salvar</button>
				</div>
				<div class="panel-body">
					<?php if (!empty($this->cadastro)) { ?>
	                    <div class="col-md-12">
	                        <div class="alert <?php echo (!empty($this->cadastro['sucesso']) ? (empty($this->cadastro['erros']) ? 'alert-success' : 'alert-warning') : 'alert-danger'); ?> alert-block fade in">
	                            <button data-dismiss="alert" class="close close-sm" type="button">
	                                <i class="fa fa-times"></i>
	                            </button>
	                            <?php if (!empty($this->cadastro['sucesso'])) { ?>
	                                <?php if (empty($this->cadastro['erros'])) { ?>
	                                    <h4>
	                                        <i class="icon-ok-sign"></i>
	                                        Registro salvo com sucesso!
	                                    </h4>
	                                    <p>
	                                        <?php if (!empty($this->id)) { ?>
	                                            <a href="<?php echo $this->baseUrl('/lightbox/cadastro/'); ?>" class="btn btn-primary"><i class="fa fa-star"></i> Nova Imagem</a>
	                                        <?php } ?>
	                                        <a href="<?php echo $this->baseUrl('/lightbox/'); ?>" class="btn btn-primary"><i class="fa fa-list"></i> Ver Listagem</a>
	                                    </p>
	                                <?php } else { ?>
	                                    <h4>
	                                        <i class="icon-ok-sign"></i>
	                                        Registro salvo mas com erros!
	                                    </h4>
	                                    <ul>
	                                        <?php foreach ($this->cadastro['erros'] as $umErro) { ?>
	                                            <li><?php echo $umErro; ?></li>
	                                        <?php } ?>
	                                    </ul>
	                                <?php } ?>
	                            <?php } else { ?>
	                                <?php if (!empty($this->cadastro['erros'])) { ?>
	                                    <h4>
	                                        <i class="icon-ok-sign"></i>
	                                        Atenção! Corrija os erros abaixo
	                                    </h4>
	                                    <ul>
	                                        <?php foreach ($this->cadastro['erros'] as $umErro) { ?>
	                                            <li><?php echo $umErro; ?></li>
	                                        <?php } ?>
	                                    </ul>
	                                <?php } ?>
	                            <?php } ?>
	                        </div>
	                    </div>
	                <?php } ?>

					<div class="row">
						<div class="col-md-4 form-group">
							<label for="tipo">Tipo</label>
							<select class="form-control" name="tipo">
	                        	<option value="1" <?php echo ((isset($this->dadosUsuario['tipo']) && $this->dadosUsuario['tipo'] == 1) || (isset($_POST['tipo']) && $_POST['tipo'] == 1) ? 'selected="selected"' : false); ?>>Desktop</option>
	                        	<option value="2" <?php echo ((isset($this->dadosUsuario['tipo']) && $this->dadosUsuario['tipo'] == 2) || (isset($_POST['tipo']) && $_POST['tipo'] == 2) ? 'selected="selected"' : false); ?>>Mobile</option>
							</select>
						</div>
						<div class="col-md-4 form-group">
							<label for="nome">Nome</label>
							<input type="text" class="form-control" id="nome" name="nome" value="<?php echo (!empty($this->dadosUsuario['nome']) ? $this->dadosUsuario['nome'] : (!empty($_POST['nome']) ? $_POST['nome'] : false)); ?>">
						</div>
						<div class="col-md-4 form-group">
							<label for="foto">Imagem</label>
							<input type="file" class="form-control" id="foto" name="foto">
							<p class="help-block">Tamanho ideal: Máximo 2MB</p>

							<? if (!empty($this->id) && !empty($this->dadosUsuario['foto'])) { ?>
								<div class="row uploadEdit">
	                                <div class="col-md-12">
	                                    <a id="single_1" href="<?php echo $this->baseUrl('/uploads/boasvindas/' . strtolower($this->dadosUsuario['foto'])); ?>" target="_blank"  data-placement="top" data-toggle="tooltip" class="tooltips fancybox">
											<img width="100" class="img-responsive img-thumbnail" src="<?php echo $this->baseUrl('/uploads/boasvindas/' . strtolower($this->dadosUsuario['foto'])); ?>" />
	                                    </a>
	                                </div>
	                            </div>
	                        <? } ?>

						</div>
						
					</div>
				</div>
				<div class="panel-footer">
					<button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Salvar</button>
					<? if (!empty($this->id)) { ?>
						<button type="submit" class="btn btn-danger" name="excluir"><i class="fa fa-trash-o"></i> Excluir</button>
					<? } ?>
				</div>
			</div>
		</form>
	</div>
</div>