<div class="row">
	<div class="col-sm-12">
		<section class="panel">
			<div class="panel-heading">
				<div class="panel-title"><i class="fa fa-user"></i>Listagem de Imagens de Boas Vindas</div>
			</div>
			<div class="panel-body">
				<a href="<?php echo $this->baseUrl('lightbox/cadastro'); ?>" class="btn btn-primary"><i class="fa fa-star"></i> Adicionar Imagem</a>
				<div class="adv-table">
					<table class="display table table-bordered table-striped " id="dynamic-table">
						<thead>
							<tr>
								<th>NOME</th>
								<th>IMAGEM</th>
								<th>TIPO</th>
								<th class="hidden-phone sorting_disabled text-center lightbox">EDITAR</th>
							</tr>
						</thead>
						<tbody>

						</tbody>
						<tfoot>
							<tr>
								<th>NOME</th>
								<th>IMAGEM</th>
								<th>TIPO</th>
								<th class="hidden-phone sorting_disabled text-center lightbox">EDITAR</th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
			<form method="post" action="" role="form">

				

				<div class="panel-heading">
					<div class="panel-title"><i class="fa fa-user"></i>Configuração de expiração do Cookie</div>
				</div>
				<div class="panel-body">

					<?php if (!empty($this->cadastro)) { ?>
	                    <div class="col-md-12">
	                        <div class="alert <?php echo (!empty($this->cadastro['sucesso']) ? (empty($this->cadastro['erros']) ? 'alert-success' : 'alert-warning') : 'alert-danger'); ?> alert-block fade in">
	                            <button data-dismiss="alert" class="close close-sm" type="button">
	                                <i class="fa fa-times"></i>
	                            </button>
	                            <?php if (!empty($this->cadastro['sucesso'])) { ?>
	                                <?php if (empty($this->cadastro['erros'])) { ?>
	                                    <h4>
	                                        <i class="icon-ok-sign"></i>
	                                        Registro salvo com sucesso!
	                                    </h4>
	                                <?php } else { ?>
	                                    <h4>
	                                        <i class="icon-ok-sign"></i>
	                                        Registro salvo mas com erros!
	                                    </h4>
	                                    <ul>
	                                        <?php foreach ($this->cadastro['erros'] as $umErro) { ?>
	                                            <li><?php echo $umErro; ?></li>
	                                        <?php } ?>
	                                    </ul>
	                                <?php } ?>
	                            <?php } else { ?>
	                                <?php if (!empty($this->cadastro['erros'])) { ?>
	                                    <h4>
	                                        <i class="icon-ok-sign"></i>
	                                        Atenção! Corrija os erros abaixo
	                                    </h4>
	                                    <ul>
	                                        <?php foreach ($this->cadastro['erros'] as $umErro) { ?>
	                                            <li><?php echo $umErro; ?></li>
	                                        <?php } ?>
	                                    </ul>
	                                <?php } ?>
	                            <?php } ?>
	                        </div>
	                    </div>
	                <?php } ?>
	                
					<div class="col-md-4 form-group">
						<label for="tempo">Tempo em horas</label>
						<input type="text" class="form-control" id="tempo" name="tempo" value="<?php echo (!empty($this->dadosUsuario['horas']) ? $this->dadosUsuario['horas'] : (!empty($_POST['tempo']) ? $_POST['tempo'] : false)); ?>">
					</div>
				</div>
				<div class="panel-footer">
					<button type="submit" name="alterarTempo" class="btn btn-primary"><i class="fa fa-save"></i> Salvar</button>
				</div>
			<form>
		</section>
	</div>
</div>