
<? 
	//textos de duvidas frequentes de mercados
	if (!empty($this->textosDuvidas)) { 
?>

	<? foreach($this->textosDuvidas as $umTexto) { ?>
		<p>
			<?=$umTexto['texto'];?>
		</p>
	<? } ?>
<? } else { ?>



	<h2 class="main-title">Dúvidas Frequentes</h2>
	<div class="cms">
		<h3>Como funciona?</h3>
		<div class="vantagens">
			<div class="vantagem-encontre">
				<i></i>
				<h4><strong>Encontre</strong> seus produtos favoritos</h4>
				<p>Encontre seus produtos favoritos de supermercados próximos da sua região.</p>
			</div>
			<div class="vantagem-separamos">
				<i></i>
				<h4><strong>Separamos</strong> os produtos para você</h4>
				<p>Encontre seus produtos favoritos de supermercados próximos da sua região.</p>
			</div>
			<div class="vantagem-economize">
				<i></i>
				<h4><strong>Economize</strong> tempo e dinheiro</h4>
				<p>Encontre seus produtos favoritos de supermercados próximos da sua região.</p>
			</div>
			<div class="vantagem-pague">
				<i></i>
				<h4><strong>Pague</strong> quando receber sua compra</h4>
				<p>Encontre seus produtos favoritos de supermercados próximos da sua região.</p>
			</div>
		</div>
		<p>
			<strong>Como faço para alterar meus dados cadastrais e ter acesso à minha conta no Mercado Fique Em Casa?</strong><br />
			Basta clicar em "Entrar ou cadastrar" no topo da página inicial e fazer o seu login com seu e-mail e senha já cadastrados conosco. Após logar, clique sobre o seu nome e selecione a opção "Perfil". Em seguinda, você verá todas as opções disponíveis no menu lateral esquerdo.
		</p>
		<p>
			<strong>Não consigo lembrar minha identificação e senha, o que fazer?</strong><br />
			Basta clicar em "Esquecei a senha". Para isso, clique no botão no topo do site "Entrar ou cadastrar", em seguida, no link próximo ao campo senha. Ao clicar no link, informe seu e-mail cadastrado conosco e clique em "Continuar". Você receberá um e-mail com instruções para cadastrar uma nova senha. <br /><br />
			<strong>IMPORTANTE:</strong> A senha somente será enviada para o e-mail que cadastrou conosco, caso não lembre do e-mail, entre em contato com o nosso Serviço de Atendimento ao Cliente.

		</p>
		<p>
			<strong>Posso alterar meu pedido depois de confirmado?</strong><br />
			Não. Infelizmente esse procedimento não é possível. Após a confirmação do pagamento, seu pedido é automaticamente separado para a realização da entrega. Nossa logística não permite qualquer alteração no pedido.
		</p>
		<p>
			<strong>Posso comprar frutas e verduras no Mercado Fique Em Casa?</strong><br />
			Sim! O supermercado possui uma equipe de separação treinada parar escolher os produtos com todo cuidado para você. Inclusive, você poderá adicionar instruções para o separador, por meio de um campo específico, como por exemplo: mais maduras, ou mais verdes etc.
		</p>
		<p>
			<strong>Caso algum produto que eu escolhi não esteja disponível no mercado, o que acontece?</strong><br />
			Sim, pode acontecer de algum produto que você comprou estar indisponível no momento da separação. Nesta caso, o supermercado entrará em contato com você informando os itens indisponíveis e oferecendo possíveis substituições. Você então decidirá se substitui ou remove os produtos da compra!
		</p>
		<p>
			<strong>Posso adicionar itens depois que já finalizei meu pedido?</strong><br />
			Sim. Para isso, basta você entrar em contato com o supermercado, pelo e-mail ou telefone, disponíveis nas informações enviadas no e-mail de finalização do pedido.
		</p>
		<p>
			<strong>Posso agendar uma entrega?</strong><br />
			Sim, é possível agendar uma entrega de acordo com o calendário disponível no momento do fechamento da compra. Não é possível alterar a data do agendamento após concluir a compra.
		</p>
		<p>
			<strong>Como faço para cancelar meu pedido?</strong><br />
			Caso o pedido já tenha sido processado, mas não tenha sido enviado para entrega, você pode cancelá-lo entrando em contato diretamente com o supermercado por meio do telefone disponível nas informações enviadas no e-mail de finalização do pedido. <br /><br />
			No caso de pagamento online, o valor já debitado em seu cartão de crédito poderá ser devolvido através de um vale compras para pedidos futuros, ou o valor poderá ser estornado

		</p>
		<p>
			<strong>Por que o supermercado cancelou meu pedido?</strong><br />
			Algumas razões podem levar o supermercado a cancelar o seu pedido. O débito em seu cartão de crédito pode não ter sido autorizado pela administradora do cartão. O pedido pode ter apresentado alguma ausência de dados que nos permitem finalizar o processo de compra. Não havia um responsável para recebimento da mercadoria no local. Em todos os casos acima, no momento da ocorrência você será notificado, porém, caso não tenhamos sucesso no contato, o pedido é cancelado.
		</p>
	</div>
<? } ?>