<div class="row">
	<div class="col-md-12">
		<form method="post" action="" role="form" enctype="multipart/form-data">
			<div data-collapsed="0" class="panel">
				<div class="panel-heading">
					<div class="panel-title"><i class="fa fa-credit-card"></i>Cadastro de Opções de Pagamento</div>
				</div>
				<div class="panel-footer panel-header">
					<button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Salvar</button>
				</div>
				<div class="panel-body">
					<?php if (!empty($this->cadastro)) { ?>
	                    <div class="col-md-12">
	                        <div class="alert <?php echo (!empty($this->cadastro['sucesso']) ? (empty($this->cadastro['erros']) ? 'alert-success' : 'alert-warning') : 'alert-danger'); ?> alert-block fade in">
	                            <button data-dismiss="alert" class="close close-sm" type="button">
	                                <i class="fa fa-times"></i>
	                            </button>
	                            <?php if (!empty($this->cadastro['sucesso'])) { ?>
	                                <?php if (empty($this->cadastro['erros'])) { ?>
	                                    <h4>
	                                        <i class="icon-ok-sign"></i>
	                                        Registro salvo com sucesso!
	                                    </h4>
	                                    <p>
	                                        <?php if (!empty($this->id)) { ?>
	                                            <a href="<?php echo $this->baseUrl('/opcoes-pagamento/cadastro/'); ?>" class="btn btn-primary"><i class="fa fa-star"></i> Nova Opção de Pagamento</a>
	                                        <?php } ?>
	                                        <a href="<?php echo $this->baseUrl('/opcoes-pagamento/'); ?>" class="btn btn-primary"><i class="fa fa-list"></i> Ver Listagem</a>
	                                    </p>
	                                <?php } else { ?>
	                                    <h4>
	                                        <i class="icon-ok-sign"></i>
	                                        Registro salvo mas com erros!
	                                    </h4>
	                                    <ul>
	                                        <?php foreach ($this->cadastro['erros'] as $umErro) { ?>
	                                            <li><?php echo $umErro; ?></li>
	                                        <?php } ?>
	                                    </ul>
	                                <?php } ?>
	                            <?php } else { ?>
	                                <?php if (!empty($this->cadastro['erros'])) { ?>
	                                    <h4>
	                                        <i class="icon-ok-sign"></i>
	                                        Atenção! Corrija os erros abaixo
	                                    </h4>
	                                    <ul>
	                                        <?php foreach ($this->cadastro['erros'] as $umErro) { ?>
	                                            <li><?php echo $umErro; ?></li>
	                                        <?php } ?>
	                                    </ul>
	                                <?php } ?>
	                            <?php } ?>
	                        </div>
	                    </div>
	                <?php } ?>
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-4 form-group">
							<label for="nome">Nome</label>
							<input type="text" class="form-control" id="nome" name="nome" value="<?php echo (!empty($this->dadosUsuario['nome']) ? $this->dadosUsuario['nome'] : (!empty($_POST['nome']) ? $_POST['nome'] : false)); ?>" required>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 form-group">
							<label for="ativo">Status</label>
							<select class="form-control" name="ativo" id="ativo" required>
								<option value="1" <?php echo ((!empty($this->dadosUsuario['ativo']) && $this->dadosUsuario['ativo'] == 1) || (!empty($_POST['ativo']) && $_POST['ativo'] == 1) ? 'selected="selected"' : false); ?> >Ativo</option>
								<option value="0" <?php echo ((!empty($this->dadosUsuario['ativo']) && $this->dadosUsuario['ativo'] == 0) || (!empty($_POST['ativo']) && $_POST['ativo'] == 0) ? 'selected="selected"' : false); ?> >Inativo</option>
							</select>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Salvar</button>
				</div>
			</div>
		</form>
	</div>
</div>
