<div class="row">
	<div class="col-sm-12">
		<section class="panel">
			<div class="panel-heading">
				<div class="panel-title"><i class="fa fa-credit-card"></i>Listagem de Formas de Pagamento</div>
			</div>
			<div class="panel-body">
				<div class="adv-table">
					<table  class="display table table-bordered table-striped" id="dynamic-table">
						<thead>
							<tr>
								<th>FORMA DE PAGAMENTO</th>
								<th>STATUS</th>
								<th class="sorting_disabled text-center">EDITAR</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
						<tfoot>
							<tr>
								<th>FORMA DE PAGAMENTO</th>
								<th>STATUS</th>
								<th class="sorting_disabled text-center">EDITAR</th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</section>
	</div>
</div>
